/* ================================== */
/* Flex-box */
/* ================================== */

/* Flex mixins */
/* ================================== */
@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flex-c-x {
  display: flex;
  justify-content: center;
}

@mixin flex-c-y {
  display: flex;
  align-items: center;
}

@mixin flex-t {
  display: flex;
  align-items: flex-start;
}

@mixin flex-b {
  display: flex;
  align-items: flex-end;
}

@mixin flex-l {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-r {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-sb {
  display: flex;
  justify-content: space-between;
}

@mixin flex-sa {
  display: flex;
  justify-content: space-around;
}

@mixin flex-se {
  display: flex;
  justify-content: space-evenly;
}

@mixin flex-str-y {
  display: flex;
  align-items: stretch;
}


/* Flex .classes */
/* ================================== */
.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-c {
  @include flex-c;
}

.flex-c-x {
  @include flex-c-x;
}

.flex-c-y {
  @include flex-c-y;
}

.flex-t {
  @include flex-t;
}

.flex-b {
  @include flex-b;
}

.flex-l {
  @include flex-l;
}

.flex-r {
  @include flex-r;
}

.flex-sb {
  @include flex-sb;
}

.flex-sa {
  @include flex-sa;
}

.flex-se {
  @include flex-se;
}

.flex-str-y {
  @include flex-str-y;
}
