/* ================================== */
/* Fluild sizing */
@use "../0-base/breakpoint" as bp;
@use "../0-base/size";
/* ================================== */

/* Responsive padding */
/* gives elements consistent padding with fewer media queries
/* also used for negative margines in edge-to-edge layouts
/* ================================== */
body {
  --max-w: 100%;
  --img-max-w: 100%;

  --space-s: #{size.$xs4}; /* 12px */
  --space-m: #{size.$xs2}; /* 20px 1.25rem */

  --ui-size-s: #{size.$s}; /* 28px */
  --ui-size-m: #{size.$m}; /* 32px */
  --ui-size-l: #{size.$l}; /* 36px */
  
  @include bp.breakpoint(s) {
    --space-s: #{size.$xs3};
  }

  @include bp.breakpoint(m) {
    --space-s: #{size.$xs2};
    --space-m: #{size.$s};

    --ui-size-l: #{size.$xl}; /* 40px */
  }

  @include bp.breakpoint(l) {
    --max-w: 45rem; //720px
    --img-max-w: 80%;
  }

  @include bp.breakpoint(xl) {
    --max-w: 50rem; //800px
    --img-max-w: 70%;

    --space-s: #{size.$xs};
    --space-m: #{size.$l};

    --ui-size-l: #{size.$xl2}; /* 48px */
  }
}


/* Max width */
/* used for uniformly limiting the width of content
/* ================================== */
.max-w { 
  width: 100%;
  max-width: var(--max-w);
  margin: auto;
}

.img-max-w { 
  width: 100%;
  max-width: var(--img-max-w);
  margin: auto;
}

.hero-width-padding {
  width: 100%;
  padding: 0 var(--space-s);

  @include bp.breakpoint(l) {
    padding: 0;
  }
}


.inner-full-w {
  width: 100%;
  max-width: var(--max-w);
  padding: size.$m var(--space-m);
  margin: auto;

  @include bp.breakpoint(m) {
    padding: size.$l var(--space-m);
  }

  @include bp.breakpoint(l) {
    padding: size.$xl 0;
  }
}

.full-w-img {
  width: 100%;  
  max-width: 100vw;
  margin: auto;
  padding: 0;
}

/* Grid or felx gap */
/* ================================== */
$gap-xs: 0.5rem;
$gap-s: 1rem;
$gap-m: 1.5rem;
$gap-l: 4rem;
$gap-xl: 7rem;

.gap-xs {
  gap: $gap-xs;
}

.gap-s {
  gap: $gap-s;
}

.gap-m {
  gap: $gap-m;
}

.gap-l {
  gap: $gap-l;
}

.gap-xl {
  gap: $gap-xl;
}