/* ================================== */
/* Fluild sizing */
@use "../0-base/breakpoint" as bp;
@use "../0-base/size";
/* ================================== */

/* Responsive layout size */
/* ================================== */
body {
  --max-w: 100%;
  --img-max-w: 100%;

  // --space-s: #{size.$s-4xs}; /* 12px */
  // --space-m: #{size.$s-2xs}; /* 20px 1.25rem */

  // --ui-size-s: #{size.$s-sm}; /* 28px */
  // --ui-size-m: #{size.$s-md}; /* 32px */
  // --ui-size-l: #{size.$s-lg}; /* 36px */
  
  // @include bp.breakpoint(s) {
  //   --space-s: #{size.$s-3xs};
  // }

  // @include bp.breakpoint(m) {
  //   --space-s: #{size.$s-2xs};
  //   --space-m: #{size.$s-sm};

  //   --ui-size-l: #{size.$s-xl}; /* 40px */
  // }

  @include bp.breakpoint(l) {
    --max-w: 45rem; //720px
    --img-max-w: 80%;
  }

  @include bp.breakpoint(xl) {
    --max-w: 50rem; //800px
    --img-max-w: 70%;

    // --space-s: #{size.$s-xs};
    // --space-m: #{size.$s-lg};

    // --ui-size-l: #{size.$s-2xl}; /* 48px */
  }
}


/* Max width */
/* used for uniformly limiting the width of content
/* ================================== */
.max-w { 
  width: 100%;
  max-width: var(--max-w);
  margin: auto;
}

.img-max-w { 
  width: 100%;
  max-width: var(--img-max-w);
  margin: auto;
}

.hero-width-padding {
  width: 100%;
  padding: 0 var(--space-s);

  @include bp.breakpoint(l) {
    padding: 0;
  }
}


.inner-full-w {
  width: 100%;
  max-width: var(--max-w);
  padding: size.$s-md var(--space-m);
  margin: auto;

  @include bp.breakpoint(m) {
    padding: size.$s-lg var(--space-m);
  }

  @include bp.breakpoint(l) {
    padding: size.$s-xl 0;
  }
}

.full-w-img {
  width: 100%;  
  max-width: 100vw;
  margin: auto;
  padding: 0;
}

