/* ================================== */
/* Grid */
@use "../0-base/breakpoint" as bp;
@use "../0-base/size";
/* ================================== */

.grid {
  display: grid;
}

//TODO
.grid-col {
  --columns: 1;
  --gutter-width: var(--sm);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gutter-width);
}

@mixin grid-center {
  display: grid;
  place-items: center;
  // place-content: center;
}

.grid-center {
  @include grid-center;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.wrap-2 {
  width: 100%;
  gap: var(--sm);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  &:nth-child(1) {
    grid-column: 1/2;
  }

  &:nth-child(2) {
    grid-column: 1/2;
  }

  @include bp.bp(sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--md);

    &:nth-child(1) {
      grid-column: 1/2;
    }

    &:nth-child(2) {
      grid-column: 2/3;
    }
  }

  @include bp.bp(lg) {
    gap: var(--xl);
  }
}


// parent must be set to "display: grid;"
// add gap here or in html
.grid-2x2 {
  display: grid;
  grid-template-columns: auto;

  @include bp.bp(sm) {
    grid-template-columns: auto auto;
  }
}


.grid-3x3 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;

  >:nth-child(1) {
    grid-row: 1;
  }

  >:nth-child(2) {
    grid-row: 2;
  }

  >:nth-child(3) {
    grid-row: 3;
  }
}

.grid-3x3__sub {
  display: contents;

  >:nth-child(1) {
    grid-column: 1;
  }

  >:nth-child(2) {
    grid-column: 2;
  }

  >:nth-child(3) {
    grid-column: 3;
  }
}
