/* ================================== */
/* Grid */
@use "../0-base/size";
/* ================================== */

.grid {
  width: 100%;
  display: grid;
}

@mixin grid-center {
  display: grid;
  place-items: center;
  justify-content: center;  
}

.grid-center {
  @include grid-center;
}
