/* ================================== */
/* Layout helpers */
/* ================================== */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin pseudo {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
}

@mixin absolute-center {
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

/* Full width */
/* ================================== */
/* edge to edge at every size */
.full-w, img {
  width: 100%;
  max-width: 100vw;
}






