/* ================================== */
/* Layout groups */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/size";
@use "../0-base/text";
@use "../1-layout/flex";
@use "../2-visual/glass";
@use "../2-visual/border" as br;
@use "../2-visual/shadow" as sha;
@use "../3-item" as *;
@use "../4-part" as *;
/* ================================== */


/* Bento grid */
/* ================================== */
.bento__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: var(--md);

  @include bp.bp(sm) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--lg);
  }

  @include bp.bp(md) {
    gap: var(--xl);
  }

  @include bp.bp(lg) {
    gap: var(--2xl);
    padding: var(--xl);
  }
}

.bento__rect {
  @include flex.flex-c;
  flex-direction: column;
  aspect-ratio : 1 / 1;
  border-radius: var(--sm);

  @include bp.bp(md) {
    border-radius: var(--md);
  }
}


/* Column flex */
/* ================================== */
// * bp < lg = 1 column
// * bp >= lg = whatever fits then wrap

.column-flex {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;

  > .column {
  width: 100%;

    @include bp.bp(lg) {
      width: fit-content
    }
  }
}