/* ================================== */
/* Layout helpers */
/* ================================== */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  // overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin pseudo {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
}

@mixin absolute-center {
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.sidescroll-wrap {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    overflow-x: scroll;
  }
}

.sidescroll {
  flex: 0 0 auto;
}

@mixin vh100 {
  width: 100%;
  max-width: 100vw;
  height: fit-content;
  min-height: 100vh;
  min-height: 100svh;
}

.vh100 {
  @include vh100;
}


.js-show-block {
  display: block;
}

.js-show-inline {
  display: inline;
}

.js-show-inlineblock {
  display: inline-block;
}

.js-hide {
  display: none;
}