/* ================================== */
/* Margins */
@use "../0-base/breakpoint" as bp;
@use "../0-base/gap";
/* ================================== */
/* Same values are use for both margin and grid/flex gap. */
/* So that they will match if set to the same T-shirt size. */

/* Margin all around */
.m-xs {
  margin: gap.$gap-xs;
}

.m-sm {
  margin: gap.$gap-sm;
}

.m-md {
  margin: gap.$gap-md;
}

.m-lg {
  margin: gap.$gap-lg;
}

.m-xl {
  margin: gap.$gap-xl;
}


/* Top/Bottom margin */
/* ================================== */
.m-y-xs {
  margin: gap.$gap-xs auto;
}

.m-y-sm {
  margin: gap.$gap-sm auto;
}

.m-y-md {
  margin: gap.$gap-md auto;
}

.m-y-lg {
  margin: gap.$gap-lg auto;
}

.m-y-xl {
  margin: gap.$gap-xl auto;
}