/* ================================== */
/* Padding */
@use "../0-base/breakpoint" as bp;
@use "../0-base/size";
/* ================================== */

/* Responsive padding */
/* gives elements consistent padding with fewer media queries
/* also used for negative margines in edge-to-edge layouts
/* ================================== */
body {
  --p-sm: #{size.$s-4xs};
  --p-md: #{size.$s-2xs};
  
  @include bp.breakpoint(s) {
    --p-sm: #{size.$s-3xs};
    --p-md: #{size.$s-xs};
  }

  @include bp.breakpoint(m) {
    --p-sm: #{size.$s-2xs};
    --p-md: #{size.$s-sm};
  }

  @include bp.breakpoint(xl) {
    --p-sm: #{size.$s-xs};
    --p-md: #{size.$s-lg};
  }
}


// $p-xs: size.$s-3xs;
// $p-sm: size.$s-2xs;
// $p-md: size.$s-md;
// $p-lg: size.$s-xl;
// $p-xl: size.$s-4xl;

// /* All around padding */
// /* ================================== */
// .p-xs {
//   padding: $p-xs;
// }

// .p-sm {
//   padding: $p-sm;
// }

// .p-md {
//   padding: $p-md;
// }

// .p-lg {
//   padding: $p-lg;
// }

// .p-xl {
//   padding: $p-xl;
// }

// /* Top/Bottom padding */
// /* ================================== */
// .p-y-xs {
//   padding: $p-xs 0;
// }

// .p-y-sm {
//   padding: $p-sm 0;
// }

// .p-y-md {
//   padding: $p-md 0;
// }

// .p-y-lg {
//   padding: $p-lg 0;
// }

// .p-y-xl {
//   padding: $p-xl 0;
// }