/* ================================================== */
/* Animation custom styles */
@use "sass:map";
/* ================================================== */

/* Speeds */
/* ================================================== */
/* ✨ Config these values ✨ */
$speed-2xslow: 750ms;
$speed-xslow:  500ms;
$speed-slow:   400ms;
$speed-base:   300ms;
$speed-fast:   200ms;
$speed-xfast:  150ms;
$speed-2xfast: 100ms;

/* cubic-bezier */
/* ================================================== */
$smooth-cubic: cubic-bezier(0.46, 0.43, 0.1, 0.99);

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0.25;
  }
}


/* Color theme change animation */
/* ================================================== */
html.root-transition,
html.root-transition *,
html.root-transition *::before,
html.root-transition *::after {
  transition: all $speed-2xslow !important;
  transition-delay: 0 !important;
}

/* Focus */
/* ================================================== */
:focus {
  outline: 1px solid oklch(var(--primary-95) / 0.6);
  outline-offset: 2px;
  border-radius: inherit;
  transition: all $speed-fast;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
