/* ================================================== */
/* Animation custom styles */
@use "sass:map";
@use "z-index" as z;
/* ================================================== */

/* Speeds */
/* ================================================== */
/* ✨ Config these values ✨ */
$speed-2xslow: 750ms;
$speed-xslow:  500ms;
$speed-slow:   400ms;
$speed-base:   300ms;
$speed-fast:   200ms;
$speed-xfast:  150ms;
$speed-2xfast: 100ms;

/* cubic-bezier */
/* ================================================== */
$smooth-cubic: cubic-bezier(0.46, 0.43, 0.1, 0.99);

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0.25;
  }
}



/* Spotlight */
/* ================================================== */

.spotlight {
  position: relative;
}

.spotlight:hover {
  --active: 1;
}

.spotlight:after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at
      calc(var(--x) * 1px)
      calc(var(--y) * 1px),
      oklch(var(--neutral-90) / 0.1),
      oklch(var(--neutral-90) / 0.05),
      transparent
      30%);
  background-attachment: fixed;
  opacity: var(--active, 0);
  transition: opacity $speed-slow $smooth-cubic;
  pointer-events: none;
  overflow: hidden;
  border-radius: inherit;
}


/* Color theme change animation */
/* ================================================== */
html.root-transition,
html.root-transition *,
html.root-transition *::before,
html.root-transition *::after {
  transition: all $speed-2xslow !important;
  transition-delay: 0 !important;
}

/* Focus */
/* ================================================== */
:focus {
  box-shadow: 0 0 0 1px oklch(var(--primary-15) / 0.12)!important;
  outline: 1px solid oklch(var(--primary-95) / 0.6)!important;
  outline-offset: 1.5px!important;
  overflow: visible;
  z-index: z.z(focus);
  border-radius: inherit;
  transition: all $speed-base;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
