/* ================================================== */
/* Animation custom styles */
/* ================================================== */

/* Speeds */
/* ================================================== */
$speed--2xslow: 750ms;
$speed--xslow:  500ms;
$speed--slow:   400ms;
$speed--base:   300ms;
$speed--fast:   200ms;
$speed--xfast:  100ms;
$speed--2xfast: 150ms;

/* cubic-bezier */
/* ================================================== */
$smooth-cubic: cubic-bezier(0.46, 0.43, 0.1, 0.99);


/* Color theme change ani */
/* ================================================== */
html.root-transition,
html.root-transition *,
html.root-transition *::before,
html.root-transition *::after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

:focus {
  outline: 1px solid oklch(var(--neutral-90, #e3ecf3) / 0.4);
  outline-offset: 2px;
  border-radius: inherit;
  transition: all 300ms;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
