/* ================================================== */
/* Space */
@use "sass:map";
@use "breakpoint" as *;
@use "z-index" as z;
/* ================================================== */

/* Dynamic T-shirt sizes */
/* ================================================== */
/* Sizes scale with viewport width */
/* https://utopia.fyi/space/calculator/ */
:root {
  /* 3xs: 4px → 6px */
  --3xs: clamp(0.25rem, 0.21rem + 0.21vw, 0.375rem);

  /* 2xs: 8px → 12px */
  --2xs: clamp(0.5rem, 0.42rem + 0.42vw, 0.75rem);

  /* xs: 12px → 18px */
  --xs: clamp(0.75rem, 0.63rem + 0.63vw, 1.125rem);

  /* sm: 16px → 24px */
  --sm: clamp(1rem, 0.83rem + 0.83vw, 1.5rem);

  /* md: 20px → 32px */
  --md: clamp(1.25rem, 1.04rem + 1.04vw, 2rem);

  /* lg: 24px → 36px */
  --lg: clamp(1.5rem, 1.25rem + 1.25vw, 2.25rem);

  /* xl: 28px → 40px */
  --xl: clamp(1.75em, 1.67rem + 1.67vw, 2.5rem);

  /* 2xl: 32px → 60px */
  --2xl: clamp(2rem, 2.08rem + 2.08vw, 3.75rem);

  /* 3xl: 48px → 72px */
  --3xl: clamp(3rem, 2.5rem + 2.5vw, 4.5rem);

  /* 4xl: 64px → 96px */
  --4xl: clamp(4rem, 3.33rem + 3.33vw, 6rem);

  /* 5xl: 80px → 120px */
  --5xl: clamp(5rem, 4.17rem + 4.17vw, 7.5rem);
}

/* T-shirt Size MAP */
/* ================================================== */
$sizes: (
  "3xs": --3xs,
  "2xs": --2xs,
  "xs": --xs,
  "sm": --sm,
  "md": --md,
  "lg": --lg,
  "xl": --xl,
  "2xl": --2xl,
  "3xl": --3xl,
  "4xl": --4xl,
  "5xl": --5xl,
);


/* Responsive UI heights | moats | max widths */
/* ================================================== */
html {
  --ui-h-sm: 1.75rem;  /* 28px */
  --ui-h-md: 2.25rem; /* 36px */
  --ui-h-lg: 2.75rem;  /* 44px */

  --moat: 1rem;

  --max-w-xs: 400px;
  --max-w-sm: 600px;
  --max-w-md: 800px;
  --max-w-lg: 980px;
  --max-w-xl: 1200px;

  // @include bp(md) {
  //   --ui-h-sm: 2.25rem; /* 36px */
  //   --ui-h-md: 2.5rem;  /* 40px */
  //   --ui-h-lg: 2.75rem; /* 44px */
  // }
}

.max-w-xs { width: min(100%, var(--max-w-xs)); }
.max-w-sm { width: min(100%, var(--max-w-sm)); }
.max-w-md { width: min(100%, var(--max-w-md)); }
.max-w-lg { width: min(100%, var(--max-w-lg)); }
.max-w-xl { width: min(100%, var(--max-w-xl)); }

/* Moat classes */
/* ================================================== */
/* wrap elements to add or remove left-right padding  */
/* padding is added at the breakpoint value that match the suffix */
/* are flex containers set to ` justify-content: center;` */

@mixin moat {
  width: 100%;
  height: fit-content;
  z-index: z.z("section");

display: flex;
justify-content: center;
  // display: grid;
  // place-items: center;
}

.moat-all {
  @include moat;
  padding: 0 var(--moat);
  // background-color: hsl(240 100% 50% / 0.2);
}

.moat-xs {
  @include moat;

  // background-color: hsla(139, 100%, 50%, 0.2);

  @include bp(xs) {
    padding: 0 var(--moat);
  }
}

.moat-sm {
  @include moat;

  // background-color: hsla(308, 100%, 50%, 0.2);

  @include bp(sm) {
    padding: 0 var(--moat);
  }
}

.moat-md {
  @include moat;

  // background-color: hsla(104, 100%, 50%, 0.2);

  @include bp(md) {
    padding: 0 var(--moat);
  }
}

.moat-lg {
  @include moat;

  // background-color: hsla(40, 100%, 50%, 0.2);

  @include bp(lg) {
    padding: 0 var(--moat);
  }
}

.moat-xl {
  @include moat;

  // background-color: hsla(8, 100%, 50%, 0.2);

  @include bp(xl) {
    padding: 0 var(--moat);
  }
}

.moat-none {
  @include moat;
  padding: 0;
}

/* UI hight */
/* ================================================== */
.ui-h-sm {
  width: auto;
  height: var(--ui-h-sm);
}

.ui-h-md {
  width: auto;
  height: var(--ui-h-md);
}

.ui-h-lg {
  width: auto;
  height: var(--ui-h-lg);
}




/* moat classes */
/* ================================================== */
.moat-from--sm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include bp(sm) {
    min-width: calc($bp--sm - var(--moat--x2));
    width: calc(100% - var(--moat--x2));
  }
}

.moat-from--md {
  // width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include bp(md) {
    min-width: calc($bp--sm - var(--moat--x2));
    // width: calc(100% - var(--moat--x2));
  }
}

.moat-from--lg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include bp(lg) {
    min-width: calc($bp--lg - var(--moat--x2));
    max-width: calc(100% - var(--moat--x2));
  }
}


/* Spacing */
/* ================================================== */
.page-grid {
  --space: 2rem;

  height: fit-content;
  display: grid;
  gap: var(--space);
  padding: var(--space) 0;

  @include bp(sm) {
    --space: 6rem;
  }

  @include bp(lg) {
    --space: 8rem;
  }
}

.section-grid {
  --gap: 6rem;

  display: grid;
  gap: var(--gap);

  @include bp(xs) {
    --gap: 8rem;
  }

  @include bp(sm) {
    --gap: 10rem;
  }

  @include bp(md) {
    --gap: 11rem;
  }

  @include bp(lg) {
    --gap: 12rem;
  }
}


/* Max width classes */
/* ================================================== */
.max-150 { width: min(100%, 150px); }
.max-200 { width: min(100%, 200px); }