/* ================================================== */
/* Text */
@use 'sass:map';
@use "../2-util/mixin" as mix;
/* ================================================== */

/* font-family: */
/* ================================================== */
// $font-family-title: ('Jost', 'Arial', sans-serif);
$font-family-title: ('Poppins', 'Arial', sans-serif);
$font-family-body: ('Nunito Sans', 'Arial', sans-serif);

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.body-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* letter-spacing: */
/* ================================================== */
$letter-spacing-2xs: -0.01em;
$letter-spacing-xs: -0.005em;
$letter-spacing-sm: 0.01em;
$letter-spacing-md: 0.03em;
$letter-spacing-lg: 0.07em;

/* line-height: */
/* ================================================== */
$line-height-sm: calc(0.125rem + 2.15ex + 0.125rem);
$line-height-md: calc(0.125rem + 2.25ex + 0.125rem);
$line-height-lg: calc(0.125rem + 2.5ex + 0.125rem);

/* font-weight: */
/* ================================================== */
$font-weight-xs: 100;
$font-weight-sm: 200;
$font-weight-md: 300;
$font-weight-lg: 400;
$font-weight-xl: 500;

/* ================================================== */
/* Fluid typography range */
/* ================================================== */
/* https://modern-fluid-typography.vercel.app/ */
:root {
  --text-2xs: clamp(0.75rem, 4vw - 1.5rem, 0.8rem);
  --text-xs: clamp(0.875rem, 4vw - 1rem, 0.9rem);
  --text-sm: clamp(1rem, 0.13vw + 1rem, 1.125rem);
  --text-md: clamp(1.125rem, 0.5vw + 1rem, 1.375rem);
  --text-lg: clamp(1.375rem, 1.3vw + 1rem, 1.75rem);
  --text-xl: clamp(1.5rem, 1.7vw + 1rem, 2.25rem);
  --text-2xl: clamp(2rem, calc(2vw + 1.5rem), 2.75rem);
  --text-3xl: clamp(2.25rem, 3.8vw + 1rem, 3.25rem);
}

/* Text size MAP */
/* ================================================== */
$text-sizes: (
  "2xs":  var(--text-2xs),
  "xs":  var(--text-xs),
  "sm":  var(--text-sm),
  "md":  var(--text-md),
  "lg":  var(--text-lg),
  "xl":  var(--text-xl),
  "2xl":  var(--text-2xl),
  "3xl":  var(--text-3xl),
);

/* Text size classes */
.text {
  @include mix.generate-classes($text-sizes, 'font-size', 'text', '-');
}

/* ================================================== */
/* Text shadows */
/* ================================================== */
html {
  --text-sha-3xs:
    0.2px 0 0.2px hsl(var(--shadow) / 0.1),
    0.2px 0.2px 0.2px hsl(var(--shadow) / 0.2),
    0.25px 0.25px 0.5px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.15);

  --text-sha-2xs:
    0.2px 0 0.2px hsl(var(--shadow) / 0.1),
    0.25px 0.25px 0.25px hsl(var(--shadow) / 0.2),
    0.25px 0.25px 0.5px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.15);

  --text-sha-xs:
    0.1px 0.1px hsl(var(--shadow) / 0.3),
    0.25px 0.25px hsl(var(--shadow) / 0.35),
    0.02em 0.02em 0.04em hsl(var(--shadow) / 0.2),
    0 0 0.05em  hsl(var(--shadow) / 0.2),
    0 0 0.7em hsl(var(--shadow) / 0.2);

  --text-sha-sm:
    0.2px 0 0.2px hsl(var(--shadow) / 0.1),
    0.35px 0.35px 0.35px hsl(var(--shadow) / 0.25),
    0.5px 0.5px 1px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.15);

  --text-sha-md:
    0.2px 0 0.2px hsl(var(--shadow) / 0.1),
    0.4px 0.4px 0.4px hsl(var(--shadow) / 0.25),
    0.5px 0.5px 1px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.2);

  --text-sha-lg:
    0.25px 0 0.25px hsl(var(--shadow) / 0.1),
    0.45px 0.45px 0.45px hsl(var(--shadow) / 0.25),
    0.75px 0.75px 1.5px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.2);

  --text-sha-xl:
    0.25px 0 0.25px hsl(var(--shadow) / 0.1),
    0.5px 0.5px 0.5px hsl(var(--shadow) / 0.25),
    0.75px 0.75px 1.5px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.2);

  --text-sha-2xl:
    0.25px 0 0.25px hsl(var(--shadow) / 0.1),
    0.55px 0.55px 0.55px hsl(var(--shadow) / 0.25),
    1px 1px 2px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.2);

  --text-sha-3xl:
    0.25px 0 0.25px hsl(var(--shadow) / 0.1),
    0.6px 0.6px 0.6px hsl(var(--shadow) / 0.25),
    1px 1px 2px hsl(var(--shadow) / 0.1),
    0 0 0.05em  hsl(var(--shadow) / 0.1),
    0 0 0.7em hsl(var(--shadow) / 0.2);
}

/* Text shadow MAP */
/* ================================================== */
$text-shadows: (
  "3xs": var(--text-sha-3xs),
  "2xs": var(--text-sha-2xs),
  "xs": var(--text-sha-xs),
  "sm": var(--text-sha-sm),
  "md": var(--text-sha-md),
  "lg": var(--text-sha-lg),
  "xl": var(--text-sha-xl),
  "2xl": var(--text-sha-2xl),
  "3xl": var(--text-sha-3xl),
);

.text-sha {
  @include mix.generate-classes($text-shadows, 'text-shadow', 'text-sha', '-');
}