/* ================================================== */
/* Text styles */
@use "sass:map";
@use "breakpoint" as bp;
@use "text-config" as *;
/* ================================================== */

/* Body text */
/* ================================================== */
@mixin body-text {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  font-size: var(--text-sm);
  letter-spacing: normal;
  line-height: $line-height-sm;
  color: var(--text-base);
}

body,
p,
input,
textarea {
  @include body-text;
}


/* Thick titles */
/* ================================================== */
@mixin title-thick {
  font-family: $font-family-title;
  font-weight: $font-weight-lg;
  line-height: $line-height-md;
  letter-spacing: $letter-spacing-sm;
}
.title-thick { @include title-thick; }


/* Thin titles */
/* ================================================== */
@mixin title-thin {
  font-family: $font-family-title;
  font-weight: $font-weight-sm;
  letter-spacing: $letter-spacing-sm;
  line-height: $line-height-md;
}
.title-thin { @include title-thin; }


/* Text styles */
/* ================================================== */
.very-big-title {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  font-size: var(--text-xl);
  text-shadow: var(--text-sha-3xl);
  line-height: 1;
  color: var(--text-strong);
  text-align: center;

  @include bp.bp(lg) {
    font-size: var(--text-2xl);
  }
}

.section-title {
  @include title-thin;
  font-size: var(--text-2xl);
  text-shadow: var(--text-sha-2xl);
  line-height: 2.1;
  color: var(--text-strong);
  text-align: center;
}

.subhead {
  font-weight: $font-weight-md;
  font-size: var(--text-xs);
  letter-spacing: $letter-spacing-md;
  line-height: $line-height-md;
  color: var(--text-mild);
  text-shadow: var(--text-sha-2xs);
}

.caption {
  font-size: var(--text-xs);
  font-weight: $font-weight-sm;
}

.footnote {
  font-size: var(--text-2xs);
  font-weight: $font-weight-sm;
}

.eyebrow {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  font-size: var(--text-2xs);
  letter-spacing: $letter-spacing-md;
  line-height: $line-height-sm;

  color: var(--text-mild);
  text-transform: uppercase;
  text-shadow: var(--text-sha-2xs);

  @include bp.bp(lg) {
    font-size: var(--text-xs);
  }
}

.data-label-xs {
  @include title-thick;
  font-size: var(--text-xs);
  text-shadow: var(--text-sha-xs);
}

.data-label-sm {
  @include title-thick;
  font-size: var(--text-sm);
  text-shadow: var(--text-sha-sm);
}

.class-name {
  font-weight: $font-weight-md;
  font-family: $font-family-body;
  font-size: var(--text-md);
  letter-spacing: $letter-spacing-lg;
  text-shadow: var(--text-sha-sm);
  word-break: keep-all;
}

.input-label {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-md;
  color: var(--text-xstrong);
  text-shadow: var(--text-sha-sm);
}

.input-hint {
  font-weight: $font-weight-sm;
  font-size: var(--text-xs);
  line-height: 1;
  color: var(--text-base);
  text-shadow: var(--text-sha-2xs);
}

/* Bullet points */
/* ================================================== */
.dot {
  &::before {
    padding-right: 0.25em;
    content: "•"
  }
}

.check {
  &::before {
    padding-right: 0.25em;
    content: "☐"
  }
}

.arrow {
  &::before {
    padding-right: 0.25em;
    content: "➟"
  }
}

/* ================================================== */
/* Text helpers */
/* ================================================== */
/* text-align: */
.text-center { text-align: center; }
.text-left { text-align: start; }
.text-right { text-align: end; }
.text-justify { text-align: justify; }

/* text-transform: */
.text-cap { text-transform: capitalize; }
.text-allcap { text-transform: uppercase; }
.text-lower { text-transform: lowercase; }

.text-bold { font-weight: $font-weight-lg; }
.text-ital { font-style: italic; }

.text-line-through { text-decoration: line-through; }
.text-underline { text-decoration: underline; }


.first-line-bold {
  &:first-line {
    font-weight: $font-weight-lg;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.break-word {
  overflow-wrap: break-word;
  min-width: 0;
}

.no-word-break { word-break: keep-all; }