/* ================================== */
/* Sections */
@use "../0-config/animation" as ani;
@use "../0-config/breakpoint" as bp;
@use "../0-config/color";
@use "../0-config/size";
@use "../0-config/text" as t;
@use "../0-config/shadow" as sha;
@use "../0-config/z-index" as z;
@use "../1-custom-styles/text-styles" as text;
@use "../2-utilities/flex";
@use "../2-utilities/layout-help" as help;
@use "../2-utilities/radius" as br;
@use "../3-glass/index" as glass;
@use "../4-item/button" as btn;
/* ================================== */

.section__wrap {
/* layout */
  // width: 100%;
  display: grid;
  margin: 0 auto;
  // z-index: z.z();

/* visual */
  border-radius: 0;
  box-shadow: none;

  @include bp.bp(sm) {
    overflow: hidden;
    border-radius: var(--lg);
    box-shadow: var(--sha-xl);
  }
}

.section__header {
  --space: var(--space-thin); // < control padding from here

  /* layout */
  display: grid;
  gap: size.$s2;
  padding: var(--space);

  /* visual */
  border-radius: 0;
  @include glass.glass--no-bevel-mobile;
  @include glass.fill(xdark);

  @include bp.bp(sm) {
    overflow: hidden;
    border-radius: var(--lg) var(--lg) 0 0;
  }

  >.full-w-fill {
    /* layout */
    padding: var(--space);
    margin-left: calc((-1 * var(--space)) + 0.5px);
    margin-right: calc(-1 * var(--space));

    /* visual */
    background-color: var(--tint-xdark);
    box-shadow: glass.$flat-inset-md;
  }
}


.section__title {
  @include text.title-bold;
  font-size: var(--lg);
  text-shadow: var(--text-sha-md);
}

.section__body {
  /* layout */
  width: 100%;
  height: fit-content;
  display: grid;
  padding-bottom: var(--3xl);
}