/* ========================================== */
/* Accordion */
@use "../config" as *;
@use "../util" as *;
@use "../custom" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ========================================== */

.accordion__warp {
  --space: var(--md);

  @include bp(md) {
    --space: var(--lg);
  }
}

.accordion__body {
  /* layout */
  position: relative;
  z-index: 5;
  display: grid;

  /* visual */
  @include glass.glass--base;
  background-color: var(--bg--2);

  box-shadow: var(--sha--xl);
  border-radius: var(--space);
  overflow: hidden;
}

.accordion__header {
  display: grid;
  padding: var(--space);

  & > .eyebrow {
    color: var(--text--base);
    @include scrim-base($scrim--dark, 0.75em);
  }
}

.accordion__summary {
  display: grid;
  gap: var(--space);

  &.full-w-inset {
    /* layout */
    padding: var(--space);

    /* visual */
    background-color: var(--bg--inset2);
    box-shadow: $flat-sha--md;
  }
}

.see-more-btn, .see-less-btn {
  pointer-events: none;
  @include scrim-base($scrim--dark, 0.75em);

  & > p {
    font-family: $font-family-body;
    font-weight: $font-weight--lg;
    letter-spacing: $letter-spacing--md;
    color: var(--text--xbold);
  }
}

.accordion__toggle {
  /* layout */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--space);

  /* visual */
  pointer-events: auto;
  cursor: pointer;
  background-color: transparent;
  @include ui-transitions;

  &:hover {
    background-color: var(--tint--mild);
  }

  >.see-more-btn {
    display: none;
  }

  >.see-less-btn {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--3xs);
  }

  &.is-closed {

    >.see-more-btn {
      width: fit-content;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: var(--3xs);
    }

    >.see-less-btn {
      display: none;
    }
  }
}


@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.accordion__content {
  /* layout */
  width: 100%;
  height: fit-content;
  display: grid;
  gap: var(--space);
  padding-top: var(--2xl);
  padding-bottom: var(--space);
  padding-left: var(--space);
  padding-right: var(--space);
  margin-top: calc(-1 * var(--xl));

  /* visual */
  border-radius: 0 0 var(--space) var(--space);
  box-shadow: var(--sha--xl);
  @include glass.glass-filter;
  background-color: var(--tint--3xdark);
  color: var(--tint--3xlight);

  animation: slide-down 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  &.is-closed {
    display: none;
    height: 0;
  }
}

.accordion__title {
  @include title-thick;
  font-size: var(--lg);
  text-shadow: var(--text-sha--sm);
  color: var(--text--bold);
  @include scrim-base($scrim--dark, 1.25em);
}

.accordion__text {
  max-width: 100%;
  font-size: var(--text--sm);
}