/* ========================================== */
/* Boxes */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ========================================== */

@mixin box {
  --space: var(--md);
  --neg-space: calc(-1 * var(--space));

  width: 100%;
  height: fit-content;
  display: grid;
  gap: var(--xl);
  padding-top: var(--xl);
  padding-bottom: var(--xl);
  padding-left: var(--space);
  padding-right: var(--space);
  border-radius: var(--md);
  box-shadow: var(--sha--xl);

  & > .full-w-img {
    display: grid;
    place-self: center;
    margin-left: var(--neg-space);
    margin-right: var(--neg-space);
  }

  & > .full-w-inset {
    padding: var(--space);
    margin-left: calc(var(--neg-space) + 0.5px);
    margin-right: var(--neg-space);
    border-radius: 0;
  }

  @include bp(sm) {
    --space: var(--xl);
    padding-top: var(--2xl);
    padding-bottom: var(--2xl);
    box-shadow: var(--sha--2xl);
  }

  @include bp(md) {
    --space: var(--2xl);
    padding-top: var(--3xl);
    padding-bottom: var(--3xl);
    border-radius: var(--lg);
    box-shadow: var(--sha--3xl);
  }
}

.box--lg {
  @include box;
}




    // background-color: var(--bg--inset3);
    // box-shadow: glass.$flat-inset--lg;
    // color: var(--text--3xlight);


.full-w-bg {
  @include box;
  @include gutter-from--sm;
  border-radius: 0;
  padding: var(--xl) var(--md);

  &::after {
    box-shadow: glass.$flat-bevel--sm;

    @include bp(sm) {
      box-shadow: glass.$bevel--lg;
    }
  }
}





.space-thin > .full-w-inset {
  margin-left: calc((-1 * var(--space-thin)) + 0.5px);
  margin-right: calc(-1 * var(--space-thin));
  box-shadow: var(--flat-inset--md);
}

.space-wide > .full-w-inset {
  margin-left: calc((-1 * var(--space-wide)) + 0.5px);
  margin-right: calc(-1 * var(--space-wide));
  box-shadow: var(--flat-inset--md);
}


/* Rounded rectangles */
/* ========================================== */
@mixin rect-classes {
  @each $key, $value in $sizes {
    &--#{$key} {
      padding: var(--#{$key});
      border-radius: var(--#{$key});
      @content;
    }
  }
}

.rect-100 {
  @include rect-classes {
    width: 100%;
  }
}

.rect-fit {
  @include rect-classes {
  width: fit-content;
  }
}