/* ========================================== */
/* Boxes */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ========================================== */

.box-padding--wide {
  --space: 2rem;
  padding: var(--space);

  @include bp(xs) {
    --space: 2.25rem;
  }

  @include bp(sm) {
    --space: 2.5rem;
  }

  @include bp(md) {
    --space: 2.75rem;
  }

  @include bp(lg) {
    --space: 3rem;
  }
}

.box-padding--xwide {
  --space: 2rem;
  padding: var(--space);

  @include bp(xs) {
    --space: 2.5rem;
  }

  @include bp(sm) {
    --space: 3rem;
  }

  @include bp(md) {
    --space: 3.5rem;
  }

  @include bp(lg) {
    --space: 4rem;
  }
}

.box-padding--2xwide {
  --space: 2rem;
  padding: var(--space);

  @include bp(xs) {
    --space: 3rem;
  }

  @include bp(sm) {
    --space: 4rem;
  }

  @include bp(md) {
    --space: 5rem;
  }

  @include bp(lg) {
    --space: 6rem;
  }
}


@mixin box {
  --space: var(--md);
  --neg-space: calc(-1 * var(--space));

  overflow: hidden;
  width: 100%;
  height: fit-content;
  display: grid;
  gap: var(--space);
  padding: var(--space);
  // padding-top: var(--xl);
  // padding-bottom: var(--xl);
  // padding-left: var(--space);
  // padding-right: var(--space);
  border-radius: var(--lg);
  box-shadow: var(--sha--2xl);

  & > .full-w-img-wrap {
    margin-left: var(--neg-space);
    margin-right: var(--neg-space);
  }

  // & > .full-w-inset {
  //   height: fit-content;
  //   padding: var(--space);
  //   // padding-top: var(--lg);
  //   // padding-bottom: var(--lg);
  //   // padding-left: var(--space);
  //   // padding-right: var(--space);
  //   margin-left: calc(var(--neg-space) + 0.5px);
  //   margin-right: var(--neg-space);
  //   border-radius: 0;
  //   background-color: var(--inset--deep);
  //   box-shadow: var(--flat-inset--md);
  // }

  & > .full-w-inset {
    padding: var(--space);
    margin-left: calc((-1 * var(--space)) + 0.5px);
    margin-right: var(--neg-space);

    background-color: var(--inset--xdeep);
    box-shadow: var(--flat-inset--lg);
  }

  & > .full-w-img-noBottomMargin {
    display: grid;
    place-self: center;
    margin-left: var(--neg-space);
    margin-right: var(--neg-space);
    margin-bottom: var(--neg-space);
  }

  @include bp(sm) {
    --space: var(--lg);

    // padding-top: var(--2xl);
    // padding-bottom: var(--2xl);
    box-shadow: var(--sha--2xl);
  }

  @include bp(lg) {
    --space: var(--xl);

    // padding-top: var(--3xl);
    // padding-bottom: var(--3xl);
    box-shadow: var(--sha--3xl);
  }
}

.box--md {
  @include box;
}

.box--lg {
  @include box;
  --space: var(--lg);

  @include bp(sm) {
    --space: var(--xl);
  }

  @include bp(sm) {
    --space: var(--2xl);
  }

  @include bp(lg) {
    --space: var(--3xl);
  }
}

.box--xl {
  @include box;
  --space: var(--xl);

  @include bp(sm) {
    --space: var(--2xl);
  }

  @include bp(sm) {
    --space: var(--3xl);
  }

  @include bp(lg) {
    --space: var(--4xl);
  }
}


.img__aspect--1-1 {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  aspect-ratio : 1 / 1;
}

.img__aspect--5-4 {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  aspect-ratio : 5 / 4;
}

.img__aspect--3-5 {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  aspect-ratio : 3 / 5;
}


.full-w-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

    // background-color: var(--inset--xdeep);
    // box-shadow: glass.$flat-inset--lg;
    // color: var(--text--3xlight);


.full-w-bg {
  @include box;
  // @include gutter-from--sm;
  border-radius: 0;
  padding: var(--xl) var(--md);

  &::after {
    box-shadow: glass.$flat-bevel--sm;

    @include bp(sm) {
      box-shadow: glass.$bevel--lg;
    }
  }
}





.gutter > .full-w-inset {
  margin-left: calc((-1 * var(--gutter)) + 0.5px);
  margin-right: calc(-1 * var(--gutter));
  box-shadow: var(--flat-inset--md);
}



/* Rounded rectangles */
/* ========================================== */
@mixin rect-classes {
  @each $key, $value in $sizes {
    &--#{$key} {
      padding: var(--#{$key});
      border-radius: var(--#{$key});
      @content;
    }
  }
}

.rect-100 {
  @include rect-classes {
    width: 100%;
  }
}

.rect-fit {
  @include rect-classes {
  width: fit-content;
  }
}