/* ================================== */
/* Buttons */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================== */

/* ================================== */
//* Button size & layout */
/* ================================== */

/* Base → Button text */
@mixin btn-text {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-md;
  text-align: center;
  // z-index: z.z(on-btn);
  text-shadow: var(--text-sha-xs);
}

/* Base → Button layout */
@mixin btn-base {
  width: fit-content;
  @include flex-c;
  @include btn-text;
  border-radius: $round;
  // z-index: z.z(btn);

  & img {
    width: auto;
    align-self: center;
    // z-index: z.z(on-btn);
  }
}

/* Button sizes */
/* ================================== */
@mixin btn-sm {
  /* config */
  $inner-h: 0.8em; // ← set font size/line height/icon height here
  $p-t: 1px; // ← padding-top diff for every font
  $p-b: 0;
  $p-x: 0.85em;
  $p-x-icon: 0.7em;

  &.btn-icon {
    gap: 0.25em;
    padding: $p-t $p-x-icon $p-b $p-x-icon;
  }

  /* layout */
  @include btn-base;
  height: var(--ui-sm);
  font-size: $inner-h;
  line-height: $inner-h;
  padding: $p-t $p-x $p-b $p-x;

  text-shadow: var(--text-sha-sm);

  & img {
    height: calc(1.1 * $inner-h);
    margin-top: calc(-1 * $p-t);
  }
}

@mixin btn-md {
  /* config */
  $inner-h: 0.9em; // ← set font size/line height/icon height here
  $p-t: 1px; // ← padding-top diff for every font
  $p-b: 0;
  $p-x: 1em;
  $p-x-icon: 0.75em;

  &.btn-icon {
    gap: 0.3em;
    padding: $p-t $p-x-icon $p-b $p-x-icon;
  }

  /* layout */
  @include btn-base;
  height: var(--ui-md);
  font-size: $inner-h;
  line-height: $inner-h;
  padding: $p-t $p-x $p-b $p-x;

  text-shadow: var(--text-sha-md);

  & img {
    height: calc(1.1 * $inner-h);
    margin-top: calc(-1 * $p-t);
  }
}

@mixin btn-lg {
  /* config */
  $inner-h: 1em; // ← set font size/line height/icon height here
  $p-t: 1px; // ← padding-top diff for every font
  $p-b: 0;
  $p-x: 1.4em;
  $p-x-icon: 1em;

  &.btn-icon {
    gap: 0.4em;
    padding: $p-t $p-x-icon $p-b $p-x-icon;
  }

  /* layout */
  @include btn-base;
  height: var(--ui-lg);
  font-size: $inner-h;
  line-height: $inner-h;
  padding: $p-t $p-x $p-b $p-x;

  text-shadow: var(--text-sha-md);

  & img {
    height: calc(1.1 * $inner-h);
    margin-top: calc(-1 * $p-t);
  }
}

.btn-sm {
  @include btn-sm;
}

.btn-md {
  @include btn-md;
}

.btn-lg {
  @include btn-lg;
}

//* Round icon buttons */
/* ================================== */

/* Base → round button */
@mixin btn-round-base {
  @include flex-c;
  border-radius: $round;
  // z-index: z.z(btn);

  & img {
    width: auto;
    align-self: center;
    // z-index: z.z(on-btn);
  }
}

@mixin btn-round-sm {
  @include btn-round-base;
  width: var(--ui-sm);
  height: var(--ui-sm);

  & img {
    height: calc(var(--ui-sm) * 0.65);
  }
}

@mixin btn-round-md {
  @include btn-round-base;
  width: var(--ui-md);
  height: var(--ui-md);

  & img {
    height: calc(var(--ui-md) * 0.65);
  }
}

@mixin btn-round-lg {
  @include btn-round-base;
  width: var(--ui-lg);
  height: var(--ui-lg);

  & img {
    height: calc(var(--ui-lg) * 0.6);
  }
}

.btn-round-sm {
  @include btn-round-sm;
}

.btn-round-md {
  @include btn-round-md;
}

.btn-round-lg {
  @include btn-round-lg;
}

/* ================================== */
//* Button state & visual styling */
/* ================================== */

@mixin ui-transitions {
  transition:
    background-color $speed-slow ease-out,
    box-shadow $speed-slow ease-out;

  &:hover {
    transition:
      background-color $speed-fast ease-in,
      box-shadow $speed-fast ease-in,
  }

  &:active {
    transition:
      background-color $speed-base ease-in-out,
      box-shadow $speed-base ease-in-out,
  }
}


/* Base → 3D button glass material */
@mixin btn-glass-base {
  position: relative;
   box-shadow: var(--sha-xs);
  @include glass.glass-filter;
  color: var(--btn-text-rest);
  @include ui-transitions;

  &::after {
    @include pseudo;
    z-index: -1;
    box-shadow: $bevel-sm;
  }

  &::before {
    @include pseudo;
    z-index: -2;
    @include glass.noise-sm;
    opacity: 70%;
  }

  &:hover {
    box-shadow: var(--sha-sm);
  }

  &:active {
    box-shadow: var(--sha-2xs);
  }
}

@mixin btn-glass-clear {
  @include btn-glass-base;
  background-color: var(--tint-base);

  &:hover {
    background-color: var(--tint-xmild);
  }

  &:active {
    background-color: var(--tint-bold);
  }
}

/* Light → 3D button glass */
@mixin btn-glass-light {
  @include btn-glass-base;
  background-color: var(--tint-xbold);

  &:hover {
    background-color: var(--tint-mild);
  }

  &:active {
    background-color: var(--tint-2xmild);
  }
}

/* Dark → 3D button glass */
@mixin btn-glass-dark {
  @include btn-glass-base;
  background-color: var(--tint-base);

  &:hover {
    background-color: var(--tint-bold);
  }

  &:active {
    background-color: var(--tint-xbold);
  }
}

.btn-glass-clear {
  @include btn-glass-clear;
}

.btn-glass-light {
  @include btn-glass-light;
}

.btn-glass-dark {
  @include btn-glass-dark;
}

/* 2D clear button */
/* ================================== */
@mixin btn-2d-base {
  background-color: transparent;
  color: var(--btn-text-rest);
  box-shadow: none;
  @include ui-transitions;

  &:hover {
    background-color: var(--tint-xmild);
    box-shadow: var(--sha-xs);
  }

  &:active {
    background-color: var(--tint-xbold);
    box-shadow: var(--sha-2xs);
  }
}

.btn-clear {
  @include btn-2d-base;
}