/* ================================== */
/* Cards */
@use "../0-base" as *;
@use "../1-layout" as *;
@use "../1-layout/padding";
@use "../2-visual" as *;
@use "../2-visual/border";
@use "../3-material" as *;
/* ================================== */

.card {
  display: grid;
  gap: var(--space-narrow);
  padding: var(--space-narrow);
  border-radius: border.$br-md;
}
