/* ================================== */
/* Footer */
@use "../0-base" as *;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../3-material" as *;
/* ================================== */

.footer-bin {
  width: 100%;
  padding: 0.8rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;

  // @include smol {
  //   padding: 0.8rem;
  // }

  @include breakpoint(md) {
    padding: 1rem;
  }

  @include breakpoint(lg) {
    padding: 1.5rem 0;
  }
}

// .footer-social {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: center;
//   justify-content: center;
//   gap: 1rem;

//   @include breakpoint(md) {
//     gap: 1.5rem;
//   }

//   @include breakpoint(lg) {
//     gap: 2rem;
//   }
// }