/* ================================== */
/* Inputs */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================== */

.input__wrap {
  // position: relative;
  width: min(400px, 100%);
  height: fit-content;
  display: grid;
  gap: $s1;
}

.text-input {
  pointer-events: auto;
  cursor: text;
  width: 100%;
  height: var(--ui-lg);
  border-radius: $round;
  padding: 0 $s4;

  box-shadow: var(--inset-md);
  background-color: var(--tint-xdark);

  @include bp(sm) {
    width: min(400px, 100%);
  }
}

.input-label__group {
  width: fit-content;
  height: fit-content;
}

.input__label {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-sm;
}

.input__hint {
  font-family: $font-family-title;
  font-weight: $font-weight-sm;
  font-size: var(--text-xs);
  letter-spacing: $letter-spacing-sm;
  line-height: 1;
}

.textarea__wrap {
  position: relative;
  z-index: 2;
  @include flex-c;
  // width: fit-content;
  width: fit-content;
  // min-width: 100%;
    min-width: min(400px, 100%);

  height: fit-content;
  pointer-events: none;
  padding: $s4;

  @include outer-radius (var(--2xs), $s4);
  box-shadow: var(--inset-md);
  background-color: var(--tint-xdark);

  // @include bp(sm) {
  //   min-width: min(400px, 100%);
  // }
}

.textarea {
  z-index: 3;
  inset: 1rem;
  pointer-events: auto;
  cursor: text;

  min-width: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  min-height: 150px;
  overflow: auto;

  border-radius: var(--2xs);
  background-color: var(--tint-xlight);

  &:focus {
    outline: 1.5px solid oklch(85% var(--primary-ch) / 0.8);;
    outline-offset: $s2;
  }
}





// input[type="checkbox"] {
//   appearance: none;
//   background-color: var(--tint-xdark);
//   margin: 0;
//   box-shadow: glass.$inset-xs;
//   width: 1rem;
//   height: 1rem;
//   border-radius: 0.15rem;
//   // transform: translateY(-0.075em);
//   display: grid;
//   place-content: center;
// }

// input[type="checkbox"]::before {
//   content: "";
//   width: 0.7rem;
//   height: 0.7rem;
//   transform: scale(0);
//   transition: transform ani.$speed-fast ease-in-out;
//   background-color: var(--tint-prim);
//   border-radius: 0.1rem;
// }

// input[type="checkbox"]:checked::before {
//   transform: scale(1);
// }

// input[type="checkbox"]:disabled {
//   // color: color.$disabled;
//   background-color: var(--color-disabled);
//   box-shadow: glass.$inset-sha-xs;
//   cursor: not-allowed;
// }


.checkbox {
  background-color: var(--tint-dark);
}

.checkbox__label {
  font-weight: $font-weight-md;
  display: grid;
  grid-template-columns: 1rem auto;
  align-items: center;
  gap: 0.25rem;
}

.checkboxes {
  display: grid;
  gap: 0.5rem;
}