/* ================================== */
/* Inputs */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================== */

.input__fieldset {
  display: grid;
  gap: var(--xs);
}

.input__legend {
  font-weight: var(--font-weight--md);
  font-size: var(--sm);
  padding-bottom: var(--2xs);
  color: var(--color-text-contrast--base);
}

.input__wrap {
  display: flex;
  align-items: center;
  gap: var(--2xs);
}

.input__label--sm {
  width: fit-content;
  color: var(--color-text--base);
}

.input__label--md {
  width: fit-content;
  color: var(--color-text--base);
}

@mixin input--base {
  /* config */
  --rest-knob: var(--ui-rest-knob);
  --rest-bg: var(--ui-rest-bg);
  --rest-hover-bg: var(--ui-rest-hover-bg);

  --active-bg: var(--ui-active-bg);
  --active-hover-bg: var(--ui-active-hover-bg);

  --disabled-bg: var(--ui-disabled-bg);
  --disabled-checked-bg: var(--ui-disabled-checked-bg);
  --disabled-knob: var(--ui-disabled-knob);
  --disabled-text: var(--ui-disabled-text);

  --border-hover: oklch(var(--primary--lch) / 0.4);
  --focus: 2px var(--ui-focus);
  --border: transparent;

  --active-knob-sha: var(--sha--2xs);
  --disabled-knob-sha: var(--sha--2xs);
  --active-inset: #{glass.$inset--2xs};
  --disabled-inset: #{glass.$inset--2xs--mild};
  --active-opacity: 1;
  --disabled-opacity: 0.8;


  /* reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  transition: background-color $speed--base ease-in-out;

  &::after {
    @include pseudo;
  }

  &:hover {
    background-color: var(--rest-hover-bg);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-bg);
    box-shadow: var(--disabled-inset);
    opacity: var(--disabled-opacity);

    & + label {
      color: var(--color-text--xmild);
    }
  }

  &:checked {
    background-color: var(--active-bg);

    &:hover {
      background-color: var(--active-hover-bg);
    }
  }
}

/* Switches */
input[type='checkbox'].switch {
  --_switch-height: var(--switch-height, var(--ui--sm));
  --_switch-width: var(--switch-width, calc(var(--_switch-height) * 1.8));
  --_thumb-margin: var(--thumb-margin, 3px);

  @include input--base;

  position: relative;
  z-index: 1;
  display: inline-flex;
  width: var(--_switch-width);
  height: var(--_switch-height);
  vertical-align: var(--_thumb-margin);
  align-items: center;
  border-radius: $round;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);

  &::after {
    z-index: 3;
    display: block;
    aspect-ratio: 1 / 1;
    margin: var(--_thumb-margin);
    height: calc(100% - 2 * var(--_thumb-margin));

    background-color: var(--rest-knob);
    box-shadow: var(--active-knob-sha);
    border-radius: $round;
    transition: margin;
    transition-duration: inherit;
  }

  &:checked {

    &::after {
      margin-inline-start: calc(var(--_switch-width) - var(--_switch-height) + var(--_thumb-margin));
    }
  }

  &:disabled {

    &::after {
      background-color: var(--disabled-knob);
      box-shadow: var(--disabled-knob-sha);
    }

    &:checked {
      background-color: var(--disabled-checked-bg);
    }
  }

  &.switch--sm {
    --thumb-margin: 3px;
    --switch-height: var(--ui--sm);
  }

  &.switch--md {
    --thumb-margin: 3.5px;
    --switch-height: var(--ui--md);
  }

  &.switch--lg {
    --thumb-margin: 4px;
    --switch-height: var(--ui--lg);
  }
}

/* Checkboxes */
input[type='checkbox'].checkbox {

  @include input--base;

  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);
  border-radius: 0.25rem;

  &:checked {

    &::after {
      z-index: 3;
      filter: drop-shadow(0.5px 0.5px 1px oklch(var(--dark--lch) / 0.5));
      border-radius: 0.05rem;
      width: 55%;
      height: 30%;
      border: 2px solid var(--rest-knob);
      border-top: 0;
      border-right: 0;
      left: 23%;
      top: 30%;
      transform: rotate( -45deg);
      background-color: transparent;
    }
  }

  &:disabled {

    &:checked {
      background-color: var(--disabled-checked-bg);

      &::after {
        border: 2px solid var(--disabled-knob);
        border-top: 0;
        border-right: 0;
      }
    }
  }
}


/* Radio buttons */
input[type='radio'] {

  @include input--base;

  position: relative;
  z-index: 1;
  // display: grid;
  // place-items: center;
  width: 1.2rem;
  height: 1.2rem;
  aspect-ratio: 1 / 1;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);
  border-radius: $round;

  &:checked {
    &::after {
      z-index: 3;
      filter: drop-shadow(0.5px 0.5px 1px oklch(var(--dark--lch) / 0.5));
      margin: 4px;
      aspect-ratio: 1 / 1;
      border-radius: $round;
      background-color: var(--rest-knob);
    }
  }

  &:disabled {
    &::after {
      background-color: transparent;
    }

    &:checked {
      background-color: var(--disabled-checked-bg);

      &::after {
        background-color: var(--disabled-knob);
      }
    }
  }
}















/* If the appearance property isn’t supported, the styles won’t apply anyways,
so the default input styles will be shown. */
// @supports(-webkit-appearance: none) or (-moz-appearance: none) {
//   input[type='checkbox'],
//   input[type='radio'] {

//   /* config */
//     --rest-knob: var(--ui-rest-knob);
//     --rest-bg: var(--ui-rest-bg);
//     --rest-hover-bg: var(--ui-rest-hover-bg);

//     --active-bg: var(--ui-active-bg);
//     --active-hover-bg: var(--ui-active-hover-bg);

//     --disabled-bg: var(--ui-disabled-bg);
//     --disabled-checked-bg: var(--ui-disabled-checked-bg);
//     --disabled-knob: var(--ui-disabled-knob);
//     --disabled-text: var(--ui-disabled-text);

//     --border-hover: oklch(var(--primary--lch) / 0.4);
//     --focus: 2px var(--ui-focus);
//     --border: transparent;

//     /* reset */
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     outline: none;
//     // vertical-align: top;
//     // position: relative;
//     margin: 0;
//     cursor: pointer;

//     background-color: var(--rest-bg);
//     box-shadow: glass.$inset--sm;
//     transition:
//       background-color $speed--base ease-in-out,
//       box-shadow $speed--base ease-in-out;

//     &::after {
//       content: "";
//       inset: 0;
//       display: block;
//       transition:
//         background-color $speed-fast ease-in-out,
//         box-shadow $speed-fast ease-in-out;
//     }

//     &:checked {
//       &:not(:disabled) {
//         background-color: var(--active-bg);

//         &::after {
//           background-color: var(--rest-knob);
//           box-shadow: var(--sha--xs);
//         }

//         &:hover {
//           background-color: var(--active-hover-bg);
//         }
//       }
//     }

//     &:disabled {
//       background-color: var(--disabled-bg);
//       // box-shadow: glass.$inset--xs;
//       opacity: .8;
//       cursor: not-allowed;

//       &::after {
//         background-color: transparent;
//         box-shadow: none;
//       }

//       &:checked {
//         background-color: var(--disabled-checked-bg);

//         &::after {
//           background-color: var(--disabled-knob);
//           box-shadow: var(--sha--sm);
//         }
//       }

//       & + label {
//         color:  oklch(75% var(--light--ch) / 1);
//         // color: var(--disabled-text);
//       }
//     }

//     &:hover {
//       &:not(:checked) {
//         &:not(:disabled) {
//           background-color: var(--rest-hover-bg);
//         }
//       }
//     }

//     &:focus {
//       outline: 0 0 0 var(--focus);
//     }
//   }

//   input[type='checkbox'] {
//     &:not(.switch) {
//       width: 1.2rem;
//       height: 1.2rem;
//       aspect-ratio: 1 / 1;
//       display: grid;
//       place-content: center;
//       border-radius: 0.25em;

//       &:after {
//         // content: "✓";
//         width: 0.7rem;
//         height: 0.7rem;
//         border-radius: 0.14rem;
//       }
//     }
//   }

//   input[type='radio'] {
//     width: 1.1rem;
//     height: 1.1rem;
//     aspect-ratio: 1 / 1;
//     display: grid;
//     place-content: center;
//     border-radius: $round;

//     &::after {
//       width: 0.65rem;
//       height: 0.65rem;
//       aspect-ratio: 1 / 1;
//       border-radius: $round;
//     }
//   }

//   input[type='checkbox'] {
//     &.switch {
//       /* config */
//       --_switch-height: var(--switch-height, var(--ui--sm));
//       --_switch-width: var(--switch-width, calc(var(--_switch-height) * 1.8));
//       --_thumb-margin: var(--thumb-margin, 3px);

//       width: var(--_switch-width);
//       height: var(--_switch-height);
//       display: inline-flex;
//       vertical-align: var(--_thumb-margin);
//       align-items: center;
//       border-radius: $round;

//       &::after {
//         content: "";
//         display: block;
//         aspect-ratio: 1 / 1;
//         margin: var(--_thumb-margin);
//         height: calc(100% - 2 * var(--_thumb-margin));

//         background-color: var(--rest-knob);
//         box-shadow: var(--sha--xs);
//         border-radius: $round;
//         transition: margin;
//         transition-duration: inherit;
//       }

//       &:checked {

//         &::after {
//           margin-inline-start: calc(var(--_switch-width) - var(--_switch-height) + var(--_thumb-margin));
//         }
//       }

//       &:disabled {

//         &::after {
//           background-color: var(--disabled-knob);
//           box-shadow: var(--sha--2xs);
//         }
//       }
//     }
//   }
// }