/* ========================================== */
/* Inputs */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ========================================== */

.input__fieldset {
  display: grid;
  gap: var(--xs);
}

.input__legend {
  font-weight: $font-weight--md;
  font-family: $font-family-title;
  font-size: var(--sm);
  letter-spacing: $letter-spacing--md;
  padding-bottom: var(--xs);
  color: var(--text--xbold);
  text-shadow: var(--text-sha--2xs);
}

.input__wrap {
  display: flex;
  align-items: center;
  gap: var(--2xs);
}

.input__label--sm {
  width: fit-content;
  color: var(--text--bold);
}

.input__label--md {
  width: fit-content;
  color: var(--text--bold);
}

@mixin input--base {
  /* config */
  --rest-bg: oklch(var(--neutral--10) / 0.2);
  --rest-hover-bg: oklch(var(--neutral--10) / 0.3);
  --rest-knob: oklch(var(--neutral--90) / 0.9);

  --active-opacity: 1;
  --active-bg: oklch(var(--primary--75) / 0.8);
  --active-inset: var(--inset--2xs);
  --active-hover-bg: oklch(var(--primary--75) / 1);
  --active-knob-sha: var(--sha--2xs);

  --disabled-opacity: 0.8;
  --disabled-bg: oklch(var(--neutral--10) / 0.1);
  --disabled-checked-bg: oklch(var(--primary--50) / 1);
  --disabled-inset: var(--inset--3xs);
  --disabled-text: var(--text--xmild);
  --disabled-knob: oklch(var(--neutral--90) / 0.6);
  --disabled-knob-sha: var(--sha--2xs);

  --border: transparent;
  --border-hover: oklch(var(--primary--75) / 0.4);

  overflow: hidden;
  cursor: pointer;
  transition: background-color $speed--base ease-in-out;

  &::after {
    @include pseudo;
    overflow: hidden;
  }

  &:hover {
    background-color: var(--rest-hover-bg);
    overflow: hidden;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-bg);
    box-shadow: var(--disabled-inset);
    opacity: var(--disabled-opacity);

    & + label {
      color: var(--text--xmild);
    }
  }

  &:checked {
    background-color: var(--active-bg);

    &:hover {
      background-color: var(--active-hover-bg);
    }
  }
}

/* Switches */
input[type='checkbox'].switch {
  --_switch-height: var(--switch-height, var(--ui--sm));
  --_switch-width: var(--switch-width, calc(var(--_switch-height) * 1.8));
  --_thumb-margin: var(--thumb-margin, 3px);

  @include input--base;

  position: relative;
  z-index: 1;
  display: inline-flex;
  width: var(--_switch-width);
  height: var(--_switch-height);
  vertical-align: var(--_thumb-margin);
  align-items: center;
  border-radius: $round;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);

  &::after {
    z-index: 3;
    display: block;
    aspect-ratio: 1 / 1;
    margin: var(--_thumb-margin);
    height: calc(100% - 2 * var(--_thumb-margin));

    background-color: var(--rest-knob);
    box-shadow: var(--active-knob-sha);
    border-radius: $round;
    transition: margin;
    transition-duration: inherit;
  }

  &:checked {

    &::after {
      margin-inline-start: calc(var(--_switch-width) - var(--_switch-height) + var(--_thumb-margin));
    }
  }

  &:disabled {

    &::after {
      background-color: var(--disabled-knob);
      box-shadow: var(--disabled-knob-sha);
    }

    &:checked {
      background-color: var(--disabled-checked-bg);
    }
  }

  &.switch--sm {
    --thumb-margin: 3px;
    --switch-height: var(--ui--sm);
  }

  &.switch--md {
    --thumb-margin: 3.5px;
    --switch-height: var(--ui--md);
  }

  &.switch--lg {
    --thumb-margin: 4px;
    --switch-height: var(--ui--lg);
  }
}

/* Checkboxes */
input[type='checkbox'].checkbox {

  @include input--base;

  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);
  border-radius: 0.25rem;

  &:checked {

    &::after {
      z-index: 3;
      filter: drop-shadow(0.5px 0.5px 1px oklch(var(--neutral--10) / 0.5));
      border-radius: 0.05rem;
      width: 55%;
      height: 30%;
      border: 2px solid var(--rest-knob);
      border-top: 0;
      border-right: 0;
      left: 23%;
      top: 30%;
      transform: rotate( -45deg);
      background-color: transparent;
    }
  }

  &:disabled {

    &:checked {
      background-color: var(--disabled-checked-bg);

      &::after {
        border: 2px solid var(--disabled-knob);
        border-top: 0;
        border-right: 0;
      }
    }
  }
}


/* Radio buttons */
input[type='radio'] {

  @include input--base;

  position: relative;
  z-index: 1;
  // display: grid;
  // place-items: center;
  width: 1.2rem;
  height: 1.2rem;
  aspect-ratio: 1 / 1;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);
  border-radius: $round;

  &:checked {
    &::after {
      z-index: 3;
      filter: drop-shadow(0.5px 0.5px 1px oklch(var(--neutral--10) / 0.5));
      margin: 4px;
      aspect-ratio: 1 / 1;
      border-radius: $round;
      background-color: var(--rest-knob);
    }
  }

  &:disabled {
    &::after {
      background-color: transparent;
    }

    &:checked {
      background-color: var(--disabled-checked-bg);

      &::after {
        background-color: var(--disabled-knob);
      }
    }
  }
}