/* ========================================== */
/* Layout groups */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ========================================== */


/* Bento grid */
/* ========================================== */
.bento__rect {
  @include flex-c;
  flex-direction: column;
  aspect-ratio : 1 / 1;
  border-radius: var(--sm);
  @include title-thick;
  font-size: var(--text--xs);
  text-shadow: var(--text-sha--sm);

  @include bp(md) {
    font-size: var(--text--sm);
    border-radius: var(--md);
    text-shadow: var(--text-sha--md);
  }

  & > .text--dark {
    text-shadow: 0;
  }
}

.bento__wrap--2to3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: var(--md);

  @include bp(sm) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include bp(md) {
    gap: var(--xl);
  }

  @include bp(lg) {
    gap: var(--2xl);
  }
}

.bento__wrap--1to5 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: var(--md);

  @include bp(xs) {
    grid-template-columns: 1fr 1fr;
  }

  @include bp(sm) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include bp(md) {
    gap: var(--lg);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include bp(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


/* Column flex */
/* ========================================== */
// * bp < lg = 1 column
// * bp >= lg = whatever fits then wrap

.column-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

//  width: fit-content;
//  width: 100%;

  // > .column {
  // width: 100%;

  //   // @include bp(lg) {
  //   //   width: fit-content
  //   // }
  // }
}
