/* ================================== */
/* Media */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
/* ================================== */

/* SVG icons */
/* ================================== */
.icon--sm {
  height: var(--ui--sm);
  width: auto;
}

.icon--md {
  height: var(--ui--md);
  width: auto;
}

.icon--lg {
  height: var(--ui--lg);
  width: auto;
}

/* images */
/* ================================== */

.img--xs {
  width: min(100%, 200px);
  margin: 0 auto;
}

.img--sm {
  width: min(100%, 400px);
  margin: 0 auto;
}

.img--md {
  width: min(100%, 500px);
  // margin: 0 auto;

  @include bp(md) {
    width: 70%;
  }
}

.img--lg {
  width: 100%;
  margin: auto;

  @include bp(md) {
    width: 80%;
  }
}

// img {
//   max-width: 100%;
// }


.text-over-img-bin {
  position: relative;
  width: 100%;
  height: fit-content;
  @include grid-c;
}

.img-w-overlay {
  position: absolute;
  inset: 0;
  width: auto;
  height: 25vh;
  margin: auto;
}

.text-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: fit-content;
  padding: var(--space-thin);
  background-color: var(--tint--2xbold);
  border-radius: var(--sm);
}