/* ========================================== */
/* Nav */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ========================================== */

/* Global nav height */
/* ========================================== */
:root {
  --nav-h: calc(var(--ui--md) + (var(--space-thin) * 2));

  @include bp(md) {
    --nav-h: calc(var(--ui--lg) + (var(--space-thin) * 2));
  }
}

.main-nav__wrap {
  position: fixed;
  height: var(--nav-h);
  z-index: 200;
  inset: 0;
}

.main-nav {
  width: 100%;
  padding: var(--space-thin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  gap: var(--3xs);
  margin: 0 auto;
}

// .theme-toggle {
//   @include btn.round-btn--sm;
//   @include btn.btn-clear;

//   &.js-navLinkBg {
//     @include btn.btn-glass-both;
//   }
// }


/* Dropdown */
/* ========================================== */
.dropdown__wrap {
  position: relative;
  pointer-events: none;
}

.dropdown__btn {
  @include btn.btn-round--md;
  @include btn.btn-glass-dark;

  @include bp(md) {
    @include btn.btn-round--lg;
  }
}

.dropdown__bin {
  width: fit-content;
  height: fit-content;
  pointer-events: none;
}

.dropdown__bg {
  position: absolute;
  top: calc(var(--ui--lg) * 1.2);
  right: 0;
  padding: var(--sm);

  pointer-events: auto;
  overflow: hidden;
  border-radius: var(--sm);
  box-shadow: var(--sha--xl);
}

.dropdown-item__bin {
  width: fit-content;
  display: grid;
  gap: calc(var(--xs) * 0.5);
  margin: calc(var(--3xs) * -1);
  pointer-events: none;
}

.dropdown__item {
  pointer-events: auto;
  cursor: pointer;
  min-width: max-content;
  width: 100%;
  letter-spacing: $letter-spacing--lg;
  font-weight: var(--font-weight--md);
}
