/* ================================================== */
/* Rounded rectangles */
@use "../config" as *;
/* ================================================== */

@mixin rect-base {
  --_space: var(--space, 1.5rem);
  --_neg-space: calc(-1 * var(--_space));

  height: fit-content;
  padding: var(--_space);
  overflow: hidden;
  border-radius: var(--md);

  @include bp(sm) {
    border-radius: var(--lg);
  }
}

.rect--sm {
  @include rect-base;
  --space: var(--sm);

  @include bp(sm) {
    --space: var(--md);
  }

  @include bp(lg) {
    --space: var(--lg);
  }
}

.rect--md {
  @include rect-base;
  --space: var(--md);

  @include bp(sm) {
    --space: var(--lg);
  }

  @include bp(lg) {
    --space: var(--xl);
  }
}

.rect--lg {
  @include rect-base;
  --space: var(--lg);

  @include bp(sm) {
    --space: var(--xl);
  }

  @include bp(lg) {
    --space: var(--2xl);
  }
}

.rect--xl {
  @include rect-base;
  --space: var(--xl);
  border-radius: var(--lg);

  @include bp(sm) {
    --space: var(--2xl);
  }

  @include bp(lg) {
    --space: var(--3xl);
  }
}

.rect--2xl {
  @include rect-base;
  --space: var(--2xl);
  border-radius: var(--lg);

  @include bp(sm) {
    --space: var(--3xl);
    border-radius: var(--xl);
  }

  @include bp(lg) {
    --space: var(--4xl);
  }
}

.rect--3xl {
  @include rect-base;
  --space: var(--3xl);
  border-radius: var(--lg);

  @include bp(sm) {
    --space: var(--4xl);
    border-radius: var(--xl);
  }

  @include bp(lg) {
    --space: var(--5xl);
  }
}