/* ================================================== */
/* Sections */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ================================================== */

.section_bin {
/* layout */
  // width: 100%;
  display: grid;
  margin: 0 auto;
  // z-index: z.z();

/* visual */
  border-radius: 0;
  box-shadow: none;

  @include bp(sm) {
    overflow: hidden;
    border-radius: var(--lg);
    box-shadow: var(--sha--xl);
  }
}

.section-header {
  --space: var(--moat); // < control padding from here

  /* layout */
  display: grid;
  gap: 0.5rem;
  padding: var(--space);

  /* visual */
  border-radius: 0;
  @include glass.glass--flat-bevel-mobile;
  background-color: var(--depth--base);

  @include bp(sm) {
    overflow: hidden;
    border-radius: var(--lg) var(--lg) 0 0;
  }

  >.full-w-inset {
    /* layout */
    padding: var(--space);
    margin-left: calc((-1 * var(--space)) + 0.5px);
    margin-right: calc(-1 * var(--space));

    /* visual */
    background-color: var(--inset-bg--deep);
    box-shadow: var(--flat-inset--md);
  }
}


.section-title {
  @include title--thick;
  font-size: var(--lg);
  text-shadow: var(--text-sha--md);
}

.section-body {
  /* layout */
  width: 100%;
  height: fit-content;
  display: grid;
  padding-bottom: var(--3xl);
}