/* ========================================== */
/* Tab menu */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ========================================== */

.tab-menu {
  width: fit-content;
  max-width: 100%;
  height: var(--ui--md);
  margin: 0 auto;
  @include flex--c;
  gap: $s1;
  --tab-br: 8px;
  --padding: 3px;
  padding: var(--padding);
  @include outer-radius (var(--tab-br), var(--padding));

  position: relative;
  background-color: var(--bg--inset2);
  @include glass.glass-filter;

  &::before {
    @include pseudo;
    z-index: 202;
    box-shadow: var(--inset--lg);
    // @include tex.noise--sm;
  }

  @include bp(xs) {
    gap: var(--3xs);
  }

  @include bp(md) {
    height: var(--ui--lg);
  }
}


[role="tab"] {
  --inner-h: 0.95rem;

  width: max-content;
  height: 100%;
  @include flex--c;
  padding: 0 0.5rem;
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;

  font-size: var(--inner-h);
  line-height: var(--inner-h);
  @include btn.btn-text;
  @include btn.btn-2d--base;
  border-radius: var(--tab-br);
  color: oklch(var(--light--lch));
  background-color: transparent;

  @include bp(xs) {
    padding: 0 0.9rem;
  }

  @include bp(md) {
    --inner-h: 1.1rem;
    padding: 0 1.2rem;
  }

  @include bp(lg) {
    padding: 0 1.3rem;
  }

  &:hover {
    background-color: var(--tint--xlight);
    box-shadow: 0;
  }
}

[role="tab"][aria-selected="true"] {
  background-color: var(--tint--2xlight);
  color: var(--tint--xdark);
  box-shadow: var(--sha--2xs);
}
