/* ================================================== */
/* Mobile 1st breakpoints */
@use "sass:map";
/* ================================================== */

/* Breakpoints MAP ✨ Config these values */
/* ================================================== */
$breakpoints: (
  "xs": 22.5rem, /* 360px  and bigger */
  "sm": 35rem,   /* 560px  and bigger */
  "md": 48rem,   /* 768px  and bigger */
  "lg": 64rem,   /* 1024px and bigger */
  "xl": 90rem,   /* 1440px and bigger */
);
/* ================================================== */

/* Breakpoint mixin */
/* ================================================== */
@mixin bp($key) {
  @if not map-has-key($breakpoints, $key) {
    @warn "Warning: `#{$key}` is not a valid breakpoint.";
  } @else {
    @media only screen and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
}

/* Breakpoint variables */
/* ================================================== */
$bp-xs: map.get($breakpoints, xs);
$bp-sm: map.get($breakpoints, sm);
$bp-md: map.get($breakpoints, md);
$bp-lg: map.get($breakpoints, lg);
$bp-xl: map.get($breakpoints, xl);


/* ================================================== */
/* How to use */
/* ================================================== */
/* To use in another file add this ⬇︎ to the very top of the document */
// @use "../0-design/breakpoint" as bp;
/* Make sure to add bp. to the start of every mixin or variable */

/* 💠 example */
// .my-class {
//   padding: 1rem;
//   max-width: bp.$bp-xl;

//   @include bp.bp(md) {
//     padding: 2rem;
//   }
// }

/* Or */
/* ================================================== */
/* Forward all of 0-design with `as *` to skip using prefixes */
// @use "../forward-styles/design" as *;

/* 💠 example */
// .my-class {
//   padding: 1rem;
//   max-width: $bp-xl;

//   @include bp(md) {
//     padding: 2rem;
//   }
// }
