/* ================================================== */
/* Colors */
@use "sass:map";
@use "sass:list";
@use "../2-util/mixin" as *;
/* ================================================== */

/* ================================================== */
/* Color tokens */
/* ================================================== */
:root {
  /* Hue and saturation values ✨ Config these values */
  /* ================================================== */
  --primary-h: 190;
  --primary-s: 90%;
  --neutral-h: 205;
  --neutral-s: 20%;

  /* Primary */
  /* ================================================== */
  --primary-98: var(--primary-h) var(--primary-s) 98%;
  --primary-95: var(--primary-h) var(--primary-s) 95%;
  --primary-90: var(--primary-h) var(--primary-s) 90%;
  --primary-85: var(--primary-h) var(--primary-s) 85%;
  --primary-80: var(--primary-h) var(--primary-s) 80%;
  --primary-70: var(--primary-h) var(--primary-s) 70%;
  --primary-60: var(--primary-h) var(--primary-s) 60%;
  --primary-50: var(--primary-h) var(--primary-s) 50%;
  --primary-40: var(--primary-h) var(--primary-s) 40%;
  --primary-30: var(--primary-h) var(--primary-s) 30%;
  --primary-20: var(--primary-h) var(--primary-s) 20%;
  --primary-10: var(--primary-h) var(--primary-s) 10%;
  --primary-5:  var(--primary-h) var(--primary-s)  5%;

  /* Neutral */
  /* ================================================== */
  --neutral-98: var(--neutral-h) var(--neutral-s) 98%;
  --neutral-95: var(--neutral-h) var(--neutral-s) 95%;
  --neutral-90: var(--neutral-h) var(--neutral-s) 90%;
  --neutral-85: var(--neutral-h) var(--neutral-s) 85%;
  --neutral-80: var(--neutral-h) var(--neutral-s) 80%;
  --neutral-70: var(--neutral-h) var(--neutral-s) 70%;
  --neutral-60: var(--neutral-h) var(--neutral-s) 60%;
  --neutral-50: var(--neutral-h) var(--neutral-s) 50%;
  --neutral-40: var(--neutral-h) var(--neutral-s) 40%;
  --neutral-30: var(--neutral-h) var(--neutral-s) 30%;
  --neutral-20: var(--neutral-h) var(--neutral-s) 20%;
  --neutral-15: var(--neutral-h) var(--neutral-s) 15%;
  --neutral-10: var(--neutral-h) var(--neutral-s) 10%;
  --neutral-5:  var(--neutral-h) var(--neutral-s)  5%;
}

/* ================================================== */
/* Color theme */
/* ================================================== */
html {
  /* Solid colors */
  /* ================================================== */
  --color-white:   hsl(var(--neutral-98) / 1);
  --color-2xlight: hsl(var(--neutral-90) / 1);
  --color-xlight:  hsl(var(--neutral-80) / 1);
  --color-light:   hsl(var(--neutral-70) / 1);
  --color-gray:    hsl(var(--neutral-50) / 1);
  --color-dark:    hsl(var(--neutral-40) / 1);
  --color-xdark:   hsl(var(--neutral-30) / 1);
  --color-2xdark:  hsl(var(--neutral-20) / 1);
  --color-black:   hsl(var(--neutral-5)  / 1);

  --color-primary-2xlight:   hsl(var(--primary-80) / 1);
  --color-primary-xlight:   hsl(var(--primary-70) / 1);
  --color-primary-light:   hsl(var(--primary-60) / 1);
  --color-primary-base:   hsl(var(--primary-50) / 1);
  --color-primary-dark:   hsl(var(--primary-40) / 1);
  --color-primary-xdark:   hsl(var(--primary-30) / 1);

  /* Translucent tints */
  /* ================================================== */
  --tint-3xlight: hsl(var(--neutral-95) / 0.4);
  --tint-2xlight: hsl(var(--neutral-95) / 0.3);
  --tint-xlight:  hsl(var(--neutral-95) / 0.2);
  --tint-light:   hsl(var(--neutral-95) / 0.1);
  --tint-clear:   hsl(var(--neutral-10) / 0.01);
  --tint-dark:    hsl(var(--neutral-10) / 0.1);
  --tint-xdark:   hsl(var(--neutral-10) / 0.25);
  --tint-2xdark:  hsl(var(--neutral-10) / 0.4);
  --tint-3xdark:  hsl(var(--neutral-10) / 0.7);

  /* Text colors */
  /* ================================================== */
  --text-2xstrong: hsl(var(--neutral-98) / 1);
  --text-xstrong:  hsl(var(--neutral-95) / 1);
  --text-strong:   hsl(var(--neutral-90) / 1);
  --text-base:     hsl(var(--neutral-85) / 1);
  --text-mild:     hsl(var(--neutral-80) / 1);
  --text-xmild:    hsl(var(--neutral-70) / 1);
  --text-2xmild:   hsl(var(--neutral-60) / 1);

  /* Inset bg colors */
  /* ================================================== */
  --inset-bg-reg:   hsl(var(--neutral-10) / 0.15);
  --inset-bg-deep:  hsl(var(--neutral-10) / 0.25);
  --inset-bg-xdeep: hsl(var(--neutral-10) / 0.35);

  /* Box-shadows | Text-shadows | Drop-shadows */
  /* ================================================== */
  --shadow: var(--neutral-10);
  --highlight: var(--neutral-90);
}


/* Solid colors MAP */
/* ================================================== */
$colors: (
  "white":   var(--color-white),
  "2xlight": var(--color-2xlight),
  "xlight":  var(--color-xlight),
  "light":   var(--color-light),
  "gray":    var(--color-gray),
  "dark":    var(--color-dark),
  "xdark":   var(--color-xdark),
  "2xdark":  var(--color-2xdark),
  "black":   var(--color-black),
);

/* Generate color classes */
.color {
  @include generate-classes($colors, 'background-color', 'color', '-');
}


/* Tints MAP */
/* ================================================== */
$tints: (
  "3xlight": var(--tint-3xlight),
  "2xlight": var(--tint-2xlight),
  "xlight":  var(--tint-xlight),
  "light":   var(--tint-light),
  "clear":   var(--tint-clear),
  "dark":    var(--tint-dark),
  "xdark":   var(--tint-xdark),
  "2xdark":  var(--tint-2xdark),
  "3xdark":  var(--tint-3xdark),
);

/* Generate tint classes */
.tint {
  @include generate-classes($tints, 'background-color', 'tint', '-');
}


/* Text colors MAP */
/* ================================================== */
$text-colors: (
  "2xstrong": var(--text-2xstrong),
  "xstrong":  var(--text-xstrong),
  "strong":   var(--text-strong),
  "base":     var(--text-base),
  "mild":     var(--text-mild),
  "xmild":    var(--text-xmild),
  "2xmild":   var(--text-2xmild),
);

/* Generate text color classes */
.text {
  @include generate-classes($text-colors, 'color', 'text', '-');
  @include generate-classes($colors, 'color', 'color', '-');
}