/* ================================================== */
/* Gradients */
/* ================================================== */
.gradient-2xlight {
  background: linear-gradient(to top left,
    hsla(var(--neutral-90) / 0.8) 0%,
    hsla(var(--neutral-95) / 0.6) 60%,
    hsla(var(--neutral-98) / 0.3) 100%);
}

.gradient-xlight {
  background: linear-gradient(to top left,
    hsla(var(--neutral-70) / 0.8) 0%,
    hsla(var(--neutral-80) / 0.6) 60%,
    hsla(var(--neutral-90) / 0.3) 100%);
}

.gradient-light {
  background: linear-gradient(to top left,
    hsla(var(--neutral-50) / 0.8) 0%,
    hsla(var(--neutral-60) / 0.6) 60%,
    hsla(var(--neutral-70) / 0.3) 100%);
}

.gradient-dark {
  background: linear-gradient(to top left,
    hsla(var(--neutral-30) / 0.8) 0%,
    hsla(var(--neutral-40) / 0.6) 60%,
    hsla(var(--neutral-50) / 0.3) 100%);
}

.gradient-xdark {
  background: linear-gradient(to top left,
    hsla(var(--neutral-15) / 0.8) 0%,
    hsla(var(--neutral-20) / 0.6) 60%,
    hsla(var(--neutral-30) / 0.3) 100%);
}

.gradient-2xdark {
  background: linear-gradient(to top left,
    hsla(var(--neutral-5) / 0.8) 0%,
    hsla(var(--neutral-10) / 0.6) 60%,
    hsla(var(--neutral-15) / 0.3) 100%);
}