/* ================================================== */
/* Space */
@use "sass:map";
@use "breakpoint" as bp;
@use "z-index" as z;
/* ================================================== */

/* Dynamic T-shirt sizes */
/* ================================================== */
/* ✨ Config these values ✨ */
:root {
  /* 4px */
  --5xs: 0.25rem;

  /* 8px */
  --4xs: 0.5rem;

  /* 12px */
  --3xs: 0.75rem;

  /* 14px */
  --2xs: 0.875rem;

  /* 16px */
  --xs: 1rem;

  /* 16px → 24px */
  --sm: clamp(1rem, calc(2vw + 0.5rem), 1.5rem);

  /* 20px → 32px */
  --md: clamp(1.25rem, calc(2vw + 0.85rem), 2rem);

  /* 24px → 40px */
  --lg: clamp(1.5rem, calc(2vw + 1rem), 2.5rem);

  /* 28px → 48px */
  --xl: clamp(1.75rem, calc(2vw + 1.4rem), 3rem);

  /* 32px → 56px */
  --2xl: clamp(2rem, calc(2vw + 1.6rem), 3.5rem);

  /* 48px → 72px */
  --3xl: clamp(3rem, calc(2vw + 2.6rem), 4.5rem);

  /* 64px → 96px */
  --4xl: clamp(4rem, calc(2vw + 3.6rem), 6rem);

  /* 80px → 120px */
  --5xl: clamp(5rem, calc(2vw + 4.6rem), 7.5rem);


  /* 16px → 32px */
  --sm-md: clamp(1rem, calc(2vw + 0.5rem), 2rem);

  /* 20px → 40px */
  --md-lg: clamp(1.25rem, calc(2vw + 0.85rem), 2.5rem);

  /* 24px → 48px */
  --lg-xl: clamp(1.5rem, calc(2vw + 1rem), 3rem);

  /* 28px → 56px */
  --xl-2xl: clamp(1.75rem, calc(2vw + 1.4rem), 3.5rem);

  /* 32px → 72px */
  --2xl-3xl: clamp(2rem, calc(2vw + 1.6rem), 4.5rem);
}

/* T-shirt Size MAP */
/* ================================================== */
$sizes: (
  "5xs": --5xs,
  "4xs": --4xs,
  "3xs": --3xs,
  "2xs": --2xs,
  "xs": --xs,
  "sm": --sm,
  "md": --md,
  "lg": --lg,
  "xl": --xl,
  "2xl": --2xl,
  "3xl": --3xl,
  "4xl": --4xl,
  "5xl": --5xl,

  "sm-md": --sm-md,
  "md-lg": --md-lg,
  "lg-xl": --lg-xl,
  "xl-2xl": --xl-2xl,
  "2xl-3xl": --2xl-3xl,
);


html {
/* Container query padding / margin / gap */
  --space-q-sm: 4.5cqw;
  --space-q-md: 7cqw;
  --space-q-lg: 11cqw;

/* Ui height */
    --ui-h-xs: 1.75rem; /* 28px */
    --ui-h-sm: 2rem;    /* 32px */
    --ui-h-md: 2.25rem; /* 36px */
    --ui-h-lg: 2.75rem; /* 44px */
    --ui-h-xl: 3.25rem; /* 52px */

  @include bp.bp(sm) {
    --space-q-sm: 4cqw;
    --space-q-md: 6cqw;
    --space-q-lg: 10cqw;

    --ui-h-xs: 1.875rem; /* 30px */
    --ui-h-sm: 2.125rem; /* 34px */
    --ui-h-md: 2.375rem; /* 38px */
    --ui-h-lg: 2.875rem; /* 46px */
    --ui-h-xl: 3.375rem; /* 54px */
  }

  @include bp.bp(lg) {
    --ui-h-xs: 2rem;    /* 32px */
    --ui-h-sm: 2.25rem; /* 36px */
    --ui-h-md: 2.5rem;  /* 40px */
    --ui-h-lg: 3rem;    /* 48px */
    --ui-h-xl: 3.5rem;  /* 56px */
  }
}


/* ================================================== */
/* Moats */
/* ================================================== */
/* ℹ️ Add left-right padding starting from the breakpoint that matches the suffix */
/* e.g. moat-md will add padding from $bp-md and bigger */
/* 🚨 Moats must be used on the target element's parent! */
/* ℹ️ Moats center their children */
/* ℹ️ Moat suffix should to be smaller than or equal to it's child's max width */
/* e.g. <div class="moat-sm">
          <div class="w-md"></div>
        </div> */

/* Moat size variables */
/* ================================================== */
/* ✨ Config these values ✨ */
$moat-xs: 1rem; /* used by $bp-xs & $bp-sm & smaller */
$moat-md: 2rem; /* used by $bp-md & $bp-lg */
$moat-xl: 5rem; /* used by $bp-xl & bigger */

/* Moat classes */
/* ================================================== */
@mixin moat {
  z-index: z.z("section");
  display: grid;
  place-items: center;
  pointer-events: auto;
  z-index: z(section);
}

.moat-all {
  @include moat;
  padding-left: $moat-xs;
  padding-right: $moat-xs;

  @include bp.bp(md) {
    padding-left: $moat-md;
    padding-right: $moat-md;
  }

  @include bp.bp(xl) {
    padding-left: $moat-xl;
    padding-right: $moat-xl;
  }
}

.moat-xs {
  @include moat;
  padding-left: 0;
  padding-right: 0;

  @include bp.bp(xs) {
    padding-left: $moat-xs;
    padding-right: $moat-xs;
  }
}

.moat-sm {
  @include moat;
  padding-left: 0;
  padding-right: 0;

  @include bp.bp(sm) {
    padding-left: $moat-xs;
    padding-right: $moat-xs;
  }
}

.moat-md {
  @include moat;
  padding-left: 0;
  padding-right: 0;

  @include bp.bp(md) {
    padding-left: $moat-md;
    padding-right: $moat-md;
  }
}

.moat-lg {
  @include moat;
  padding-left: 0;
  padding-right: 0;

  @include bp.bp(lg) {
    padding-left: $moat-md;
    padding-right: $moat-md;
  }
}

.moat-xl {
  @include moat;
  padding-left: 0;
  padding-right: 0;

  @include bp.bp(xl) {
    padding-left: $moat-xl;
    padding-right: $moat-xl;
  }
}


/* ================================================== */
/* Width */
/* ================================================== */
/* ℹ️ Limit the maximum width of elements */
/* ℹ️ Fill 100% of parent's width up to suffix breakpoint */
/* ℹ️ Wrap with a moat classe to add left-right padding and center */

/* Breakpoint based max width */
/* ================================================== */
.w-xs { width: min(100%, bp.$bp-xs); }
.w-sm { width: min(100%, bp.$bp-sm); }
.w-md { width: min(100%, bp.$bp-md); }
.w-lg { width: min(100%, bp.$bp-lg); }
.w-xl { width: min(100%, bp.$bp-xl); }


/* ================================================== */
/* Spacing */
/* ================================================== */
.page-gap {
  --section-gap: 8rem;
  display: grid;
  gap: var(--section-gap);
  pointer-events: none;
  z-index: z(page);

  @include bp.bp(xs) {
    --section-gap: 10rem;
  }

  @include bp.bp(sm) {
    --section-gap: 12rem;
  }

  @include bp.bp(md) {
    --section-gap: 14rem;
  }

  @include bp.bp(lg) {
    --section-gap: 16rem;
  }

  @include bp.bp(xl) {
    --section-gap: 18rem;
  }
}


.section-gap {
  --section-gap: 5rem;
  display: grid;
  gap: var(--section-gap);
  pointer-events: none;
  z-index: z(section);

  @include bp.bp(xs) {
    --section-gap: 8rem;
  }

  @include bp.bp(sm) {
    --section-gap: 9rem;
  }

  @include bp.bp(md) {
    --section-gap: 10rem;
  }

  @include bp.bp(lg) {
    --section-gap: 11rem;
  }

  @include bp.bp(xl) {
    --section-gap: 12rem;
  }
}