/* ================================================== */
/* Text styles */
@use "sass:map";
@use "breakpoint" as *;
@use "text-config" as *;
/* ================================================== */

/* Body text */
/* ================================================== */
@mixin body($font-size: --text-sm) {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  font-size: var($font-size);
}

body,
p,
input,
textarea {
  @include body(--text-sm);
  line-height: $line-height-md;
  color: var(--text-base);
}

.text-max-w { max-width: 70ch; }

/* Titles */
/* ================================================== */
@mixin title($weight: $font-weight-md) {
  font-family: $font-family-title;
  font-weight: $weight;
  letter-spacing: $letter-spacing-sm;
  line-height: $line-height-title;
}

.title-thick { @include title($font-weight-lg); }
.title-reg { @include title($font-weight-md); }
.title-thin { @include title($font-weight-sm); }


/* Text styles */
/* ================================================== */
//h1
.title-1 {
  @include title($font-weight-md);
  font-size: var(--text-3xl);
  letter-spacing: $letter-spacing-xs;
  line-height: $line-height-sm;

  color: var(--text-strong);
  text-shadow: var(--text-sha-2xl);
}

// marquee-title h2
@mixin title-2($text-align: start) {
  @include title($font-weight-lg);
  font-size: var(--text-xl);
  letter-spacing: $letter-spacing-md;
  text-align: $text-align;

  color: var(--text-strong);
  text-shadow: var(--text-sha-2xl);
}

// card-title-lg h3
@mixin title-3($text-align: start) {
  @include title($font-weight-sm);
  font-size: var(--text-2xl);
  text-align: $text-align;

  text-shadow: var(--text-sha-lg);
}
.title-3 { @include title-3(center); }

//accordion-header h4
@mixin title-4($text-align: start) {
  @include title($font-weight-lg);
  text-align: $text-align;
  letter-spacing: $letter-spacing-md;
  font-size: var(--text-lg);

  color: var(--text-strong);
  text-shadow: var(--text-sha-xl);
}

@mixin title-reg($text-align: start, $font-size: --text-md) {
  @include title($font-weight-md);
  text-align: $text-align;
  letter-spacing: $letter-spacing-sm;
  font-size: var($font-size);
}

@mixin reg-title($text-align: center) {
  @include title($font-weight-md);
  font-size: var(--text-xl);
  text-align: $text-align;
  color: var(--text-base);
  text-shadow: var(--text-sha-md);
}

.small-title {
  @include title($font-weight-md);
  text-align: center;
  font-size: var(--text-xl);
  text-shadow: var(--text-sha-md);
  color: var(--text-base);
}

.card-subtitle {
  @include body(--text-sm);
  text-align: center;
  font-size: var(--text-sm);
  letter-spacing: $letter-spacing-xs;
  line-height: $line-height-sm;
  color: var(--text-mild);
  text-shadow: var(--text-sha-3xs);
}

.subhead {
  font-weight: $font-weight-md;
  font-size: var(--text-xs);
  letter-spacing: $letter-spacing-md;
  line-height: $line-height-md;
  color: var(--text-mild);
  text-shadow: var(--text-sha-2xs);
}

.eyebrow {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  font-size: var(--text-2xs);
  letter-spacing: $letter-spacing-lg;
  line-height: $line-height-sm;

  color: var(--text-mild);
  text-transform: uppercase;
  text-shadow: var(--text-sha-3xs);
}

@mixin super-wide($font-size: var(--text-xs), $maxSpace: 10px ) {
  font-family: $font-family-body;
  font-weight: 600;
  font-size: $font-size;
  letter-spacing: min(1vw, $maxSpace);
  text-transform: uppercase;
}


/* Labels */
/* ================================================== */
@mixin label($font-size: --text-sm) {
  font-family: $font-family-body;
  font-weight: $font-weight-xl;
  letter-spacing: $letter-spacing-sm;
  font-size: var($font-size);
  line-height: $line-height-sm;
}

.label-xs {
  @include label(--text-xs);
  text-shadow: var(--text-sha-xs);
}

.label-sm {
  @include label(--text-sm);
  text-shadow: var(--text-sha-sm);
}

.label-md {
  @include label(--text-md);
  text-shadow: var(--text-sha-md);
}
