/* ================================================== */
/* Text */
@use 'sass:map';
@use "../2-util/mixin" as mix;
/* ================================================== */

/* font-family: ✨ Config these values */
/* ================================================== */
/* ℹ️ Link your fonts in <head> of index.html */
$font-family-title: ('Poppins', 'Arial', sans-serif);
$font-family-body: ('Nunito Sans', 'Arial', sans-serif);
$font-family-code: ('Fragment Mono', 'Courier', monospace);

/* letter-spacing: ✨ Config these values */
/* ================================================== */
$letter-spacing-2xs: -0.01em;
$letter-spacing-xs: -0.005em;
$letter-spacing-sm: 0.01em;
$letter-spacing-md: 0.02em;
$letter-spacing-lg: 0.04em;
$letter-spacing-xl: 1vw;

/* line-height: ✨ Config these values */
/* ================================================== */
$line-height-title: calc(0.125em + 1.5ex + 0.125em);
$line-height-sm: calc(0.125em + 2.25ex + 0.125em);
$line-height-md: calc(0.125em + 2.5ex + 0.125em);
$line-height-lg: calc(0.125em + 2.75ex + 0.125em);

/* font-weight: ✨ Config these values */
/* ================================================== */
$font-weight-sm: 200;
$font-weight-md: 300;
$font-weight-lg: 400;
$font-weight-xl: 500;

/* font-size: ✨ Config these values */
/* ================================================== */
/* https://modern-fluid-typography.vercel.app/ */
:root {
  --text-2xs: clamp(0.75rem, 4vw - 1.5rem, 0.8rem);
  --text-xs: clamp(0.875rem, 4vw - 1rem, 0.9rem);
  --text-sm: clamp(1rem, 0.13vw + 1rem, 1.125rem);
  --text-md: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
  --text-lg: clamp(1.375rem, 1.3vw + 1rem, 1.75rem);
  --text-xl: clamp(1.5rem, 1.7vw + 1rem, 2rem);
  --text-2xl: clamp(2rem, calc(2vw + 1.5rem), 2.75rem);
  --text-3xl: clamp(2.25rem, 3.8vw + 1rem, 3.25rem);
}

/* Text size MAP */
/* ================================================== */
/* Update if you add/remove/edit names of fluid font-sizes above */
$text-sizes: (
  "2xs":  var(--text-2xs),
  "xs":  var(--text-xs),
  "sm":  var(--text-sm),
  "md":  var(--text-md),
  "lg":  var(--text-lg),
  "xl":  var(--text-xl),
  "2xl":  var(--text-2xl),
  "3xl":  var(--text-3xl),
);

/* Generate text size classes */
.text {
  @include mix.generate-classes($text-sizes, 'font-size', 'text', '-');
}
