/* ================================================== */
/* Grid | Flex-box | Gap */
@use "sass:map";
@use "mixin" as *;
/* ================================================== */

/* ================================================== */
/* Gap classes */
/* ================================================== */
.gap { @include size-modifiers('gap'); }


/* ================================================== */
/* flex-box */
/* ================================================== */
.flex {
  display: flex;
}

/* flex center x & y */
@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-c {
  @include flex-c;
}

/* flex-direction: */
/* ================================================== */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.justify-row {
  display: flex;
  flex-direction: row;
}

.justify-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

/* flex-wrap: */
/* ================================================== */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap-rev {
  display: flex;
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

/* justify-content: */
/* ================================================== */
.justify-l {
  display: flex;
  justify-content: flex-start;
}

.justify-r {
  display: flex;
  justify-content: flex-end;
}

.justify-c {
  display: flex;
  justify-content: center;
}

.justify-sb {
  display: flex;
  justify-content: space-between;
}

.justify-sa {
  display: flex;
  justify-content: space-around;
}

.justify-se {
  display: flex;
  justify-content: space-evenly;
}

/* align-items: */
/* ================================================== */
.align-items-t {
  display: flex;
  align-items: flex-start;
}

.align-items-c {
  display: flex;
  align-items: center;
}

.align-items-b {
  display: flex;
  align-items: flex-end;
}

.align-items-s {
  display: flex;
  align-items: stretch;
}

/* For multi-line flex-wrap */
/* ================================================== */
.align-content-c {
  display: flex;
  align-content: center;
}

.align-content-sb {
  display: flex;
  align-content: space-between;
}

.align-content-sa {
  display: flex;
  align-content: space-around;
}

.align-content-se {
  display: flex;
  align-content: space-evenly;
}

/* For flex items */
/* ================================================== */
.align-self-t {
  align-self: flex-start;
}

.align-self-c {
  align-self: center;
}

.align-self-b {
  align-self: flex-end;
}

.align-self-s {
  align-self: stretch;
}

/* ================================================== */
/* Grid */
/* ================================================== */
.grid {
  display: grid;
}

/* grid center x & y */
@mixin grid-c {
  display: grid;
  place-items: center;
}
.grid-c {
  @include grid-c;
}

.grid-content-c {
  display: grid;
  place-content: center;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* auto-fill */
/* Fills the row with as many columns as it can fit. So it creates implicit columns. */
.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

/* auto-fit */
/* Fits the columns it has into the space by expanding them. */
.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* Properties for Grid Items */
/* ================================================== */
.place-self-c {
  place-self: center;
}

.place-self-s {
  place-self: stretch;
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}

.span-9 {
  grid-column: span 9;
}

.span-10 {
  grid-column: span 10;
}

.span-11 {
  grid-column: span 11;
}

.span-12 {
  grid-column: span 12;
}
