/* ================================================== */
/* Layout helpers */
/* ================================================== */


/* Generic container query */
/* ================================================== */
.container-q {
  container-type: inline-size;
}


/* width / height */
/* ================================================== */
.w-100 { width: 100%; }

.w-fit { width: fit-content; }
.w-fit-max { width: max-content; }
.w-500 { width: min(100%, 500px); }


.h-100vh { min-height: 100vh; }
.h-100 {
  height: 100%;
  min-height: fit-content;
}

.h-75vh { min-height: 75vh; }

.h-50vh { min-height: 50vh; }
.h-200 { min-height: 200px; }

.cube-150 {
  width: 150px;
  aspect-ratio: 1;
}

.size-48 {
  width: 48px;
  aspect-ratio: 1;
}



.size-100 { width: min(100%, 100px); }
.size-200 { width: min(100%, 200px); }
.size-300 { width: min(100%, 300px); }
.size-500 { width: min(100%, 500px); }
.size-600 { width: min(100%, 600px); }
.size-700 { width: min(100%, 700px); }



/* Display */
/* ================================================== */
.block { display: block; }

.inline { display: inline; }

.inlineblock { display: inline-block; }

.hidden { display: none; }

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.ratio-4-3 {
  aspect-ratio: 4 / 3;
}

.ratio-16-9 {
  aspect-ratio: 16 / 9;
}

/* Sidescroll */
/* ================================================== */
.sidescroll-bin {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    overflow-x: scroll;
  }
}

.sidescroll { flex: 0 0 auto; }


/* Spacing */
/* ================================================== */
.m-auto-x {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Other */
/* ================================================== */
@mixin pseudo {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
}