/* ================================================== */
/* Layout helpers */
/* ================================================== */

/* width */
/* ================================================== */
.w-100 { width: 100%; }
.w-fit { width: fit-content; }
.w-fit-max { width: max-content; }
.w-fit-min { width: min-content; }


/* Display */
/* ================================================== */
.block { display: block; }

.inline { display: inline; }

.inlineblock { display: inline-block; }

.hidden { display: none; }

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}


/* Aspect-ratio */
/* ================================================== */
.ratio-1 { aspect-ratio: 1; }

.ratio-4-3 { aspect-ratio: 4 / 3; }

.ratio-16-9 { aspect-ratio: 16 / 9; }

/* Sidescroll */
/* ================================================== */
.sidescroll-bin {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    overflow-x: scroll;
  }
}

.sidescroll { flex: 0 0 auto; }

/* Other */
/* ================================================== */
@mixin pseudo {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
}

.no-pointer { pointer-events: none; }

.overflow-hidden { overflow: hidden; }