/* ================================================== */
/* Border Radius */
@use "../1-custom-styles/space" as *;
@use "mixin" as mix;
/* ================================================== */

/* Border radius classes */
/* ================================================== */
.radius {
  @include mix.size-modifiers('border-radius') {
    overflow: hidden;
  }
}


/* Conditional border-radius */
/* ================================================== */
@mixin radius($key) {
  @if not map-has-key($sizes, $key) {
    @warn "Warning: `#{$key}` is not a valid T-shirt size. Select from: #{$sizes}";
  } @else {
        border-radius: max(0px, min(var(--#{$key}), calc((100vw - 16px - 100%) * 9999))) / var(--#{$key});
    overflow: hidden;
  }
}


/* Nested border radius */
/* ================================================== */
@mixin outer-radius ($inner-radius, $padding) {
  $r: calc($inner-radius + $padding);
  $f: calc(($r * 3) / 100);
  $br: calc($r - $f);

  border-radius: $br;
}


.radius-round {
  border-radius: 9999px;
  overflow: hidden;
}