/* ================================================== */
/* Demo site home page */
@use "../custom" as *;
/* ================================================== */

body {
  position: relative;
}

.page-bg-bin {
  z-index: -10;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  background-color: var(--page-bg);
  clip-path: inset(0);
  pointer-events: none;
  will-change: scroll-position;
}

.page-bg-img {
  z-index: -9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  inset: 0;
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  object-fit: cover;
  object-position: top;
  pointer-events: none;
}

.body-grid {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  // overflow: hidden;
  pointer-events: auto;
}

.content-bin {
  display: block;
  height: fit-content;
  z-index: z(page);
}