/* ================================================== */
/* Demo site home page */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "../components" as *;
/* ================================================== */

.page-bg-bin {
  position: relative;
  display: block;
  z-index: -10;
}

.page-bg-img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -9;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: block;

  object-fit: cover;
  background-color: var(--page-bg);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  pointer-events: none;
}

.body-grid {
  min-height: 100vh;
  height: fit-content;
  display: grid;
  // overflow: hidden;
}

.content-bin {
  display: block;
  height: fit-content;
  z-index: z(page);
}