/* ================================================== */
/* Demo site home page */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "../components" as *;
/* ================================================== */

.page-bg_bin {
  position: relative;
  display: block;
  z-index: -10;
}

.page-bg-img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -9;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: block;

  object-fit: cover;
  background-color: var(--page-bg);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  pointer-events: none;
}

.body_grid {
  min-height: 100vh;
  height: fit-content;
  display: grid;
  // overflow: hidden;
}

.content_bin {
  display: block;
  height: fit-content;
  z-index: z(page);
}



/*  Insets demo */
/* ================================================== */
.inset-rect {
  // width: min(100%, 380px);
  // width: 100%;
  border-radius: var(--xs);
  background-color: var(--inset-bg--base);
}




.heading--lg {
  @include title--thin;
  font-size: var(--text--lg);
  // color: var(--color--gray);
  color: var(--text--strong);
  text-shadow: var(--text-sha--sm);
}

.heading-bg--lg {
  min-width: fit-content;
  max-width: 100%;
  width: 50%;
  display: grid;
  place-self: center end;
  border-radius: var(--sm) 0 0 var(--sm);
  box-shadow: var(--sha--2xl);

  @include glass.glass-no-bevel;
  background-color: var(--tint--xdark);
  padding: var(--xs) 0;
  // margin-bottom: var(--2xl);

  @include bp(lg) {
    width: 40%;
  }

  & > .heading--lg {
    padding-left: var(--moat);
    padding-right: var(--moat);
  }
}

.heading--xl {
  @include title--thick;
  font-size: var(--text--xl);
  font-weight: $font-weight--md;
  color: var(--text--xstrong);
  text-shadow: var(--text-sha--md);
}

.heading-bg--xl {
  width: 100%;
  display: grid;
  place-items: center;
  @include glass.glass-no-bevel;
  background-color: var(--tint--clear);
  padding: var(--md) var(--moat);
  margin-top: var(--4xl);
  margin-bottom: var(--4xl);
  box-shadow: var(--sha--xs);

  @include bp(xs) {
    min-width: calc(100vw - var(--moat));
    width: fit-content;

    border-radius: 0 var(--sm) var(--sm) 0;
    display: flex;
    justify-self: flex-start;
  }

  @include bp(lg) {
    min-width: 75%;
    box-shadow: var(--sha--lg);
  }

  @include bp(xl) {
    min-width: 35%;

    border-radius: 0 var(--md) var(--md) 0;
  }

  & > .big-title {
    width: 100%;
    text-align: end;

    @include bp(lg) {
      padding-left: 0;
      padding-right: 0;
    }

    @include bp(xl) {
      padding-left: 0;
      padding-right: var(--moat);
    }
  }

}


.stamp {
  width: clamp(120px, 150px, 180px);
  aspect-ratio : 1 / 1;
  overflow: hidden;
  border-radius: var(--sm);
  object-fit: cover;
  object-position: center;
  opacity: 0.85;
}