/* ================================================== */
/* Layout prefabs */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "../components" as *;
/* ================================================== */

.rect-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  aspect-ratio : 2 / 1;
  border-radius: var(--sm);
  padding: var(--xl) var(--xl);

  @include bp(xs) {

    max-width: 175px;
    padding: var(--2xs);
  }

  @include bp(md) {
    border-radius: var(--md);
    max-width: 200px;
  }

  @include bp(lg) {
    width: 300px;
  }
}

/* Bento grid */
/* ================================================== */
.bento-1to3-sm {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--lg);

  @include bp(xs) {
    gap: var(--xl);
  }
}

.bento-rect-sm {
  max-width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  aspect-ratio : 4 / 1;
  border-radius: var(--sm);
  padding: var(--2xl) var(--lg);
  box-shadow: var(--sha-sm);

  @include bp(xs) {
    border-radius: var(--md);
  }

  @include bp(sm) {
    aspect-ratio : 1 / 1;
    justify-content: center;
    padding: var(--md);
    max-width: 180px;
  }

  @include bp(md) {
    width: 200px;
    padding: var(--xl);
  }
}


.bento-1to3-md {
  max-width: 100%;
  // width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--xl);

  // @include bp(md) {
  //   grid-template-columns: 1fr 1fr;
  // }

  // @include bp(lg) {
  //   grid-template-columns: 1fr 1fr 1fr;
  //   gap: var(--lg);
  // }
}

.bento-rect-md {
  max-width: 100%;
  min-width: fit-content;
  max-height: 150px;

  display: flex;
  justify-content: start;
  align-items: center;
  aspect-ratio : 2 / 1;
  border-radius: var(--md);
  padding: var(--2xl) var(--lg);
  box-shadow: var(--sha-md);

  @include bp(sm) {
    max-height: 200px;
    justify-content: center;
    aspect-ratio : 1 / 1;
    padding: var(--md);
    flex: 1;
    padding: var(--2xl);
  }
}




.bento-2to3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: var(--md);

  @include bp(sm) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include bp(md) {
    gap: var(--xl);
  }

  @include bp(lg) {
    gap: var(--2xl);
  }
}

.bento-1to5 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: var(--md);

  @include bp(xs) {
    grid-template-columns: 1fr 1fr;
  }

  @include bp(sm) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include bp(md) {
    gap: var(--lg);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include bp(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


.wrap-2 {
  width: 100%;
  gap: var(--sm);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  &:nth-child(1) {
    grid-column: 1/2;
  }

  &:nth-child(2) {
    grid-column: 1/2;
  }

  @include bp(sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--md);

    &:nth-child(1) {
      grid-column: 1/2;
    }

    &:nth-child(2) {
      grid-column: 2/3;
    }
  }

  @include bp(lg) {
    gap: var(--xl);
  }
}



/* Telescope rect glass demo */
.telescope-rect-bin {
  border-radius: var(--xl);
  min-width: 280px;
  width: 100%;
  height: 450px;

  @include bp(sm) {
    height: 600px;
  }

  @include bp(lg) {
    height: 620px;
  }

  & > div {
    box-shadow: var(--sha-sm);
  }
}

.telescope-rect {
  min-width: fit-content;
  padding: 4.5%;
  overflow: visible;
  box-shadow: var(--sha-3xs);

  @include bp(md) {
    will-change: padding;
    transition: padding cubic-bezier(0.46, 0.43, 0.1, 0.99) 100ms;
    padding: 6% 4% 4% 12%;

    &:hover {
      padding: 4.5%;
    }
  }

  & > p {
    padding: var(--2xs) 0;
    pointer-events: none;
  }
}


.big-title-bg {
  width: 100%;
  display: flex;
  justify-self: center;
  padding: var(--sm);
  margin-top: var(--nav-h);
  margin-bottom: 2rem;

  @include glass.glass-no-bevel;
  background-color: var(--tint-clear);
  box-shadow: var(--sha-sm);

  @include bp(sm) {
    justify-self: flex-start;
    width: calc(100vw - var(--lg));
    border-radius: 0 var(--sm) var(--sm) 0;
  }

  @include bp(sm) {
    margin-bottom: 6rem;
  }

  @include bp(lg) {
    margin-bottom: 8rem;
  }

  @include bp(xl) {
    width: fit-content;
  }

  & > .big-title {
    width: 100%;
    text-align: end;

    @include bp(xl) {
      width: 90vw;
    }
  }
}


.stamp {
  width: clamp(120px, 150px, 180px);
  aspect-ratio : 1 / 1;
  overflow: hidden;
  border-radius: var(--sm);
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
  box-shadow: var(--sha-sm);
}