/* ================================== */
/* Animation */
@use "../0-base/breakpoint" as bp;
/* ================================== */

$speed-2xslow: 1200ms;
$speed-xslow: 7500ms;
$speed-slow:  500ms;
$speed-reg:   400ms;
$speed-fast:  300ms;
$speed-xfast: 200ms;
$speed-2xfast: 100ms;


// html.root-transition,
// html.root-transition *,
// html.root-transition *:before,
// html.root-transition *:after {
//   transition: all 750ms !important;
//   transition-delay: 0 !important;
// }

.perspective-bin {
  position: relative;
  perspective: 2500px;
  // width:30rem;
  // height:30rem;
  width: 100%;
  height: 100%;
  // border:3px solid #ccc;
  padding: 2rem;
  margin: var(--nav-h) auto 0 auto;
  gap: var(--sm);
  align-items: end;
  align-content:end;
  // align-content: space-around;
  justify-content: space-around;
}

.perspective {
  width: fit-content;
  height: fit-content;
  display: grid;
  gap: var(--sm);
  place-items: center;
  padding: var(--sm);

  transform: perspective(2000px) rotateY(20deg) rotateX(20deg) rotateZ(-10deg);

  transition: transform 800ms ease;

  &:hover {
    transform: perspective(2000px) rotateY(15deg) rotateX(10deg) rotateZ(-5deg) translateX(15px);
  }
}


// .slid-down {
//   transform-origin : 100% 0 0 scaleY(2);
// }

