/* ================================== */
/* Borders */
@use "../0-base/breakpoint" as br;
@use "../0-base/size";
/* ================================== */

/* border-radius: */
$br-xs: size.$s-3xs;
$br-sm: size.$s-2xs;
$br-md: size.$s-xs;
$br-lg: size.$s-md;
$br-xl: size.$s-xl;
$round: 9999px;
