/* ================================== */
/* Borders */
@use "../0-base/color";
@use "../0-base/size";
@use "bevel";
/* ================================== */

$round: 9999px;

.radius-round {
  border-radius: $round;
  overflow: hidden;
}

/* Border radius classes */
/* ================================== */
// * Generates a class for every T-shirt size
// * T-shirt size values scale with viewport width
.radius {
  @include size.size-modifiers('border-radius') {
    overflow: hidden;
  }
}

@mixin vw-radius-modifier($property) {
  @each $key, $value in size.$sizes {
    &-#{$key} {
      #{$property}: clamp(0px, ((100vw - 4px) - 100%) * 9999, var($value));
      overflow: hidden;
    }
  }
}

.vw-radius {
  @include vw-radius-modifier('border-radius');
}

/* Radius toggle */
//remove border radius if element width = 100vw
// border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, *max size goes here*);




/* Nested border radius */
/* ================================== */
@mixin outer-br ($inner-br, $padding) {
  $r: calc($inner-br + $padding);
  $f: calc(($r * 3) / 100);
  $br: calc($r - $f);

  border-radius: $br;
}

/* Outlines & borders */
/* ================================== */
.outline-thin-light {
  box-shadow: bevel.$bevel-lg;
  outline: 1px solid oklch(color.$light / 0.15);
  outline-offset: -1px;
}

$thin-xlight: 1px solid var(--tint-xlight);