/* ================================== */
/* Borders */
@use "../0-base/size";
/* ================================== */

$round: 9999px;

.br {
  @include size.size-modifiers('border-radius');
  overflow: hidden;
}

.br-round {
  border-radius: $round;
  overflow: hidden;
}

/* border-radiu mixin using size MAP values */
@mixin br($t-shirt) {
  @if not map-has-key(size.$sizes, $t-shirt) {
    @warn "Warning: `#{$t-shirt}` is not a valid size value. Check _size.SCSS for a list of valid values.";
  } @else {
    border-radius: map-get(size.$sizes, $t-shirt);
    overflow: hidden;
  }
}

/* Nested border radius */  
/* ================================== */
@mixin outer-br ($inner-br, $padding) {
  $r: calc($inner-br + $padding);
  $f: calc(($r * 23) / 100);
  $br: calc($r - $f);

  border-radius: $br;
}
