/* ================================== */
/* Fill */
@use "../0-base/color";
@use "../0-base/breakpoint" as bp;
@use "../0-base/size";
/* ================================== */

/* Noise textures */
/* ================================== */
// * Noise .png generator: https://devsdash.com/tools/noise-texture-generator

@mixin noise {
  background-image: url(/assets/textures/noise-texture-white-100den-10op-500x500.png), url(/assets/textures/noise-texture-black-100den-10op-500x500.png);
}

@mixin noise-sm {
  @include noise;
  background-size: 20px;
  background-repeat: repeat;
}

@mixin noise-md {
  @include noise;
  background-size: 100px;
  background-repeat: repeat;
}

@mixin noise-lg {
  @include noise;
  background-size: 200px;
  background-repeat: repeat;
}


/* Glass tint list */
/* ================================== */
//TODO
$tints:
  "xlight",
  "light",
  "reg",
  "dark",
  "xdark";


/* Glass Filter mixins */
/* ================================== */
$satu: 1.3;

:root {
  --blur: 28px;

  @include bp.bp(md) {
    --blur: 40px;
  }

  @include bp.bp(lg) {
    --blur: 64px;
  }
}

@mixin filter-xlight {
  $bright: 1.2;
  -webkit-backdrop-filter:  blur(var(--blur)) brightness($bright) saturate($satu);
  backdrop-filter: blur(var(--blur)) brightness($bright) saturate($satu);
}

@mixin filter-light {
  $bright: 1.1;
  -webkit-backdrop-filter:  blur(var(--blur)) brightness($bright) saturate($satu);
  backdrop-filter: blur(var(--blur)) brightness($bright) saturate($satu);
}

@mixin filter-reg {
  $bright: 0.95;
  -webkit-backdrop-filter:  blur(var(--blur)) brightness($bright) saturate($satu);
  backdrop-filter: blur(var(--blur)) brightness($bright) saturate($satu);
}

@mixin filter-dark {
  $bright: 0.85;
  -webkit-backdrop-filter:  blur(var(--blur)) brightness($bright) saturate($satu);
  backdrop-filter: blur(var(--blur)) brightness($bright) saturate($satu);
}

@mixin filter-xdark {
  $bright: 0.7;
  -webkit-backdrop-filter: blur(var(--blur)) brightness($bright)  saturate($satu);
  backdrop-filter: blur(var(--blur)) brightness($bright) saturate($satu);
}

/* Glass filter classes */
/* ================================== */
.filter-xlight {
  @include filter-xlight;
}

.filter-light {
  @include filter-light;
}

.filter-reg {
  @include filter-reg;
}

.filter-dark{
  @include filter-dark;
}

.filter-xdark{
  @include filter-xdark;
}


/* Glass Fill mixins */
/* ================================== */
@mixin fill-xlight {
  background-color: color.$tint-xlight;
  @include filter-xlight;
}

@mixin fill-light {
  background-color: color.$tint-light;
  @include filter-light;
}

@mixin fill-reg {
  background-color: color.$tint-reg;
  @include filter-reg;
}

@mixin fill-dark {
  background-color: color.$tint-dark;
  @include filter-dark;
}

@mixin fill-xdark {
  background-color: color.$tint-xdark;
  @include filter-xdark;
}

/* Glass fill classes */
/* ================================== */
.fill-xlight {
  @include fill-xlight;
}

.fill-light {
  @include fill-light;
}

.fill-reg {
  @include fill-reg;
}

.fill-dark {
  @include fill-dark;
}

.fill-xdark { 
  @include fill-xdark;
}