/* ================================== */
/* Fill */
@use "../0-base/color" as *;
/* ================================== */

/* Noise textures */
/* ================================== */
/* Noise generator: https://devsdash.com/tools/noise-texture-generator */

@mixin noise {
  background-image: url(/assets/textures/noise-texture-100x100.png); 
  // background-image: url(/assets/textures/noise-texture-500x500.png); 
  background-size: 50px;
  background-repeat: repeat;
}

@mixin noise-sm {
  background-image: url(/assets/textures/noise-texture-100x100.png); 
  // background-image: url(/assets/textures/noise-texture-500x500.png); 
  background-size: 50px;
  background-repeat: repeat;
}

/* Glass tints */
/* ================================== */
/* edit colors in _color.SCSS */

.glass-tint-xlight {
  background-color: $glass-xlight;
}

.glass-tint-light {
  background-color: $glass-light;
}

.glass-tint-reg {
  background-color: $glass-reg;
}

.glass-tint-dark {
  background-color: $glass-dark;
}

.glass-tint-xdark {
  background-color: $glass-xdark;
}

/* Glass Filters */
/* ================================== */
$blur: 1.5rem;
$satu: 3.5;

@mixin glass-filter-xlight {
  $bright-xlight: 0.98;
  -webkit-backdrop-filter:  blur($blur) brightness($bright-xlight) saturate($satu);
  backdrop-filter: blur($blur) brightness($bright-xlight) saturate($satu);
}

@mixin glass-filter-light {
  $bright-light: 0.95;
  -webkit-backdrop-filter:  blur($blur) brightness($bright-light) saturate($satu);
  backdrop-filter: blur($blur) brightness($bright-light) saturate($satu);
}

@mixin glass-filter-reg {
  $bright-reg: 0.92;
  -webkit-backdrop-filter:  blur($blur) brightness($bright-reg) saturate($satu);
  backdrop-filter: blur($blur) brightness($bright-reg) saturate($satu);
}

@mixin glass-filter-dark {
  $bright-dark: 0.85;
  -webkit-backdrop-filter:  blur($blur) brightness($bright-dark) saturate($satu);
  backdrop-filter: blur($blur) brightness($bright-dark) saturate($satu);
}

@mixin glass-filter-xdark {
  $bright-xdark: 0.4;
  -webkit-backdrop-filter: blur($blur) brightness($bright-xdark)  saturate(0.8);
  backdrop-filter: blur($blur) brightness($bright-xdark) saturate(0.8);
}

.glass-filter-xlight {
  @include glass-filter-xlight;
}

.glass-filter-light {
  @include glass-filter-light;
}

.glass-filter-reg {
  @include glass-filter-reg;
}

.glass-filter-dark{
  @include glass-filter-dark;
}

.glass-filter-xdark{
  @include glass-filter-xdark;
}


/* Glass Fills */
/* ================================== */
@mixin glass-fill-xlight {
  background-color: $glass-xlight;
  @include glass-filter-xlight;
}

@mixin glass-fill-light {
  background-color: $glass-light;
  @include glass-filter-light;
}

@mixin glass-fill-reg {
  background-color: $glass-reg;
  @include glass-filter-reg;
}

@mixin glass-fill-dark {
  background-color: $glass-dark;
  @include glass-filter-dark;
}

@mixin glass-fill-xdark {
  background-color: $glass-xdark;
  @include glass-filter-xdark;
}

.glass-fill-xlight {
  @include glass-fill-xlight;
}

.glass-fill-light {
  @include glass-fill-light;
}

.glass-fill-reg {
  @include glass-fill-reg;
}

.glass-fill-dark {
  @include glass-fill-dark;
}

.glass-fill-xdark { 
  @include glass-fill-xdark;
}



// // Blur & Dark fill 
// /* ================================== */
// @mixin blur-dark-mild {
//   background-color: rgba($shadow-color, 0.05);
//   -webkit-backdrop-filter: blur(10vw) brightness(0.92) saturate(1.4);
//   backdrop-filter: blur(10vw) brightness(0.92) saturate(1.4);
// }

// @mixin blur-dark-reg {
//   background-color: rgba($shadow-color, 0.08);
//   -webkit-backdrop-filter:  blur(4vw) brightness(0.92) saturate($satu);
//   backdrop-filter: blur(4vw) brightness(0.92) saturate($satu);
// }

// @mixin blur-dark-strong {
//   background-color: rgba($shadow-color, 0.5);
//   -webkit-backdrop-filter: blur(10vw) brightness(0.5) saturate(1.8);
//   backdrop-filter: blur(32px) brightness(0.4) saturate(1.8);
// }
