/* ================================== */
/* Glass */
@use "../0-base/color" as *;
@use "../0-base/breakpoint" as bp;
@use "../1-layout/help" as *;
@use "../1-layout/z-index" as z;
@use "animation" as ani;
@use "bevel";
@use "fill";
@use "shadow" as sha;

/* ================================== */



.bg-glass-reg {
  position: relative;
  overflow: hidden;

  &::after {
    @include pseudo;
    z-index: -1;
    box-shadow: bevel.$bevel-md;
    @include fill.noise;
    @include fill.glass-fill-reg;
  }
}

// .bg-glass-dark {
//   position: relative;
//   overflow: hidden;
//   @include fill.noise;

//   &::after {
//     @include pseudo;
//     z-index: -1;

//     box-shadow: bevel.$bevel-md;
//     @include fill.noise-dark;
//     @include fill.glass-fill-dark;
//   }
// }

// .bg-glass-xdark {


//   &::after {
//     @include fill.glass-fill-xdark;
//   }
// }

.demo-glass {
  position: relative;
  overflow: hidden;

  // box-shadow: 
  //     2px 1.5px 3.5px -0.5px rgba(0, 10, 30, 0.08),
  //     4px 3px 7px -1px rgba(0, 10, 30, 0.1),
  //     16px 12px 24px -1.5px rgba(0, 10, 30, 0.12),
  //     0 0 0.2px rgba(0, 10, 30, 0.08);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    z-index: -2;
    overflow: hidden;

    -webkit-backdrop-filter:  blur(64px) brightness(0.95) saturate(1.1);
    backdrop-filter: blur(64px) brightness(0.95) saturate(1.1);;

    background-color: rgba(0, 10, 30, 0.1);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    overflow: hidden;
    z-index: -1;

    box-shadow: 
      inset 1.2px 1.2px 0.4px rgba(245, 252, 255, 0.15), //top-left bevel
      inset 2px 2px 1px -2.4px rgba(245, 252, 255, 0.6), //top-left specular highlight
      inset -2px -2px 0.4px -2.4px rgba(245, 252, 255, 0.15), //bottom-right specular
      inset 0.2px -0.5px 0.5px -0.4px rgba(245, 252, 255, 0.1); //bottom thin highlight

    background-image: url(/assets/textures/noise-texture-500x500.png); 
    background-size: 100px;
    background-repeat: repeat;
  }
}

.bg-glass-dark-no-bevel {
  position: relative;
  overflow: hidden;
  @include fill.noise;

  &::after {
    @include pseudo;
    z-index: -1;

    box-shadow: bevel.$bevel-sm;
    @include fill.noise-dark;
    @include fill.glass-fill-dark;
  }

  @include bp.bp(md) {
    &::after {
      box-shadow: bevel.$bevel-md;
    }
  }
}

.btn2-glass {
  position: relative;
  overflow: hidden;
  box-shadow: sha.$sha-xs;
  background-color: transparent;
  transition: background-color ani.$speed-slow ease-out;

  &::after {
    @include pseudo;
    z-index: -1;
    box-shadow: bevel.$bevel-sm;
    @include fill.noise-sm;
    @include fill.glass-fill-dark;
  }

  &:hover {
    background-color: $btn1-hover;
  }

  &:active {
    background-color: $btn1-active;
  }
}

//Primary btn glass
// .btn1-glass {
//   position: relative;
//   overflow: hidden;
//   box-shadow: sha.$sha-xs;
//   transition: background-color ani.$speed-slow ease-out;

//   &::after {
//     @include pseudo;
//     z-index: -1;

//     background-color: $btn1-rest;
//     box-shadow: bevel.$bevel-sm;
//     @include fill.noise-dark-sm;
//     @include fill.glass-filter-reg;
//   }
 
//   &:hover {
//     background-color: $btn1-hover;
//   }

//   &:active {
//     background-color: $btn1-active;
//   }
// }

//Secondary btn glass
// .btn2-glass {
//   position: relative;
//   overflow: hidden;
//   box-shadow: sha.$sha-2xs;
//   transition: background-color ani.$speed-slow ease-out;

//   &::after {
//     @include pseudo;
//     z-index: -1;

//     background-color: $btn2-rest;
//     box-shadow: bevel.$bevel-sm;
//     @include fill.noise-dark-sm;
//     @include fill.glass-filter-reg;
//   }

//   &:hover {
//     background-color: $btn2-hover;
//   }

//   &:active {
//     background-color: $btn2-active;
//   }
// }



// @mixin bg-glass {
//   position: relative;
//   overflow: hidden;
  
//   ::after {
//     @include pseudo;
//     z-index: -1;
//     @include fill.noise;
//   }
// }

// .bg-glass {
//   @include bg-glass;
// }