/* ================================== */
/* Glass */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../1-layout/help";
@use "animation" as ani;
@use "bevel";
@use "fill";
@use "shadow" as sha;
/* ================================== */


/* Glass base */
/* ================================== */
@mixin glass-base {
  position: relative;

  &::before {
    @include help.pseudo;
    z-index: -2;
    @include fill.noise-md;
    box-shadow: bevel.$bevel-md;
    @content;

    @include bp.bp(md) {
      box-shadow: bevel.$bevel-lg;
    }
  }
}

.glass-base {
  @include glass-base;
}

.glass-reg {
  @include fill.fill-reg;
  @include glass-base;
}

/* The main glass with the bevel removed when the layout switches to edge-to-edge on mobile */
/* ================================== */
@mixin glass--no-bevel-mobile {
  @include glass-base {
    box-shadow: none;
  }
}

.glass--no-bevel-mobile {
  @include glass--no-bevel-mobile;
}

/* The main glass but without a bevel */
/* ================================== */
@mixin glass--no-bevel {
  position: relative;

  &::before {
    @include help.pseudo;
    z-index: -2;
    @include fill.noise-md;
  }
}

.glass--no-bevel {
  @include glass--no-bevel;
}


/* Clear 3D button glass */
/* ================================== */
@mixin btn-glass-clear {
  position: relative;
  transition: 
    background-color ani.$speed-slow ease,
    color ani.$speed-slow ease;
  z-index: 20;
  @include fill.glass-filter;
  background-color: color.$tint-clear;

  &::after {
    @include help.pseudo;
    z-index: -1;

    @include fill.noise-sm;
    box-shadow: bevel.$bevel-sm;
  }

  &:hover {
    background-color: color.$tint-light;
    color: color.$text-light-bold;
  }

  &:active {
    background-color: color.$tint-xlight;
    color: color.$text-dark-reg;
  }
}

.btn-glass-clear {
  @include btn-glass-clear;
}


/* Light 3D button glass */
/* ================================== */
@mixin btn-glass-light {
  position: relative;
  // box-shadow: sha.$sha-sm;
  transition: 
    background-color ani.$speed-slow ease,
    color ani.$speed-slow ease;
  z-index: 20;
  @include fill.glass-filter;
  background-color: color.$tint-light;

  &::after {
    @include help.pseudo;
    z-index: -1;

    @include fill.noise-sm;
    box-shadow: bevel.$bevel-sm;
  }

  &:hover {
    background-color: color.$tint-xlight;
    color: color.$text-light-bold;
  }

  &:active {
    background-color: color.$tint-2xlight;
    color: color.$text-dark-reg;
  }
}

.btn-glass-light {
  @include btn-glass-light;
}

/* Dark 3D button glass */
/* ================================== */
@mixin btn-glass-dark {
  position: relative;
  z-index: 20;
  // box-shadow: sha.$sha-sm;
  transition: 
  background-color ani.$speed-slow ease,
  color ani.$speed-slow ease;
  background-color: color.$tint-dark;

  &::after {
    @include help.pseudo;
    z-index: -1;
    box-shadow: bevel.$bevel-md;
  }

  &::before {
    @include help.pseudo;
    z-index: -2;
    @include fill.glass-filter;
    @include fill.noise-sm;
  } 

  &:hover {
    background-color: color.$tint-xdark;
  }

  &:active {
    background-color: color.$tint-2xdark;
    color: color.$text-light-bold;
  }
}

.btn-glass-dark {
  @include btn-glass-dark;
}