/* ================================== */
/* Glass */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../1-layout/layout-help" as help;
@use "animation" as ani;
@use "bevel";
@use "fill";
@use "shadow" as sha;
/* ================================== */


/* Glass base */
/* ================================== */
@mixin glass-base {
  position: relative;

  &::before {
    @include help.pseudo;
    z-index: -2;
    @include fill.noise-md;
    box-shadow: bevel.$bevel-md;
    @content;

    @include bp.bp(md) {
      box-shadow: bevel.$bevel-lg;
    }
  }
}

.glass-base {
  @include glass-base;
}

.glass-reg {
  @include fill.fill-reg;
  @include glass-base;
}

/* The main glass with the bevel removed when the layout switches to edge-to-edge on mobile */
/* ================================== */
@mixin glass--no-bevel-mobile {
  @include glass-base {
    box-shadow: none;
  }
}

.glass--no-bevel-mobile {
  @include glass--no-bevel-mobile;
}

/* The main glass but without a bevel */
/* ================================== */
@mixin glass--no-bevel {
  position: relative;

  &::before {
    @include help.pseudo;
    z-index: -2;
    @include fill.noise-md;
  }
}

.glass--no-bevel {
  @include glass--no-bevel;
}


