/* ================================== */
/* Media */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "shadow" as sha;
/* ================================== */

/* SVG icons */
/* ================================== */
.icon-sm {
  height: var(--ui-sm);
  width: auto;
}

.icon-md {
  height: var(--ui-md);
  width: auto;
}

.icon-lg {
  height: var(--ui-lg);
  width: auto;
}

/* images */
/* ================================== */
.img-sm {
  width: min(100%, 400px);
  margin: auto;
}

.img-lg {
  width: 100%;
  margin: auto;

  @include bp.bp(md) {
    width: 80%;
  }
}

img {
  max-width: 100%;
}