/* ================================== */
/* Shadows */
@use "../0-base/color";
/* ================================== */

/* Shadow Size list */
/* ================================== */
$shadows:
  "2xs",
  "xs",
  "sm",
  "md",
  "lg",
  "xl",
  "2xl";

/* Elevation shadows */
/* ================================== */
$sha-2xs: 
  0.5px 0.4px 1px rgba(color.$dark, 0.2),
  1px 0.75px 1.75px -0.1px rgba(color.$dark, 0.13),
  0 0 0.2px rgba(color.$dark, 0.08);

$sha-xs: 
  1px 0.75px 1.75px -0.1px rgba(color.$dark, 0.18),
  2px 1.5px 3.5px -0.5px rgba(color.$dark, 0.1),
  0 0 0.2px rgba(color.$dark, 0.08);

$sha-sm: 
  1px 0.75px 1.75px -0.25px rgba(color.$dark, 0.06),
  2px 1.5px 3.5px -0.5px rgba(color.$dark, 0.1),
  4px 3px 7px -1px rgba(color.$dark, 0.18),
  0 0 0.2px rgba(color.$dark, 0.08);

$sha-md: 
  2px 1.5px 3.5px -0.5px rgba(color.$dark, 0.08),
  4px 3px 7px -1px rgba(color.$dark, 0.13),
  8px 6px 14px -1.5px rgba(color.$dark, 0.18),
  0 0 0.2px rgba(color.$dark, 0.08);

$sha-lg: 
  2px 1.5px 3.5px -0.5px rgba(color.$dark, 0.03),
  3px 2.25px 7px -1px rgba(color.$dark, 0.08),
  6px 4.5px 10.5px -1.5px rgba(color.$dark, 0.13),
  12px 9px 21px -2px rgba(color.$dark, 0.18),
  0 0 0.3px rgba(color.$dark, 0.13);

$sha-xl: 
  2px 1.5px 3.5px -0.5px rgba(color.$dark, 0.03),
  4px 3px 7px -1px rgba(color.$dark, 0.08),
  8px 6px 14px -1.5px rgba(color.$dark, 0.13),
  16px 12px 28px -2px rgba(color.$dark, 0.18),
  0 0 0.4px rgba(color.$dark, 0.13);

$sha-2xl: 
  2.5px 2px 4.5px -0.5px rgba(color.$dark, 0.03),
  5px 3.75px 8.75px -1px rgba(color.$dark, 0.08),
  10px 7.5px 17.5px -1.5px rgba(color.$dark, 0.13),
  20px 15px 35px -2px rgba(color.$dark, 0.18),
  // 20px 15px 35px -2px rgba(color.$dark, 0.18),
  0 0 0.4px rgba(color.$dark, 0.13);

/* Elevation shadow classes */
/* ================================== */
.sha-2xs {
  box-shadow: $sha-2xs;
}

.sha-xs {
  box-shadow: $sha-xs;
}

.sha-sm {
  box-shadow: $sha-sm;
}

.sha-sm {
  box-shadow: $sha-sm;
}

.sha-md {
  box-shadow: $sha-md;
}

.sha-lg {
  box-shadow: $sha-lg;
}

.sha-xl {
  box-shadow: $sha-xl;
}

.sha-2xl {
  box-shadow: $sha-2xl;
}

/* Text shadows */
/* ================================== */
$text-sha-2xs: 
  0.1px 0.1px 0.1px rgba(color.$dark, 0.3),
  0.25px 0.25px 0.5px  rgba(color.$dark, 0.12),  
  0 0 0.5px rgba(color.$dark, 0.1), 
  0 0 1px rgba(color.$dark, 0.05);

$text-sha-xs: 
  0.2px 0.2px 0.2px rgba(color.$dark, 0.3),
  0.5px 0.5px 1px  rgba(color.$dark, 0.12),  
  0 0 1px rgba(color.$dark, 0.1), 
  0 0 2px rgba(color.$dark, 0.05);

$text-sha-sm: 
  0.25px 0.25px 0.25px rgba(color.$dark, 0.4),
  1px 1px 2px rgba(color.$dark, 0.12),  
  0 0 2px rgba(color.$dark, 0.1), 
  0 0 4px rgba(color.$dark, 0.1);

$text-sha-md: 
  0.5px 0.5px 0.5px rgba(color.$dark, 0.4),
  1px 1px 2px rgba(color.$dark, 0.15),  
  0 0 4px rgba(color.$dark, 0.1), 
  0 0 8px rgba(color.$dark, 0.1);

$text-sha-lg: 
  0.5px 0.5px 0.5px rgba(color.$dark, 0.4),
  1px 1px 2px rgba(color.$dark, 0.2), 
  0 0 6px rgba(color.$dark, 0.15), 
  0 0 12px rgba(color.$dark, 0.1); 

$text-sha-xl: 
  0.8px 0.8px 0.8px rgba(color.$dark, 0.4),
  2px 2px 4px rgba(color.$dark, 0.2), 
  0 0 8px rgba(color.$dark, 0.15), 
  0 0 16px rgba(color.$dark, 0.1); 

$text-sha-2xl: 
  1px 1px 1px rgba(color.$dark, 0.4),
  2px 2px 4px rgba(color.$dark, 0.2), 
  0 0 10px rgba(color.$dark, 0.15), 
  0 0 20px rgba(color.$dark, 0.1); 

/* Text shadow classes */
/* ================================== */
.text-sha-xs {
  text-shadow: $text-sha-xs;
}

.text-sha-sm {
  text-shadow: $text-sha-sm;
}

.text-sha-md {
  text-shadow: $text-sha-md;
}

.text-sha-lg {
  text-shadow: $text-sha-lg;
}

.text-sha-xl {
  text-shadow: $text-sha-xl;
}

/* Flat shadow  */
/* ================================== */
$flat-sha-sm: 
  inset 0 0.5px 1px -1px rgba(color.$dark, 0.7), // small shadow
  inset 0 1px 2px -2px rgba(color.$dark, 0.5), // med shadow
  inset 0 2px 4px -4px rgba(color.$dark, 0.3);    // lg shadow

.flat-sha-sm {
  box-shadow: $flat-sha-sm;
}


$flat-sha-md: 
  inset 0 0.5px 1px -1px rgba(color.$dark, 0.5), // small shadow
  inset 0 1px 2px -2px rgba(color.$dark, 0.5), // small shadow
  inset 0 2px 4px -4px rgba(color.$dark, 0.5), // med shadow
  inset 0 4px 8px -8px rgba(color.$dark, 0.3);    // lg shadow

.flat-sha-md {
  box-shadow: $flat-sha-md;
}

$flat-sha-lg: 
  inset 0 0.5px 1px -1px rgba(color.$dark, 0.5), // small shadow
  inset 0 2px 4px -4px rgba(color.$dark, 0.5), // small shadow
  inset 0 4px 8px -8px rgba(color.$dark, 0.5), // med shadow
  inset 0 8px 16px -16px rgba(color.$dark, 0.3);    // lg shadow


.flat-sha-lg {
  box-shadow: $flat-sha-lg;
}

/* Inset shadows */
/* ================================== */
$inset-sha-xs: 
  inset 0.25px 0.5px 1px rgba(color.$dark, 0.1),    // lg top-left shadow
  inset 0.25px 0.75px 1.5px -0.5px rgba(color.$dark, 0.25), // med top-left shadow
  inset 0.25px 0.25px 0.5px -0.5px rgba(color.$dark, 0.3); // small top-left shadow

$inset-sha-sm: 
  inset 0.5px 1px 2px rgba(color.$dark, 0.1),    // lg top-left shadow
  inset 0.25px 0.75px 1.5px -0.5px rgba(color.$dark, 0.25), // med top-left shadow
  inset 0.25px 0.25px 0.5px -0.5px rgba(color.$dark, 0.3); // small top-left shadow


$inset-sha-md: 
  inset 1px 2px 4px rgba(color.$dark, 0.1), // xl top-left shadow
  inset 0.5px 1px 2px rgba(color.$dark, 0.1),    // lg top-left shadow
  inset 0.25px 0.75px 1.5px -0.5px rgba(color.$dark, 0.25), // md top-left shadow
  inset 0.25px 0.25px 0.5px -0.5px rgba(color.$dark, 0.3); // sm top-left shadow


$inset-sha-lg: 
  inset 2px 4px 8px rgba(color.$dark, 0.1), // xl top-left shadow
  inset 1px 2px 4px rgba(color.$dark, 0.1), // lg top-left shadow
  inset 0.25px 0.75px 1.5px -0.5px rgba(color.$dark, 0.25), // md top-left shadow
  inset 0.25px 0.25px 0.5px -0.5px rgba(color.$dark, 0.3); // sm top-left shadow


$inset-sha-xl: 
  inset 3px 6px 16px rgba(color.$dark, 0.05), // xl top-left shadow
  inset 2px 4px 8px rgba(color.$dark, 0.1), // lg top-left shadow
  inset 1px 2px 4px rgba(color.$dark, 0.1), // md-lg top-left shadow
  inset 0.25px 0.75px 1.5px -0.5px rgba(color.$dark, 0.3), // md top-left shadow
  inset 0.25px 0.25px 0.5px -0.5px rgba(color.$dark, 0.3); // sm top-left shadow


.inset-sha-xs {
  box-shadow: $inset-sha-xs;
}

.inset-sha-sm {
  box-shadow: $inset-sha-sm;
}

.inset-sha-md {
  box-shadow: $inset-sha-md;
}

.inset-sha-lg {
  box-shadow: $inset-sha-lg;
}

.inset-sha-xl {
  box-shadow: $inset-sha-xl;
}