/* ================================== */
/* Text styles used in project */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/text";
@use "animation" as ani;
@use "bevel";
@use "border";
@use "fill";
@use "shadow" as sha;
/* ================================== */



/* Small titles */
/* ================================== */

.title-gray-xs {
  @include text.title-bold;
  font-size: var(--text-xs);
  color: var(--tint-3xlight);
  text-shadow: var(--text-sha-xs);
}

.title-dark-sm {
  @include text.title-bold;
  font-size: var(--text-sm);
  color: var(--tint-2xdark);
  text-shadow: var(--text-sha-sm);
}



.list-heading--light {
  @include text.eyebrow;
  color: var(--tint-2xlight);
  border-bottom: border.$thin-xlight;
}
