/* ================================================== */
/* Demo only styles */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/components" as *;
/* ================================================== */

/* Fixed background panel */
/* ================================================== */
/* Controled by nav's tab menu */
.page-bg-panel-group {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  min-height: 100lvh;
}

.page-bg-panel {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100lvh;
  overflow: hidden;
}

.page-bg-img {
  width: 100%;
  height: 100%;
  min-height: 100lvh;
  object-fit: cover;
  object-position: center;
}

.page-bg-noise {
  pointer-events: none;
  &::after {
    @include pseudo;
    background-image: url(/assets/textures/noise-gray_500x500.png);
    background-size: $noise-md;
    background-repeat: repeat;
  }
}

.page-bg-blur {
  pointer-events: none;
  &::after {
    @include pseudo;
    @include glass-filter($blur-xs, $bright-base, $satu-base);
  }
}


/*  Main nav glass logo */
/* ================================================== */
.svg-3d-glass-ui-logo {
  mask: url(/assets/logos/3D-glass-UI-logo.svg);
  @include svg-icon;
  @include glass-filter(10px, 0.8, 2.5);
}

.svg-logo {
  mask: url(/assets/logos/3D-glass-UI-logo.svg);
  @include svg-icon;
}


/*  Hero header */
/* ================================================== */
.card-3d-layout {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
  place-self: center;
  place-items: end center;
  padding: var(--nav-h) 0 15% 0;

  perspective: 2500px;

  @include bp(xs) {
    padding-bottom: 25%;
  }

  @include bp(sm) {
    place-items: end start;
    padding-left: var(--moat);
    padding-right: 0;
    padding-bottom: 10%;
  }

  @include bp(lg) {
    padding-left: 5rem;
    max-width: $bp-lg;
  }

  @include bp(xl) {
    padding-left: 0;
    padding-bottom: 5%;
    max-width: 1200px;
  }

  @include bp(xxl) {
    max-width: $bp-xl;
  }

  @media only screen and (min-width: 2500px) {
    perspective: 3000px;
    max-width: 2000px;
  }
}

.card-3d {
  @include card-base;
  pointer-events: none;
  --space: calc(var(--sm) * 1.1);
  width: min(95%, 340px);
  border-radius: calc(var(--lg) * 1.15);
  box-shadow: var(--sha-lg);
  padding: var(--space);

  backface-visibility: hidden;
  will-change: transform;
  transition: transform $speed-slow $smooth-cubic;

  transform:
    perspective(1500px)
    rotateY(30deg)
    rotateX(15deg)
    rotateZ(-4deg)
    translateX(10px)
    translateY(0px);

  @include bp(xs) {
    --space: var(--md);
    width: min(95%, 380px);

    transform:
      perspective(1800px)
      rotateY(30deg)
      rotateX(20deg)
      rotateZ(-6deg)
      translateX(15px)
      translateY(0px);
  }

  @include bp(sm) {
    width: 390px;

    transform:
      perspective(2500px)
      rotateY(25deg)
      rotateX(20deg)
      rotateZ(-10deg)
      translateX(35px)
      translateY(-10%);
  }

  @include bp(md) {
    width: 420px;
    --space: var(--md);
  }

  @include bp(lg) {
    width: 450px;
    --space: var(--md);
    border-radius: var(--lg) ;
  }

  @media (hover: hover) {
    pointer-events: auto;

    &:hover {
      transform:
        perspective(1000px)
        rotateY(0deg)
        rotateX(0deg)
        rotateZ(0deg)
        translateX(0px)
        translateY(0%);
    }
  }
}

.card-3d-title {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-md;
  text-shadow: var(--text-sha-2xl);
  line-height: 1.15;
  color: var(--text-strong);
  font-size: var(--text-xl);

  @include bp(xs) {
    font-size: calc(var(--text-2xl) * 0.95);
  }

  @include bp(md) {
    font-size: var(--text-2xl);
  }
}

.card-3d-text {
  @include body(--text-xs);
  letter-spacing: $letter-spacing-md;
  text-shadow: var(--text-sha-2xs);

  @include bp(xs) {
    font-size: var(--text-md);
  }

  @include bp(sm) {
    font-size: var(--text-md);
  }

  @include bp(lg) {
    font-size: calc(var(--text-md) * 1.1);
  }
}


/* Menu link marquee */
/* ================================================== */
.marquee-bin {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}

.marquee {
  width: fit-content;
  min-width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: var(--sm);
  margin-bottom: var(--3xl);
  background-color: var(--tint-clear);
  border-radius: 0 var(--sm) var(--sm) 0;
  box-shadow: var(--sha-sm);

  @include glass-flat;

  @include bp(xs) {
    min-width: 40%;
  }

  @include bp(sm) {
    min-width: 33%;
  }
}

.marquee-title {
  // @include title($font-weight-sm);
  // text-align: end;
  // line-height: 1;
  // color: var(--text-strong);
  // font-size: var(--text-lg);
  // text-shadow: var(--text-sha-xl);
  @include title-2(end);

  // @include bp(lg) {
  //   font-size: var(--text-xl);
  //   text-shadow: var(--text-sha-2xl);
  // }
}


/* Glass bevel Demo */
/* ================================================== */
.glass-bevel-xs {
  @include glass-base(
    --bevel-xs,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-bevel-sm {
  @include glass-base(
    --bevel-sm,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-bevel-md {
  @include glass-base(
    --bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-bevel-lg {
  @include glass-base(
    --bevel-lg,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-bevel-xl {
  @include glass-base(
    --bevel-xl,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

/* Telescope rect */
.tele-rect-bin {
  height: 450px;

  @include bp(xs) {
    height: 550px;
  }
}

.tele-rect {
  display: grid;
  touch-action: pan-y;
  min-width: fit-content;
  width: 100%;
  overflow: hidden;
  padding: 8% 12% 4% 4%;
  background-color: var(--tint-xdark);

  will-change: padding;
  transition: padding $smooth-cubic $speed-xfast;

  @media (hover: hover) {
    &:hover {
      padding: 8%;
    }
  }

  & > p {
    padding: var(--2xs);
    pointer-events: none;
  }
}


/* Glass inset Demo */
/* ================================================== */
.inset-demo {
  width: 100%;
  height: fit-content;
  border-radius: inherit;
  background-color: var(--inset-bg-xdeep);
  padding: var(--2xs);

  @include bp(sm) {
    padding: var(--xs);
  }
}


/*  glass tint demo */
/* ================================================== */
.glass-bento-2to3 {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: var(--md);

  @include bp(xs) {
    grid-template-columns: repeat(3, minmax(100px, 180px));
    gap: var(--3xs);
  }

  @include bp(sm) {
    gap: var(--2xs);
  }

  @include bp(md) {
    gap: var(--xs);
  }

  @include bp(lg) {
    grid-template-columns: repeat(3, minmax(100px, 200px));
    gap: var(--sm);
  }
}


/* Button Demo */
/* ================================================== */
.btn-demo-bin {
  width: 100%;
  max-width: $bp-lg;
  display: grid;
  place-items: center;
  padding: var(--lg) var(--3xl);

  @include bp(sm) {
    padding: var(--lg) 0;
  }

  @include bp(lg) {
    padding: var(--lg);
  }
}

.btn-layout {
  width: 200px;
  display: grid;
  row-gap: var(--5xl);
  column-gap: var(--3xl);

  @include bp(sm) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include bp(md) {
    column-gap: var(--5xl);
  }
}

.btn-col {
  display: grid;
  gap: var(--md);
  width: 100%;
  place-items: center start;

  @include bp(xs) {
    width: fit-content;
  }
}

.btn-col-c {
  display: grid;
  gap: var(--md);
  width: 100%;
  place-items: center start;

  @include bp(xs) {
    place-items: center;
    width: fit-content;
  }
}

.btn-cell-label {
  @include super-wide($font-weight-md , --text-xs, 10px );
  line-height: $line-height-sm;
  color: var(--text-base);
  text-shadow: var(--text-sha-lg);
  margin-bottom: -10px;
  width: 100%;

  @include bp(sm) {
    width: fit-content;
  }

  @include bp(lg) {
    font-size: var(--text-sm);
  }
}


/* Fake btn states */
.btn-hover {
  pointer-events: none;

  & > .btn-text {
    color: var(--btn-state-text);
  }

  & > svg {
    background-color: var(--btn-state-icon);
  }

  &::before {
    opacity: var(--btn-hover);
  }
}

.btn-focus {
  pointer-events: none;

  & > .btn-text {
    color: var(--btn-state-text);
  }

  & > svg {
    background-color: var(--btn-state-icon);
  }

  &::before {
    opacity: var(--btn-focus);
  }


  &::after {
    @include focus-visible-inner;
  }
}

.btn-active {
  pointer-events: none;

  & > .btn-text {
    color: var(--btn-state-text);
  }

  & > svg {
    background-color: var(--btn-state-icon);
  }

  &::before {
    opacity: var(--btn-active);
  }
}


/* Contact section */
/* ================================================== */
.contact-inset {
  display: grid;
  place-items: center;
  gap: var(--2xs);
  width: 100%;
  height: fit-content;
  padding: var(--lg);
  box-shadow: var(--inset-lg);
  border-radius: inherit;
  background-color: var(--inset-bg-deep);
}

.stamp {
  width: 100px;
  aspect-ratio : 1 / 1;
  overflow: hidden;
  border-radius: var(--xs);
  opacity: 0.9;
  box-shadow: var(--sha-md);

  @include bp(xs) {
    width: 150px;
    border-radius: var(--sm);
  }

  @include bp(sm) {
    width: 180px;
  }

  & > img {
    width: 100%;
  }
}


/* Demo text styles */
/* ================================================== */
.class-name {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-lg;
  text-shadow: var(--text-sha-sm);
  word-break: keep-all;
  font-size: var(--text-sm);

  @include bp(sm) {
    font-size: var(--text-md);
  }
}


.code-label-md {
  @include label(--text-sm);
  font-family: $font-family-code;
  text-shadow: var(--text-sha-2xs);

  @include bp(sm) {
    @include label(--text-md);
  }
}
