/* ================================================== */
/* Docs styles */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/components" as *;
/* ================================================== */


/* Color Demo */
/* ================================================== */
.primary {
  @include generate-color-lightness-classes($lightness, 'background-color', 'primary', '-');
}

.neutral {
  @include generate-color-lightness-classes($lightness, 'background-color', 'neutral', '-');
}

.color-stack {
  display: grid;
  border-radius: var(--sm);
  overflow: hidden;

  > * {
    width: min(100%, 400px);
    height: fit-content;
    display: flex;
    align-items: center;
    padding: var(--xs);
  }
}



/* UI height */
/* ================================================== */
.ui-h-xs { height: var(--ui-h-xs);}
.ui-h-sm { height: var(--ui-h-sm);}
.ui-h-md { height: var(--ui-h-md);}
.ui-h-lg { height: var(--ui-h-lg);}
.ui-h-xl { height: var(--ui-h-xl);}


/* moat demo */
/* ================================================== */
.h-200 { min-height: 200px; }

.size-100 { width: min(100%, 100px); aspect-ratio: 1; }
.size-300 { width: min(100%, 300px); aspect-ratio: 1; }
.size-500 { width: min(100%, 500px); aspect-ratio: 1; }
.size-600 { width: min(100%, 600px); aspect-ratio: 1; }
.size-700 { width: min(100%, 700px); aspect-ratio: 1; }
.size-900 { width: min(100%, 900px); aspect-ratio: 1; }


/* 1 to 2 column layout -  tint demo */
/* ================================================== */
.col-1to2 {
  width: 100%;
  gap: var(--sm);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  &:nth-child(1) {
    grid-column: 1/2;
  }

  &:nth-child(2) {
    grid-column: 1/2;
  }

  @include bp(sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--md);

    &:nth-child(1) {
      grid-column: 1/2;
    }

    &:nth-child(2) {
      grid-column: 2/3;
    }
  }

  @include bp(lg) {
    gap: var(--xl);
  }
}

/* stck 1 - shadows demo */
/* ================================================== */
.stack-1 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: var(--md);
}

.stack-1-rect {
  min-width: 200px;
  width: min(100%, 300px);
  aspect-ratio : 3 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--sm);
  border-radius: var(--sm);
}


/* stck 1 to 3 - glass gradients demo */
/* ================================================== */
.stack-1to3 {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--lg);
}

.stack-rect-md {
  min-width: fit-content;
  width: min(300px, 100%);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  aspect-ratio : 3 / 1;
  border-radius: var(--md);
  padding: var(--lg);
  box-shadow: var(--sha-md);

  @include bp(sm) {
    max-height: 125px;
    justify-content: center;
    flex: 1;
    padding: var(--2xl);
  }

  @include bp(md) {
    max-height: 150px;
  }
}
