/* ================================================== */
/* generator */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/components" as *;
/* ================================================== */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* ================================================== */
/* Demo Glass  */
/* ================================================== */
body {
  /* main element */
  --color-glass3d: var(--color-hsla);
  --shadow-glass3d: var(--sha-xs);

  /* ::after */
  --bevel-glass3d: var(--bevel-md);

  /* ::before */
  --noise-glass3d: var(--noise-gray);
  --blur-glass3d: 30;
  --bright-glass3d: 1.1;
  --satu-glass3d: 1.5;
  --filter-glass3d: blur(var(--blur-glass3d)) brightness(var(--bright-glass3d)) saturate(var(--satu-glass3d));
}

.glass-3d-gen {
  position: relative;
  z-index: z(glass);

  /* BG color */
  background-color: var(--color-glass3d);

  /* Shadow */
  box-shadow: var(--shadow-glass3d);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    z-index: z(glass-after);

    /* Bevel */
    box-shadow: var(--bevel-glass3d);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    z-index: z(glass-b4);

    /* backdrop-filter */
    -webkit-backdrop-filter: var(--filter-glass3d);
    backdrop-filter: var(--filter-glass3d);

    /* texture */
    background-image: var(--noise-glass3d);
    background-size: 100px;
    background-repeat: repeat;
  }

  // & > * {
  //   position: relative;
  //   // z-index: 6;
  //   z-index: z(on-glass);
  // }
}


/* ================================================== */
/* Page layout  */
/* ================================================== */
.generator-viewport {
  pointer-events: none;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
}

.generator-page-layout {
// background-color: rgba(0, 0, 255, 0.25);

  --gen-w: 100%;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: z(page);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  padding: var(--nav-h) 0 0 0;

  @include bp(sm) {
    --gen-w: calc(#{$bp-sm} - var(--moat));
  }

  @include bp(md) {
    grid-template-rows: 0.66fr 1fr;
    padding: var(--nav-h) 0 0 0;
  }

  @include bp(lg) {
    grid-template-columns: 1fr var(--gen-w);
    grid-template-rows: 1fr;
    padding: var(--nav-h) var(--moat) 0 var(--moat);
  }

  @include bp(xl) {
    width: $bp-lg;
    margin: 0 auto;
    padding: var(--nav-h) 0 0 0;
  }

  @include bp(xxl) {
    width: $bp-xl;
    padding: var(--5xl) 0 0 0;
     --gen-w: 500px;
  }
}


/* ================================================== */
/* Glass layout */
/* ================================================== */
.glass-layout {
  // background-color: rgba(15, 185, 18, 0.25);

  z-index: z(section);
  top: calc(var(--nav-item-h) + var(--nav-padding));
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  place-content: center;
  place-self: start center;
}

// .repositionable {
//   pointer-events: none;
//   z-index: z(section);
//   width: fit-content;
//   height: fit-content;
// // outline: solid 2px rgb(255, 0, 111);

//   @include bp(lg) {
//     // z-index: 30;
//     margin: auto;
//     position: absolute;
//     left: 15%;
//     // right: 50%;
//     // top: 50%;
//     bottom: 25%;

//     // background-color: rgba(66, 185, 15, 0.25);
//   }
// }

.glass-tele-group {
// outline: solid 2px blue;

  pointer-events: none;
  z-index: 3;
  width: clamp( min(100%, 100px), 300px, 400px);
  height: 100%;
  padding: var(--4xl) var(--moat) var(--2xl) var(--moat);

  display: grid;
  place-items: center;
  place-content: center;

  & > :first-child {
    pointer-events: auto;
    cursor: pointer;

    will-change: padding;
    transition: padding $smooth-cubic $speed-slow;

    @media (hover: hover) {
      &:hover {
        transition: padding $smooth-cubic $speed-2xslow;
        padding: 6% 4% 10% 6%;

        & .glass-tele-rect {
          padding: 6% 4% 10% 6%;
        }
      }
    }

    & > :first-child {
      z-index: 5;
      pointer-events: none;

      & > :first-child {
        z-index: 6;
        pointer-events: none;
      }
    }
  }

  @include bp(md) {
    padding: var(--2xl);
  }
}

.glass-tele-rect {
  pointer-events: none;

  width: 100%;
  height: 100%;

  min-width: max-content;
  min-height: max-content;

  padding: 12% 4% 3% 4%;

  @include radius("md");

  @include bp(md) {
    @include radius("sm");
    padding: 12% 6% 4% 6%;
  }

  @media (height < 565px) {
    padding: 6% 3% 3% 3%;
  }

  @media (height < 450px) {
    padding: 4% 2% 2% 2%;
  }
}

.glass-gen-card {
  pointer-events: none;

  width: max-content;
  height: auto;
  aspect-ratio: 3 / 1;

  display: grid;
  place-items: end center;
  padding: 1rem;

  @include bp(md) {
    aspect-ratio: 2.75 / 1;
  }

  @include bp(xl) {
    aspect-ratio: 2.5 / 1;
  }

  @media (height < 565px) {
    padding: 0.5rem;
    aspect-ratio: 4 / 1;
  }
}

.glass-gen-title {
  z-index: 7;
  pointer-events: none;

  width: max-content;
  height: fit-content;

  @include super-wide($font-weight-sm, --text-2xs, 3px);
  line-height: 1;
  word-break: keep-all;
  text-align: center;
  color: var(--text-mild);
  text-shadow: var(--text-sha-xl);

  @include bp(xs) {
    @include super-wide($font-weight-sm, --text-2xs, 4px);
  }

  @include bp(sm) {
    @include super-wide($font-weight-sm, --text-xs, 5px);
  }

  @include bp(xl) {
    @include super-wide($font-weight-sm, --text-xs, 8px);
  }
}

/* ================================================== */
/* Generator  */
/* ================================================== */
.generator-layout {
// background-color: rgba(255, 255, 0, 0.25);

  pointer-events: none;
  z-index: z(section);
  width: 100%;
  height: 100%;
  display: grid;

  @include bp(lg) {
    place-self: center end;
    max-width: var(--gen-w);
    padding-top: 25%;
  }
}

.generator-scroll {
// outline: 2px solid rgba(255, 0, 123, 0.832);
// background-color: rgba(66, 185, 15, 0.25);
  @include radius("md");
  pointer-events: auto;
  position: relative;
  z-index: 4;
  width: 100%;
  min-height: fit-content;
  height: 100%;
  display: grid;
  place-items: start center;

  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @include bp(md) {
    place-items: start end;
  }

  @include bp(lg) {
    place-content: center;
  }
}


.generator-accordion {
  // outline: 2px solid rgb(36, 109, 0);
// background-color: rgba(255, 0, 255, 0.25);

  position: absolute;
  z-index: 4;
  width: 100%;
  max-width: var(--gen-w);
  height: fit-content;
  padding: 0 0 var(--3xl) 0;
  @include radius("md");
// overflow: hidden;
  --space: var(--md);
  --space-half: calc(var(--space) * 0.66);

  & .switch-accordion-controls {
    padding: var(--space-half) var(--space) var(--space-half) var(--space);
  }

  & > :first-child .switch-accordion-controls {
    padding: var(--space) var(--space) var(--space-half) var(--space);
  }

  & > :last-child .switch-accordion-controls {
    padding: var(--space-half) var(--space) var(--space-half) var(--space);
  }

  @include bp(xs) {
    --space: var(--lg);
  }

  @include bp(md) {
    border-radius: var(--md) 0 0 var(--md);
  }

  @include bp(lg) {
    --space: var(--md);
     border-radius: var(--md);
      padding: 0 0 var(--md) 0;
  }

  @include bp(xl) {
    @include radius("md");

  }
}

.switch-accordion {
  z-index: 5;
  width: 100%;
  height: fit-content;

  & .switch-accordion-content {
    z-index: 6;
    height: fit-content;
    padding: var(--space);
    opacity: 1;
    transition: height $speed-base $smooth-cubic,
                padding $speed-base $smooth-cubic,
                opacity $speed-base $smooth-cubic;

    & * {
      opacity: 1;
      transition: height $speed-fast $smooth-cubic,
                  padding $speed-fast $smooth-cubic,
                  opacity $speed-fast $smooth-cubic;
    }
  }

  &.is-closed {
    & .switch-accordion-content {
      z-index: -20;
      height: 0;
      padding: 0;
      opacity: 0;

      & * {
        z-index: -20;
        height: 0;
        padding: 0;
        opacity: 0;
      }
    }

    .switch-accordion-icon {
      transform: rotate(0deg);
    }
  }
}

.switch-accordion-controls {
  position: relative;
  pointer-events: none;
  cursor: default;
  z-index: 7;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: var(--space);

  // will-change: background-color;
  // transition: background-color $speed-fast $smooth-cubic;

  // &:hover {
  //   background-color: var(--tint-light);
  // }

  // &:focus-visible {
  //   @include focus-visible-inner;
  //   background-color: var(--tint-light);
  // }
}

.switch-accordion-content {
  pointer-events: none;

  display: grid;
  gap: var(--md);
  background-color: var(--tint-3xdark);
}

/*  switch accordion toggle */
/* ================================================== */
.switch-accordion-toggle {
  z-index: 8;
  width: 100%;

  cursor: pointer;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    & .accordion-label {
      color: var(--text-2xstrong);
    }

    & > .switch-accordion-icon {
      background-color: var(--text-2xstrong);
      transition: background-color $speed-base $smooth-cubic;
    }
  }

  &:disabled {
    cursor: auto;

    & .accordion-label {
      color: var(--text-mild);
    }

    & > .switch-accordion-icon {
      background-color: transparent;
      @include btn-svg-transition;
    }
  }
}

.accordion-label {
  pointer-events: none;
  @include title-md(start);
  font-weight: $font-weight-lg;
  color: var(--text-strong);
  text-shadow: var(--text-sha-xl);
  transition:  color $speed-base $smooth-cubic;
}

.switch-accordion-icon {
  pointer-events: none;
  z-index: -1;
  display: inline;
  height: 1.75em;
  place-self: center end;

  background-color: var(--text-strong);
  transform: rotate(180deg);
  transition: transform $speed-xslow $smooth-cubic;
}

.accordion-switch {
  margin-right: var(--sm);
}

/* ================================================== */
/* other styles */
/* ================================================== */
/* checkbox/label + small slider */
.filter-controls-layout {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 112px 165px;
  gap: var(--2xs);
  align-items: end;
  justify-content: center;

  @include bp(xs) {
    grid-template-columns: 112px 190px;
  }

  @include bp(sm) {
    gap: var(--xs);
    grid-template-columns: 115px 230px;
  }

  @include bp(md) {
    grid-template-columns: 135px 250px;
  }

  & .slider-w-display {
    width: 100%;
    opacity: 1;
    justify-self: end;
  }

  &.is-off {
    & .slider-w-display {
      opacity: 0.4;
      pointer-events: none;
    }

    & label {
      color: var(--text-xmild);
    }
  }
}

/* checkbox + label */
.filter-label-layout {
  display: flex;
  align-items: center;
  gap: var(--4xs);
  justify-self: start;
  @include bp(sm) {
    gap: var(--3xs);
  }

  & > label {
    width: max-content;
    word-break: keep-all;
    @include inline-label(--text-sm, 1);
    color: var(--text-strong);
    text-shadow: var(--text-sha-xs);

    @include bp(md) {
      @include inline-label(--text-md, 1);
    }
  }
}

/* ================================================== */
/* Copy code  */
/* ================================================== */
.code-display-bg {
  width: 100%;
  height: 100%;
  display: grid;

  place-items: start;
  gap: var(--space);

  overflow-x: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.code-display-text {
  z-index: 8;
  display: block;
  width: 100%;
  white-space: pre;
  @include code;
  color: var(--text-strong);
  pointer-events: auto;
}

.code-copy-btn {
  box-shadow: var(--sha-xl);
  margin: 1rem 0;

  & > .btn-text {
    z-index: 20;
  }
}
