/* ================================================== */
/* Builder */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/components" as *;
/* ================================================== */

.builder-area {
  width: 100%;
  max-width: $bp-lg;
  min-height: fit-content;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
  padding: var(--nav-h) 0 var(--moat) 0;

  @include bp(md) {
    padding: var(--nav-h) var(--moat);
  }

  @include bp(xl) {
    padding: var(--nav-h) 0;
  }
}

.glass-bin {
  width: 100%;
  min-height: fit-content;
  display: grid;
  place-items: center;
  padding: var(--xl) var(--moat);

// background-color: rgba(234, 255, 0, 0.371);

  @include bp(md) {
    padding: 0;
    width: auto;
    flex: 1;
  }
}

.glass {
  max-width: $bp-xs;
  width: 100%;
  aspect-ratio: 2 / 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--2xl);

  @include radius("md");

  @include glass-base(
    --bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));

  @include bp(md) {
    width: 80%;
    aspect-ratio: 3 / 2;
  }

  & h1 {
    width: max-content;
    line-height: 1;
  }
}

.builder-bin {
  width: 100%;
  min-height: fit-content;
  display: grid;
  padding: 0;

  // background-color: rgba(0, 128, 255, 0.371);

  @include bp(sm) {
    padding: 0 var(--moat);
  }

  @include bp(md) {
    flex: 1;
    padding: var(--nav-h) 0 0 0;
  }
}

.builder {
  max-width: 100%;
  height: fit-content;
  margin: 0 auto;

  @include bp(sm) {
    max-width: $bp-xs;
  }
}