/* ================================================== */
/* Used on all pages */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

// html {
//   width: 100%;
//   height: fit-content;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   scroll-behavior: smooth;
//   scroll-padding-top: var(--nav-h);

//   scrollbar-gutter: stable;
//   overscroll-behavior: contain;
// }

// body {
//   position: relative;
//   width: 100%;
//   min-height: 100lvh;
//   height: fit-content;
// }

// .page-area {
//   position: relative;
//   z-index: z(page);
//   width: 100%;
//   height: fit-content;
// }

// .content-area {
//   width: 100%;
//   height: fit-content;
//   // padding: 0 0 var(--5xl) 0;

//   /* for debug */
//   // background-color: pink;
//   // background-color: #fff;
//   // background-color: hsla(var(--neutral-60) / 1);
//   // background-color: #000;
// }

// /* Above-the-fold hero header */
// /* ================================================== */
// .hero {
//   width: 100%;
//   height: 100vh;
//   min-height: 100lvh;
// }