/* ================================================== */
/* Glass */
@use "sass:map";
@use "../0-design/breakpoint" as bp;
@use "../2-util/mixin" as mix;
@use "../2-util/layout" as layout;
@use "../2-util/z-index" as z;
/* ================================================== */

/* ================================================== */
/* Noise textures ✨ Config these values */
/* ================================================== */
/* Noise texture generator */
/* https://devsdash.com/tools/noise-texture-generator */

$noise-img: url(/assets/textures/noise-texture-rough-gray-500x500.png);

$noise-sm: 25px;
$noise-md: 40px;
$noise-lg: 50px;


/* ================================================== */
/* backdrop-filter: ✨ Config these values */
/* ================================================== */
$blur-xs: 3px;
$blur-sm: 20px;
$blur-md: 40px;
$blur-lg: 60px;
$blur-xl: 80px;

$bright-mild: 0.9;
$bright-base: 1;
$bright-strong: 1.2;

$satu-mild: 0.9;
$satu-base: 1.2;
$satu-strong: 1.5;
$satu-xstrong: 2;
$satu-2xstrong: 2.5;

/* Backdrop filter mixin */
/* ================================================== */
@mixin glass-filter($blur: 48px, $bright: 1, $satu: 1.2) {
  -webkit-backdrop-filter: blur($blur) brightness($bright) saturate($satu);
  backdrop-filter:         blur($blur) brightness($bright) saturate($satu);
}
/* 💠 example */
// .my-class {
//   @include glass-filter($blur-md, $bright-base, $satu-xstrong);
// }

/* or */
// .my-class {
//   @include glass-filter(20px, 1.2, 1.5);
// }

body {
  --blur: #{$blur-md};
  --bright: #{$bright-base};
  --satu: #{$satu-strong};
}

/* ================================================== */
/* Glass base mixin */
/* ================================================== */
@mixin glass-base(
$bevel: --bevel-md,
$noise-size: $noise-md,
$blur: --blur,
$bright: --bright,
$satu: --satu) {
  position: relative;
  z-index: z.z(glass);

  &::after {
    @include layout.pseudo;
    z-index: z.z(glass-after);
    box-shadow: var(#{$bevel});
  }

  &::before {
    @include layout.pseudo;
    z-index: z.z(glass-b4);
    background-repeat: repeat;
    background-size: #{$noise-size};
    background-image: $noise-img;
    @include glass-filter($blur, $bright, $satu);
  }

  & > * {
    position: relative;
    z-index: z.z(on-glass);
  }
}

/* 3D glass */
/* ================================================== */
@mixin glass-3d-sm {
  @include glass-base(
    --bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

@mixin glass-3d-md {
  @include glass-base(
    --bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

@mixin glass-3d-lg {
  @include glass-base(
    --bevel-lg,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-3d-sm { @include glass-3d-sm; }
.glass-3d-md { @include glass-3d-md; }
.glass-3d-lg { @include glass-3d-lg; }


/* Flat glass -> for elements that span edge-to-edge or don't have border-radius */
/* ================================================== */
@mixin glass-flat-sm {
  @include glass-base(
    --flat-bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

@mixin glass-flat-md {
  @include glass-base(
    --flat-bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

@mixin glass-flat-lg {
  @include glass-base(
    --flat-bevel-lg,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-flat-sm { @include glass-flat-sm; }
.glass-flat-md { @include glass-flat-md; }
.glass-flat-lg { @include glass-flat-lg; }


/* 2D glass -> no bevel */
/* ================================================== */
@mixin glass-2d {
  @include glass-base(
    --bevel-none,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-2d { @include glass-2d; }


/* ================================================== */
/* Glass container queries */
/* ================================================== */
/* Use same container as cards -> .card-container-q as parent */
.glass-3d-q { @include glass-3d-md;}
.glass-flat-q { @include glass-flat-md; }

/* 360px & smaller */
@container card (width < 360px) {
  .glass-3d-q {
    @include glass-3d-sm;
    background-color: rgba(255, 0, 0, 0.5);
  }

  .glass-flat-q {
    @include glass-flat-sm;
  }
}

/* breakpoint xs: 360px and bigger */
@container card (width >= 360px) {
  .glass-3d-q {
    @include glass-3d-md;
    background-color: rgba(255, 255, 0, 0.5);
  }

  .glass-flat-q{
    @include glass-flat-md;
  }
}

/* breakpoint sm: 560px and bigger */
// @container card (width >= 560px) {
//   .glass-3d-q {

//   }

//   .glass-flat-q{

//   }

//   .glass-2d-q {

//   }
// }

/* breakpoint md: 768px and bigger */
@container card (width >= 768px) {
  .glass-3d-q {
    @include glass-3d-lg;
    background-color: rgba(0, 255, 255, 0.5);
  }

  .glass-flat-q{
    @include glass-flat-lg;
  }
}

/* breakpoint lg: 1024px and bigger */
@container card (width >= 1024px) {
  .glass-3d-q {
    @include glass-3d-lg;
    background-color: rgba(0, 0, 255, 0.5);
  }

  .glass-flat-q{
    @include glass-flat-lg;
  }
}

/* breakpoint xl: 1440px and bigger */
// @container card (width >= 1440px) {
//   .glass-3d-q {

//   }

//   .glass-flat-q{

//   }

//   .glass-2d-q {

//   }
// }

/* bevel -> flat-bevel if element width is 99vw or bigger */
@container card (width >= calc(100vw - 16px)) {
  .glass-3d-q {
    @include glass-flat-md;
    background-color: rgba(255, 0, 136, 0.5);
  }
}