/* ================================================== */
/* Glass */
@use "../2-util/layout" as *;
@use "../2-util/z-index" as *;
/* ================================================== */
/* ⚠️ Glass backgrounds stop working at around 2000px viewport width in Firefox! */


/* ================================================== */
/* Textures ✨ Config these values */
/* ================================================== */
/* free transparent textures */
/* https://www.transparenttextures.com/ */
body {
  --noise-light: url("https://www.transparenttextures.com/patterns/fabric-1-light.png");
  --noise-gray: url("https://www.transparenttextures.com/patterns/egg-shell.png");
  --noise-dark: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

$noise-img: var(--noise-gray);

$noise-sm: 25px;
$noise-md: 40px;
$noise-lg: 50px;
$noise-xl: 100px;


/* ================================================== */
/* backdrop-filter: ✨ Config these values */
/* ================================================== */
$blur-xs: 3px;
$blur-sm: 10px;
$blur-md: 40px;
$blur-lg: 60px;
$blur-xl: 80px;

$bright-mild: 0.9;
$bright-base: 1;
$bright-strong: 1.2;

$satu-mild: 0.9;
$satu-base: 1.2;
$satu-strong: 1.5;
$satu-xstrong: 2;
$satu-2xstrong: 2.5;

/* Backdrop filter mixin */
/* ================================================== */
@mixin glass-filter($blur-f: 48px, $bright-f: 1, $satu-f: 1.2) {
  -webkit-backdrop-filter: blur($blur-f) brightness($bright-f) saturate($satu-f);
  backdrop-filter:         blur($blur-f) brightness($bright-f) saturate($satu-f);
}
/* 💠 example */
// .my-class {
//   @include glass-filter($blur-md, $bright-base, $satu-xstrong);
// }

/* or */
// .my-class {
//   @include glass-filter(20px, 1.2, 1.5);
// }

body {
  --blur: #{$blur-lg};
  --bright: #{$bright-base};
  --satu: #{$satu-strong};
}


/* ================================================== */
/* Glass base mixin */
/* ================================================== */

/* Glass filter presets for glass base ✨ Config these values */
/* ================================================== */
@mixin glass-base(
$bevel: --bevel-md,
$noise-size: $noise-md,
$blur: --blur,
$bright: --bright,
$satu: --satu) {
  position: relative;
  z-index: z(glass);

  &::after {
    @include pseudo;
    z-index: z(glass-after);
    box-shadow: var(#{$bevel});
  }

  &::before {
    @include pseudo;
    z-index: z(glass-b4);
    background-repeat: repeat;
    background-size: #{$noise-size};
    // background-image: var(--noise-gray);
    background-image: $noise-img;
    @include glass-filter($blur, $bright, $satu);
  }

  & > * {
    position: relative;
    z-index: z(on-glass);
  }
}

/* 3D glass ✨ Config these values */
/* ================================================== */
@mixin glass-3d {
  @include glass-base(
    --bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

@mixin glass-3d-sm {
  @include glass-base(
    --bevel-sm,
    $noise-sm,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-3d { @include glass-3d; }
.glass-3d-sm { @include glass-3d-sm; }


/* Flat glass */
/* ================================================== */
/* For elements that span edge-to-edge or don't have border-radius */
@mixin glass-flat {
  @include glass-base(
    --flat-bevel-md,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

@mixin glass-flat-sm {
  @include glass-base(
    --flat-bevel-sm,
    $noise-sm,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-flat { @include glass-flat; }
.glass-flat-sm { @include glass-flat-sm; }


/* 2D glass -> no bevel */
/* ================================================== */
@mixin glass-2d {
  @include glass-base(
    --bevel-none,
    $noise-md,
    var(--blur),
    var(--bright),
    var(--satu));
}

.glass-2d { @include glass-2d; }


/* ================================================== */
/* Glass container queries */
/* ================================================== */
/* Switch to a flat-bevel at 100vw or bigger to prevent a white line down the left edge */
/* the -16px prevents issues with scrollbars cutting into 100vw */
@container bg (width >= calc(100vw - 16px)) {
  .glass-3d {
    @include glass-flat;
  }

  .glass-3d-sm {
    @include glass-flat-sm;
  }
}