/* ================================================== */
/* Shadows */
@use "sass:map";
@use "../2-util/mixin" as mix;
/* ================================================== */

/* Elevation shadows */
/* ================================================== */
html {
  --sha-3xs:
    0 0 0.3px hsl(var(--shadow) / 0.08),
    0 0 0.75px hsl(var(--shadow) / 0.05),
    0.5px 0.4px 1px hsl(var(--shadow) / 0.1),
    0.5px 0.5px 1.5px hsl(var(--shadow) / 0.08);

  --sha-2xs:
    0 0 0.3px hsl(var(--shadow) / 0.08),
    0 0 0.75px hsl(var(--shadow) / 0.05),
    0.5px 0.4px 1px hsl(var(--shadow) / 0.08),
    1px 0.75px 1.75px -0.1px hsl(var(--shadow) / 0.1);

  --sha-xs:
    0 0 0.3px hsl(var(--shadow) / 0.08),
    0 0 0.75px hsl(var(--shadow) / 0.05),
    1px 0.75px 1.75px -0.1px hsl(var(--shadow) / 0.08),
    2px 1.5px 4px -0.5px hsl(var(--shadow) / 0.08);

  --sha-sm:
    0 0 0.3px hsl(var(--shadow) / 0.08),
    0 0 0.75px hsl(var(--shadow) / 0.05),
    1px 1px 1.5px -0.25px hsl(var(--shadow) / 0.08),
    1.5px 1.5px 2px -1px hsl(var(--shadow) / 0.08),
    3px 3px 8px -1px hsl(var(--shadow) / 0.08);

  --sha-md:
    0 0 0.3px hsl(var(--shadow) / 0.08),
    0 0 0.75px hsl(var(--shadow) / 0.05),
    1px 0.75px 1.75px -0.25px hsl(var(--shadow) / 0.08),
    2px 1.5px 3.5px -0.5px hsl(var(--shadow) / 0.08),
    4px 3px 12px -1px hsl(var(--shadow) / 0.08);

  --sha-lg:
    0 0 0.3px hsl(var(--shadow) / 0.08),
    0 0 0.75px hsl(var(--shadow) / 0.05),
    1.5px 1.5px 2px -0.5px hsl(var(--shadow) / 0.08),
    3px 3px 6px -1px hsl(var(--shadow) / 0.08),
    6px 4.5px 14px -1.5px hsl(var(--shadow) / 0.08);

  --sha-xl:
    0 0 0.3px hsl(var(--shadow) / 0.08),
    0 0 0.75px hsl(var(--shadow) / 0.05),
    1.5px 1.5px 2px -0.5px hsl(var(--shadow) / 0.08),
    3px 3px 6px -1px hsl(var(--shadow) / 0.08),
    8px 6px 18px -2px hsl(var(--shadow) / 0.08);
}

/* Shadows MAP */
/* ================================================== */
$shadows: (
  "3xs": var(--sha-3xs),
  "2xs": var(--sha-2xs),
  "xs": var(--sha-xs),
  "sm": var(--sha-sm),
  "md": var(--sha-md),
  "lg": var(--sha-lg),
  "xl": var(--sha-xl),
);

.sha {
  @include mix.generate-classes($shadows, 'box-shadow', 'sha', '-');
}


/* ================================================== */
/* Flat overhang shadows */
/* ================================================== */
html {
--overhang-sha-xs:
  inset 0 0.5px 1px -1px hsl(var(--shadow) / 0.5),
  inset 0 1px 2px -2px hsl(var(--shadow) / 0.5),
  inset 0 2px 4px -4px hsl(var(--shadow) / 0.3);

--overhang-sha-sm:
  inset 0 0.5px 1px -1px hsl(var(--shadow) / 0.7),
  inset 0 1px 2px -2px hsl(var(--shadow) / 0.5),
  inset 0 2px 4px -4px hsl(var(--shadow) / 0.3),
  inset 0 4px 8px -8px hsl(var(--shadow) / 0.3);

--overhang-sha-md:
  inset 0 0.5px 1px -1px hsl(var(--shadow) / 0.5),
  inset 0 1px 2px -2px hsl(var(--shadow) / 0.5),
  inset 0 2px 4px -4px hsl(var(--shadow) / 0.5),
  inset 0 6px 12px -12px hsl(var(--shadow) / 0.3);

--overhang-sha-lg:
  inset 0 0.5px 1px -1px hsl(var(--shadow) / 0.4),
  inset 0 2px 4px -4px hsl(var(--shadow) / 0.5),
  inset 0 4px 8px -8px hsl(var(--shadow) / 0.5),
  inset 0 8px 16px -16px hsl(var(--shadow) / 0.3);

--overhang-sha-xl:
  inset 0 0.5px 1px -1px hsl(var(--shadow) / 0.4),
  inset 0 4px 8px -8px hsl(var(--shadow) / 0.5),
  inset 0 8px 16px -16px hsl(var(--shadow) / 0.5),
  inset 0 10px 20px -20px hsl(var(--shadow) / 0.3);
}

/* Flat overhang shadow MAP */
/* ================================================== */
$overhangs: (
  "xs":  var(--overhang-sha-xs),
  "sm":  var(--overhang-sha-sm),
  "md":  var(--overhang-sha-md),
  "lg":  var(--overhang-sha-lg),
  "xl":  var(--overhang-sha-xl),
);

.overhang-sha {
  @include mix.generate-classes($overhangs, 'box-shadow', 'overhang-sha', '-');
}