/* ================================================== */
/* Bevel */
@use "sass:map";
/* ================================================== */

html {
--bevel-xs:
  inset 0.2px 0.2px 0.2px oklch(var(--highlight) / 0.15),
  inset 2px 2px 0.4px -2.8px oklch(var(--highlight) / 0.5),
  inset 1px 1px 0.4px -1.4px oklch(var(--highlight) / 0.1),
  inset -1.4px -2px 1.4px -3.2px oklch(var(--highlight) / 0.8),
  inset -2px -2px 0.2px -2.8px oklch(var(--highlight) / 0.08);

--bevel-sm:
  inset 0.3px 0.3px 0.2px oklch(var(--highlight) / 0.15),
  inset 2px 2px 0.4px -2.6px oklch(var(--highlight) / 0.5),
  inset 1px 1px 0.4px -1.3px oklch(var(--highlight) / 0.1),
  inset -0.6px -1.8px 1.4px -3.2px oklch(var(--highlight) / 0.8),
  inset -1.8px -2px 0.2px -2.6px oklch(var(--highlight) / 0.08);

--bevel-md:
  inset 0.5px 0.5px 0.3px oklch(var(--highlight) / 0.2),
  inset 2px 2px 0.8px -2.4px oklch(var(--highlight) / 0.3),
  inset 1px 1px 0.4px -1px oklch(var(--highlight) / 0.1),
  inset -0.8px -2px 1.4px -3.1px oklch(var(--highlight) / 0.8),
  inset -1.8px -2px 0.2px -2.5px oklch(var(--highlight) / 0.08);

--bevel-lg:
  inset 1px 1px 0.25px oklch(var(--highlight) / 0.1),
  inset 2px 2px 1px -2.5px oklch(var(--highlight) / 0.7),
  inset 1px 1px 0.9px -1px oklch(var(--highlight) / 0.25),
  inset -0.8px -2px 1.4px -2.5px oklch(var(--highlight) / 0.15),
  inset -1.6px -2px 0.4px -2.2px oklch(var(--highlight) / 0.05);

--bevel-xl:
  inset 1.5px 1.5px 0.5px oklch(var(--highlight) / 0.1),
  inset 2px 2px 1.25px -2.6px oklch(var(--highlight) / 0.7),
  inset 1px 1px 1px -1px oklch(var(--highlight) / 0.25),
  inset -0.8px -2px 1.4px -2.5px oklch(var(--highlight) / 0.15),
  inset -1.5px -2px 0.4px -2px oklch(var(--highlight) / 0.05);
}

.bevel-xs { box-shadow: var(--bevel-xs); }
.bevel-sm { box-shadow: var(--bevel-sm); }
.bevel-md { box-shadow: var(--bevel-md); }
.bevel-lg { box-shadow: var(--bevel-lg); }
.bevel-xl { box-shadow: var(--bevel-xl); }


/* Curved bevels */
/* ================================================== */
$bevel-xs:
  inset 0.2px 0.2px 0.2px oklch(var(--highlight) / 0.15),      // top-left bevel
  inset 2px 2px 0.4px -2.8px oklch(var(--highlight) / 0.5),    // top-left specular highlight
  inset 1px 1px 0.4px -1.4px oklch(var(--highlight) / 0.1),      // top-left highlight
  inset -1.4px -2px 1.4px -3.2px oklch(var(--highlight) / 0.8),  // bottom thin highlight
  inset -2px -2px 0.2px -2.8px oklch(var(--highlight) / 0.08); // bottom-right specular

$bevel-sm:
  inset 0.3px 0.3px 0.2px oklch(var(--highlight) / 0.15),      // top-left bevel
  inset 2px 2px 0.4px -2.6px oklch(var(--highlight) / 0.5),    // top-left specular highlight
  inset 1px 1px 0.4px -1.3px oklch(var(--highlight) / 0.1),      // top-left highlight
  inset -0.6px -1.8px 1.4px -3.2px oklch(var(--highlight) / 0.8),  // bottom thin highlight
  inset -1.8px -2px 0.2px -2.6px oklch(var(--highlight) / 0.08); // bottom-right specular

$bevel-md:
  inset 0.5px 0.5px 0.3px oklch(var(--highlight) / 0.2),         // top-left bevel
  inset 2px 2px 0.8px -2.4px oklch(var(--highlight) / 0.3),    // top-left specular highlight
  inset 1px 1px 0.4px -1px oklch(var(--highlight) / 0.1),      // top-left highlight
  inset -0.8px -2px 1.4px -3.1px oklch(var(--highlight) / 0.8),     // bottom thin highlight
  inset -1.8px -2px 0.2px -2.5px oklch(var(--highlight) / 0.08); // bottom-right specular

$bevel-lg:
  inset 1px 1px 0.25px oklch(var(--highlight) / 0.1), // top-left bevel
  inset 2px 2px 1px -2.5px oklch(var(--highlight) / 0.7),    // top-left specular highlight
  inset 1px 1px 0.9px -1px oklch(var(--highlight) / 0.25), // top-left highlight
  inset -0.8px -2px 1.4px -2.5px oklch(var(--highlight) / 0.15), // bottom thin highlight
  inset -1.6px -2px 0.4px -2.2px oklch(var(--highlight) / 0.05); // bottom-right specular

$bevel-xl:
  inset 1.5px 1.5px 0.5px oklch(var(--highlight) / 0.1), // top-left bevel
  inset 2px 2px 1.25px -2.6px oklch(var(--highlight) / 0.7),    // top-left specular highlight
  inset 1px 1px 1px -1px oklch(var(--highlight) / 0.25), // top-left highlight
  inset -0.8px -2px 1.4px -2.5px oklch(var(--highlight) / 0.15), // bottom thin highlight
  inset -1.5px -2px 0.4px -2px oklch(var(--highlight) / 0.05); // bottom-right specular

/* Flat bevel */
/* ================================================== */
$flat-bevel-sm:
  inset 0 0.3px 0 oklch(var(--highlight) / 0.12), // top highlight
  inset 0 0.7px 0.1px oklch(var(--highlight) / 0.12), // top bevel
  0 -3px 2px -2px oklch(var(--shadow) / 0.1), // med shadow bottom
  0 -1px 0.5px -1px oklch(var(--shadow) / 0.12); // small  shadow bottom
