/* ================================================== */
/* Bevels */
/* ================================================== */

html {
/* Curved bevels */
/* ================================================== */
  --bevel-sm:
  inset 2px 2px 0.5px -2.65px oklch(var(--highlight) / 0.15),
  inset 0.25px 0.25px 0.25px oklch(var(--highlight) / 0.15),
  inset 2px 2px 0.4px -2.6px oklch(var(--highlight) / 0.15),
  inset 1px 1px 0.4px -1.3px oklch(var(--highlight) / 0.1),
  inset -0.6px -1.8px 1.4px -3.2px oklch(var(--highlight) / 0.8),
  inset -2px -2px 1px -3px oklch(var(--highlight) / 0.1);

  --bevel-md:
  inset 2px 2px 0.5px -2.65px oklch(var(--highlight) / 0.15),
  inset 0.35px 0.35px 0.3px oklch(var(--highlight) / 0.15),
  inset 2px 2px 0.4px -2.6px oklch(var(--highlight) / 0.2),
  inset 1px 1px 0.4px -1.3px oklch(var(--highlight) / 0.1),
  inset -0.6px -1.8px 1.4px -3.2px oklch(var(--highlight) / 0.8),
  inset -2px -2px 1px -3px oklch(var(--highlight) / 0.1);

  --bevel-lg:
  inset 2px 2px 0.5px -2.65px oklch(var(--highlight) / 0.15),
  inset 0.5px 0.5px 0.2px oklch(var(--highlight) / 0.08),
  inset 2px 2px 1.25px -3px oklch(var(--highlight) / 0.25),
  inset 1px 1px 0.25px -1.2px oklch(var(--highlight) / 0.1),
  inset -2px -2px 1px -3px oklch(var(--highlight) / 0.1),
  0.5px 0.5px 1px -0.5px oklch(var(--shadow) / 0.3);

  --bevel-xl:
  inset 2px 2px 0.5px -2.65px oklch(var(--highlight) / 0.2),
  inset 0.8px 0.8px 0.25px oklch(var(--highlight) / 0.1),
  inset 2px 2px 1.25px -3px oklch(var(--highlight) / 0.25),
  inset 1px 1px 0.25px -1.2px oklch(var(--highlight) / 0.1),
  inset -2px -2px 1px -3px oklch(var(--highlight) / 0.1),
  0.5px 0.5px 1px -0.5px oklch(var(--shadow) / 0.3);

  --bevel-test:
  inset 2px 2px 0.5px -2.65px hsla(0, 100%, 50%, 0.8) ,
  inset 0.75px 0.75px 0.25px hsla(50, 100%, 50%, 0.0015),
  inset 2px 2px 1.25px -3px hsla(100, 100%, 50%, 0.0008),
  inset 1px 1px 0.25px -1.25px hsla(200, 100%, 50%, 0.000008),
  inset -1px -1.5px 1px  hsla(0, 0%, 2%, 0.0015),
  inset -2px -2px 1px -3px hsla(300, 100%, 50%, 0.002),
  0.5px 0.5px 1px -0.5px hsla(0, 0%, 2%, 0.0005);

  //  specular
  //  main bevel
  //  blurry top-left
  //  top-left corner
  //  bottom-right corner
  //  thin bottom-right shadow




/* Flat bevels */
/* ================================================== */
  --flat-bevel-sm:
  inset 0 0.25px 0.35px -0.23px oklch(var(--highlight) / 0.15),
  inset 0 0.5px  0.5px  -0.25px oklch(var(--highlight) / 0.1),
  inset 0 0.5px  0.1px   0      oklch(var(--highlight) / 0.08);

  --flat-bevel-md:
  inset 0 0.25px 0.35px -0.23px oklch(var(--highlight) / 0.2),
  inset 0 1px 1px -1px oklch(var(--highlight) / 0.1),
  inset 0 0.8px 0.2px oklch(var(--highlight) / 0.08);

  --flat-bevel-lg:
  inset 0 0.25px 0.35px -0.22px oklch(var(--highlight) / 0.2),
  inset 0 1px 1.25px -1px oklch(var(--highlight) / 0.15),
  inset 0 1px 0.1px oklch(var(--highlight) / 0.08);
}

.bevel-sm { box-shadow: var(--bevel-sm); }
.bevel-md { box-shadow: var(--bevel-md); }
.bevel-lg { box-shadow: var(--bevel-lg); }

.flat-bevel-sm { box-shadow: var(--flat-bevel-sm); }
.flat-bevel-md { box-shadow: var(--flat-bevel-md); }
.flat-bevel-lg { box-shadow: var(--flat-bevel-lg); }