/* ========================================== */
/* Glass filters */
@use "../config" as *;
@use "../util" as *;
/* ========================================== */




html {
  --blur: 28px;

  @include bp(xs) {
    --blur: 32px;
  }

  @include bp(md) {
    --blur: 40px;
  }

  @include bp(lg) {
    --blur: 64px;
  }
}

:root, [data-theme=default] {
  --satu: 1.3;
  --bright: 0.95;
}

[data-theme="high-contrast"] {
  --satu: 1.5;
  --bright: 0.85;
}

@mixin glass-filter {
  -webkit-backdrop-filter:  blur(var(--blur)) brightness(var(--bright)) saturate(var(--satu));
  backdrop-filter: blur(var(--blur)) brightness(var(--bright)) saturate(var(--satu));
}

.glass-filter {
  @include glass-filter;
}

// /* Glass Fill mixin */
// /* ========================================== */
// @mixin fill($tint) {
//   @if not map-has-key($tints, $tint) {
//     @warn "Warning: `#{$tint}` is not a valid fill name.";
//   } @else {
//       background-color: map-get($tints, $tint);
//       @include glass-filter;
//   }
// }

// /* Glass fill classes */
// /* ========================================== */
// .fill {
//   @include tint-modifier('background-color') {
//     @include glass-filter;
//   }
// }