/* ================================== */
/* Glass filters */
@use "../config" as *;
@use "../util" as *;
/* ================================== */


$satu: 1.3;
$bright: 0.95;

:root {
  --blur: 24px;

  @include bp(xs) {
    --blur: 28px;
  }

  @include bp(md) {
    --blur: 32px;
  }

  @include bp(lg) {
    --blur: 48px;
  }
}

@mixin glass-filter {
  -webkit-backdrop-filter:  blur(var(--blur)) brightness($bright) saturate($satu);
  backdrop-filter: blur(var(--blur)) brightness($bright) saturate($satu);
}

.glass-filter {
  @include glass-filter;
}

// /* Glass Fill mixin */
// /* ================================== */
// @mixin fill($tint) {
//   @if not map-has-key($tints, $tint) {
//     @warn "Warning: `#{$tint}` is not a valid fill name.";
//   } @else {
//       background-color: map-get($tints, $tint);
//       @include glass-filter;
//   }
// }

// /* Glass fill classes */
// /* ================================== */
// .fill {
//   @include tint-modifier('background-color') {
//     @include glass-filter;
//   }
// }