/* ================================================== */
/* Glass */
@use "sass:map";
@use "../1-custom-styles/breakpoint" as bp;
@use "../2-util/mixin" as mix;
@use "../2-util/layout-help" as lh;
/* ================================================== */

/* backdrop-filter: <filter-function> values */
/* ================================================== */
/* ✨ Config these values ✨ */
html {
  --satu-mild: 0.8;
  --satu-base: 1.2;
  --satu-strong: 1.8;
  --satu-xstrong: 2.5;

  --bright-xdark: 0.6;
  --bright-dark: 0.8;
  --bright-base: 0.95;
  --bright-light: 1.25;

                       --blur: 10vw;
  @include bp.bp(md) { --blur: 56px; }
  @include bp.bp(lg) { --blur: 64px; }
}

/* backdrop-filter: */
/* ================================================== */
@mixin glass-filter-base {
  -webkit-backdrop-filter: blur(var(--blur)) brightness(0.95) saturate(1.2);
  backdrop-filter:         blur(var(--blur)) brightness(0.95) saturate(1.2);
}

@mixin glass-filter-vibrant {
  -webkit-backdrop-filter: blur(var(--blur)) brightness(1) saturate(1.75);
  backdrop-filter:         blur(var(--blur)) brightness(1) saturate(1.75);
}

@mixin glass-filter-xvibrant {
  -webkit-backdrop-filter: blur(var(--blur)) brightness(1) saturate(2.5);
  backdrop-filter:         blur(var(--blur)) brightness(1) saturate(2.5);
}

@mixin glass-filter-dark {
  -webkit-backdrop-filter: blur(var(--blur)) brightness(0.5) saturate(1.75);
  backdrop-filter:         blur(var(--blur)) brightness(0.5) saturate(1.75);
}

@mixin glass-filter-light {
  -webkit-backdrop-filter: blur(var(--blur)) brightness(1.2) saturate(1.2);
  backdrop-filter:         blur(var(--blur)) brightness(1.2) saturate(1.2);
}

/* Noise texture */
/* ================================================== */
/* Noise texture generator */
/* https://devsdash.com/tools/noise-texture-generator */
@mixin noise {
  background-repeat: repeat;
  background-size: 100px 100px;
  background-image: url(/assets/textures/noise-texture-gray-100x100.png);
}

/* 3D glass material */
/* ================================================== */
@mixin glass-3d {
  position: relative;
  overflow: hidden;
  @include glass-filter-base;

  &::after {
    @include lh.pseudo;
    z-index: 1;
    overflow: hidden;
    box-shadow: var(--bevel-lg);
  }

  &::before {
    @include lh.pseudo;
    z-index: -2;
    overflow: hidden;
    @include noise;
  }
}
.glass-3d { @include glass-3d; }


/* Button glass material */
/* ================================================== */
@mixin btn-glass {
  position: relative;
  overflow: hidden;

  &::after {
    @include lh.pseudo;
    overflow: hidden;
    z-index: 202;
    box-shadow: var(--bevel-md);
  }
}

/* edge-to-edge glass with a flat bevel */
/* ================================================== */
@mixin glass-e2e {
  position: relative;
  overflow: hidden;
  @include glass-filter-base;

  &::after {
    @include lh.pseudo;
    z-index: 1;
    overflow: hidden;
    box-shadow: var(--flat-bevel-lg);
  }

  &::before {
    @include lh.pseudo;
    z-index: -2;
    overflow: hidden;
    @include noise;
  }
}
.glass-e2e { @include glass-e2e; }


/* Glass with NO bevel */
/* ================================================== */
@mixin glass-no-bevel {
  position: relative;
  overflow: hidden;
  @include glass-filter-base;

  &::before {
    @include lh.pseudo;
    z-index: -2;
    overflow: hidden;
    @include noise;
  }
}
.glass-no-bevel { @include glass-no-bevel; }


/* ================================================== */
/* Container query */
/* ================================================== */
  @container (width > 97vw) {
    .glass-3d {
// background-color: green;
      &::after {
        box-shadow: var(--flat-bevel-lg);
      }

      > .full-w-inset {
        margin-left: var(--_neg-space);
      }
    }
  }

  @container (width < 97vw ) {

    .glass-3d {
// background-color: blue;
      &::after {
        box-shadow: var(--bevel-lg);
      }

      > .full-w-inset {
        margin-left: calc(var(--_neg-space) + 0.5px);
      }
    }
  }