/* ========================================== */
/* Glass */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "bevel";
/* ========================================== */

/* Glass filter */
/* ========================================== */
html {
  --satu: 1.3;
  --bright: 0.95;
  --blur: 28px;

  @include bp(xs) {
    --blur: 32px;
  }

  @include bp(md) {
    --blur: 28px;
  }

  @include bp(lg) {
    --blur: 64px;
  }
}

@mixin glass-filter {
  -webkit-backdrop-filter:  blur(var(--blur)) brightness(var(--bright)) saturate(var(--satu));
  backdrop-filter: blur(var(--blur)) brightness(var(--bright)) saturate(var(--satu));
}

/* Glass noise texture */
/* ========================================== */
/* Noise texture generator */
/* https://devsdash.com/tools/noise-texture-generator */

@mixin noise {
  background-repeat: repeat;
  background-size: 100px 100px;
  background-image:
    url(/assets/textures/noise-texture-white-100den-10op-500x500.png),
    url(/assets/textures/noise-texture-black-100den-10op-500x500.png);
}


/* Base Glass */
/* ========================================== */
@mixin glass--base {
  position: relative;
  overflow: hidden;
  @include glass-filter;
  @content;

  &::after {
    @include pseudo;
    z-index: 1;
    overflow: hidden;
    box-shadow: bevel.$bevel--md;

    @include bp(sm) {
      box-shadow: bevel.$bevel--lg;
    }
  }

  &::before {
    @include pseudo;
    z-index: -2;
    overflow: hidden;
    @include noise;
  }
}

.glass--base {
  @include glass--base;
}

/* Glass classes */
/* ========================================== */
.glass {
  @include generate-classes($tints, 'background-color', 'tint', '--') {
    @include glass--base;
};

  @include generate-classes($depth, 'background-color', 'depth', '--') {
    @include glass--base;
  }
}

/* Glass with no bevel */
/* ========================================== */
@mixin glass--no-bevel {
  position: relative;
  overflow: hidden;
  @include glass-filter;
  @content;

  &::after {
    @include pseudo;
    z-index: -1;
    overflow: hidden;
    @include noise;
  }
}

.glass--no-bevel {
  @include glass--no-bevel;
}

/* Flat bevel on mobile */
/* ========================================== */
/* For components that switch to edge-to-edge on mobile */
@mixin glass--flat-bevel-mobile {
  @include glass--base {
    &::after {
      @include pseudo;
      z-index: -1;
      overflow: hidden;
      box-shadow: bevel.$flat-bevel--sm;
      @include noise;

      @include bp(sm) {
        box-shadow: bevel.$bevel--lg;
      }
    }
  }
}

.glass--flat-bevel-mobile {
  @include glass--flat-bevel-mobile;
}


/* Button glass material */
/* ====================================================================== */
@mixin btn-glass {
  position: relative;
  overflow: hidden;
  @include glass-filter;

  &::after {
    @include pseudo;
    overflow: hidden;
    z-index: 202;
    box-shadow: bevel.$bevel--sm;
    // @include noise--sm;
  }
}