/* ================================== */
/* Glass */
@use "../0-config/animation" as ani;
@use "../0-config/breakpoint" as bp;
@use "../0-config/color";
@use "../0-config/shadow" as sha;
@use "../1-util/layout-help" as *;
@use "bevel";
@use "filter";
@use "texture" as tex;
@use "tint";
/* ================================== */


/* Base Glass mixin */
/* ================================== */
@mixin glass-base {
  position: relative;
  @include filter.glass-filter;
  @content;

  &::after {
    @include pseudo;
    z-index: -1;
    box-shadow: bevel.$bevel-md;
    @include tex.noise-md;

    @include bp.bp(xs) {
      box-shadow: bevel.$bevel-lg;
    }
  }
}

.glass-base {
  @include glass-base;
}

/* Generates `.glass-` classes from color.$tints MAP */
/* ================================== */
.glass {
  @include tint.tint-modifier('background-color') {
    @include glass-base;
  }
}


.full-w-mobile {

}

/* The main glass with the bevel removed when the layout switches to edge-to-edge on mobile */
/* ================================== */
@mixin glass--no-bevel-mobile {
  @include glass-base {
    box-shadow: bevel.$flat-bevel-sm;

    @include bp.bp(xs) {
      box-shadow: bevel.$bevel-lg;
    }
  }
}

.glass--no-bevel-mobile {
  @include glass--no-bevel-mobile;
}

/* The main glass but without a bevel */
/* ================================== */
@mixin glass--no-bevel {
  position: relative;

  &::before {
    @include pseudo;
    z-index: -2;
    @include tex.noise-md;
  }
}

.glass--no-bevel {
  @include glass--no-bevel;
}