/* ================================================== */
/* Nav */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

body {
  --nav-padding: var(--xs);
  --nav-item-h: var(--ui-h-md);
  --nav-h: calc(var(--nav-item-h) + (var(--nav-padding) * 2));
}

.main-nav-bin {
  position: fixed;
  z-index: z(nav);
  height: var(--nav-h);
  inset: 0;
  padding: var(--nav-padding);
  pointer-events: none;
}

.main-nav {
  max-width: $bp-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--3xs);
  margin: 0 auto;
  pointer-events: none;
}

.nav-item {
  z-index: z(on-nav);
  height: var(--nav-item-h);
  display: grid;
  place-items: center;

  & > svg {
    width: calc(var(--nav-item-h) * 0.8);
    height: calc(var(--nav-item-h) * 0.8);
  }
}