/* ================================== */
/* Accordion */
@use "../0-base/color";
@use "../0-base/text";
@use "../0-base/breakpoint" as bp;
@use "../1-layout/z-index" as z;
@use "../1-layout/flex";
@use "../2-visual/fill";
@use "../2-visual/glass";
@use "../2-visual/shadow" as sha;
/* ================================== */

.accordion__warp {
  display: grid;
  width: 100%;
}

.accordion__header {
  /* layout */
  display: grid;
  gap: var(--3xs);
  padding: var(--space-thin);

  /* visual */
  border-radius: 0;
  @include glass.glass--no-bevel-mobile;
  @include fill.fill-xdark;

  @include bp.bp(sm) {
    border-radius: var(--lg) var(--lg) 0 0;
  }

  &.is-closed {
    @include bp.bp(sm) {
      overflow: hidden;
      border-radius: var(--lg);
    }
  }
}

.accordion__bottom {
  display: grid;
  gap: var(--3xs);

  @include bp.bp(sm) {
    @include flex.flex-c-y;
    @include flex.flex-sb;
  }
}

.accordion__toggle {
  @include flex.flex-c-y;
  @include flex.flex-r;
  pointer-events: auto;
  cursor: pointer;
  width: 100%;
  z-index: 10;

  @include bp.bp(sm) {
    width: fit-content;
  }

  >.see-more-btn {
    display: none;
  }

  >.see-less-btn {
    width: fit-content;
    @include flex.flex-r;
    @include flex.flex-c-y;
    gap: var(--2xs);
  }

  &.is-closed {

    >.see-more-btn {
      width: fit-content;
      @include flex.flex-r;
      @include flex.flex-c-y;
      gap: var(--2xs);
    }
  
    >.see-less-btn {
      display: none;
    }
  }
}

.see-more-btn {
  pointer-events: none;
}

.see-less-btn {
  pointer-events: none;
}

.accordion__content {
  /* layout */
  width: 100%;
  height: fit-content;
  display: grid;
  gap: var(--3xl);
  padding: var(--space-wide);
  transition: max-height 1000ms ease;

  /* visual */
  // @include fill.fill-3xdark;
  background-color: color.$dark;
  border-radius: 0;

  @include bp.bp(sm) {
    border-radius: 0 0 var(--lg) var(--lg);
  }

  &.is-closed {
    height: 0;
    display: none;
  }
}

.accordion__title {
  @include text.title-text;
  font-size: var(--lg);
}

.accordion__text {
  width: fit-content;
}