/* ================================== */
/* Backgrounds */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/text";
@use "../2-visual/fill";
@use "../2-visual/shadow" as sha;
@use "../2-visual/inset" as in;
/* ================================== */

.bg-box-sm {
  width: 100%;
  height: fit-content;
  // display: grid;
  gap: var(--xs);
  padding: var(--sm);
  border-radius: var(--xs);

  @include bp.bp(sm) {
    gap: var(--sm);
    padding: var(--md);
    border-radius: var(--sm);
  }

  &.fit {
    width: fit-content;
  }
}

@mixin box--full-w {
  width: 100%;
  display: grid;
  // place-items: center;
  // border-radius: 0;

}

.box--full-w-2xl {
  @include box--full-w;
  gap: var(--2xl);
  padding: var(--2xl);

  // @include bp.bp(sm) {
  //   gap: var(--xl);
  //   padding: var(--2xl);
  // }
}







@mixin box {
  width: 100%;
  height: fit-content;
  display: grid;
  // place-items: center;
  box-shadow: var(--sha-3xl);

  &.fit {
    width: fit-content;
  }

  &.mobile-full {
    border-radius: 0;
    width: 100%;

    @include bp.bp(sm) {
      border-radius: var(--lg);

      &.fit {
        width: fit-content;
      }
    }
  }
}

.box-md {
  @include box;
  gap: var(--sm);
  padding: var(--sm);
  border-radius: var(--sm);

  >.full-w-img {
    display: grid;
    place-self: center;
    margin-left: calc(-1 * var(--sm));
    margin-right: calc(-1 * var(--sm));
  }

  @include bp.bp(sm) {
    gap: var(--md);
    padding: var(--md);
    border-radius: var(--md);

    >.full-w-img {
      display: grid;
      place-self: center;
      margin-left: calc(-1 * var(--md));
      margin-right: calc(-1 * var(--md));
    }
  }
}

.box-lg {
  @include box;
  --space: var(--md);

  gap: var(--sm);
  padding: var(--space);
  border-radius: var(--space);

  >.full-w-img {
    display: grid;
    place-self: center;
    margin-left: calc(-1 * var(--space));
    margin-right: calc(-1 * var(--space));
  }

  @include bp.bp(sm) {
    --space: var(--lg);
    gap: var(--md);
    // padding: var(--md);
    // border-radius: var(--md);

    // >.full-w-img {
    //   display: grid;
    //   place-self: center;
    //   margin-left: calc(-1 * var(--md));
    //   margin-right: calc(-1 * var(--md));
    // }
  }
}

.box-xl {
  @include box;
  gap: var(--md);
  padding: var(--lg);
  border-radius: var(--lg);

  >.full-w-img {
    display: grid;
    place-self: center;
    margin-left: calc(-1 * var(--lg));
    margin-right: calc(-1 * var(--lg));
  }

  @include bp.bp(sm) {
    gap: var(--lg);
    padding: var(--xl);
    border-radius: var(--lg);

    >.full-w-img {
      display: grid;
      place-self: center;
      margin-left: calc(-1 * var(--xl));
      margin-right: calc(-1 * var(--xl));
    }
  }
}

.box-2xl {
  @include box;

  gap: var(--md);
  padding: var(--xl);
  border-radius: var(--md);

  @include bp.bp(sm) {
    gap: var(--lg);
    padding: var(--2xl);
    border-radius: var(--lg);
  }

}

.box-4xl {
  @include box;
  gap: var(--2xl);
  padding: var(--2xl);
  border-radius: var(--lg);

  @include bp.bp(sm) {
    gap: var(--3xl);
    padding: var(--4xl);
    border-radius: var(--xl);
  }
}



/* Thin box */
/* ================================== */
@mixin box-thin {
  // display: grid;
  // gap: var(--sm);
  // margin: 0 auto;
  padding: var(--space-thin);
  border-radius: var(--sm);

  @include bp.bp(sm) {
    // gap: var(--md);
    border-radius: var(--md);
  }
}

.box-thin-fit {
  width: fit-content;
  @include box-thin;
}

.box-thin-100 {
  width: 100%;
  @include box-thin;
}


/* Wide box */
/* ================================== */
@mixin box-wide {
  /* layout */
  padding: var(--xl) var(--sm);

  /* visual */
  border-radius: var(--md);
  box-shadow: var(--sha-xl);

  @include bp.bp(xs) {
    padding: var(--2xl) var(--md);
  }

  @include bp.bp(md) {
    padding: var(--space-wide);
    border-radius: var(--lg);
  }
}

.box-wide-fit {
  width: 100%;
  @include box-wide;
  margin: 0 auto;

  @include bp.bp(xs) {
    width: fit-content;
  }
}

.box-wide-100 {
  width: 100%;
  @include box-wide;
}

.box-wide-resp {
  width: 100%;
  @include box-wide;
  border-radius: 0;

  @include bp.bp(sm) {
    width: fit-content;
    border-radius: var(--lg);
  }

  @include bp.bp(lg) {
    border-radius: var(--xl);
  }
}

.box__title {
  text-align: center;
  @include text.title-thin;
  font-size: var(--text-2xl);
  text-shadow: var(--text-sha-md);

  @include bp.bp(sm) {
    font-size: var(--text-3xl);
  }
}


// .thin-heading {
//   @include title-thin;
//   font-size: var(--text-md);
//   line-height: $line-height-md;

//   @include bp.bp(sm) {
//     font-size: var(--text-lg);
//   }

//   @include bp.bp(md) {
//     font-size: var(--text-xl);
//   }
// }


.space-thin > .full-w-fill {
  margin-left: calc((-1 * var(--space-thin)) + 0.5px);
  margin-right: calc(-1 * var(--space-thin));
  box-shadow: in.$flat-inset-md;
}

.space-wide > .full-w-fill {
  margin-left: calc((-1 * var(--space-wide)) + 0.5px);
  margin-right: calc(-1 * var(--space-wide));
  box-shadow: in.$flat-inset-md;
}
