/* ================================== */
/* Buttons */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/size";
@use "../0-base/text";
@use "../1-layout/flex";
@use "../1-layout/z-index" as z;
@use "../1-layout/layout-help" as help;
@use "../2-visual/animation" as ani;
@use "../2-visual/border" as br;
@use "../2-visual/bevel";
@use "../2-visual/fill";
@use "../2-visual/shadow" as sha;
/* ================================== */

/* ================================== */
//* Button size & layout */
/* ================================== */

/* Button text */
/* ================================== */
@mixin btn-text {
  font-family: text.$font-family-title;
  font-weight: text.$font-weight-sm;
  letter-spacing: text.$letter-spacing-md;
  text-align: center;
  // text-wrap: nowrap;
  color: color.$text-light;
  z-index: z.z(on-btn);
  text-shadow: sha.$text-sha-sm;
}

/* Button base */
/* ================================== */
@mixin btn-base {
  width: fit-content;
  @include flex.flex-c;
  @include btn-text;
  border-radius: br.$round;
  z-index: z.z(btn);

  & img {
    width: auto;
    align-self: center;
    z-index: z.z(on-btn);
  }
}

/* Button sm */
/* ================================== */
.btn-sm {
  /* config */
  $inner-h: 0.8em; // ← set font size/line height/icon height here
  $p-t: 1px; // ← padding-top diff for every font
  $p-b: 0;
  $p-x: 0.85em;
  $p-x-icon: 0.7em;
  
  &.btn-icon {
    gap: 0.25em;
    padding: $p-t $p-x-icon $p-b $p-x-icon;
  }

  /* layout */
  @include btn-base;
  height: var(--ui-sm); 
  font-size: $inner-h;
  line-height: $inner-h;
  padding: $p-t $p-x $p-b $p-x;

  & img {
    height: calc(1.1 * $inner-h);
    margin-top: calc(-1 * $p-t);
  }
}

/* Button md */
/* ================================== */
.btn-md {
  /* config */
  $inner-h: 0.9em; // ← set font size/line height/icon height here
  $p-t: 1px; // ← padding-top diff for every font
  $p-b: 0;
  $p-x: 1em;
  $p-x-icon: 0.75em;
  
  &.btn-icon {
    gap: 0.3em;
    padding: $p-t $p-x-icon $p-b $p-x-icon;
  }

  /* layout */
  @include btn-base;
  height: var(--ui-md); 
  font-size: $inner-h;
  line-height: $inner-h;
  padding: $p-t $p-x $p-b $p-x;

  & img {
    height: calc(1.1 * $inner-h);
    margin-top: calc(-1 * $p-t);
  }
}

/* Button lg */
/* ================================== */
.btn-lg {
  /* config */
  $inner-h: 1em; // ← set font size/line height/icon height here
  $p-t: 1px; // ← padding-top diff for every font
  $p-b: 0;
  $p-x: 1.4em;
  $p-x-icon: 1.1em;
  
  &.btn-icon {
    gap: 0.4em;
    padding: $p-t $p-x-icon $p-b $p-x-icon;
  }

  /* layout */
  @include btn-base;
  height: var(--ui-lg); 
  font-size: $inner-h;
  line-height: $inner-h;
  padding: $p-t $p-x $p-b $p-x;

  & img {
    height: calc(1.1 * $inner-h);
    margin-top: calc(-1 * $p-t);
  }
}

//* Round buttons */
/* ================================== */
@mixin round-btn-base {
  @include flex.flex-c;
  border-radius: br.$round;
  z-index: z.z(btn);

  & img {
    width: auto;
    align-self: center;
    z-index: z.z(on-btn);
  }
}

.round-btn-sm {
  @include round-btn-base;
  width: var(--ui-sm); 
  height: var(--ui-sm); 

  & img {
    height: calc(var(--ui-sm) * 0.65); 
  }
}

.round-btn-md {
  @include round-btn-base;
  width: var(--ui-md); 
  height: var(--ui-md); 

  & img {
    height: calc(var(--ui-md) * 0.65); 
  }
}

.round-btn-lg {
  @include round-btn-base;
  width: var(--ui-lg); 
  height: var(--ui-lg); 

  & img {
    height: calc(var(--ui-lg) * 0.6); 
  }
}

/* ================================== */
//* Button state & styling */
/* ================================== */

/* 3D Button material base */
/* ================================== */
@mixin btn-material-base {
  position: relative;
  @include fill.glass-filter;
  transition: 
    background-color ani.$speed-slow ease,
    color ani.$speed-slow ease;
  box-shadow: sha.$sha-sm;

  &::after {
    @include help.pseudo;
    z-index: -1;
    @include fill.noise-sm;
    box-shadow: bevel.$bevel-sm;
  }
}

/* 3D button glass */
/* ================================== */
@mixin btn-glass {
  @include btn-material-base;
  background-color: color.$tint-clear;

  &:hover {
    background-color: color.$tint-light;
    color: color.$text-light;
  }

  &:active {
    background-color: color.$tint-xlight;
    color: color.$text-dark;
  }
}

.btn-glass {
  @include btn-glass;
}


/* Light 3D button glass */
/* ================================== */
@mixin btn-glass-light {
  @include btn-material-base;
  background-color: color.$tint-xlight;

  &:hover {
    background-color: color.$tint-2xlight;
    color: color.$text-light;
  }

  &:active {
    background-color: color.$tint-3xlight;
    color: color.$text-dark;
  }
}

.btn-glass-light {
  @include btn-glass-light;
}

/* Dark 3D button glass */
/* ================================== */
@mixin btn-glass-dark {
  @include btn-material-base;
  background-color: color.$tint-xdark;

  &:hover {
    background-color: color.$tint-2xdark;
  }

  &:active {
    background-color: color.$tint-3xdark;
    color: color.$text-light;
  }
}

.btn-glass-dark {
  @include btn-glass-dark;
}

/* 2D clear button */
/* ================================== */
@mixin btn-clear {
  background-color: transparent;
  transition: 
    background-color ani.$speed-slow ease,
    box-shadow ani.$speed-slow ease,
    color ani.$speed-slow ease;
  box-shadow: none;

  &:hover {
    background-color: color.$tint-light;
    color: color.$text-light;
    box-shadow: sha.$sha-sm;
  }

  &:active {
    background-color: color.$tint-xlight;
    color: color.$text-dark;
    box-shadow: sha.$sha-xs;
  }
}

.btn-clear {
  @include btn-clear;
}