/* ================================== */
/* Inputs */
@use "../0-base" as *;
@use "../1-layout" as *;
@use "../2-visual" as *;
/* ================================== */


.input-bin {
  z-index: 40;
  isolation: isolate;
}


input {
  position: relative;
  pointer-events: auto;
  cursor: text;
  width: min(300px, 100%);
  height: var(--ui-lg);
  border-radius: $round;
  margin-top: 0.4rem;
  padding: 0 0.75rem;
  font-size: 1rem;
  color: white;
  font-weight: 300;

  box-shadow:   
    inset  0     -0.8px 0 rgba($light-color, 0.2), // bottom highlight
    inset -0.8px -1.2px 0 rgba($light-color, 0.25), // bottom-right bevel
    inset 0 3px 6px rgba($shadow-color, 0.1), // L around
    inset 2px 1.25px 3px rgba($shadow-color, 0.1), // med top left
    inset 1px 1px 1px rgba($shadow-color, 0.1); // small around


  -webkit-backdrop-filter: blur(20px) brightness(0.9);
  backdrop-filter: blur(20px) brightness(0.9);

    background-color: rgba($ink4, 0.03);
}

// .input-field  {
//   position: relative;
//   pointer-events: auto;
//   cursor: text;
//   width: min(300px, 100%);
//   height: var(--ui-lg); 
//   border-radius: $round;
//   margin-top: 0.4rem;
//   padding: 0 0.75rem;
//   font-size: 1rem;
//   color: white;
//   font-weight: 300;

//   isolation: isolate;
//   z-index: 20;

//   box-shadow:   
//     inset  0     -0.8px 0 rgba($light-color, 0.15), // bottom highlight
//     inset -0.8px -1.2px 0 rgba($light-color, 0.25); // bottom-right bevel

//   -webkit-backdrop-filter: blur(20px) brightness(0.95);
//   backdrop-filter: blur(20px) brightness(0.95);


//   // background-image: url(/assets/images/noise-texture-500x500.png);
//   // background-size: 500px;
//   // background-repeat: repeat;

//   // // background-color: rgba($sky98, 0.12);
//   // background-color: rgba($ink6, 0.2);

//   // -webkit-backdrop-filter: blur(10px) ;
//   // backdrop-filter: blur(10px) ;

//   &::before {
//     content: "";
//     position: absolute;
//     pointer-events: none;
//     inset: 0;
//     border-radius: inherit;
//     z-index: 190;
//     width: 100%;
//     height: 100%;

//     filter: brightness(0.1);
  
//     box-shadow:   inset 0 3px 6px rgba($shadow-color, 0.1), // L around
//     inset 2px 1.25px 3px rgba($shadow-color, 0.1), // med top left
//     inset 1px 1px 1px rgba($shadow-color, 0.1); // small around
  
//       // background-color: rgba($sky98, 0.12);
//     // background-color: rgba($ink6, 0.5);
//     // mix-blend-mode: multiply; //under layer almost seethrough
//     // mix-blend-mode: luminosity; // under layer white ish shadow looks good
  
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     pointer-events: none;
//     inset: 0;
//     border-radius: inherit;
//     z-index: 22;
//     width: 100%;
//     height: 100%;
  
//     border-bottom: 2px solid transparent;
//     background: linear-gradient(
//         to right,
//         rgba($snow90, 0.1) 0%,
//         rgba($sky99, 0.5) 80%,
//         rgba($snow95, 0.2) 100%) border-box;
  
//     -webkit-mask: 
//       border-box linear-gradient(#fff, #fff),
//       padding-box linear-gradient(#000, #000);
  
//     -webkit-mask-composite: destination-out;
//     mask-composite: exclude;
//   }
// }





