/* ================================== */
/* Tab menu */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/size";
@use "../0-base/text";
@use "../1-layout/flex";
@use "../2-visual/animation" as ani;
@use "../2-visual/border" as br;
@use "../2-visual/shadow" as sha;
@use "button" as btn;
/* ================================== */

.tab-menu__wrap {

}

.tab-menu {
  width: fit-content;
  max-width: 100%;
  height: var(--ui-md);
  margin: auto;
  @include flex.flex-c;
  gap: var(--3xs);

  --tab-br: 8px;
  --padding: 3px;
  padding: var(--padding);
  @include br.outer-br (var(--tab-br), var(--padding));

  @include bp.bp(md) {
    gap: var(--3xs);
  }
}

.tab {
  --inner-h: 0.95rem; 

  width: max-content; 
  height: 100%;
  @include flex.flex-c;
  padding: 0 0.8rem;

  pointer-events: auto;
  cursor: pointer;

  font-size: var(--inner-h);
  line-height: var(--inner-h);
  @include btn.btn-text;
  @include btn.btn-clear;
  border-radius: var(--tab-br);

  @include bp.bp(xs) {
    padding: 0 0.9rem;
  }

  @include bp.bp(md) {
    --inner-h: 1.1rem;
    padding: 0 1.2rem;
  }

  @include bp.bp(lg) {
    padding: 0 1.3rem;
  }

  &.tab-active {
    -webkit-backdrop-filter: brightness(1.5);
    backdrop-filter: brightness(1.5);
    background-color: color.$tint-xlight;
    color: color.$text-dark-mild;
    box-shadow: sha.$sha-2xs;
  }
}

