/* ================================== */
/* Tab menu */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/size";
@use "../0-base/text";
@use "../1-layout/flex";
@use "../2-visual/animation" as ani;
@use "../2-visual/border" as br;
@use "../2-visual/shadow" as sha;
@use "button" as btn;
/* ================================== */

.tab-menu {
  width: fit-content;
  height: var(--ui-lg);
  margin: auto;
  @include flex.flex-c;
  gap: var(--4xs);

  --padding: 3px;
  padding: var(--padding);
  --tab-br: 8px;
  @include br.outer-br (var(--tab-br), var(--padding));
}

.tab {
  --inner-h: 0.95rem; 

  width: max-content; 
  height: 100%;
  @include flex.flex-c;
  padding: 0 0.7rem;

  pointer-events: auto;
  cursor: pointer;

  font-size: var(--inner-h);
  line-height: var(--inner-h);
  @include btn.btn-text;

  border-radius: var(--tab-br);

  @include bp.bp(sm) {
    padding: 0 1rem;
  }

  @include bp.bp(md) {
    --inner-h: 1.1rem;
  }

  @include bp.bp(lg) {
    --inner-h: 1.25rem;
  }

  &.tab-active {
    background-color: rgba(color.$light, 0.05);
    -webkit-backdrop-filter: brightness(1.3);
    backdrop-filter: brightness(1.3);
    box-shadow: sha.$sha-2xs;
  }
}

