/* ================================== */
/* Gradient styles */
/* ================================== */

.gradient--xlight-gray {
  background: linear-gradient(to top left,
    oklch(80% var(--dark--ch) / 0.95) 0%,
    oklch(85% var(--dark--ch) / 0.9) 70%,
    oklch(90% var(--dark--ch) / 0.95) 100%);
}

.gradient--light-gray {
  background: linear-gradient(to top left,
    oklch(50% var(--dark--ch) / 0.95) 0%,
    oklch(60% var(--dark--ch) / 0.9) 70%,
    oklch(80% var(--dark--ch) / 0.95) 100%);
}

.gradient--mid-gray {
  background: linear-gradient(to top left,
    oklch(40% var(--dark--ch) / 0.85) 0%,
    oklch(50% var(--dark--ch) / 0.9) 70%,
    oklch(60% var(--dark--ch) / 0.95) 100%);
}

.gradient--dark-gray {
  background: linear-gradient(to top left,
    oklch(30% var(--dark--ch) / 0.95) 0%,
    oklch(40% var(--dark--ch) / 0.9) 70%,
    oklch(50% var(--dark--ch) / 0.95) 100%);
}

.gradient--xdark-gray {
  background: linear-gradient(to top left,
    oklch(20% var(--dark--ch) / 0.95) 0%,
    oklch(30% var(--dark--ch) / 0.9) 70%,
    oklch(40% var(--dark--ch) / 0.95) 100%);
}