/* ========================================== */
/* Interactions */
@use "../config" as *;
@use "../util" as *;
/* ========================================== */

$focus-tran: outline ease-in-out $speed--base;

:focus {
  outline: 1.5px solid oklch(90% var(--light--ch) / 0.3);
  outline-offset: 2px;
  border-radius: inherit;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}