/* ========================================== */
/* Text styles used in project */
@use "../config" as *;
@use "../util" as *;
@use "../2-custom-styles/border-styles" as border;
/* ========================================== */

/* Body text */
/* ========================================== */
@mixin body-text {
  font-family: $font-family-body;
  font-weight: $font-weight--sm;
  font-size: var(--text--sm);
  letter-spacing: $letter-spacing--sm;
  line-height: $line-height--md;
  color: var(--text--base);
}

body,
p,
input,
textarea {
  @include body-text;
}


/* Thick titles */
/* ========================================== */
@mixin title-thick {
  font-family: $font-family-title;
  font-weight: $font-weight--lg;
  line-height: $line-height--sm;
  letter-spacing: $letter-spacing--sm;
}
.title-thick { @include title-thick; }


/* Thin titles */
/* ========================================== */
@mixin title-thin {
  font-family: $font-family-title;
  font-weight: $font-weight--sm;
  letter-spacing: $letter-spacing--sm;
  line-height: $line-height--md;
}
.title-thin { @include title-thin; }


/* Text links */
/* ========================================== */
.text-link {
  color: var(--link--rest);

  :hover {
    color: var(--link--hover);
  }

  :visited {
    color: var(--link--visit);
  }
}


/* Eyebrow text */
/* ========================================== */
@mixin eyebrow {
  font-family: $font-family-title;
  font-weight: $font-weight--md;
  font-size: var(--text--2xs);
  letter-spacing: $letter-spacing--md;
  line-height: $line-height--sm;

  color: var(--text--mild);
  text-transform: uppercase;
  text-shadow: var(--text-sha--2xs);
}
.eyebrow { @include eyebrow; }


/* Code */
/* ========================================== */
pre code {
  display: block;
  white-space: pre;
  max-width: 100%;
}

@mixin code {
  font-family: $font-family-code;
  font-size: var(--text--sm);
  line-height: $line-height--lg;
  color:  oklch(var(--accent--80) / 1);
}
.code { @include code; }

.code--cl {
  color:  oklch(var(--accent--80) / 1);
}

.code--pro {
  color: oklch(var(--primary--80) / 1);
}

.code--val {
  color: oklch(var(--primary--95) / 1);
}

.code--num {
  color: oklch(80% var(--accent--70) / 1);
}

.code--co {
  color: oklch(var(--neutral--65) / 1);
}



/* Demo website text styles */
/* ========================================== */


/* Labels */
/* ========================================== */
@mixin label-text {
  font-family: $font-family-title;
  font-weight: $font-weight--md;
  letter-spacing: $letter-spacing--sm;
  line-height: 1;
}

.label-text {
  @include label-text;
}


/* Data labels */
/* ========================================== */
.data-label--xs {
  @include title-thick;
  font-size: var(--text--xs);
  text-shadow: var(--text-sha--3xs);
// color: transparent;
}

.data-label--sm {
  @include title-thick;
  font-size: var(--text--sm);
  text-shadow: var(--text-sha--2xs);
}

.data-label--md {
  @include title-thick;
  font-size: var(--text--md);
  text-shadow: var(--text-sha--xs);
}

.data-label--lg {
  @include title-thick;
  font-size: var(--text--lg);
  text-shadow: var(--text-sha--sm);
}

/* Class names */
/* ========================================== */
.class-name--xs {
  font-weight: $font-weight--md;
  font-family: $font-family-title;
  font-size: var(--text--2xs);
  letter-spacing: $letter-spacing--lg;
  color: var(--text--xbold);
  text-shadow: var(--text-sha--xs);

  @include bp(sm) {
    font-size: var(--text--xs);
  }
}

.class-name--sm {
  font-weight: $font-weight--md;
  font-family: $font-family-title;
  font-size: var(--text--xs);
  letter-spacing: $letter-spacing--lg;
  color: var(--text--xbold);
  text-shadow: var(--text-sha--md);

  @include bp(md) {
    font-size: var(--text--sm);
  }

  @include bp(lg) {
    font-size: var(--text--md);
  }
}



/* Headings */
/* ========================================== */
.heading--xs{
  @include eyebrow;
  color: oklch(var(--neutral--95) / 0.8);
  border-bottom: 1px solid oklch(var(--neutral--95) / 0.5);
}


/* ========================================== */
.big-title {
  font-size: var(--text--3xl);
  @include title-thin;
}


.headline {

}

.subhead {
  font-weight: $font-weight--md;
  font-size: var(--text--xs);
  letter-spacing: $letter-spacing--md;
  line-height: $line-height--md;
  color: var(--text--mild);
  text-shadow: var(--text-sha--2xs);
}

.caption {
  font-size: var(--text--xs);
  font-weight: $font-weight--sm;
}

.footnote {
  font-size: var(--text--2xs);
  font-weight: $font-weight--sm;
}