/* ================================================== */
/* Accordion */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
@use "card" as card;
/* ================================================== */

.accordion-bin {
  --space: var(--md);
  display: grid;
  width: min(100%, var(--max-w-md));
}

.accordion-body {
  @include card.card-base;
  background-color: var(--tint-xdark);
  // max-width: 100%;
  box-shadow: var(--sha-lg);
  @include radius("md");
  overflow: hidden;
}

.accordion-toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  pointer-events: auto;
  cursor: pointer;
  border-radius: var(--2xs);
  background-color: transparent;

  &:hover {
    background-color: var(--tint-light);
  }

  & > .see-more-btn {
    display: none;
  }

  & > .see-less-btn {
    display: flex;
  }

  &.is-closed {
    & > .see-more-btn {
      display: flex;
    }

    & > .see-less-btn {
      display: none;
    }
  }
}

.see-more-btn, .see-less-btn {
  pointer-events: none;

  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--3xs);
  padding: var(--3xs);

  font-family: $font-family-title;
  font-weight: $font-weight-md;
  font-size: var(--text-sm);
  letter-spacing: $letter-spacing-lg;
  color: var(--color-white);

  & > svg {
    @include svg-icon;
    background-color: var(--color-white);
    height: 1.5rem;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.accordion-content {
  z-index: 2;
  width: min(100%, var(--max-w-md));
  height: fit-content;
  display: grid;
  gap: var(--space);
  padding-top: var(--4xl);
  padding-bottom: var(--space);
  padding-left: var(--space);
  padding-right: var(--space);
  margin-top: calc(-1 * var(--2xl));

 @include glass.glass-filter-xdark;
  @include radius("md");
  overflow: hidden;
  background-color: var(--tint-3xdark);
  box-shadow: var(--sha-lg);

  animation: slide-down 200ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  &.is-closed {
    display: none;
    height: 0;
  }
}