/* ================================================== */
/* Accordion */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ================================================== */

.accordion_bin {
  --space: var(--md);

  @include bp(md) {
    --space: var(--lg);
  }
}

.accordion-body {
  /* layout */
  position: relative;
  z-index: 5;
  display: grid;

  /* visual */
  @include glass.glass_base;
  background-color: var(--tint--xdark);

  box-shadow: var(--sha--xl);
  border-radius: var(--space);
  overflow: hidden;
}

.accordion-header {
  display: grid;
  padding: var(--space);
}

.accordion-summary {
  display: grid;
  gap: var(--space);

  &.full-w-inset {
    padding: var(--space);
    background-color: var(--inset-bg--deep);
    box-shadow: var(--flat-inset--lg);
  }
}

.see-more-btn, .see-less-btn {
  pointer-events: none;

  & > p {
    font-family: $font-family-title;
    font-weight: $font-weight--md;
    font-size: var(--text--sm);
    letter-spacing: $letter-spacing--lg;
    color: var(--color--white);
  }
}

.accordion-toggle {
  /* layout */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--space);

  /* visual */
  pointer-events: auto;
  cursor: pointer;
  background-color: transparent;
  // @include ui-transitions;

  &:hover {
    background-color: var(--tint--light);
  }

  >.see-more-btn {
    display: none;
  }

  >.see-less-btn {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--3xs);
  }

  &.is-closed {

    >.see-more-btn {
      width: fit-content;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: var(--3xs);
    }

    >.see-less-btn {
      display: none;
    }
  }
}


@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.accordion-content {
  /* layout */
  width: 100%;
  height: fit-content;
  display: grid;
  gap: var(--space);
  padding-top: var(--2xl);
  padding-bottom: var(--space);
  padding-left: var(--space);
  padding-right: var(--space);
  margin-top: calc(-1 * var(--xl));

  /* visual */
  border-radius: 0 0 var(--space) var(--space);
  box-shadow: var(--sha--xl);
  @include glass.glass-filter;
  background-color: var(--tint--4xdark);
  color: var(--tint--3xlight);

  animation: slide-down 200ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  &.is-closed {
    display: none;
    height: 0;
  }
}

.accordion-title {
  @include title--thick;
  font-size: var(--text--xl);
  text-shadow: var(--text-sha--sm);
  color: var(--text--strong);
}

.accordion-text {
  max-width: 100%;
  font-size: var(--text--sm);
}