/* ================================================== */
/* Buttons */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================================== */

/* Button transition */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-transition {
  will-change: backdrop-filter, background-color;
  transition: backdrop-filter $speed-fast $smooth-cubic,
              background-color $speed-fast $smooth-cubic;
}

@mixin btn-svg-transition {
  will-change: width, height;
  transition:  width $speed-fast $smooth-cubic,
               height $speed-fast $smooth-cubic;
}

/* Button text */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-text {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-md;
  text-align: center;
  text-shadow: var(--text-sha-xs);
}

/* ================================================== */
/* Button structure */
/* ================================================== */
@mixin btn-structure {
  --_btn-h: var(--btn-h, 2.25rem);
  --_btn-content-h: var(--btn-content-h, 1rem);
  --_btn-padding-x: var(--btn-padding-x, 1.5rem);
  --_btn-padding-top: var(--btn-padding-top, 0);
  --_btn-padding-bottom: var(--btn-padding-bottom, 0);
  --_btn-gap: var(--btn-gap, 0.25rem);
  --_btn-radius: var(--btn-radius, 999px);

  z-index: z(btn);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: var(--_btn-h);
  padding-top: 0;
  padding-right: var(--_btn-padding-x);
  padding-bottom: 0;
  padding-left: var(--_btn-padding-x);
  gap: var(--_btn-gap);
  border-radius: var(--_btn-radius);
  pointer-events: auto;
  cursor: pointer;

  & > .btn-text {
    @include btn-text;
    font-size: var(--_btn-content-h);
    line-height: var(--_btn-content-h);
    padding-top: var(--_btn-padding-top);
    padding-bottom: var(--_btn-padding-bottom);
    pointer-events: none;
  }

  & > svg {
    z-index: z(on-btn);
    height: calc(var(--_btn-content-h) * 1.15);
    aspect-ratio: 1;
    pointer-events: none;
  }

  &.icon-end {
    padding-top: 0;
    padding-right: calc(var(--_btn-padding-x) * 0.8);
    padding-bottom: 0;
    padding-left: var(--_btn-padding-x);
  }

  &.icon-start {
    padding-top: 0;
    padding-right: var(--_btn-padding-x);
    padding-bottom: 0;
    padding-left: calc(var(--_btn-padding-x) * 0.8);
  }
}

/* Button sizes */
/* ✨ Config these values ✨ */
/* ================================================== */
.btn-sm {
  @include btn-structure;
  --btn-h: var(--ui-h-sm);
  --btn-content-h: 0.9rem;
  // --btn-padding-x: 1.25rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.618);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-padding-x) * 0.5);
  --btn-radius: 999px;
}

.btn-md {
  @include btn-structure;
  --btn-h: var(--ui-h-md);
  --btn-content-h: 1rem;
  // --btn-padding-x: 1.5rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.618);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-padding-x) * 0.5);
  --btn-radius: 999px;
}

.btn-lg {
  @include btn-structure;
  --btn-h: var(--ui-h-lg);
  --btn-content-h: 1.125rem;
  // --btn-padding-x: 1.75rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.618);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-padding-x) * 0.5);
  --btn-radius: 999px;
}

.btn-full-w {
  @include btn-structure;
  width: 100%;
  --btn-h: var(--ui-h-xl);
  --btn-content-h: 1.25rem;
  // --btn-padding-x: 2rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.5);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-radius: var(--2xs);
}

/* ================================================== */
/* Round icon button */
/* ================================================== */
@mixin btn-icon-structure {
  --_btn-h: var(--btn-h, 2.25rem);
  --_btn-content-h: var(--btn-content-h, 1rem);

  z-index: z(btn);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--_btn-h);
  height: var(--_btn-h);
  border-radius: 999px;
  overflow: hidden;

  & > svg {
    z-index: z(on-btn);
    height: var(--_btn-content-h);
    aspect-ratio: 1;
    // pointer-events: none;
  }
}

.btn-icon-sm {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-sm);
  --btn-content-h: calc(var(--btn-h) * 0.5);
}

.btn-icon-md {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-md);
  --btn-content-h: calc(var(--btn-h) * 0.5);

  // & > svg {
  //   width: calc(var(--btn-h) * 0.5);
  //   height: calc(var(--btn-h) * 0.5);
  // }

  // &:hover {
  //   & > svg {
  //     width: calc(var(--btn-h) * 0.6);
  //     height: calc(var(--btn-h) * 0.6);
  //   }
  // }
}

.btn-icon-lg {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-lg);
  --btn-content-h: calc(var(--btn-h) * 0.5);
}

@mixin btn-interaction {
  will-change: opacity;
  transition: opacity $speed-slow $smooth-cubic;
}

/* ================================================== */
/* Button style */
/* ================================================== */
@mixin btn-style {
  --_btn-bg: var(--btn-bg, rgba(255, 255, 255, 0.5));
  --_btn-state-bg: var(--btn-state-bg, rgba(23, 203, 152, 0.8));
  --_btn-text: var(--btn-text, black);
  --_btn-icon: var(--btn-icon, var(--btn-text));

  @include glass.glass-ui;
  background-color: var(--_btn-bg);
  will-change: background-color;
  transition: background-color $speed-slow $smooth-cubic;

  & > .btn-text {
    color: var(--_btn-text);
  }

  & > svg {
    background-color: var(--_btn-icon);
  }

  &::before {
    background-color: var(--_btn-state-bg);
    @include btn-interaction;
    opacity: 0;
  }

  &:hover,
  &:focus {
    background-color: var(--_btn-bg);
    &::before {
      background-color: var(--_btn-state-bg);
      opacity: 0.3;
    }
  }

  &:active {
    background-color: var(--_btn-bg);
    &::before {
      background-color: var(--_btn-state-bg);
      opacity: 0.8;
    }
  }

  &:disabled {
    background-color: var(--_btn-bg);
    cursor: not-allowed;
    opacity: 0.5;

    &::before {
      opacity: 0;
    }
  }


/* demo stuff */

  &.btn-hover {
    background-color: var(--_btn-bg);
    pointer-events: none;
    &::before {
      background-color: var(--_btn-state-bg);
      opacity: 0.3;
    }
  }

  &.btn-focus {
    pointer-events: none;
    background-color: var(--_btn-bg);
    box-shadow: 0 0 0 1px oklch(var(--primary-15) / 0.12)!important;
    outline: 1px solid oklch(var(--primary-95) / 0.6);
    outline-offset: 1.5px;

    &::before {
      background-color: var(--_btn-state-bg);
      opacity: 0.3;
    }
  }

  &.btn-active {
    background-color: var(--_btn-bg);
    pointer-events: none;
    box-shadow: 0 0 0 1px oklch(var(--primary-15) / 0.12)!important;
    outline: 1px solid oklch(var(--primary-95) / 0.6);
    outline-offset: 1.5px;
    &::before {
      background-color: var(--_btn-state-bg);
      opacity: 0.8;
    }
  }

}

/* 3D glass Primary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-primary {
  @include btn-style;
  --btn-bg: oklch(var(--primary-60) / 0.25);
  --btn-state-bg: oklch(var(--primary-70) / 0.7);
  --btn-text: var(--color-white);
  @include glass.glass-filter(20px, 0.98, 1.7, 1.15);
  box-shadow: var(--sha-2xs);

  &::after {
    box-shadow: var(--bevel-md);
  }
}

/* Secondary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-secondary {
  @include btn-style;
  --btn-bg: oklch(var(--primary-15) / 0.05);
  --btn-state-bg: oklch(var(--primary-15) / 0.8);
  --btn-text: oklch(var(--primary-98) / 0.98);
  @include glass.glass-filter(15px, 0.9, 2.5, 1.1);
  box-shadow: var(--sha-3xs);
}

/* Tertiary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-tertiary {
  @include btn-style;
  --btn-bg: oklch(var(--primary-15) / 0.1);
  --btn-state-bg:  oklch(var(--primary-15) / 0.6);
  --btn-text: var(--text-xstrong);
  @include glass.glass-filter(15px, 0.95, 1.2, 1);
}

/* Outline button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-outline {
  @include btn-style;
  --btn-bg: transparent;
  --btn-state-bg: oklch(var(--primary-25) / 0.6);
  --btn-text: oklch(var(--primary-98) / 0.98);

  @include glass.glass-filter(0, 1, 1, 1);
  border: 1px solid oklch(var(--primary-98) / 0.6);

  &:hover,
  &:focus,
  &:active {
    @include glass.glass-filter(15px, 1, 1, 1);
  }

  &:disabled {
    background-color: oklch(var(--primary-25) / 0.4);
    border: 1px solid oklch(var(--primary-98) / 0.4);
  }

  &.btn-hover,
  &.btn-focus,
  &.btn-active {
    @include glass.glass-filter(15px, 1, 1, 1);
  }
}

/* Ghost button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-ghost {
  @include btn-style;
  --btn-bg: transparent;
  --btn-state-bg: oklch(var(--primary-25) / 0.4);
  --btn-text: oklch(var(--primary-98) / 0.98);

  // -webkit-backdrop-filter: none;
  // backdrop-filter: none;
  // box-shadow: none;
  @include glass.glass-filter(0, 1, 1, 1);

  &:hover,
  &:focus,
  &:active {
    @include glass.glass-filter(15px, 1, 1, 1);
  }

  &:disabled {
    background-color: oklch(var(--primary-15) / 0.5);
  }

  &.btn-hover,
  &.btn-focus,
  &.btn-active {
    @include glass.glass-filter(15px, 1, 1, 1);
  }
}

.btn-primary { @include btn-primary; }
.btn-secondary { @include btn-secondary; }
.btn-tertiary { @include btn-tertiary; }
.btn-outline { @include btn-outline; }
.btn-ghost { @include btn-ghost; }
