/* ================================================== */
/* Buttons */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================================== */

/* Button transition */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-transition {
  will-change: backdrop-filter;
  transition: backdrop-filter $speed--2xslow $smooth-cubic;
}

@mixin btn-svg-transition {
  will-change: width, height;
  transition: width $speed--slow $smooth-cubic,
              height $speed--slow $smooth-cubic;
}

/* Button text */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-text {
  font-family: $font-family-title;
  font-weight: $font-weight--md;
  letter-spacing: $letter-spacing--md;
  text-align: center;
  text-shadow: var(--text-sha--lg);
}

/* ================================================== */
/* Button structure setup */
/* ================================================== */
@mixin btn-structure {
  --_btn--h: var(--btn--h, 1rem);
  --_btn-inner--h: var(--btn-inner--h, 0.8em); // sets font-size | line-height | icon height
  --_btn--t: var(--btn--t, 1px);
  --_btn--b: var(--btn--b, 1px);
  --_btn--x: var(--btn--x, 0.85em);
  --_btn--radius: var(--btn--radius, 0.25rem);

  @include btn-transition;
  width: fit-content;
  height: var(--_btn--h);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--btn--x) / 2);

  border-radius: var(--_btn--radius);
  overflow: hidden;

  @include btn-text;
  font-size: var(--_btn-inner--h);
  line-height: var(--_btn-inner--h);
  padding: var(--_btn--t) var(--_btn--x) var(--_btn--b) var(--_btn--x);

  & > svg {
    $h: calc(1.1 * var(--_btn-inner--h));
    width: $h;
    height: $h;
    margin-top: calc(-1 * var(--_btn--t));
    @include svg-icon;
  }
}

/* Button sizes */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn--sm {
  @include btn-structure;

  --btn--h: var(--ui-h-sm);
  --btn-inner--h: 0.75rem;
  --btn--t: 0;
  --btn--b: 0;
  --btn--x: 0.9rem;
  --btn--radius: 9999px;
  box-shadow: var(--sha--2xs);
}

@mixin btn--md {
  @include btn-structure;

  --btn--h: var(--ui-h-md);
  --btn-inner--h: 0.85rem;
  --btn--t: 0;
  --btn--b: 0;
  --btn--x: 1.1rem;
  --btn--radius: 9999px;
  box-shadow: var(--sha--xs);
}

@mixin btn--lg {
  @include btn-structure;

  --btn--h: var(--ui-h-lg);
  --btn-inner--h: 1rem;
  --btn--t: 0;
  --btn--b: 0;
  --btn--x: 1.6rem;
  --btn--radius: 9999px;
  box-shadow: var(--sha--sm);
}

/* ================================================== */
/* Round icon buttons structure setup */
/* ================================================== */
@mixin btn-round--base {
  z-index: z(btn);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  @include btn-transition;

  & > svg {
    @include svg-icon;
    pointer-events: none;
    z-index: z(on-btn);
    @include btn-svg-transition;
  }
}

@mixin btn-round--sm {
  @include btn-round--base;

  width: var(--ui-h-sm);
  height: var(--ui-h-sm);
  box-shadow: var(--sha--2xs);

  & > svg {
    width: calc(var(--ui-h-sm) * 0.56);
    height: calc(var(--ui-h-sm) * 0.56);
  }

  &:hover {
    & > svg {
      width: calc(var(--ui-h-sm) * 0.59);
      height: calc(var(--ui-h-sm) * 0.59);
    }
  }
}

@mixin btn-round--md {
  @include btn-round--base;

  width: var(--ui-h-md);
  height: var(--ui-h-md);
  box-shadow: var(--sha--xs);

  & > svg {
    width: calc(var(--ui-h-md) * 0.58);
    height: calc(var(--ui-h-md) * 0.58);
  }

  &:hover {
    & > svg {
      width: calc(var(--ui-h-md) * 0.62);
      height: calc(var(--ui-h-md) * 0.62);
    }
  }
}

@mixin btn-round--lg {
  @include btn-round--base;

  width: var(--ui-h-lg);
  height: var(--ui-h-lg);
  box-shadow: var(--sha--sm);

  & > svg {
    width: calc(var(--ui-h-lg) * 0.56);
    height: calc(var(--ui-h-lg) * 0.56);
  }

  &:hover {
    & > svg {
      width: calc(var(--ui-h-lg) * 0.6);
      height: calc(var(--ui-h-lg) * 0.6);
    }
  }
}

.btn--sm { @include btn--sm; }
.btn--md { @include btn--md; }
.btn--lg { @include btn--lg; }
.btn-round--sm { @include btn-round--sm; }
.btn-round--md { @include btn-round--md; }
.btn-round--lg { @include btn-round--lg; }


/* ================================================== */
/* Button skin setup */
/* ================================================== */
@mixin btn-skin {
  --_btn-bg: var(--btn-bg, white);
  --_btn-text: var(--btn-text, black);

  @include glass.btn-glass;
  color: var(--_btn-text);
  background-color: var(--_btn-bg);


  & > svg {
    background-color: var(--_btn-text);
  }

  // &:hover {
  //   background-color: var(--_btn-bg);
  //   color: var(--_btn-text);

  //   & > svg {
  //     background-color: var(--_btn-text);
  //   }
  // }

  // &:active {
  //   background-color: var(--_btn-bg);
  //   // color: var(--_btn-text);

  //   // & > svg {
  //   //   background-color: var(--_btn-text);
  //   // }
  // }

  // &[aria-selected="true"] {
  //   background-color: var(--_btn-bg);
  //   color: var(--_btn-text);
  //   // box-shadow: var(--_btn-sha);

  //   & > svg {
  //     background-color: var(--_btn-text);
  //   }
  // }

  // &:disabled {
  //   cursor: not-allowed;
  //   background-color: var(--_btn-bg);
  //   color: var(--_btn-text);
  //   // box-shadow: var(--_btn-sha);

  //   & > svg {
  //     background-color: var(--_btn-text);
  //   }
  // }
}

/* 3D Primary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
.btn--primary {
  @include btn-skin;

  @include glass.glass-filter-xvib;
  --btn-bg: oklch(var(--primary--70) / 0.2);
  --btn-text: var(--color--white);

  &:hover {
    @include glass.glass-filter-light;
  }

  // &:active {
  //   @include glass.glass-filter-base;
  //   --btn-bg: oklch(var(--primary--20) / 0.1);
  // }
}

/* 3D Secondary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
.btn--secondary {
  @include btn-skin;

  @include glass.glass-filter-dark;
  --btn-bg: oklch(var(--primary--20) / 0.15);
  --btn-text: var(--color--white);

  &:hover {
    @include glass.glass-filter-xdark;
  }

  // &:active {
  //   @include glass.glass-filter-dark;
  //   --btn-bg: oklch(var(--primary--15) / 0.35);
  // }
}

/* 2D Clear button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn--clear {
  --btn-text: var(--color--white);

  backdrop-filter: none;
  @include btn-transition;
  box-shadow: none;
  background-color: transparent;
  color: var(--btn-text);

  & > svg {
    background-color: var(--btn-text);
  }

  &:hover {
    @include glass.glass-filter-light;
  }

  // &:active {
  //   @include glass.glass-filter-dark;
  //   --btn-bg: oklch(var(--primary--15) / 0.35);
  // }
}
.btn--clear { @include btn--clear; }