/* ================================================== */
/* Cards */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================================== */

@mixin card-base {
  --_space: var(--space, 1.5rem);
  --_neg-space: calc(-1 * var(--_space));

  height: fit-content;
  display: grid;
  gap: var(--_space);
  padding: var(--_space);
  overflow: hidden;
  border-radius: var(--md);
  // @include moat-radius(--md);
  box-shadow: var(--sha--lg);



  @include bp(sm) {
    border-radius: var(--lg);
    box-shadow: var(--sha--xl);
  }

  & > .full-w-fill {
    padding: var(--_space);
    margin: 0 var(--_neg-space);
  }

  & > .full-w-fill-noYMargin {
    padding: var(--_space);
    margin: var(--_neg-space);
  }

  & > .full-w-inset {
    padding: var(--_space);
    margin-left: calc((-1 * var(--_space)) + 0.5px);
    margin-right: var(--_neg-space);

    color: var(--color--3xlight);
    background-color: var(--inset-bg--xdeep);
    box-shadow: var(--flat-inset--lg);
  }

  & > .full-w-img {
    display: grid;
    place-self: center;
    margin-left: var(--_neg-space);
    margin-right: var(--_neg-space);
  }

  & > .full-w-img-noBottomMargin {
    display: grid;
    place-self: center;
    margin-left: var(--_neg-space);
    margin-right: var(--_neg-space);
    margin-bottom: var(--_neg-space);
  }

  & > .full-w-img-noMargin {
    display: grid;
    place-self: center;
    margin: var(--_neg-space);
  }

}

.card--sm {
  @include card-base;
  --space: var(--sm);

  @include bp(sm) {
    --space: var(--md);
  }

  @include bp(lg) {
    --space: var(--lg);
  }
}

.card--md {
  @include card-base;
  --space: var(--md);
  border-radius: var(--md);

  @include bp(xs) {
    --space: var(--lg);
  }

  &.moat--sm {
    border-radius: 0;

    @include bp(sm) {
      border-radius: var(--lg);
    }
  }
}

.card--lg {
  @include card-base;
  --space: var(--lg);
  // border-radius: var(--lg);
  @include moat-radius(lg);

  @include bp(sm) {
    --space: var(--xl);
  }

  @include bp(lg) {
    --space: var(--2xl);
  }
}

.card--xl {
  @include card-base;
  --space: var(--xl);
  @include moat-radius(lg);

  @include bp(sm) {
    --space: var(--2xl);
  }

  @include bp(lg) {
    --space: var(--3xl);
  }
}

.card_title {
  @include title--thick;
  font-size: var(--text--2xl);
  text-shadow: var(--text-sha--sm);
  line-height: 1;
}