/* ================================================== */
/* Cards */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================================== */
/* card-xs to card-xl  */
/* fill available space up to max-width values that match their T-shirt size */
/* have proportional padding & gap values that scale with viewport width */
/* have conditional border-radius values that turn to 0 if width = = 100vw */

@mixin card-base {
  --_space: var(--space, 1.5rem);
  --_neg-space: calc(-1 * var(--space));

  z-index: z(card);
  height: fit-content;
  display: grid;
  gap: var(--_space);
  padding: var(--_space);

  & > .full-w-fill {
    padding: var(--_space);
    margin: 0 var(--_neg-space);
  }

  & > .full-w-fill-noYMargin {
    padding: var(--_space);
    margin: var(--_neg-space);
  }

  & > .full-w-fill-noBottomMargin  {
    padding: var(--_space);
    margin-left: var(--_neg-space);
    margin-right: var(--_neg-space);
    margin-bottom: var(--_neg-space);
  }

  & > .full-w-inset {
    padding: var(--_space);
    margin-left: calc(var(--_neg-space) + 0.5px);
    margin-right: var(--_neg-space);

    color: var(--color-3xlight);
    background-color: var(--inset-bg-xdeep);
    box-shadow: var(--flat-inset-lg);
  }

  & > .full-w-img {
    display: grid;
    place-self: center;
    margin-left: var(--_neg-space);
    margin-right: var(--_neg-space);
  }

  & > .full-w-img-noBottomMargin {
    display: grid;
    place-self: center;
    margin-left: var(--_neg-space);
    margin-right: var(--_neg-space);
    margin-bottom: var(--_neg-space);
  }

  & > .full-w-img-noMargin {
    display: grid;
    place-self: center;
    margin: var(--_neg-space);
  }
}

.card-fit {
  @include card-base;
  --space: var(--lg);
  width: fit-content;
  @include radius("lg");
  box-shadow: var(--sha-lg);
}

.card-xs {
  @include card-base;
  --space: var(--lg);

  @include radius("lg");
  box-shadow: var(--sha-sm);

  @include bp(xs) {
    --space: var(--xl);
    @include radius("xl");
  }
}

.card-sm {
  @include card-base;
  --space: var(--lg);
  // width: min(100%, var(--max-w-sm));
  @include radius("lg");
  box-shadow: var(--sha-md);

  @include bp(xs) {
    --space: var(--xl);
  }

  @include bp(sm) {
    --space: var(--2xl);
    @include radius("xl");
    box-shadow: var(--sha-lg);
  }
}

.card-md {
  @include card-base;
  --space: var(--lg);
  // width: min(100%, var(--max-w-md));
  @include radius("lg");
  box-shadow: var(--sha-lg);

  @include bp(sm) {
    --space: var(--xl);
    @include radius("xl");
  }

  @include bp(md) {
    --space: var(--3xl);
  }

  @include bp(lg) {
    --space: var(--4xl);
  }
}

.card-lg {
  @include card-base;
  --space: var(--lg);

  // width: min(100%, var(--max-w-lg));

  @include radius("lg");
  box-shadow: var(--sha-lg);

  @include bp(md) {
    --space: var(--xl);
    @include radius("xl");
    box-shadow: var(--sha-xl);
  }
}


.card-xl {
  @include card-base;
  --space: var(--lg);
  // width: min(100%, var(--max-w-xl));
  @include radius("lg");
  box-shadow: var(--sha-lg);

  @include bp(xs) {
    --space: var(--xl);
  }

  @include bp(sm) {
    --space: var(--2xl);
  }

  @include bp(md) {
    --space: var(--3xl);
  }
}

/* Card items */
/* ================================================== */
.card-title {
  @include title-thick;
  font-size: var(--text-xl);
  line-height: 110%;

  color: var(--text-strong);
  text-shadow: var(--text-sha-md);
}

@mixin space-base {
  --_space: var(--space, 2rem);
  --_neg-space: calc(-1 * var(--space));

  height: fit-content;
  display: grid;
  gap: var(--_space);
  padding: var(--_space);
  @include radius("lg");

  @include bp(xs) {
    @include radius("xl");
  }
}

.space-md {
  @include space-base;
  --space: var(--md);

  @include bp(xs) {
    --space: var(--lg);
  }

  @include bp(sm) {
    --space: var(--xl);
  }

  @include bp(md) {
    --space: var(--2xl);
  }
}

.space-lg {
  @include space-base;
  --space: var(--lg);

  @include bp(xs) {
    --space: var(--xl);
  }

  @include bp(sm) {
    --space: var(--2xl);
  }

  @include bp(md) {
    --space: var(--3xl);
  }
}

@mixin space-xl {
  --space: var(--xl);

  @include bp(xs) {
    --space: var(--2xl);
  }

  @include bp(sm) {
    --space: var(--3xl);
  }

  @include bp(md) {
    --space: var(--4xl);
  }
}

.space-xl {
  @include space-xl;
}

.space-2xl {
  @include space-base;
  --space: var(--2xl);

  @include bp(xs) {
    --space: var(--3xl);
  }

  @include bp(sm) {
    --space: var(--4xl);
  }

  @include bp(md) {
    --space: var(--5xl);
  }
}