/* ================================================== */
/* Forms | Text inputs */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================================== */

.input:not(textarea) {
  line-height: 1;
}

.text-input-bin {
  height: min-content;
  display: grid;
  gap: var(--3xs);
}

.input-label-bin {
  display: grid;
  padding-bottom: var(--3xs);
}


/* Text input */
/* ================================================== */
.text-input {
  pointer-events: auto;
  cursor: text;
  width: 100%;
  // width: min(400px, 100%);
  height: var(--ui-h-lg);
  border-radius: var(--2xs);
  padding: 0 0.75rem;

  box-shadow: var(--inset--md);
  background-color: var(--inset-bg--xdeep);

  &::placeholder {
    color: var(--text--base);
    font-size: var(--text--sm);
    font-weight: $font-weight--sm;
  }
}

/* Textarea input */
/* ================================================== */
.textarea-wrap {
  position: relative;
  z-index: 2;
  pointer-events: none;

  @include grid-c;
  padding: 0.75rem;

  width: 100%;
  height: fit-content;

  @include outer-radius (var(--3xs), 0.75rem);

  box-shadow: var(--inset--md);
  background-color: var(--inset-bg--xdeep);
}

.textarea {
  z-index: 3;
  inset: 0;
  pointer-events: auto;
  cursor: text;
  overflow: auto;
  resize: vertical;

  min-height: 150px;
  max-width: 100%;
  width: 100%;

  text-align: start;
  border-radius: var(--2xs);

  &::placeholder {
    color: var(--text--base);
    font-size: var(--text--sm);
    font-weight: $font-weight--md;
  }
}