/* ================================================== */
/* Inputs */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
/* ================================================== */

/* Base for switch | checkbox | radio button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin input-base {
  --rest-bg: var(--inset-bg-deep);
  --rest-hover-bg: var(--inset-bg-xdeep);
  --rest-knob: oklch(var(--neutral-85) / 0.9);

  --active-bg: oklch(var(--primary-70) / 1);
  --active-inset: var(--inset-lg);
  --active-hover-bg: oklch(var(--primary-50) / 1);
  --active-knob-sha: var(--sha-sm);

  --disabled-bg: var(--inset-bg-xdeep);
  --disabled-checked-bg: oklch(var(--primary-70) / 0.5);
  --disabled-inset: none;
  --disabled-text: var(--text-xmild);
  --disabled-knob: oklch(var(--neutral-90) / 0.25);
  --disabled-knob-sha: none;

  --border: transparent;
  --border-hover: oklch(var(--primary-70) / 0.4);

  overflow: hidden;
  cursor: pointer;
  will-change: background-color;
  transition: background-color $speed-fast $smooth-cubic;

  &::after {
    @include pseudo;
    overflow: hidden;
  }

  &:hover {
    background-color: var(--rest-hover-bg);
    overflow: hidden;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-bg);
    box-shadow: var(--disabled-inset);

    & + label {
      color: var(--text-xmild);
    }
  }

  &:checked {
    background-color: var(--active-bg);

    &:hover {
      background-color: var(--active-hover-bg);
    }
  }
}

/* Switch */
/* ================================================== */
input[type='checkbox'].switch {
  --_switch-height: var(--switch-height, var(--ui-h-sm));
  --_switch-width: var(--switch-width, calc(var(--_switch-height) * 1.618));
  --_thumb-margin: var(--thumb-margin, 3px);

    --thumb-margin: 3.5px;
    --switch-height: var(--ui-h-sm);
    --switch-width: calc(var(--switch-height) * 1.8);

  @include input-base;

  position: relative;
  z-index: 1;
  display: inline-flex;
  width: var(--_switch-width);
  height: var(--_switch-height);
  vertical-align: var(--_thumb-margin);
  align-items: center;
  border-radius: 9999px;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);

  &::after {
    z-index: 3;
    display: block;
    aspect-ratio: 1 / 1;
    margin: var(--_thumb-margin);
    height: calc(100% - 2 * var(--_thumb-margin));

    background-color: var(--rest-knob);
    box-shadow: var(--active-knob-sha);
    border-radius: 9999px;
    transition: margin;
    transition-duration: inherit;
  }

  &:checked {

    &::after {
      margin-inline-start: calc(var(--_switch-width) - var(--_switch-height) + var(--_thumb-margin));
    }
  }

  &:disabled {

    &::after {
      background-color: var(--disabled-knob);
      box-shadow: var(--disabled-knob-sha);
    }

    &:checked {
      background-color: var(--disabled-checked-bg);
    }
  }
}

/* Checkbox */
/* ================================================== */
input[type='checkbox'].checkbox {

  @include input-base;

  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);
  border-radius: 0.25rem;

  &:checked {
    &::after {
      z-index: 3;
      border-radius: 0.05rem;
      width: 55%;
      height: 30%;
      border: 3px solid var(--rest-knob);
      border-top: 0;
      border-right: 0;
      left: 23%;
      top: 30%;
      transform: rotate( -45deg);
      background-color: transparent;
    }
  }

  &:disabled {
    &:checked {
      background-color: var(--disabled-checked-bg);

      &::after {
        width: 55%;
        height: 30%;
        border: 3px solid var(--disabled-knob);
        border-top: 0;
        border-right: 0;
        left: 23%;
        top: 30%;
      }
    }
  }

  &:disabled {
    &::after {
      z-index: 3;
      border-radius: 0.05rem;
      width: 80%;
      height: 30%;
      border: 1.5px solid var(--disabled-knob);
      border-top: 0;
      border-right: 0;
      border-left: 0;
      left: 0%;
      top: 30%;
      transform: rotate( -45deg);
      background-color: transparent;
    }
  }
}

/* Radio button */
/* ================================================== */
input[type='radio'] {

  @include input-base;

  position: relative;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--rest-bg);
  box-shadow: var(--active-inset);
  border-radius: 9999px;

  &:checked {
    &::after {
      z-index: 3;
      filter: drop-shadow(0.5px 0.5px 1px oklch(var(--neutral-10) / 0.5));
      margin: 4px;
      aspect-ratio: 1 / 1;
      border-radius: 9999px;
      background-color: var(--rest-knob);
    }
  }

  &:disabled {
    &::after {
      background-color: transparent;
    }

    &:checked {
      background-color: var(--disabled-checked-bg);

      &::after {
        background-color: var(--disabled-knob);
      }
    }
  }
}

/* Input wappers & items */
/* ================================================== */
.input-fieldset {
  display: grid;
  gap: var(--md);
}

.input-legend {
  padding-bottom: var(--sm);
}

.input-group {
  display: flex;
  align-items: center;
  gap: var(--xs);
}

.inline-label {
  width: fit-content;
  font-weight: $font-weight-md;
  color: var(--text-xstrong);
}