/* ================================================== */
/* Tab menu */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ================================================== */

.panel-img-bin {
  width: 100%;
  max-height: 100%;
  aspect-ratio : 1 / 1;
  overflow: hidden;
}

.panel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tab-menu {
  position: relative;
  z-index: z(on-nav);
  width: fit-content;
  max-width: 100%;
  height: var(--ui-h-md);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;

  --tab-radius: 5px;
  --padding: 4px;
  padding: var(--padding);
  @include outer-radius (var(--tab-radius), var(--padding));

  background-color: var(--inset-bg-deep);
  @include glass.glass-filter(40px, 0.9, 1.5);

  &::before {
    @include pseudo;
    z-index: -2;
    box-shadow: var(--inset-lg);
  }

  @include bp(xs) {
    --tab-radius: 6px;
    --padding: 4px;
    gap: 6px;
  }

  @include bp(md) {
    --tab-radius: 8px;
    --padding: 5px;
    gap: 7px;
  }
}


[role="tab"] {
  --content-h: 0.95rem;

  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.7rem;
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;

  font-size: var(--content-h);
  line-height: var(--content-h);
  @include btn.btn-text;
  @include btn.btn-clear;
  border-radius: var(--tab-radius);
  color: var(--color-white);
  background-color: transparent;

  @include bp(xs) {
    --content-h: 1rem;
    padding: 0 0.8rem;
  }

  @include bp(sm) {
    --content-h: 1.1rem;
    padding: 0 0.9rem;
  }

  @include bp(md) {
    --content-h: 1.1rem;
    padding: 0 1.2rem;
  }

  &:hover {
    background-color: var(--primary-80);
    // background-color: var(--tint-xlight);
    box-shadow: none;
  }
}

[role="tab"][aria-selected="true"] {
  transition:
              background-color $speed-fast $smooth-cubic;
  background-color: var(--tint-3xlight);
  color: var(--tint-3xdark);
  box-shadow: var(--sha-3xs);
}
