/* ================================================== */
/* Tab menu */
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "button" as btn;
/* ================================================== */

.panel-img-bin {
  width: 100%;
  max-height: 100%;
  aspect-ratio : 1 / 1;
  overflow: hidden;
}

.panel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tab-menu-bin {
  --tab-menu-space: 4px;
  --tab-radius: 7px;

  position: relative;
  z-index: z(nav);
  width: fit-content;
  max-width: 100%;
  min-height: fit-content;
  height: var(--ui-h-lg);
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: calc(var(--tab-menu-space) * 2);
  // margin: 0 auto;
  // padding: var(--tab-menu-space);
  @include outer-radius (var(--tab-radius), var(--tab-menu-space));
  // background-color: var(--inset-bg-deep);
  // box-shadow: var(--inset-lg);

  // @include bp(xs) {
  //   // --tab-menu-h: var(--ui-h-lg);
  //   --tab-menu-space: 5px;
  //   --tab-radius: 7px;
  // }

  // @include bp(sm) {
  //   --tab-menu-space: 6px;
  //   --tab-radius: 9px;
  // }

  @include bp(md) {
    --tab-menu-space: 5px;
    --tab-radius: 9px;
  }
}



.tab-menu {
  // --tab-menu-space: 4px;
  // --tab-radius: 7px;

  position: relative;
  // z-index: z(nav);
  width: fit-content;
  max-width: 100%;
  min-height: fit-content;
  height: var(--ui-h-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--tab-menu-space) * 2);
  margin: 0 auto;
  padding: var(--tab-menu-space);
  // @include outer-radius (var(--tab-radius), var(--tab-menu-space));
border-radius: inherit;
  background-color: var(--inset-bg-deep);
  box-shadow: var(--inset-md);

  // @include bp(xs) {
  //   // --tab-menu-h: var(--ui-h-lg);
  //   --tab-menu-space: 5px;
  //   --tab-radius: 7px;
  // }

  // @include bp(sm) {
  //   --tab-menu-space: 6px;
  //   --tab-radius: 9px;
  // }

  // @include bp(md) {
  //   --tab-menu-space: 5px;
  //   --tab-radius: 9px;
  // }
}

[role="tab"] {
  @include btn.btn-text;
  @include btn.btn-clear;

  --content-h: 0.8rem;
  --tab-padding: 0 0.7rem;

  z-index: z(on-nav);
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--tab-padding);
  pointer-events: auto;
  cursor: pointer;
  letter-spacing: $letter-spacing-lg;
  font-size: var(--content-h);
  line-height: var(--content-h);
  border-radius: var(--tab-radius);

  @include bp(xs) {
    --content-h: 1rem;
    --tab-padding: 0 0.95rem;
  }

  // @include bp(sm) {
  //   --content-h: 1.1rem;
  //   --tab-padding: 0 1.3rem;
  // }

  @include bp(lg) {
    --content-h: 1.1rem;
    --tab-padding: 0 1.8rem;
  }

  // @include bp(xl) {
  //   --content-h: 1.1rem;
  //   --tab-padding: 0 1.2rem;
  // }
}

[role="tab"][aria-selected="true"] {
  transition:
              background-color $speed-fast $smooth-cubic;
  background-color: var(--tint-3xlight);
  color: var(--tint-3xdark);
  box-shadow: var(--sha-3xs);
}
