/* ================================================== */
/* Accordion */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

@mixin accordion {
  --space: var(--sm);
  --neg-space: calc(-1 * var(--space));
  --radius: var(--sm);

  pointer-events: none;
  overflow: hidden;
  z-index: z(card);
  width: 100%;
  display: grid;
  background-color: var(--tint-xdark);
  border-radius: var(--radius);
  box-shadow: var(--sha-md);
}

.accordion-solo {
  @include accordion;

  & .accordion-btn[aria-expanded="true"] {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  & .accordion-btn[aria-expanded="false"] {
    border-radius: var(--radius);
  }
}

.accordion-multi {
  @include accordion;

  & > :last-child {
    & .accordion-btn[aria-expanded="false"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      overflow: hidden;
    }

    & .accordion-btn[aria-expanded="true"] {
      border-radius: 0;
    }
  }
}

// .accordion-btn {
//   position: relative;
//   pointer-events: auto;
//   cursor: pointer;
//   z-index: z(on-card);

//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: var(--sm);
//   padding: var(--space);

//   @include body(--text-md);
//   text-align: start;
//   color: var(--text-base);
//   text-shadow: var(--text-sha-md);

//   will-change: background-color;
//   transition: background-color $speed-fast $smooth-cubic;

//   &:hover {
//     background-color: var(--tint-light);
//   }

//   &:focus-visible {
//     @include focus-visible-inner;
//     background-color: var(--tint-light);
//   }
// }

.accordion-header {
  pointer-events: none;
  z-index: z(on-card);
  width: 100%;
  padding-top: calc(var(--space) * 1.5);
  padding-right: var(--space);
  padding-bottom: var(--space);
  padding-left: var(--space);

  // @include title-4(start);
}

.accordion-icon {
  pointer-events: none;
  display: inline;
  z-index: -1;
  background-color: var(--color-white);
  height: var(--ui-h-xs);
  transform: rotate(180deg);
  transition: transform $speed-2xslow $smooth-cubic;

  &.is-closed {
    transform: rotate(0deg);
  }
}

.accordion-content {
  pointer-events: none;
  z-index: z(card);
  display: grid;
  gap: var(--space);
  background-color: var(--tint-3xdark);

  height: fit-content;
  padding: var(--space);
  opacity: 1;
  transition: height $speed-base $smooth-cubic,
              padding $speed-base $smooth-cubic,
              opacity $speed-base $smooth-cubic;

  &.is-closed {
    height: 0;
    padding: 0;
    opacity: 0;
  }
}

/* Remove border-radius at 100vw or bigger */
/* the -16px prevents issues with scrollbars cutting into 100vw */
@container bg (width >= calc(100vw - 16px)) {
  .accordion-solo,
  .accordion-multi {
    --radius: 0;
  }
}