/* ================================================== */
/* Buttons */
@use "../forward-styles/design" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/glass" as glass;
/* ================================================== */

/* Button transition */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-transition {
  will-change: opacity, color;
  transition: opacity $speed-2xslow $smooth-cubic,
              color $speed-2xslow $smooth-cubic;
}

@mixin btn-svg-transition {
  will-change: background-color;
  transition: background-color $speed-slow $smooth-cubic;
}

@mixin btn-icon-svg-transition {
  will-change: width, height;
  transition:  width $speed-slow $smooth-cubic,
               height $speed-slow $smooth-cubic;
}

/* Button text */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-text {
  font-family: $font-family-body;
  font-weight: $font-weight-lg;
  letter-spacing: $letter-spacing-md;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-shadow: var(--text-sha-sm);
  pointer-events: none;
}

/* ================================================== */
/* Button structure */
/* ================================================== */
@mixin btn-structure {
  --_btn-h: var(--btn-h, 2.25rem);
  --_btn-content-h: var(--btn-content-h, 1rem);
  --_btn-padding-x: var(--btn-padding-x, 1.5rem);
  --_btn-padding-top: var(--btn-padding-top, 0);
  --_btn-padding-bottom: var(--btn-padding-bottom, 0);
  --_btn-gap: var(--btn-gap, 0.25rem);
  --_btn-radius: var(--btn-radius, 999px);

  position: relative;
  z-index: z(btn);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: var(--_btn-h);
  padding-top: 0; /* added to .btn-text so svg is not affected */
  padding-right: var(--_btn-padding-x);
  padding-bottom: 0; /* added to .btn-text so svg is not affected */
  padding-left: var(--_btn-padding-x);
  gap: var(--_btn-gap);
  border-radius: var(--_btn-radius);
  pointer-events: auto;
  cursor: pointer;

  &::after {
    @include pseudo;
    z-index: z(btn-after);
  }

  &::before {
    @include pseudo;
    z-index: z(btn-b4);
  }

  & > .btn-text {
    @include btn-text;
    z-index: z(on-btn);
    font-size: var(--_btn-content-h);
    line-height: var(--_btn-content-h);
    padding-top: var(--_btn-padding-top);
    padding-bottom: var(--_btn-padding-bottom);
    pointer-events: none;
  }

  & > svg {
    z-index: z(on-btn);
    height: calc(var(--_btn-content-h) * 1.15);
    aspect-ratio: 1;
    pointer-events: none;
  }

  &.icon-end {
    padding-top: 0;
    padding-right: calc(var(--_btn-padding-x) * 0.8);
    padding-bottom: 0;
    padding-left: var(--_btn-padding-x);
  }

  &.icon-start {
    padding-top: 0;
    padding-right: var(--_btn-padding-x);
    padding-bottom: 0;
    padding-left: calc(var(--_btn-padding-x) * 0.8);
  }
}

/* Button sizes */
/* ✨ Config these values ✨ */
/* ================================================== */
.btn-sm {
  @include btn-structure;
  --btn-h: var(--ui-h-sm);
  --btn-content-h: 0.95rem;
  --btn-padding-x: calc(var(--btn-h) * 0.6);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-h) * 0.25);
  --btn-radius: 999px;
}

.btn-md {
  @include btn-structure;
  --btn-h: var(--ui-h-md);
  --btn-content-h: 1.15rem;
  --btn-padding-x: calc(var(--btn-h) * 0.7);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-h) * 0.25);
  --btn-radius: 999px;
}

.btn-lg {
  @include btn-structure;
  --btn-h: var(--ui-h-lg);
  --btn-content-h: 1.25rem;
  --btn-padding-x: calc(var(--btn-h) * 0.7);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-h) * 0.25);
  --btn-radius: 999px;
}

.btn-full-w {
  @include btn-structure;
  width: 100%;
  --btn-h: var(--ui-h-xl);
  --btn-content-h: 1.25rem;
  --btn-padding-x: calc(var(--btn-h) * 0.7);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-h) * 0.25);
  --btn-radius: var(--2xs);
}

/* ================================================== */
/* Round icon button */
/* ================================================== */
@mixin btn-icon-structure {
  --_btn-h: var(--btn-h, 2.25rem);
  --_btn-icon-h: var(--btn-icon-h, 1rem);

  position: relative;
  z-index: z(btn);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--_btn-h);
  height: var(--_btn-h);
  border-radius: 999px;
  pointer-events: auto;
  cursor: pointer;

  &::after {
    @include pseudo;
    // z-index: z(btn-after);
  }

  &::before {
    @include pseudo;
    // z-index: z(btn-b4);
  }

  & > svg {
    z-index: z(on-btn);
    height: var(--_btn-icon-h);
    width: var(--_btn-icon-h);
    aspect-ratio: 1;
    pointer-events: none;
    @include btn-icon-svg-transition;
  }

  &:hover {
    & > svg {
      width: calc(var(--_btn-icon-h) * 1.1);
      height: calc(var(--_btn-icon-h) * 1.1);
    }
  }
}

/* Icon button sizes */
/* ✨ Config these values ✨ */
/* ================================================== */
.btn-icon-sm {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-sm);
  --btn-icon-h: calc(var(--btn-h) * 0.55);
}

.btn-icon-md {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-md);
  --btn-icon-h: calc(var(--btn-h) * 0.55);
}

.btn-icon-lg {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-lg);
  --btn-icon-h: calc(var(--btn-h) * 0.55);
}

/* ================================================== */
/* Button style */
/* ================================================== */
@mixin btn-style {
  // --_btn-bg: var(--btn-bg, rgba(255, 255, 255, 0.3));
  --_btn-text: var(--btn-text, black);
  --_btn-icon: var(--btn-icon, var(--_btn-text));
  // --_btn-sha: var(--btn-sha, var(--sha-xs));

  --_btn-state-bg: var(--btn-state-bg, rgba(36, 156, 3, 0.9));
  --_btn-state-text: var(--btn-state-text, var(--_btn-text));
  --_btn-state-icon: var(--btn-state-icon, var(--_btn-state-text));
  // --_btn-state-sha: var(--btn-state-sha, var(--sha-sm));

  --_btn-bevel: var(--btn-bevel, none);

  --_btn-blur: var(--btn-blur, 3px);
  --_btn-brightness: var(--btn-brightness, 1);
  --_btn-saturate: var(--btn-saturate, 1.2);

  --_btn-rest: var(--btn-rest, 0.1);
  --_btn-hover: var(--btn-hover, 0.3);
  --_btn-focus: var(--btn-focus, 0.3);
  --_btn-active: var(--btn-active, 0.7);
  --_btn-disabled: var(--btn-disabled, 0.6);

  // background-color: var(--_btn-bg);
  // box-shadow: var(--_btn-sha);

  &::before {
    @include btn-transition;
    background-color: var(--_btn-state-bg);
    opacity: var(--_btn-rest);
  }

  &::after {
    @include glass.glass-filter(var(--_btn-blur), var(--_btn-brightness), var(--_btn-saturate));
    box-shadow: var(--_btn-bevel);
  }

  & > .btn-text {
    color: var(--_btn-text);
    @include btn-transition;
  }

  & > svg {
    background-color: var(--_btn-icon);
    @include btn-svg-transition;
  }

  &:hover {
    // box-shadow: var(--_btn-state-sha);

    & > .btn-text {
      color: var(--_btn-state-text);
    }

    & > svg {
      background-color: var(--_btn-state-icon);
    }

    &::before {
      opacity: var(--_btn-hover);
    }
  }

  &:focus-visible {
    & > .btn-text {
      color: var(--_btn-state-text);
    }

    & > svg {
      background-color: var(--_btn-state-icon);
    }

    &::before {
      opacity: var(--_btn-focus);
    }

    &::after {
      @include focus-visible;
    }
  }

  &:active {
    // box-shadow: var(--_btn-state-sha);

    & > .btn-text {
      color: var(--_btn-state-text);
    }

    & > svg {
      background-color: var(--_btn-state-icon);
    }

    &::before {
      opacity: var(--_btn-active);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--_btn-disabled);
    background-color: hsl(var(--neutral-10) / 0.1);

    // &::after {
    //   -webkit-backdrop-filter: none;
    //   backdrop-filter: none;
    // }
  }
}



/* Primary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-primary {

  @include btn-style;

  --btn-text: var(--text-xstrong);
  --btn-icon: var(--btn-text);

  --btn-state-bg: hsl(var(--primary-10) / 0.9);
  --btn-state-text: var(--btn-text);
  --btn-state-icon: var(--btn-state-text);

  --btn-blur: 15px;
  --btn-brightness: 1;
  --btn-saturate: 2.75;

  --btn-bevel: var(--bevel-md);
  box-shadow: var(--sha-2xs);

  --btn-rest: 0.25;
  --btn-hover: 0.6;
  --btn-focus: 0.6;
  --btn-active: 1;
  --btn-disabled: 0.6;
}

/* Secondary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-secondary {
  @include btn-style;
  // --btn-bg: hsl(var(--primary-15) / 0.05);
  --btn-text:  var(--text-xstrong);
  --btn-icon: var(--btn-text);

  --btn-state-bg:  hsl(var(--primary-5) / 0.9);
  --btn-state-text: var(--btn-text);
  --btn-state-icon: var(--btn-state-text);

  --btn-blur: 10px;
  --btn-brightness: 0.8;
  --btn-saturate: 1.5;

  --btn-bevel: var(--bevel-sm);
  box-shadow: var(--sha-3xs);

  --btn-rest: 0.1;
  --btn-hover: 0.5;
  --btn-focus: 0.5;
  --btn-active: 0.9;
  --btn-disabled: 0.6;
}

/* Outline button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-outline {
  @include btn-style;
  --btn-text: var(--text-2xstrong);
  --btn-icon: var(--btn-text);

  --btn-state-bg: hsl(var(--neutral-50) / 0.95);
  --btn-state-text: var(--btn-text);
  --btn-state-icon: var(--btn-state-text);

  --btn-bevel: none;
  outline: 1.5px solid hsl(var(--neutral-95) / 0.6);

  --btn-blur: 10px;
  --btn-brightness: 0.95;
  --btn-saturate: 1.1;

  --btn-rest: 0;
  --btn-hover: 0.5;
  --btn-focus: 0.5;
  --btn-active: 0.99;
  --btn-disabled: 0.6;
}

/* Ghost button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-ghost {
  @include btn-style;
  // --btn-bg: transparent;
  --btn-text: var(--text-2xstrong);
  --btn-icon: var(--btn-text);

  --btn-state-bg: hsl(var(--primary-95) / 0.9);
  --btn-state-text: hsl(var(--neutral-15) / 1);
  --btn-state-icon: var(--btn-state-text)

  --btn-bevel: none;

  --btn-blur: 0px;
  --btn-brightness: 1;
  --btn-saturate: 1;

  &::after {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  --btn-rest: 0;
  --btn-hover: 0.3;
  --btn-focus: 0.3;
  --btn-active: 0.8;
  --btn-disabled: 0.5;
}

.btn-primary { @include btn-primary; }
.btn-secondary { @include btn-secondary; }
.btn-outline { @include btn-outline; }
.btn-ghost { @include btn-ghost; }

/* New button template */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin my-new-btn {
  @include btn-style;

  --btn-text: black;
  --btn-icon: lightblue;

  --btn-state-bg: black;
  --btn-state-text: white;
  --btn-state-icon: lightblue;

  --btn-bevel: var(--bevel-md);

  --btn-blur: 8px;
  --btn-brightness: 1;
  --btn-saturate: 1.5;

  --btn-rest: 0.3;
  --btn-hover: 0.6;
  --btn-focus: 0.6;
  --btn-active: 0.9;
  --btn-disabled: 0.6;
}

.my-new-btn { @include my-new-btn; }

// <button class="btn-lg icon-end my-new-btn"
//   type="button">
//   <p class="btn-text">My new button</p>
//   <svg class="svg-cube"
//     role="graphics-symbol"
//     aria-hidden="true"
//     focusable="false">
//   </svg>
// </button>