/* ================================================== */
/* Buttons */
@use "../forward-styles/design" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/glass" as glass;
/* ================================================== */

/* Button transition */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-transition {
  will-change: backdrop-filter, background-color;
  transition: backdrop-filter $speed-fast $smooth-cubic,
              background-color $speed-fast $smooth-cubic;
}

@mixin btn-svg-transition {
  will-change: width, height;
  transition:  width $speed-fast $smooth-cubic,
               height $speed-fast $smooth-cubic;
}

/* Button text */
/* ================================================== */
/* ✨ Config these values ✨ */
@mixin btn-text {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-md;
  text-align: center;
  text-shadow: var(--text-sha-xs);
  pointer-events: none;
}

/* ================================================== */
/* Button structure */
/* ================================================== */
@mixin btn-structure {
  --_btn-h: var(--btn-h, 2.25rem);
  --_btn-content-h: var(--btn-content-h, 1rem);
  --_btn-padding-x: var(--btn-padding-x, 1.5rem);
  --_btn-padding-top: var(--btn-padding-top, 0);
  --_btn-padding-bottom: var(--btn-padding-bottom, 0);
  --_btn-gap: var(--btn-gap, 0.25rem);
  --_btn-radius: var(--btn-radius, 999px);

  position: relative;
  z-index: z(btn);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: var(--_btn-h);
  padding-top: 0;
  padding-right: var(--_btn-padding-x);
  padding-bottom: 0;
  padding-left: var(--_btn-padding-x);
  gap: var(--_btn-gap);
  border-radius: var(--_btn-radius);
  pointer-events: auto;
  cursor: pointer;

  &::after {
    @include pseudo;
    z-index: z(btn-after);
  }

  &::before {
    @include pseudo;
    z-index: z(btn-b4);
  }

  & > .btn-text {
    @include btn-text;
    z-index: z(on-btn);
    font-size: var(--_btn-content-h);
    line-height: var(--_btn-content-h);
    padding-top: var(--_btn-padding-top);
    padding-bottom: var(--_btn-padding-bottom);
    pointer-events: none;
  }

  & > svg {
    z-index: z(on-btn);
    height: calc(var(--_btn-content-h) * 1.15);
    aspect-ratio: 1;
    pointer-events: none;
  }

  &.icon-end {
    padding-top: 0;
    padding-right: calc(var(--_btn-padding-x) * 0.8);
    padding-bottom: 0;
    padding-left: var(--_btn-padding-x);
  }

  &.icon-start {
    padding-top: 0;
    padding-right: var(--_btn-padding-x);
    padding-bottom: 0;
    padding-left: calc(var(--_btn-padding-x) * 0.8);
  }
}

/* Button sizes */
/* ✨ Config these values ✨ */
/* ================================================== */
.btn-sm {
  @include btn-structure;
  --btn-h: var(--ui-h-sm);
  --btn-content-h: 0.9rem;
  // --btn-padding-x: 1.25rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.618);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-padding-x) * 0.5);
  --btn-radius: 999px;
}

.btn-md {
  @include btn-structure;
  --btn-h: var(--ui-h-md);
  --btn-content-h: 1rem;
  // --btn-padding-x: 1.5rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.618);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-padding-x) * 0.5);
  --btn-radius: 999px;
}

.btn-lg {
  @include btn-structure;
  --btn-h: var(--ui-h-lg);
  --btn-content-h: 1.125rem;
  // --btn-padding-x: 1.75rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.618);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: calc(var(--btn-padding-x) * 0.5);
  --btn-radius: 999px;
}

.btn-full-w {
  @include btn-structure;
  width: 100%;
  --btn-h: var(--ui-h-xl);
  --btn-content-h: 1.25rem;
  // --btn-padding-x: 2rem;
  --btn-padding-x: calc(var(--_btn-h) * 0.5);
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-radius: var(--2xs);
}

/* ================================================== */
/* Round icon button */
/* ================================================== */
@mixin btn-icon-structure {
  --_btn-h: var(--btn-h, 2.25rem);
  --_btn-content-h: var(--btn-content-h, 1rem);
  position: relative;
  z-index: z(btn);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--_btn-h);
  height: var(--_btn-h);
  border-radius: 999px;
  pointer-events: auto;
  cursor: pointer;

  &::after {
    @include pseudo;
    z-index: z(btn-after);
  }

  &::before {
    @include pseudo;
    z-index: z(btn-b4);
  }

  & > svg {
    z-index: z(on-btn);
    height: var(--_btn-content-h);
    aspect-ratio: 1;
    pointer-events: none;
  }
}

.btn-icon-sm {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-sm);
  --btn-content-h: calc(var(--btn-h) * 0.55);
}

.btn-icon-md {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-md);
  --btn-content-h: calc(var(--btn-h) * 0.55);

  // & > svg {
  //   width: calc(var(--btn-h) * 0.5);
  //   height: calc(var(--btn-h) * 0.5);
  // }

  // &:hover {
  //   & > svg {
  //     width: calc(var(--btn-h) * 0.6);
  //     height: calc(var(--btn-h) * 0.6);
  //   }
  // }
}

.btn-icon-lg {
  @include btn-icon-structure;
  --btn-h: var(--ui-h-lg);
  --btn-content-h: calc(var(--btn-h) * 0.6);
}

@mixin btn-interaction {
  will-change: opacity;
  transition: opacity $speed-slow $smooth-cubic;
}

/* ================================================== */
/* Button style */
/* ================================================== */
@mixin btn-style {
  --_btn-bg: var(--btn-bg, rgba(255, 255, 255, 0.5));
  --_btn-state-bg: var(--btn-state-bg, green(236, 92, 9, 1));
  --_btn-text: var(--btn-text, black);
  --_btn-icon: var(--btn-icon, var(--btn-text));
  --_btn-blur: var(--btn-blur, 15px);

  background-color: var(--_btn-bg);
  -webkit-backdrop-filter: blur(var(--_btn-blur));
  backdrop-filter:         blur(var(--_btn-blur));
  @include btn-interaction;
  opacity: 1;

  &::before {
    @include btn-interaction;
    background-color: var(--_btn-state-bg);
    opacity: 0;
  }

  & > .btn-text {
    color: var(--_btn-text);
  }

  & > svg {
    background-color: var(--_btn-icon);
  }

  &:hover,
  &:focus-visible {
    &::before {
      opacity: 0.3;
    }
  }

  &:active {
    &::before {
      opacity: 0.7;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &::before {
      opacity: 0.3;
    }
  }


/* demo stuff */
  &.btn-hover {
    pointer-events: none;

    &::before {
      opacity: 0.3;
    }
  }

  &.btn-focus {
    pointer-events: none;
    box-shadow: 0 0 0 1px hsl(var(--primary-15) / 0.12)!important;
    outline: 1px solid hsl(var(--primary-95) / 0.6);
    outline-offset: 1.5px;

    &::before {
      opacity: 0.3;
    }
  }

  &.btn-active {
    pointer-events: none;
    box-shadow: 0 0 0 1px hsl(var(--primary-15) / 0.12)!important;
    outline: 1px solid hsl(var(--primary-95) / 0.6);
    outline-offset: 1.5px;

    &::before {
      opacity: 0.7;
    }
  }

}

/* Primary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-primary {
  @include btn-style;
  --btn-bg: hsl(var(--primary-70) / 0.9);
  --btn-state-bg: hsl(var(--primary-15) / 0.9);
  --btn-text: var(--color-white);
  --btn-blur: 15px;
  box-shadow: var(--sha-2xs);

  &::after {
    box-shadow: var(--bevel-lg);
  }
}

/* Secondary buttons */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-secondary {
  @include btn-style;
  --btn-bg: hsl(var(--primary-15) / 0.2);
  --btn-state-bg:  hsl(var(--primary-15) / 0.8);
  --btn-text: var(--text-xstrong);
  --btn-blur: 15px;
}

/* Outline button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-outline {
  @include btn-style;
  --btn-bg: hsl(var(--primary-15) / 0.1);
  --btn-state-bg: hsl(var(--primary-90) / 0.7);
  --btn-text: hsl(var(--primary-98) / 1);
  --btn-blur: 15px;
  border: 1px solid hsl(var(--primary-98) / 0.5);
}

/* Ghost button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin btn-ghost {
  @include btn-style;
  // --btn-bg: hsl(var(--primary-98) / 0.4);
  --btn-bg: transparent;
  --btn-state-bg: hsl(var(--primary-95) / 0.7);
  --btn-text: hsl(var(--primary-98) / 1);
  --btn-blur: 15px;

  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.btn-primary { @include btn-primary; }
.btn-secondary { @include btn-secondary; }
.btn-outline { @include btn-outline; }
.btn-ghost { @include btn-ghost; }


// @mixin btn-interaction2 {
//   will-change: opacity;
//   transition: opacity $speed-slow $smooth-cubic;
// }

// @mixin btn-style2 {
//   --_btn-bg: var(--btn-bg, rgba(255, 255, 255, 0.5));
//   --_btn-state-bg: var(--btn-state-bg, rgba(236, 92, 9, 1));
//   --_btn-text: var(--btn-text, black);
//   --_btn-icon: var(--btn-icon, var(--btn-text));

//   background-color: var(--_btn-bg);
//   -webkit-backdrop-filter: blur(20px);
//   backdrop-filter:         blur(20px);

//   &::after {
//     box-shadow: var(--bevel-lg);
//   }

//   &::before {
//     background-color: var(--_btn-state-bg);
//     opacity: 0;
//     @include btn-interaction2;
//   }

//   & > .btn-text {
//     color: var(--_btn-text);
//   }

//   & > svg {
//     background-color: var(--_btn-icon);
//   }

//   &:hover,
//   &:focus {
//     &::before {
//       opacity: 0.5;
//     }
//   }

//   &:active {
//     &::before {
//       opacity: 0.7;
//     }
//   }

//   &:disabled {
//     cursor: not-allowed;
//     opacity: 0.5;

//     &::before {
//       opacity: 0.2;
//     }
//   }
// }

// .btn-2nd {
//   @include btn-style2;
//   --btn-bg: hsl(var(--primary-75) / 0.5);
//   --btn-state-bg: hsl(var(--primary-15) / 0.9);
//   --btn-text: hsl(var(--primary-98) / 0.98);
//   box-shadow: var(--sha-xs);
// }