/* ================================================== */
/* Cards */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

/* Card base */
/* ================================================== */
@mixin card-base {
  --_space: var(--space, 1rem);
  --neg-space: calc(-1 * var(--_space));
  --_neg-space: var(--neg-space, -1rem);
  --_card-radius: var(--card-radius, 1.5rem);
  z-index: z(card);
  position: relative;
  height: fit-content;
  display: grid;
  gap: var(--_space);
  padding: var(--_space);
  overflow: hidden;
  pointer-events: auto;
  border-radius: var(--_card-radius);
}
.card { @include card-base; }


/* Cards that fit the width of their content */
/* ================================================== */
.card-fit-tight {
  @include card-base;
  --space: var(--xl);
  max-width: 100%;
  width: fit-content;
  @include radius("md");
}

.card-fit-roomy {
  @include card-base;
  --space: var(--3xl);
  max-width: 100%;
  width: fit-content;
  @include radius("lg");
}

/* Card children */
/* ================================================== */
.title-group {
  z-index: z(on-card);
  display: grid;
  gap: 0.5em;
}

.card-title-lg {
  @include title-3(center);
  z-index: z(on-card);
}

.card-title-md {
  @include title($font-weight-md);
  z-index: z(on-card);
  text-align: center;
  font-size: var(--text-xl);
  text-shadow: var(--text-sha-md);
  color: var(--text-base);
}

.card-subtitle {
  @include subtitle(center, var(--text-sm));
  z-index: z(on-card);
}


/* Card Container queries */
/* ================================================== */

/* 360px and smaller */
@container bg (width < 360px ) {
  .card {
    --space: 7cqw;
    --card-radius: 7cqw;
  }

  .title-group {
    gap: 0.5em;
  }

  .card-title-lg {
    font-size: 8cqw;
  }

  .card-subtitle {
    font-size: var(--text-xs);
  }
}

/* breakpoint xs: 360px and bigger */
@container bg (width >= 360px) {
  .card {
    --space: 7cqw;
    --card-radius: 7cqw;
  }

  .title-group {
    gap: 0.4em;
  }

  .card-title-lg {
    font-size: 8cqw;
  }

  .card-subtitle {
    font-size: var(--text-sm);
  }
}

/* breakpoint sm: 560px and bigger */
@container bg (width >= 560px) {
  .card {
    --space: 6cqw;
    --card-radius: 6cqw;
  }

  .card-title-lg {
    font-size: 7cqw;
  }
}

/* breakpoint md: 768px and bigger */
@container bg (width >= 768px) {
  .card {
    --space: 5cqw;
    --card-radius: 5cqw;
  }

  .title-group {
    gap: 0.75em;
  }

  .card-title-lg {
    font-size: 6cqw;
  }

  .card-subtitle {
    font-size: var(--text-md);
  }
}

/* breakpoint lg: 1024px and bigger */
@container bg (width >= 1024px) {
  .card {
    --space: 4cqw;
    --card-radius: 4cqw;
  }

  .card-title-lg {
    font-size: 5cqw;
  }

}

/* breakpoint xl: 1440px and bigger */
@container bg (width >= 1440px) {
  .card {
    --space: 3.5cqw;
    --card-radius: 3.5cqw;
  }

  .title-group {
    gap: 0.5rem;
  }

  .card-title-lg {
    font-size: min(4cqw, 70px);
  }
}

/* Remove border-radius at 100vw or bigger */
/* the -16px prevents issues with scrollbar cutting into 100vw */
@container bg (width >= calc(100vw - 16px)) {
  .card,
  .card-fit-tight,
  .card-fit-roomy {
    --card-radius: 0;
  }
}