/* ================================================== */
/* Cards */
@use "../forward-styles/design" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/glass" as glass;
/* ================================================== */

/* Card base */
/* ================================================== */
@mixin card-base {
  --_space: var(--space, 1rem);
  --neg-space: calc(-1 * var(--_space));
  --_card-radius: var(--card-radius, 1.5rem);
  z-index: z(card);
  // width: 100%;
  position: relative;
  height: fit-content;
  display: grid;
  gap: var(--_space);
  padding: var(--_space);
  overflow: hidden;
  pointer-events: auto;
  border-radius: var(--_card-radius);

  & > * {
    z-index: z(on-card);
  }
}

.card-q {
  @include card-base;
}

/* Edge-to-edge classes */
/* ================================================== */
@mixin e2e {
  // z-index: z(on-card);
  width: calc(100% + (var(--space) * 2));
  display: grid;
  margin-left: var(--neg-space);
  margin-right: var(--neg-space);
  padding: var(--space);

  &.e2e-no-p {
    padding: 0;
  }
}

.e2e { @include e2e; }

.e2e-no-t {
  @include e2e;
  margin-top: var(--neg-space);
}

.e2e-no-b {
  @include e2e;
  margin-bottom: var(--neg-space);
}

.e2e-no-y {
  @include e2e;
  margin-top: var(--neg-space);
  margin-bottom: var(--neg-space);
}

.e2e-inset {
  @include e2e;
  margin-left: calc(var(--neg-space) + 1px);
  margin-right: var(--neg-space);
  background-color: var(--inset-bg-deep);
  box-shadow: var(--inset-flat-md);
}

@mixin bottom-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  overflow: hidden;
}

.bottom-radius {
  @include bottom-radius;
}


/* Card Titles */
/* ================================================== */
@mixin card-title {
  font-family: $font-family-title;
  letter-spacing: $letter-spacing-xs;
  line-height: $line-height-title;
  color: var(--text-base);
  text-align: center;
}

.card-title-lg {
  @include card-title;
  font-weight: $font-weight-sm;
  text-shadow: var(--text-sha-lg);
  font-size: var(--text-3xl);
}

.card-title-md {
  @include card-title;
  font-weight: $font-weight-md;
  text-shadow: var(--text-sha-md);
  font-size: var(--text-xl);
// color: blue;
}

.card-title-sm {
  @include card-title;
  font-weight: $font-weight-md;
  text-shadow: var(--text-sha-sm);
  font-size: var(--text-lg);
// color: purple;
}

.card-subtitle {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-xs;
  line-height: $line-height-sm;
  text-align: center;
  color: var(--text-mild);
// color:  green;
  text-shadow: var(--text-sha-3xs);
  font-size: var(--text-sm);
}

.title-group {
  // z-index: z(on-card);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
//  background-color: rgba(0, 225, 255, 0.5);
}

.card-img {
  width: 100%;
}

.card-img-e2e {
  @include e2e;
  padding: 0;
}

/* Cards that fit the width of their content */
/* ================================================== */
.card-fit-lg {
  @include card-base;
  --space: var(--lg);
  --card-radius: var(--md);
  max-width: 100%;
  width: fit-content;
  // @include radius("md");
}

.card-fit-xl {
  @include card-base;
  --space: var(--xl);
  --card-radius: var(--md);
  max-width: 100%;
  width: fit-content;
  // @include radius("md");
}

.card-fit-3xl {
  @include card-base;
  --space: var(--3xl);
  --card-radius: var(--lg);
  max-width: 100%;
  width: fit-content;
  // @include radius("lg");
}


/* Card Container queries */
/* ================================================== */

/* 360px and smaller */
@container card (width < 360px ) {
  .card-q {
    // --space: var(--sm);
    // @include radius("sm");

    --space: 7cqw;
    --card-radius: 7cqw;
    // background-color: rgba(255, 0, 0, 0.5);
  }

  .title-group {
    gap: 0.5em;
  }

  .card-title-lg {
    font-size: 8cqw;
  }

  .card-subtitle {
    font-size: var(--text-xs);
  }
}

/* breakpoint xs: 360px and bigger */
@container card (width >= 360px) {
  .card-q {
    // --space: var(--md);
    // @include radius("md");

    --space: 7cqw;
    --card-radius: 7cqw;
    // background-color: rgba(255, 255, 0, 0.5);
  }

  .title-group {
    gap: 0.4em;
  }

  .card-title-lg {
    font-size: 8cqw;
  }

  .card-subtitle {
    font-size: var(--text-sm);
  }
}

/* breakpoint sm: 560px and bigger */
@container card (width >= 560px) {
  .card-q {
    // --space: var(--md);
    // @include radius("md");

    --card-radius: 6cqw;
    // background-color: rgba(0, 255, 0, 0.5);
  }

  .card-title-lg {
    font-size: 7cqw;
  }
}

/* breakpoint md: 768px and bigger */
@container card (width >= 768px) {
  .card-q {
    // --space: var(--lg);
    // @include radius("lg");

    --space: 5cqw;
    --card-radius: 5cqw;
    // background-color: rgba(0, 255, 255, 0.5);
  }

  .title-group {
    gap: 0.75em;
  }

  .card-title-lg {
    font-size: 6cqw;
  }

  .card-subtitle {
    font-size: var(--text-md);
  }
}

/* breakpoint lg: 1024px and bigger */
@container card (width >= 1024px) {
  .card-q {
    // --space: var(--lg);
    // @include radius("lg");

    --space: 5cqw;
    --card-radius: 4cqw;
    // background-color: rgba(0, 0, 255, 0.5);
  }

  .card-title-lg {
    font-size: 5cqw;
  }

}

/* breakpoint xl: 1440px and bigger */
@container card (width >= 1440px) {
  .card-q {
    // --space: var(--xl);
    // @include radius("xl");

    // --space: 4cqw;
    --card-radius: 3.5cqw;
    // background-color: rgba(255, 0, 255, 0.53);
  }

  .title-group {
    gap: 0.5rem;
  }

  .card-title-lg {
    font-size: 4.5cqw;
  }
}

/* Remove border-radius at 100vw or bigger */
/* the -16px prevents scrollbars from breaking this funtionality */
@container card (width >= calc(100vw - 16px)) {
  .card-q {
    --card-radius: 0;
    // background-color: rgba(255, 0, 136, 0.5);
  }

  .card-fit-lg {
    --card-radius: 0;
  }

  .card-fit-xl {
    --card-radius: 0;
  }

  .card-fit-3xl {
    --card-radius: 0;
  }

  .e2e-inset {
    margin-left: var(--neg-space);
  }
}