/* ================================================== */
/* Cards */
@use "../forward-styles/design" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/glass" as glass;
/* ================================================== */

/* Card base */
/* ================================================== */
@mixin card-base {
  --_space: var(--space, 1rem);
  --neg-space: calc(-1 * var(--_space));
  z-index: z(card);
  // width: 100%;
  height: fit-content;
  display: grid;
  gap: var(--_space);
  padding: var(--_space);
  overflow: hidden;
  pointer-events: auto;
}

.card-q {
  @include card-base;
}

/* Edge-to-edge classes */
/* ================================================== */
@mixin e2e {
  z-index: z(on-card);
  width: calc(100% + (var(--space) * 2));
  margin-left: var(--neg-space);
  margin-right: var(--neg-space);
  padding: var(--space);

  &.e2e-no-p {
    padding: 0;
  }
}

.e2e { @include e2e; }

.e2e-no-t {
  @include e2e;
  margin-top: var(--neg-space);
}

.e2e-no-b {
  @include e2e;
  margin-bottom: var(--neg-space);
}

.e2e-no-y {
  @include e2e;
  margin-top: var(--neg-space);
  margin-bottom: var(--neg-space);
}

.e2e-inset {
  @include e2e;
  margin-left: calc(var(--neg-space) + 1px);
  margin-right: var(--neg-space);
  background-color: var(--inset-bg-deep);
  box-shadow: var(--inset-flat-md);
}



@mixin bottom-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  overflow: hidden;
}

.bottom-radius {
  @include bottom-radius;
}




/* Card Titles */
/* ================================================== */
@mixin card-title {
  font-family: $font-family-title;
  letter-spacing: $letter-spacing-md;
  // line-height: 1.2;
  color: var(--text-base);
  text-align: center;
}

.card-title-lg {
  @include card-title;
  font-weight: $font-weight-sm;
  text-shadow: var(--text-sha-lg);
  font-size: var(--text-3xl);
  line-height: 1;
// color: red;
}

.card-title-md {
  @include card-title;
  font-weight: $font-weight-md;
  text-shadow: var(--text-sha-md);
  font-size: var(--text-xl);
// color: blue;
}

.card-title-sm {
  @include card-title;
  font-weight: $font-weight-md;
  text-shadow: var(--text-sha-sm);
  font-size: var(--text-lg);
// color: purple;
}

.card-subtitle {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-sm;
  line-height: $line-height-md;
  text-align: center;
  color: var(--text-base);
// color:  green;
  text-shadow: var(--text-sha-3xs);
  font-size: var(--text-sm);
}

.title-group {
  z-index: z(on-card);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
//  background-color: rgba(0, 225, 255, 0.5);
}

.card-img {
  width: 100%;
}

.card-img-e2e {
  @include e2e;
  padding: 0;
}




/* Card Container queries */
/* ================================================== */
@container (width < 360px ) {
  .card-q {
    --space: var(--sm);
    @include radius("sm");
    // background-color: rgba(255, 0, 0, 0.5);
  }

  .card-title-lg {
    font-size: var(--text-xl);
  }

  .card-subtitle {
    font-size: var(--text-xs);
  }
}

@container (width >= 360px) {
  .card-q {
    --space: var(--md);
    @include radius("md");
    // background-color: rgba(255, 170, 0, 0.607);
  }

  .card-title-lg {
    font-size: var(--text-2xl);
  }

  .card-subtitle {
    font-size: var(--text-sm);
  }
}

@container (width >= 480px) {
  .card-q {
    // --space: var(--md);
    @include radius("md");
    // background-color: rgba(0, 255, 0, 0.5);
  }

  // .card-title-lg {
  //   font-size: var(--text-2xl);
  // }

  // .card-subtitle {
  //   font-size: var(--text-sm);
  // }
}

@container (width >= 768px) {
  .card-q {
    --space: var(--lg);
    @include radius("lg");
    // background-color: rgba(0, 0, 255, 0.5);
  }

  .card-title-lg {
    font-size: var(--text-2xl);
  }

  // .card-subtitle {
  //   font-size: var(--text-sm);
  // }
}

@container (width >= 1024px) {
  .card-q {
    --space: var(--lg);
    // @include radius("lg");
    // background-color: rgba(234, 0, 255, 0.5);
  }

  .title-group {
    gap: 1em;
  }

  .card-title-lg {
    font-size: var(--text-3xl);
  }

  .card-subtitle {
    font-size: var(--text-md);
  }
}

@container (width >= 1440px) {
  .card-q {
    --space: var(--xl);
    @include radius("xl");
    // background-color: rgba(255, 0, 98, 0.53);
  }

  // .title-group {
  //   gap: 1em;
  // }

  // .card-title-lg {
  //   font-size: var(--text-3xl);
  // }

  // .card-subtitle {
  //   font-size: var(--text-md);
  // }
}

@container (width >= 99vw) {

  .e2e-inset {
    margin-left: var(--neg-space);
  }
}

/* Cards that fit the width of their content */
/* ================================================== */
.card-fit-lg {
  @include card-base;
  --space: var(--lg);
  width: max-content;
  max-width: 100%;
  @include radius("md");
}

.card-fit-xl {
  @include card-base;
  --space: var(--xl);
  width: max-content;
  max-width: 100%;
  @include radius("md");
}

.card-fit-3xl {
  @include card-base;
  --space: var(--3xl);
  width: max-content;
  max-width: 100%;
  @include radius("lg");
}