/* ================================================== */
/* HSL Color Picker */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

body {
  --color-h: 205;
  --color-l: 10;
  --color-s: 20;
  --color-a: 0.2;

  --color-s0: hsl(var(--color-h) 0% var(--color-l));
  --color-s100: hsl(var(--color-h) 100% var(--color-l));

  --color-l0: hsl(var(--color-h) var(--color-s) 0%);
  --color-l50: hsl(var(--color-h) var(--color-s) 50%);
  --color-l100: hsl(var(--color-h) var(--color-s) 100%);

  --color-a0: hsl(var(--color-h) var(--color-s) var(--color-l) / 0 );
  --color-a100: hsl(var(--color-h) var(--color-s) var(--color-l) / 1 );

  --color-hsla: hsl(var(--color-h) var(--color-s) var(--color-l) / var(--color-a));

  --swatch-text-color: red;
}


.color-picker-layout {
  --max-w: 350px;
  --track-w: 100%;
  --track-h: var(--ui-h-md);
  // --track-bg: currentColor;
  --track-sha: var(--inset-md);

  --track-gap: 0.25rem;
  --track-gap-half: calc(0.25rem * 0.5);
  --thumb-h: calc(var(--track-h) - var(--track-gap));
  --thumb-radius: 8px;

  --thumb-color: transparent;
  --thumb-sha:
    inset 0 0 0 1px hsl(var(--neutral-95) / 0.2),
    inset 0 0 0 2px hsl(var(--shadow) / 0.2),
    inset 2px 2px 1px -3px hsl(var(--highlight) / 0.8),
    inset 3px 3px 1.5px -4.5px hsl(var(--highlight) / 0.5),
    inset 1.25px 1.25px 1.25px -0.75px hsl(var(--highlight) / 0.15),
    inset 1.25px 1.25px 0.25px  hsl(var(--highlight) / 0.03),
    inset 0 0 0.25px 0.5px  hsl(var(--highlight) / 0.03),
    0 0 0.3px hsl(var(--shadow) / 0.1),
    0 0 0.75px hsl(var(--shadow) / 0.1),
    1px 0.75px 1.75px -0.1px hsl(var(--shadow) / 0.15),
    2px 1.5px 4px -0.5px hsl(var(--shadow) / 0.15);


  // --thumb-sha:
  //   inset 0 0 0 1px hsl(var(--neutral-95) / 0.9),
  //   inset 0 0 0 2px hsl(var(--neutral-80) / 0.5),
  //   inset 0 0 0 3px currentColor,
  //   0 0 0.3px hsl(var(--shadow) / 0.1),
  //   0 0 0.75px hsl(var(--shadow) / 0.08),
  //   1px 0.75px 1.75px -0.1px hsl(var(--shadow) / 0.08),
  //   2px 1.5px 4px -0.5px hsl(var(--shadow) / 0.1);

  width: 100%;
  max-width: var(--max-w);
  height: fit-content;
  display: grid;
  gap: var(--xl);
  background-color: transparent;

  @include bp(md) {
    --track-h: var(--ui-h-sm);
  }
}


.thick-slider-group {
  width: var(--track-w);
  max-width: var(--max-w);
  height: var(--track-h);
  display: flex;
  align-items: center;
  gap: var(--sm);
}

.thick-slider-label {
  color: var(--text-strong);
}

@mixin thick-track() {
  appearance: none;
  width: var(--track-w);
  max-width: var(--max-w);
  height: var(--track-h);
  margin: 0;
  padding: 0;
  border: none;
  @include outer-radius(var(--thumb-radius), var(--track-gap-half));

  // background-color: currentColor; ?
  // background-color: transparent;
  // box-shadow: var(--track-sha);
}

@mixin thick-thumb() {
  appearance: none;
  pointer-events: none;
  width: var(--thumb-h);
  height: var(--thumb-h);
  border: none;
  border-radius: var(--thumb-radius);

  background-color: var(--thumb-color);
  box-shadow: var(--thumb-sha);
  transition: all $speed-slow $smooth-cubic;
}

.thick-slider-ui {
  appearance: none;
  -webkit-appearance: none;

  width: var(--track-w);
  max-width: var(--max-w);
  height: var(--track-h);

  padding: 0;
  margin: 0;
  outline: none;
  border: none;

  @include outer-radius(var(--thumb-radius), var(--track-gap-half));
  color: inherit;
  box-shadow: var(--track-sha);

  // background-color: currentColor; //
  background-origin: content-box;
  background-repeat: no-repeat;

  &#hsl-a {
    background-color: transparent;
  }

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    @include thick-track;
    padding: 0 var(--track-gap-half);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include thick-thumb;
    margin-top: var(--track-gap-half);
  }

  &::-moz-range-track {
    @include thick-track;
    background-color: transparent;
  }

  &::-moz-range-progress {
    height: var(--track-h);
    // background-color: yellow;
    background-color: transparent;
    @include outer-radius(var(--thumb-radius), var(--track-gap-half));
  }

  &::-moz-range-thumb {
    @include thick-thumb;
  }

  // &::-ms-track { @include thick-track; }
  // &::-ms-thumb {
  // 	margin-top: 0;
  // 	@include thick-thumb;
  // }
  // &::-ms-tooltip { display: none; }

}


/* Color sliders */
/* ================================================== */
#hsl-h {
  background-image: linear-gradient(
    to right,
    #F00,
    #FF0,
    #0F0,
    #0FF,
    #00F,
    #F0F,
    #F00
  );
}

#hsl-s {
  background-image: linear-gradient(
    to right,
    var(--color-s0),
    var(--color-s100)
  );
}

#hsl-l {
  background-image: linear-gradient(
    to right,
    var(--color-l0),
    var(--color-l50),
    var(--color-l100)
  );
}

#hsl-a {
  background-image: linear-gradient(
    to right,
    var(--color-a0),
    var(--color-a100)
  );
}

// #hsl-s {
//   background-image: linear-gradient(
//     to right,
//     #888,
//     transparent
//   );
// }

// #hsl-l {
//   background-image: linear-gradient(
//     to right,
//     #000,
//     transparent,
//     #FFF
//   );
// }

// #hsl-a {
//   background-image: linear-gradient(
//     to right,
//     transparent,
//     currentColor
//   );
// }


/* Color swatch */
/* ================================================== */
.color-swatch {
  border-radius: 0.8rem;
  height: 5rem;
  text-align: right;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 100%;
  display: grid;
  place-items: end;
  background-color: var(--color-hsla);
  // & p {
  //   outline: 1px solid rgb(255, 21, 0);
  // }

  & #text-color {
    color: var(--swatch-text-color);
  }
}

#sample div {
  // cursor: pointer;
  font-size: .8rem;
  font-weight: 200;
  line-height: 1;
}

// #sample div:hover {
//   text-decoration: underline;
// }

// #sample .white {
//   color: white;
// }

// #sample .black {
//   color: black;
// }
