/* ================================================== */
/* Dropdown */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

.dropdown-group {
  position: relative;
  pointer-events: none;
 z-index: z(menu);
}

.dropdown-toggle {
  pointer-events: auto;

  & > .svg-ham {
    display: none;
  }

  & > .svg-x {
    display: inline-block;
  }

  &.is-closed {
    & > .svg-ham {
      display: inline-block;
    }

    & > .svg-x {
      display: none;
    }
  }
}

.dropdown {
  --top-offset: calc(var(--nav-item-h) + var(--nav-padding));
  --dropdown-h: 0px; /* height value set via dropdown.js */

  position: absolute;
  z-index: z(menu);
  min-width: 140px;
  width: fit-content;
  height: fit-content;
  top: var(--top-offset);
  right: 0;
  display: grid;
  gap: var(--2xs);
  // padding: var(--2xs);
  pointer-events: auto;
  border-radius: var(--sm);
  // box-shadow: var(--sha-lg);
  opacity: 1;
  transform: translateX(0);
  transition: opacity $speed-fast $smooth-cubic,
              transform $speed-slow $smooth-cubic;

  &.is-closed {
    opacity: 0;
    transform: translateY(calc(var(--dropdown-h) * 1.5));
  }
}

.dropdown-item {
  z-index: z(on-menu);
  min-width: max-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  pointer-events: auto;
  cursor: pointer;
}