/* ================================================== */
/* Forms | Text inputs */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

body {
  --text-input-height: var(--ui-h-lg);
  --text-input-maxwidth: 380px;
  --text-input-padding: var(--3xs);
  --text-input-radius: 12px;
  --text-input-inset: var(--inset-md);
  --text-input-inset-bg: var(--inset-bg-xdeep);

  --textarea-maxwidth: 500px;
  --textarea-minheight: 150px;

  --placeholder-color: var(--text-mild);
  --caret-color: hsl(var(--primary-70) / 1);
}

/* Caret styling */
/* ================================================== */
input,
textarea,
[contenteditable] {
  caret-color: var(--caret-color);
}

/* Text styling */
/* ================================================== */
.text-input-group {
  height: fit-content;
  width: 100%;
  display: grid;

  & > .text-input-label {
    padding-bottom: var(--4xs);
  }

  & > .input-hint {
    padding-top: var(--5xs);
  }
}

.text-input-label {
  @include title-md(start, --text-md);
  line-height: $line-height-title;
  color: var(--text-strong);
  text-shadow: var(--text-sha-sm);
}

.input-hint {
  @include body(--text-xs);
  line-height: $line-height-sm;
  color: var(--text-mild);
  text-shadow: var(--text-sha-3xs);
}

@mixin input-text {
  @include body(--text-sm);
  z-index: z(on-input);
  line-height: 1;
  text-align: start;
  color: var(--text-base);
}

@mixin placeholder {
  @include input-text;
  color: var(--placeholder-color);
}

/* Input base mixins */
/* ================================================== */
@mixin text-input-bg-base {
  pointer-events: none;
  position: relative;
  z-index: z(input-b4);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--text-input-padding);

  background-color:var(--text-input-inset-bg);
  box-shadow: var(--text-input-inset);
  border-radius: var(--text-input-radius);
  overflow: hidden;
}

@mixin text-input-base {
  position: absolute;
  inset: 0;
  z-index: z(input);
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: var(--text-input-radius);

  @include input-text;
  pointer-events: auto;
  cursor: text;

  &::placeholder {
    @include placeholder;
  }

  &:focus-visible {
    @include focus-visible-inner;
  }
}


/* Search input */
/* ================================================== */
.search-input-bg {
  @include text-input-bg-base;
  height: var(--text-input-height);
  width:  min(var(--text-input-maxwidth), 100%);
  padding: 0 var(--text-input-padding);
  --search-icon-h: calc(var(--text-input-height) - (var(--text-input-padding) * 2));
  --wrap-icon: calc(var(--search-icon-h) + (var(--text-input-padding) * 2));
}

.search-input-icon {
  z-index: z(on-input);
  height: var(--search-icon-h);
  width: var(--search-icon-h);
  aspect-ratio: 1;
  background-color: var(--placeholder-color);
}

.search-input {
  @include text-input-base;
  padding-left: var(--wrap-icon);
  padding-right: var(--text-input-padding);
}

/* Little x that lets you clear what you typed. Not always available */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  z-index: z(on-input);
  height: calc(var(--text-input-height) - (var(--text-input-padding) * 2));
  aspect-ratio: 1;
  background: url(/assets/icons/XCircleOutline.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.33;
  pointer-events: all;
}


/* Text input */
/* ================================================== */
.text-input-bg {
  @include text-input-bg-base;
  height: var(--text-input-height);
  width:  min(var(--text-input-maxwidth), 100%);
}

.text-input {
  @include text-input-base;
  padding: 0 var(--text-input-padding);
}

/* Textarea input */
/* ================================================== */
.textarea-bg {
  @include text-input-bg-base;
  width: min(var(--textarea-maxwidth), 100%);
  min-height: var(--textarea-minheight);
  height: fit-content;
}

.textarea {
  @include text-input-base;
  padding: var(--text-input-padding);
  white-space: pre-wrap;
  overflow: auto;
  resize: vertical;
  line-height: $line-height-md;
}