/* ================================================== */
/* Inputs */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */

/* Base for switch | checkbox | radio button */
/* ✨ Config these values ✨ */
/* ================================================== */
@mixin input-base {
  --input-h: var(--ui-h-xs);

  --bg: var(--inset-bg-deep);
  --bg-hover: var(--tint-2xdark);
  --inset: var(--inset-sm);
  --knob: hsl(var(--neutral-85) / 0.9);
  --knob-sha: var(--sha-xs);

  --bg-checked: hsl(var(--primary-70) / 1);
  --bg-checked-hover: hsl(var(--primary-60) / 1);

  --bg-disabled: var(--inset-bg-xdeep);
  --inset-disabled: none;
  --knob-disabled: hsl(var(--neutral-90) / 0.25);
  --knob-disabled-sha: none;

  --bg-disabled-checked: hsl(var(--primary-70) / 0.4);

  position: relative;
  z-index: z(input);
  overflow: hidden;
  cursor: pointer;
  background-color: var(--bg);
  box-shadow: var(--inset);
  will-change: background-color;
  transition: background-color $speed-slow $smooth-cubic;

  &::after {
    @include pseudo;
    z-index: z(on-input);
    overflow: hidden;
  }

  @media (pointer: fine) {
    &:hover {
      background-color: var(--bg-hover);
    }
  }

  &:checked {
    background-color: var(--bg-checked);

    &:hover {
      background-color: var(--bg-checked-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--bg-disabled);
    box-shadow: var(--inset-disabled);

    & + label {
      color: var(--text-xmild);
    }

    &::after {
      box-shadow: var(--knob-disabled-sha);
    }

    &:checked {
      background-color: var(--bg-disabled-checked);

      &::after {
        box-shadow: var(--knob-disabled-sha);
      }
    }
  }
}

/* Checkbox */
/* ================================================== */
input[type='checkbox'].checkbox {
  @include input-base;
  width: var(--input-h);
  height: var(--input-h);
  border-radius: 0.5rem;

    &::after {
      background-color: transparent;
      box-shadow: none;
    }

  &:checked {
    &::after {
      border-radius: 0.05rem;
      width: 55%;
      height: 30%;
      border: 2.5px solid var(--knob);
      border-top: 0;
      border-right: 0;
      left: 23%;
      top: 32%;
      transform: rotate( -45deg);
    }
  }

  &:disabled {
    &::after {
      border-radius: 0.05rem;
      width: 80%;
      height: 30%;
      border-bottom: 2px solid var(--knob-disabled);
      border-top: 0;
      border-right: 0;
      border-left: 0;
      left: 0%;
      top: 30%;
      transform: rotate( -45deg);
    }

    &:checked {
      &::after {
        width: 55%;
        height: 32%;
        border: 2.5px solid var(--knob-disabled);
        border-top: 0;
        border-right: 0;
        left: 23%;
        top: 30%;
      }
    }
  }
}

/* Switch */
/* ================================================== */
input[type='checkbox'].switch {
  --switch-width: calc(var(--input-h) * 1.8);
  --thumb-margin: 3.5px;

  @include input-base;
  display: inline-flex;
  width: var(--switch-width);
  height: var(--input-h);
  align-items: center;
  border-radius: 99px;

    &::after {
      display: block;
      aspect-ratio: 1;
      margin: var(--thumb-margin);
      height: calc(100% - (2 * var(--thumb-margin)));
      background-color: var(--knob);
      box-shadow: var(--knob-sha);
      border-radius: 99px;
      transition: margin $speed-base $smooth-cubic;
    }

  &:checked {
    &::after {
      margin-inline-start: calc(var(--switch-width) - var(--input-h) + var(--thumb-margin));
    }
  }

  &:disabled {
    &::after {
      background-color: var(--knob-disabled);
    }
  }
}


/* Radio button */
/* ================================================== */
input[type='radio'] {
  @include input-base;
  width: var(--input-h);
  height: var(--input-h);
  aspect-ratio: 1;
  border-radius: 99px;

    &::after {
      background-color: transparent;
      box-shadow: none;
    }

  &:checked {
    &::after {
      margin: 5px;
      aspect-ratio: 1;
      border-radius: 99px;
      background-color: var(--knob);
      box-shadow: var(--knob-sha);
    }
  }

  &:disabled {
    &:checked {
      &::after {
        background-color: var(--knob-disabled);
      }
    }
  }
}

/* Input wappers & items */
/* ================================================== */
.input-legend {
  padding-bottom: var(--md);
  font-size: var(--text-md);
}

.input-fieldset {
  display: grid;
  gap: var(--sm);
}

.input-group {
  display: flex;
  align-items: center;
  gap: var(--xs);
}

.input-label {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-md;
  color: var(--text-xstrong);
  text-shadow: var(--text-sha-sm);
}

.inline-label {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  color: var(--text-strong);
}