/* ================================================== */
/* Nav */
@use "../0-design/animation" as ani;
@use "../0-design/breakpoint" as bp;
@use "../2-util/z-index" as z;
@use "../2-util/radius" as r;
/* ================================================== */

:root {
  --nav-padding: 1rem;
  --nav-item-h: var(--ui-h-md);
  --nav-h: calc(var(--nav-item-h) + (var(--nav-padding) * 2));
}

/* Main nav */
/* ================================================== */
.main-nav-bin {
  position: fixed;
  z-index: z.z(nav);
  height: var(--nav-h);
  inset: 0;
  padding: var(--nav-padding);
  pointer-events: none;
}

.main-nav {
  width: 100%;
  max-width: bp.$bp-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  gap: var(--3xs);
  margin: 0 auto;
}

.nav-item {
  height: var(--nav-item-h);
  pointer-events: auto;
}

/* Dropdown */
/* ================================================== */
.dropdown-group { /* holds toggle button and dropdown */
  position: relative;
  width: fit-content;
  height: fit-content;
  pointer-events: none;
}

.dropdown-bin { /* prevents ugly bevel overflow and gets toggled in JS */
  width: fit-content;
  height: fit-content;
  pointer-events: none;
  border-radius: var(--sm);
  overflow: hidden;
}

.dropdown-bg { /* styles background and is used in JS for close dropdown by clicking outside */
  z-index: z.z(menu);
  display: grid;
  gap: var(--2xs);
  min-width: 140px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top:  calc(var(--nav-item-h) + var(--nav-padding));
  right: 0;
  padding: var(--2xs);
  pointer-events: auto;
  border-radius: inherit;
  box-shadow: var(--sha-lg);
}

.dropdown-item { /* other styling in html for demo */
  width: 100%;
  min-width: max-content;
  display: flex;
  justify-content: flex-start;
  pointer-events: auto;
  cursor: pointer;
}