/* ================================================== */
/* Tab menu */
@use "../forward-styles/design" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/glass" as glass;
@use "button" as btn;
/* ================================================== */

.panel-img-bin {
  width: 100%;
  max-height: 100%;
  aspect-ratio : 1 / 1;
  overflow: hidden;
}

.panel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tab-menu-bin {
  --tab-menu-space: 4px;
  --tab-radius: 7px;

  position: relative;
  z-index: z(nav);
  width: fit-content;
  height: var(--ui-h-md);
  @include outer-radius(var(--tab-radius), var(--tab-menu-space));

  // @include bp(lg) {
  //   --tab-menu-space: 5px;
  //   --tab-radius: 8px;
  // }
}



.tab-menu {
  @include glass.glass-filter(10px, 1, 1.2);
  inset: 0;
  z-index: z(nav);
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: calc(var(--tab-menu-space) * 2);
  margin: 0 auto;
  padding: var(--tab-menu-space);
  border-radius: inherit;
  background-color: var(--inset-bg-deep);
  box-shadow: var(--inset-md);
  overflow: hidden;
}

[role="tab"] {
  @include btn.btn-structure;
  @include btn.btn-style;
  --btn-h: 100%;
  --btn-content-h: 0.9rem;
  --btn-padding-x: 0.75rem;
  --btn-padding-top: 0;
  --btn-padding-bottom: 0;
  --btn-gap: var(--tab-menu-space);
  --btn-radius: var(--tab-radius);

  // --btn-bg: transparent;
  --btn-state-bg: var(--tint-2xlight);
  --btn-text: var(--color-white);

  --btn-rest: 0;
  --btn-hover: 0.6;
  --btn-focus: 0.6;
  --btn-active: 0.9;

  z-index: z(on-nav);
  box-shadow: none;

  &::after {
    box-shadow: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  @include bp(xs) {
    --btn-content-h: 1rem;
    --btn-padding-x: 0.9rem;
  }

  @include bp(sm) {
    --btn-padding-x: 1.15rem;
  }

  @include bp(md) {
    --btn-padding-x: 1.25rem;
  }

  @include bp(lg) {
    --btn-padding-x: 1.4rem;
  }
}

[role="tab"][aria-selected="true"] {
  --btn-text: var(--tint-3xdark);
  --btn-state-bg: var(--tint-3xlight);

  &::before {
    opacity: 1;
  }
}
