/* ========================================== */
/* Colors util */
@use "sass:map";
@use "mixin" as *;
/* ========================================== */

/* Solid colors MAP */
/* ========================================== */
$colors: (
  "primary": var(--color--primary),
  "accent": var(--color--accent),

  "white": var(--color--white),
  "2xlight": var(--color--2xlight),
  "xlight": var(--color--xlight),
  "light": var(--color--light),
  "gray": var(--color--gray),
  "dark": var(--color--dark),
  "xdark": var(--color--xdark),
  "2xdark": var(--color--2xdark),
  "black": var(--color--black),
);

/* Tint colors MAP */
/* ========================================== */
$tints: (
  "3xlight": var(--tint--3xlight),
  "2xlight": var(--tint--2xlight),
  "xlight": var(--tint--xlight),
  "light": var(--tint--light),
  "clear": var(--tint--clear),
  "dark": var(--tint--dark),
  "xdark": var(--tint--xdark),
  "2xdark": var(--tint--2xdark),
  "3xdark": var(--tint--3xdark),
);

/* Tint classes */
/* ========================================== */
/* Generates a `.tint--` class for every tint in `$tints` MAP */
.tint {
  @include generate-classes($tints, 'background-color', 'tint', '--');
}

/* Depth colors MAP */
/* ========================================== */
$depth: (
  "2xback": var(--depth--2xback),
  "xback": var(--depth--xback),
  "back": var(--depth--back),
  "base": var(--depth--base),
  "front": var(--depth--front),
  "xfront": var(--depth--xfront),
  "2xfront": var(--depth--2xfront),
);


/* Text colors MAP */
/* ========================================== */
$text-colors: (
  "xbold":  var(--text--xbold),
  "bold":  var(--text--bold),
  "base":  var(--text--base),
  "mild":  var(--text--mild),
  "xmild":  var(--text--xmild),
);

/* Text color classes */
/* ========================================== */
.text {
  @include generate-classes($text-colors, 'color', 'text', '--');
  @include generate-classes($colors, 'color', 'color', '--');
}