/* ========================================== */
/* Colors util */
@use "sass:map";
/* ========================================== */

/* ====================================================================== */
/* Color modifier mixin */
/* ====================================================================== */
@mixin color-class-mixin($map, $property: background-color) {
  @each $key, $value in $map {
    &--#{$key} {
      #{$property}: $value;
      @content;
    }
  }
}


/* Tint color MAP */
/* ========================================== */
$tints: (
  "3xlight": var(--tint--3xlight),
  "2xlight": var(--tint--2xlight),
  "xlight": var(--tint--xlight),
  "light": var(--tint--light),
  "clear": var(--tint--clear),
  "dark": var(--tint--dark),
  "xdark": var(--tint--xdark),
  "2xdark": var(--tint--2xdark),
  "3xdark": var(--tint--3xdark),
);

/* Tint classes */
/* ========================================== */
/* Generates a `.tint--` class for every tint in `$tints` MAP */
.tint {
  @include color-class-mixin($tints, 'background-color');
}


/* Background color MAP */
/* ========================================== */
$bg-colors: (
  "inset3":  var(--bg--inset3),
  "inset2":  var(--bg--inset2),
  "inset1":  var(--bg--inset1),
  "0":   var(--bg--0),
  "1":   var(--bg--1),
  "2":   var(--bg--2),
  "3":   var(--bg--3),
  "4":   var(--bg--4),
  "5":   var(--bg--5),
);

/* Background color classes */
/* ========================================== */
/* Generates a `.bg--` class for every color in `$bg-colors` MAP */
.bg {
  @include color-class-mixin($bg-colors, 'background-color');
}


/* Text color MAP */
/* ========================================== */
/* bold-mild  → change with theme */
/* light-dark → always the same */
$text--colors: (
  "xbold":  var(--text--xbold),
  "bold":  var(--text--bold),
  "base":  var(--text--base),
  "mild":  var(--text--mild),
  "xmild":  var(--text--xmild),

  "2xlight": var(--text--2xlight),
  "xlight": var(--text--xlight),
  "light": var(--text--light),
  "gray": var(--text--gray),
  "dark": var(--text--dark),
  "xdark": var(--text--xdark),
  "2xdark": var(--text--2xdark),
);

/* Text color classes */
/* ========================================== */
/* Generates a `.text--`class for every color in `$text--colors` MAP */
.text {
  @include color-class-mixin($text--colors, 'color');
}