/* ========================================== */
/* Grid */
@forward "../0-config/breakpoint";
@use "../0-config/breakpoint" as bp;
/* ========================================== */

.grid { display: grid; }

@mixin grid--c {
  display: grid;
  place-items: center;
}
.grid--c { @include grid--c; }

.grid--c-content {
  display: grid;
  place-content: center;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-auto-col--sm {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
