/* ================================================== */
/* Reset */
/* ================================================== */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

a,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button,
body {
  margin: 0;
  padding: 0;
}

button,
a,
input,
textarea {
  background-color: transparent;
  border: 0;
  border-style: none;
  border-radius: 0;
  text-decoration: none;
  appearance: none;
}

a, button {
  cursor: pointer;
  pointer-events: auto;
}

ol,
ul {
  list-style: none;
}

fieldset,
iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
video,
progress {
  vertical-align: baseline;
}