/* ========================================== */
/* Scrima */
@use "radius" as r;
@use "layout-help" as help;
/* ========================================== */
/* Used to make a dark blurry background behind light text */
/* Wrap text in a <div class="scrim--dark"> and reposition using its parent */

/* Scrim colors */
/* ========================================== */
// $scrim--dark: rgba(255 0 0 / 0.1);
$scrim--dark: oklch(var(--dark--lch) / 0.08);
$scrim--xdark: oklch(var(--dark--lch) / 0.1);

@mixin scrim-base ($color: '$scrim--dark') {
  position: relative;
  width: fit-content;
  height: fit-content;

  &::before {
    @include help.pseudo;
    z-index: -1;
    @content;
    border-radius: r.$round;

    background-color: #{$color};
    // -webkit-filter: blur(#{$blur});
    // filter: blur(#{$blur});
  }
}

.scrim--dark--sm {
  @include scrim-base($scrim--dark) {
    // background-color: $scrim--dark;
    -webkit-filter: blur(0.75em);
    filter: blur(0.75em);
  }
}

.scrim--dark--md {
  @include scrim-base($scrim--dark) {
    // background-color: $scrim--dark;
    filter: blur(1.25em);
  }
}


.scrim--xdark--sm {
  @include scrim-base($scrim--xdark) {
    // background-color: $scrim--xdark;
    filter: blur(0.75em);
  }
}

.scrim--xdark--md {
  @include scrim-base($scrim--xdark) {
    // background-color: $scrim--xdark;
    filter: blur(1.25em);
  }
}
