/* ================================================== */
/* Text shadows */
@use "sass:map";
@use "mixin" as *;
/* ================================================== */

html {
  --text-sha--3xs:
    0.2px 0 0.2px oklch(var(--shadow) / 0.1),
    0.2px 0.2px 0.2px oklch(var(--shadow) / 0.2),
    0.25px 0.25px 0.5px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.15);

  --text-sha--2xs:
    0.2px 0 0.2px oklch(var(--shadow) / 0.1),
    0.25px 0.25px 0.25px oklch(var(--shadow) / 0.2),
    0.25px 0.25px 0.5px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.15);

  --text-sha--xs:
    0.2px 0 0.2px oklch(var(--shadow) / 0.1),
    0.3px 0.3px 0.3px oklch(var(--shadow) / 0.25),
    0.25px 0.25px 0.5px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.15);

  --text-sha--sm:
    0.2px 0 0.2px oklch(var(--shadow) / 0.1),
    0.35px 0.35px 0.35px oklch(var(--shadow) / 0.25),
    0.5px 0.5px 1px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.15);

  --text-sha--md:
    0.2px 0 0.2px oklch(var(--shadow) / 0.1),
    0.4px 0.4px 0.4px oklch(var(--shadow) / 0.25),
    0.5px 0.5px 1px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.2);

  --text-sha--lg:
    0.25px 0 0.25px oklch(var(--shadow) / 0.1),
    0.45px 0.45px 0.45px oklch(var(--shadow) / 0.25),
    0.75px 0.75px 1.5px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.2);

  --text-sha--xl:
    0.25px 0 0.25px oklch(var(--shadow) / 0.1),
    0.5px 0.5px 0.5px oklch(var(--shadow) / 0.25),
    0.75px 0.75px 1.5px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.2);

  --text-sha--2xl:
    0.25px 0 0.25px oklch(var(--shadow) / 0.1),
    0.55px 0.55px 0.55px oklch(var(--shadow) / 0.25),
    1px 1px 2px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.2);

  --text-sha--3xl:
    0.25px 0 0.25px oklch(var(--shadow) / 0.1),
    0.6px 0.6px 0.6px oklch(var(--shadow) / 0.25),
    1px 1px 2px oklch(var(--shadow) / 0.1),
    0 0 0.01em  oklch(var(--shadow) / 0.1),
    0 0 0.7em oklch(var(--shadow) / 0.2);
}


// html {
//   --text-sha--3xs:
//     0.1px 0.1px 0.1px oklch(var(--shadow) / 0.3),
//     0 0 0.5px oklch(var(--shadow) / 0.1),
//     0 0 1px oklch(var(--shadow) / 0.05);

//   --text-sha--2xs:
//     0.1px 0.1px 0.1px oklch(var(--shadow) / 0.3),
//     0.25px 0.25px 0.5px  oklch(var(--shadow) / 0.12),
//     0 0 0.5px oklch(var(--shadow) / 0.1),
//     0 0 1px oklch(var(--shadow) / 0.15);

//   --text-sha--xs:
//     0.15px 0.15px 0.15px oklch(var(--shadow) / 0.3),
//     0.35px 0.35px 0.7px  oklch(var(--shadow) / 0.12),
//     0 0 0.75px oklch(var(--shadow) / 0.1),
//     0 0 1px oklch(var(--shadow) / 0.2);

//   --text-sha--sm:
//     0.2px 0.2px 0.2px oklch(var(--shadow) / 0.3),
//     0.5px 0.5px 1px  oklch(var(--shadow) / 0.12),
//     0 0 1px oklch(var(--shadow) / 0.1),
//     0 0 2px oklch(var(--shadow) / 0.2);

//   --text-sha--md:
//     0.25px 0.25px 0.25px oklch(var(--shadow) / 0.35),
//     0.75px 0.75px 1.5px oklch(var(--shadow) / 0.12),
//     0 0 2px oklch(var(--shadow) / 0.1),
//     0 0 3px oklch(var(--shadow) / 0.2);

//   --text-sha--lg:
//     0.3px 0.3px 0.3px oklch(var(--shadow) / 0.4),
//     1px 1px 2px oklch(var(--shadow) / 0.12),
//     0 0 2px oklch(var(--shadow) / 0.1),
//     0 0 4px oklch(var(--shadow) / 0.2);

//   --text-sha--xl:
//     0.4px 0.4px 0.4px oklch(var(--shadow) / 0.4),
//     1px 1px 2px oklch(var(--shadow) / 0.12),
//     0 0 2px oklch(var(--shadow) / 0.1),
//     0 0 5px oklch(var(--shadow) / 0.2);

//   --text-sha--2xl:
//     0.5px 0.5px 0.5px oklch(var(--shadow) / 0.4),
//     1px 1px 2px oklch(var(--shadow) / 0.12),
//     0 0 3px oklch(var(--shadow) / 0.1),
//     0 0 6px oklch(var(--shadow) / 0.2);

//   --text-sha--3xl:
//     0.1px 0 0.1px oklch(var(--shadow) / 0.2),
//     0.6px 0.6px 0.6px oklch(var(--shadow) / 0.4),
//     1.25px 1.25px 2.5px oklch(var(--shadow) / 0.12),
//     0 0 8px oklch(var(--shadow) / 0.2);
// }
/* Text shadow classes */
/* ================================================== */
// .text-sha {
//   @include sha.shadow-modifier('text-sha', 'text-shadow');
// }

//* Shadow Size MAP *//
$text-shadows: (
  "3xs": var(--text-sha--3xs),
  "2xs": var(--text-sha--2xs),
  "xs": var(--text-sha--xs),
  "sm": var(--text-sha--sm),
  "md": var(--text-sha--md),
  "lg": var(--text-sha--lg),
  "xl": var(--text-sha--xl),
  "2xl": var(--text-sha--2xl),
  "3xl": var(--text-sha--3xl),
);

.text-sha {
  @include generate-classes($text-shadows, 'text-shadow', 'text-sha', '--');
}