/* ================================================== */
/* Text helpers */
@use "../config" as *;
/* ================================================== */

.bold { font-weight: $font-weight--lg; }

.first-line--bold {
  &:first-line {
    font-weight: $font-weight--lg;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.break-word {
  overflow-wrap: break-word;
  min-width: 0;
}

.no-word-break { word-break: keep-all; }

/* text-align: */
.text--c { text-align: center; }
.text--l { text-align: start; }
.text--r { text-align: end; }
.text--j { text-align: justify; }

.text--cap { text-transform: capitalize; }
.text--allcap { text-transform: uppercase; }
.text--lower { text-transform: lowercase; }

.text--ital { font-style: italic; }

.text-line-through { text-decoration: line-through; }
.text-underline { text-decoration: underline; }

.text-space--sm { letter-spacing: $letter-spacing--sm; }
.text-space--md { letter-spacing: $letter-spacing--md; }
.text-space--lg { letter-spacing: $letter-spacing--lg; }

.lh-1 { line-height: 1; }


/* Bullet point decorations */
/* ================================================== */
.dot {
  &::before {
    padding-right: 0.25em;
    content: "•"
  }
}

.check {
  &::before {
    padding-right: 0.25em;
    content: "☐"
  }
}

.arrow {
  &::before {
    padding-right: 0.25em;
    content: "➟"
  }
}