/* ========================================== */
/* Home */
@use "../config" as *;
@use "../custom" as *;
@use "../util" as *;
@use "../glass" as glass;
@use "../component" as *;
/* ========================================== */

.page-bg__bin {
  position: relative;
  // width: 100%;
  // max-width: 100vw;
  // height: 100vh;
  // min-height: 100vh;
  display: block;
  z-index: -10;
}

.page-bg__img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -9;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: block;

  object-fit: cover;
  background-color: var(--page-bg);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-grid {
  min-height: 100vh;
  height: fit-content;
  display: grid;
}

.content__bin {
  display: block;
  height: fit-content;
  z-index: z(base);
}


// Glass-bg demo
.telescope-rect--lower-r {
  width: 100%;
  margin-top: var(--xs);
  padding: 8% 4% 6% 12%;
  border-radius: var(--md);
  box-shadow: var(--sha--3xs);
  transition: padding cubic-bezier(0.46, 0.43, 0.1, 0.99) 800ms;
  overflow: hidden;

  &:hover {
    padding: 6% 3% 4% 8%;
    overflow: hidden;
  }

  & > p {
    padding: 0.5em;
  }
}

.overlap_rect--md {
  width: fit-content;
  max-width: 100%;
  padding: var(--lg);
  border-radius: var(--md);
  box-shadow: var(--sha--xl);
  overflow: hidden;
}

.overlap_wrap {
  display: grid;
  place-items: center;
  gap: var(--3xs);

  & > div {
    will-change: transform;
    transition: transform cubic-bezier(0.46, 0.43, 0.1, 0.99) 800ms;
    display: block;
    overflow: hidden;

    &:hover {
      transform: translateY(-25%);
      overflow: hidden;
    }
  }

  div:nth-child(1) {
    width: 100%;
  }

  div:nth-child(2) {
    width: 90%;
  }

  div:nth-child(3) {
    width: 80%;
  }

  div:nth-child(4) {
    width: 70%;
  }

  div:nth-child(5) {
    width: 60%;
  }

  div:nth-child(6) {
    width: 50%;
  }
}

/* Sizing demo */
/* ========================================== */
.size-demo__rect {
  background-color: var(--tint--2xlight);
  border-radius: 0.1rem;
  height: 3rem;
  margin: 0.75rem 0;
  box-shadow: var(--sha--2xs);

  @include bp(md) {
    border-radius: 0.16rem;
  }

  @include bp(lg) {
    border-radius: 0.2rem;
  }
}

/* Tint & fill demo */
/* ========================================== */
.tint-demo__rect {
  width: 100%;
  height: fit-content;
  @include flex--c-y;
  justify-content: flex-start;
  padding: var(--sm);
  border-radius: var(--2xs);

  @include bp(md) {
    border-radius: var(--xs);
    padding: var(--md);
  }

  &.text--c {
    justify-content: center;
  }
}

.tint-demo__bin {
  width: 100%;
  display: grid;
  gap: var(--sm);
  padding: var(--2xl);
  border-radius: var(--sm);

  @include bp(sm) {
    border-radius: var(--md);
    padding: var(--gutter);
  }

  @include bp(md) {
    gap: var(--md);
    border-radius: var(--lg);
  }
}


/*  Insets demo */
/* ========================================== */
.inset-rect {
  width: 100%;
  // height: 80px;
  padding: var(--xs);
  border-radius: var(--xs);
  background-color: var(--inset--base);
}


.full-w-inset-demo {
  display: grid;
  place-content: center start;
  width: 100%;
  padding: var(--gutter);
  border-radius: 0;
  background-color: var(--inset--deep);
}

.text-size__group {
  // display: flex;
  // align-items: end;
  // flex-wrap: wrap;
  display: grid;
  gap: var(--3xs);

  // >:nth-child(1) {
  //   line-height: 1;
  // }

  > span {
    font-family: $font-family-title;
    letter-spacing: $letter-spacing--md;
    font-size: var(--text--xs);
    font-weight: $font-weight--lg;
    padding-right: var(--2xs);
    // line-height: 0.9;
  }

  > .js-textSize {
      line-height: 0.8;
      display: inline;
      overflow-wrap: break-word;
  }
}

.text-size__label {
  display: flex;
  align-items: baseline;
  gap: var(--3xs);
}

// .color {
//   div:nth-child(1) {
//     background-color: hsl(0 0% 50%);
//   }
//   div:nth-child(2) {
//     background-color: hsl(0 20% 50%);
//   }
//   div:nth-child(3) {
//     background-color: hsl(0 40% 50%);
//   }
//   div:nth-child(4) {
//     background-color: hsl(0 60% 50%);
//   }
//   div:nth-child(5) {
//     background-color: hsl(0 80% 50%);
//   }
//   div:nth-child(6) {
//     background-color: hsl(0 100% 50%);
//   }
// }





.test-oklch {
	color: oklch(40% 0.268735435 34.568626);
}


// size scale demo
.rect--2xs {
  width: 16px;
  height: 16px;
  border-radius: 0.15rem;
}




.heading--lg {
  @include title-thin;
  font-size: var(--text--lg);
  // color: var(--color--gray);
  color: var(--text--bold);
  text-shadow: var(--text-sha--sm);
}

.heading__bg--lg {
  min-width: fit-content;
  max-width: 100%;
  width: 50%;
  display: grid;
  place-self: center end;
  border-radius: var(--sm) 0 0 var(--sm);
  box-shadow: var(--sha--2xl);

  @include glass.glass--no-bevel;
  background-color: var(--tint--xdark);
  padding: var(--xs) 0;
  // margin-bottom: var(--2xl);

  @include bp(lg) {
    width: 40%;
  }

  & > .heading--lg {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}



.heading--xl {
  @include title-thick;
  font-size: var(--text--2xl);
  font-weight: $font-weight--md;
  color: var(--text--xbold);
  text-shadow: var(--text-sha--md);
}

.heading__bg--xl {
  width: 100%;
  display: grid;
  place-items: center;
  @include glass.glass--no-bevel;
  background-color: var(--bg--0);
  padding: var(--lg) 0;
  margin-top: var(--4xl);
  margin-bottom: var(--5xl);

  & > .heading--xl {
    text-align: end;
    width: 100%;
    max-width: var(--max-w--md);
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    @include bp(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}


.heading--2xl {
  @include title-thin;
  font-size: var(--text--2xl);
  text-shadow: var(--text-sha--sm);
  text-align: center;
}



.unit-padding--md {

  --space: 3rem;
  padding: var(--space) 0;
  gap: var(--space);

  @include bp(xs) {
    --space: 5rem;
  }

  @include bp(sm) {
    --space: 7rem;
  }

  @include bp(md) {
    --space: 9rem;
  }

  @include bp(lg) {
    --space: 11rem;
  }
}


.unit-padding--xl {

  --space: 5rem;
  padding: var(--space) 0;
  gap: var(--space);

  @include bp(xs) {
    --space: 7rem;
  }

  @include bp(sm) {
    --space: 9rem;
  }

  @include bp(md) {
    --space: 11rem;
  }

  @include bp(lg) {
    --space: 13rem;
  }
}

.unit-gap--xl {

  --space: 5rem;
  gap: var(--space);

  @include bp(xs) {
    --space: 7rem;
  }

  @include bp(sm) {
    --space: 9rem;
  }

  @include bp(md) {
    --space: 11rem;
  }

  @include bp(lg) {
    --space: 13rem;
  }
}


// .section-gap {
//   --space: 6rem;

//   gap: var(--space);
//   // margin-top: var(--space);
//   margin-bottom: var(--xl);

//   @include bp(xs) {
//     --space: 7rem;
//   }

//   @include bp(sm) {
//     --space: 8rem;
//   }

//   @include bp(md) {
//     --space: 10rem;
//   }
// }