/* ================================== */
/* UI Demo */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/size";
@use "../0-base/text";
@use "../1-layout" as *;
@use "../1-layout/flex";
@use "../2-visual/glass";
@use "../2-visual/border" as br;
@use "../2-visual/shadow" as sha;
@use "../3-item" as *;
@use "../4-part" as *;
/* ================================== */

/* Sizing demo */
/* ================================== */
.size-demo__rect {
  background-color: color.$tint-2xlight;
  border-radius: 0.1rem;
  height: size.$s11;
  margin: size.$s3 0;
  box-shadow: sha.$sha-2xs;

  @include bp.bp(md) {
    border-radius: 0.16rem;
  }

  @include bp.bp(lg) {
    border-radius: 0.2rem;
  }
}

/* Tint & fill demo */
/* ================================== */
.tint-demo__rect {
  width: 100%;
  height: fit-content;
  @include flex-l;
  @include flex-c-y;
  padding: var(--sm);
  border-radius: var(--2xs);

  @include bp.bp(md) {
    border-radius: var(--xs);
    padding: var(--md);
  }
}

.tint-demo__bin {
  width: 100%;
  display: grid;
  gap: var(--sm);
  padding: var(--2xl);
  border-radius: var(--sm);

  @include bp.bp(sm) {
    border-radius: var(--md);
    padding: var(--space-thin);
  }

  @include bp.bp(md) {
    gap: var(--md);
    border-radius: var(--lg);
  }
}


/* Glass demo */
/* ================================== */
.glass-demo__bin {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(225px, 100%), 1fr));
  gap: var(--xl);

  @include bp.bp(md) {
    gap: var(--md);
  }
}

.glass-demo__rect {
  height: 125px;
  @include flex-c;
  flex-direction: column;
  gap: var(--3xs);
  @include text.title-text;
  font-size: var(--text-sm);

  @include glass.glass-base;
  border-radius: var(--sm);
  text-shadow: sha.$text-sha-sm;

  @include bp.bp(md) {
    height: 150px;
  }

  @include bp.bp(lg) {
    height: 225px;
    border-radius: var(--md);
  font-size: var(--text-md);
  }
}


/* Flat inset demo */
/* ================================== */
.inset-demo {
  width: min(500px, 100%);
  display: grid;
  gap: var(--2xl);
  margin: 0 auto;
  padding: var(--xl) 0;
  border-radius: var(--md);
  box-shadow: sha.$sha-lg;
  // @include bp.bp(sm) {
  //   gap: var(--md);
  //   border-radius: var(--md);
  // }
  background: linear-gradient(
    to top left,
    rgba(color.$gray40, 0.7) 0%,
    rgba(color.$gray50, 0.8) 70%,
    rgba(color.$gray60, 0.9) 100%
  );
}

.full-w-inset {
  width: 100%;
  padding: var(--space-thin);
  border-radius: 0;
  // background-color: color.$tint-dark;
  display: grid;
  place-content: center start;
}

.inset-rect {
  width: min(300px, 80%);
  padding: var(--xs);
  border-radius: var(--xs);
  display: grid;
  place-content: center start;
  box-sizing: content-box;
}