/* ================================== */
/* UI Demo */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/size";
@use "../0-base/text";
@use "../1-layout" as *;
@use "../1-layout/flex";
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../3-item" as *;
@use "../4-part" as *;
/* ================================== */

.demo-header__title {
  text-align: center;
  @include text.title-thin;
  font-size: var(--text-2xl);
}

.size-demo__box {
  background-color: color.$tint-xlight;
  border-radius: 0.1rem;
  height: size.$s10;
  margin: size.$s3 0;
}

.tint-demo__box {
  width: 100%;
  // max-width: 300px;
  // width: min(100%, 500px);

  height: fit-content;
  @include flex-l;
  @include flex-c-y;
  padding: var(--sm);
  border-radius: var(--2xs);

  @include bp.bp(md) {
    border-radius: var(--xs);
    padding: var(--md);
  }
}

.tint-demo__bin {
  width: 100%;
  display: grid;
  gap: var(--xs);
  padding: var(--space-thin);
  border-radius: var(--sm);

  @include bp.bp(sm) {
    border-radius: var(--md);
  }

  @include bp.bp(lg) {
    gap: var(--md);
    border-radius: var(--lg);
  }
}

.wrap-2 {
  width: 100%;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  gap: var(--sm);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
    
  &:nth-child(1) {
    grid-column: 1/2;
  }

  &:nth-child(2) {
    grid-column: 1/2;
  }

  @include bp.bp(sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    &:nth-child(1) {
      grid-column: 1/2;
    }

    &:nth-child(2) {
      grid-column: 2/3;
    }

 
    gap: var(--md);
  }

  @include bp.bp(lg) {
    gap: var(--xl);
  }

}

/////
// .cube {
//   width: min(100%, 400px);
//   height: 400px;
//   @include flex.flex-c;
//   flex: 1;
//   border-radius: var(--sm);
// }


// .xxs {
//   grid-column: 1/3;
//   grid-row: 1/2;
// }

// .xs {
//   grid-column: 1/3;
//   grid-row: 2/3;
// }

// .sm {
//   grid-column: 1/4;
//   grid-row: 3/4;
// }

// .md {
//   grid-column: 1/4;
//   grid-row: 4/5;
// }

// .lg {
//   grid-column: 1/4;
//   grid-row: 5/6;
// }

// .xl {
//   grid-column: 1/4;
//   grid-row: 6/7;
// }

// .xxl {
//   grid-column: 1/4;
//   grid-row: 7/8;
// }

// .cards-grid {
//   width: 100%;
//   display: grid;
//   gap: 3rem;
//   grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
// }

.glass-demo-flex {
  width: 100%;

  @include flex.flex-l;
  flex-direction: column;
  $offset-x: 0.25em;
  $offset-y: -0.25em;

  @include bp.bp(md) {
    $offset-x: 0.5em;
    $offset-y: -0.5em;
  }

  @include bp.bp(lg) {
    $offset-x: 1em;
    $offset-y: -0.75em;
  }


  :nth-child(1) {
    margin-top: $offset-y;
    margin-left: calc($offset-x * 7);
    margin-right: $offset-x;

    z-index: 9;
  }

  :nth-child(2) {
    margin-top: $offset-y;
    margin-left: calc($offset-x * 6);
    margin-right: calc($offset-x * 2);

    z-index: 8;
  }

  :nth-child(3) {
    margin-top: calc($offset-y * 1);
    margin-left: calc($offset-x * 5);
    margin-right: calc($offset-x * 3);

    z-index: 7;
  }

  :nth-child(4) {
    margin-top: calc($offset-y * 1);
    margin-left: calc($offset-x * 4);
    margin-right: calc($offset-x * 4);

    z-index: 6;
  }

  :nth-child(5) {
    margin-top: calc($offset-y * 1);
    margin-left: calc($offset-x * 3);
    margin-right: calc($offset-x * 5);
    z-index: 5;
  }

  :nth-child(6) {
    margin-top: calc($offset-y * 1);
    margin-left: calc($offset-x * 2);
    margin-right: calc($offset-x * 6);

    z-index: 4;
  }

  :nth-child(7) {
    margin-top: $offset-y;
    margin-left: calc($offset-x * 1);
    margin-right: calc($offset-x * 7);
    z-index: 3;
  }

  :nth-child(8) {
    margin-top: $offset-y;
    margin-left: 0;
    margin-right: calc($offset-x * 8);
    z-index: 2;
  }
}