/* ================================== */
/* Tutorial */
@use "../0-base" as *;
@use "../0-base/breakpoint" as bp;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../3-item" as *;
@use "../4-part" as *;
/* ================================== */

.code-pen {
  display: none;

  @include bp.bp(md) {
    display: block;
    margin: 0;
  }
}