/* ================================== */
/* Tutorial */
@use "../0-base" as *;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../3-material" as *;
@use "../4-component" as *;
/* ================================== */

.how-to-ul {

  & li {
    display: flex;
    // gap: $gap-xs;
  }
}



/* Above the fold */
/* ================================== */

.atf-tutorial {
  position: relative;

  display: grid;
  grid-template-rows: $nav-h auto;
  grid-template-areas:
    " . "
    "img";

    nav {
      grid-area: topNav;
    }

    // .tag {
    //   grid-area: tag;
    //   width: fit-content;
    //   height: fit-content;
    //   justify-self: start;
    // }

    .atf-img-bg {
      grid-area: img;

      @include breakpoint(md) {
        justify-self: end;
      }

      .atf-img {
   
      }
    }

  @media (height < 500px) {
    grid-template-rows: $nav-h auto auto 1rem;
  }
}

