/* ================================== */
/* Home */
@use "../0-base" as *;
@use "../1-layout" as *;
@use "../1-layout/gap";
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../3-material" as *;
@use "../4-item" as *;
/* ================================== */


body{
  background-color: white;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: block;
  
  background-color: $bg-color;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: scroll-position;

  &.dark {
    background-image: url(/assets/bgImg/amokrane-ait-kaci-_eGvuubNBZ8-unsplash-m.jpg);

    // background-image: url(/assets/bgImg/black-paper.jpg);
        // background-color: #000;
         
  }

  &.light {
    // background-color: #fff;
    background-image: url(/assets/bgImg/clouds.jpg);
    // background-image: url(/assets/bgImg/white-paper.jpg);
      //   background-image: image-set( 
      // "/assets/bgImg/chris-lee-plant-s.jpg" 1x, 
      // "/assets/bgImg/chris-lee-plant-m.jpg" 2x, 
      // "/assets/bgImg/chris-lee-plant-l.jpg" 3x);
  }

  &.color {
    // background-image: url(https://images.unsplash.com/photo-1573655349936-de6bed86f839?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2820&q=80);

    // background-image: url(/assets/bgImg/black-paper.jpg);
    background-image: image-set( 
      "/assets/bgImg/chris-lee-plant-s.jpg" 1x, 
      "/assets/bgImg/chris-lee-plant-m.jpg" 2x, 
      "/assets/bgImg/chris-lee-plant-l.jpg" 3x);

    // background-image: url(/assets/bgImg/amokrane-ait-kaci-_eGvuubNBZ8-unsplash-m.jpg);
  }
}


@mixin vh100 {
  width: 100%;
  max-width: 100vw;
  height: fit-content;
  min-height: 100vh;
  min-height: 100svh;
}

.vh100 {
  @include vh100;
}



/* ================================== */
/* Whole page layout */
/* ================================== */

.body-grid {
  @include vh100;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--nav-h) auto auto;
  grid-template-areas: 
    "topnav"
    "content"
    "footer";
  justify-items: center;
}

nav {
  grid-area: topnav;
  width: 100%;
}

.content {
  grid-area: content;
  width: 100%;
  height: fit-content;
}

footer {
  grid-area: footer;
  width: 100%;
  height: fit-content;
  align-self: end;
}


/* Above the fold */
/* ================================== */
.atf {
  width: 100%;
  min-height: calc(100vh - var(--nav-h));
  min-height: calc(100svh - var(--nav-h));

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "."
    "card";
  justify-content: center;  
  align-content: end;  

  padding: var(--space-narrow);

  @include breakpoint(md) {
    padding: var(--space-narrow) 0;
  }

  .card {
    grid-area: card;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    max-width: 450px;
    align-self: end;

    @include breakpoint(md) {
      justify-self: end;
    }

    @include breakpoint(lg) {
      max-width: 525px;
    }

  }

  @media (height < 500px) {
    grid-template-rows: var(--nav-h) auto auto 1rem;
  }
}





// .atf {
//   height: 100%;
//   min-height: calc(100vh - var(--nav-h));
//   min-height: calc(100svh - var(--nav-h));
//   display: grid;
//   grid-template-columns: auto auto auto;
//   grid-template-rows: var(--nav-h) 1fr auto;
//   grid-template-areas:
//     ". . ."
//     ". . ."
//     ". tag .";

//     @include breakpoint(md) {
//       justify-self: end;
//       grid-template-areas:
//       ". . ."
//       ". . ."
//       ". . tag ";
//     }

//   .tag {
//     grid-area: tag;
//     justify-self: center;
//     max-width: 480px;
//     width: fit-content;
//     height: fit-content;
//     align-self: end;

//     @include breakpoint(md) {
//       justify-self: end;
//     }

//     @include breakpoint(lg) {
//       max-width: 540px;
//     }

//   }

//   @media (height < 500px) {
//     grid-template-rows: var(--nav-h) auto auto 1rem;
//   }
// }

.glassGPT-card {
  width: min(100%, 480px);
  height: 240px;
}

.glassGPT {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.2),
    0 20px 25px rgba(0, 0, 0, 0.3);
  &:before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), transparent),
                linear-gradient(-45deg, rgba(255, 255, 255, 0.2), transparent);
    border-radius: 10px;
    z-index: 1;
    pointer-events: none;
  }
}