/* ================================== */
/* Nav */
@use "../0-base" as *;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../2-visual/shadow" as sha;
@use "../3-material" as *;
@use "../4-item" as *;
@use "../4-item/button" as btn;
/* ================================== */

nav {
  position: relative;
  width: 100%;
  // height: var(--nav-h);
  // pointer-events: none;
}

.nav-fixed {
  height: var(--ui-lg);
  // position: fixed;

  // inset: var(--space-narrow) 0 0 0;
  z-index: 100;

  pointer-events: none;
}

.nav-grid {
  width: 100%;
  // position: relative;
  margin: 0 auto;
  // display: grid;
  @include flex-sb;
  padding: var(--space-narrow);
  // grid-template-columns: var(--ui-lg) 1fr var(--ui-lg);
  pointer-events: none;
}

.nav-ham {
  display: none;

  &.isClosed {
    display: inline-block;
  }
}

.nav-x {
  display: inline-block;

  &.isClosed {
    display: none;
  }
}

/* ================================== */
/* Dropdown */
/* ================================== */
.nav-dropdown {
  display: block;
  position: absolute;
  top: var(--ui-lg); 
  right: 0;
  padding-top: var(--3xs);
  pointer-events: none;
  z-index: 100;
  &.isClosed {
    display: none;
  }
}

.dropdown-bg {
  padding: var(--2xs);
  @include br.br(xs);
  box-shadow: sha.$sha-lg;
  pointer-events: none;
}

.dropdown-grid {
  width: fit-content;
  display: grid;
  gap: calc(var(--3xs) * 0.5);
  margin: calc(var(--3xs) * -1);
  pointer-events: none;
}

.js-dd-item {
  min-width: max-content;
  width: 100%;
  color: rgba($text-reg, 0.8);
}