/* ================================== */
/* Tutorial */
@use "../0-base" as *;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../3-material" as *;
@use "../4-item/" as *;
/* ================================== */

.how-to-ul {

  & li {
    display: flex;
    // gap: $gap-xs;
  }
}

/* Above the fold */
/* ================================== */

.atf-tutorial {
  position: relative;
  place-items: center;
  display: grid;
  grid-template-rows: var(--nav-h) 1fr;
  grid-template-areas:
    " . "
    "img";

    h1 {
      grid-area: img;
      position: absolute;
    }

    img {
      grid-area: img;

    }

  @media (height < 500px) {
    grid-template-rows: var(--nav-h) auto auto 1rem;
  }
}

.btn-demo-box {
  height: fit-content;
  @include grid-center;
}

.inset-demo {
  width: min(100%, 200px);
  height: var(--nav-h);
  margin: auto;
  @include flex-center;
}