/* ================================== */
/* Animation config */
/* ================================== */

$speed-2xslow: 1200ms;
$speed-xslow: 750ms;
$speed-slow:  500ms;
$speed-base:   400ms;
$speed-fast:  300ms;
$speed-xfast: 200ms;
$speed-2xfast: 100ms;