/* ========================================== */
/* Colors & Themes */
/* ========================================== */

/* Use the OKLCH Color Picker & Converter to find fallback values for P3 colors */
/* https://oklch.com/ */
/* l = lightness 0%   to 100% */
/* c = chroma    0    to 0.37 */
/* h = hue       0deg to 360deg */


/* Color tokens */
/* ====================================================================== */
:root {
/* Fallback colors go here */
  // * Sky * //
  --primary-l: 70%;
  --primary-c: 0.12;
  --primary-h: 220;

  // * Leaf * //
  --accent-l: 92%;
  --accent-c: 0.2;
  --accent-h: 130;

  // * Rose * //
  --pop-l: 50%;
  --pop-c: 0.2;
  --pop-h: 345;

  // * Snow * //
  --light-l: 100%;
  --light-c: 0.01;
  --light-h: 250;

  // * Ink * //
  --dark-l: 5%;
  --dark-c: 0.02;
  --dark-h: 250;

  @media (color-gamut: p3) {
  /* P3 color space values go here */
  /* These will only be visible if both the display and browser support the P3 color space */
    :root {
      --primary-c: 0.15;
      --accent-c: 0.22;
      --pop-c: 0.23;
      --light-c: 0.012;
      --dark-c: 0.042;
    }
  }

  /* Base color values */
  /* ========================================== */
  /* use `-ch` custom properties to create colors that are lighter or darker */
  /* use `-lch` custom properties to create colors with different alpha values */
  --primary--ch: var(--primary-c) var(--primary-h);
  --primary--lch: var(--primary-l) var(--primary-c) var(--primary-h);
  // --primary--90: oklch(90% var(--primary-ch) / 1);
  // --primary--70: oklch(70% var(--primary-ch) / 1);
  // --primary--50: oklch(50% var(--primary-ch) / 1);
  // --primary--30: oklch(30% var(--primary-ch) / 1);
  // --primary--10: oklch(10% var(--primary-ch) / 1);

  --accent--ch: var(--accent-c) var(--accent-h);
  --accent--lch: var(--accent-l) var(--accent-c) var(--accent-h);
  // --accent--90: oklch(90% var(--accent-ch) / 1);
  // --accent--70: oklch(70% var(--accent-ch) / 1);
  // --accent--50: oklch(50% var(--accent-ch) / 1);
  // --accent--30: oklch(30% var(--accent-ch) / 1);
  // --accent--10: oklch(10% var(--accent-ch) / 1);

  --pop--ch: var(--pop-c)var(--pop-h);
  --pop--lch: var(--pop-l) var(--pop-c) var(--pop-h);
  // --pop--90: oklch(90% var(--pop-ch) / 1);
  // --pop--70: oklch(70% var(--pop-ch) / 1);
  // --pop--50: oklch(50% var(--pop-ch) / 1);
  // --pop--30: oklch(30% var(--pop-ch) / 1);
  // --pop--10: oklch(10% var(--pop-ch) / 1);

  --light--ch: var(--light-c) var(--light-h);
  --light--lch: var(--light-l) var(--light-c) var(--light-h);
  // --light--90: oklch(90% var(--light-ch) / 1);
  // --light--80: oklch(80% var(--light-ch) / 1);
  // --light--70: oklch(70% var(--light-ch) / 1);
  // --light--60: oklch(60% var(--light-ch) / 1);
  // --light--50: oklch(50% var(--light-ch) / 1);

  --dark--ch: var(--dark-c) var(--dark-h);
  --dark--lch: var(--dark-l) var(--dark-c) var(--dark-h);
  // --dark--40: oklch(40% var(--dark-ch) / 1);
  // --dark--30: oklch(30% var(--dark-ch) / 1);
  // --dark--20: oklch(20% var(--dark-ch) / 1);
  // --dark--10: oklch(10% var(--dark-ch) / 1);
  // --dark--5:  oklch(5% var(--dark-ch) / 1);


/* Colors that do not change with theme */
/* ====================================================================== */

  /* Translucent glass tints */
  /* ========================================== */
  --tint--3xlight: oklch(var(--light--lch) / 0.4);
  --tint--2xlight: oklch(var(--light--lch) / 0.3);
  --tint--xlight:  oklch(var(--light--lch) / 0.2);
  --tint--light:   oklch(var(--light--lch) / 0.1);
  --tint--clear:   oklch(var(--light--lch) / 0.01);
  --tint--dark:    oklch(var(--dark--lch) / 0.1);
  --tint--xdark:   oklch(var(--dark--lch) / 0.2);
  --tint--2xdark:  oklch(var(--dark--lch) / 0.4);
  --tint--3xdark:  oklch(var(--dark--lch) / 0.6);

  /* Box-shadows | Text-shadows | Drop-shadows */
  /* ========================================== */
  --shadow: var(--dark--lch);
  --highlight: var(--light--lch);

  /* Text colors */
  /* ========================================== */
  --text--2xlight: oklch(90% var(--light--ch) / 1);
  --text--xlight: oklch(80% var(--light--ch) / 1);
  --text--light: oklch(70% var(--light--ch) / 1);
  --text--gray: oklch(50% var(--light--ch) / 1);
  --text--dark: oklch(30% var(--light--ch) / 1);
  --text--xdark: oklch(20% var(--light--ch) / 1);
  --text--2xdark: oklch(10% var(--light--ch) / 1);
}

/* ====================================================================== */
/* Default Theme */
/* ====================================================================== */
:root, [data-theme=default] {

  /* Background elevation levels */
  /* ========================================== */
  /* In both light & dark modes the higher the level the lighter the value */
  /* e.g. in light mode: --bg--l1: light gray; --bg--l5: white; */
  /* e.g. in dark mode:  --bg--l1: black;      --bg--l5: dark gray; */
  --bg--inset3: oklch(var(--dark--lch) / 0.3); /* -3 deepest inset */
  --bg--inset2: oklch(var(--dark--lch) / 0.2); /* -2 deeper inset */
  --bg--inset1: oklch(var(--dark--lch) / 0.1); /* -1 base inset */

  --bg--0:  oklch(40% var(--dark--ch) / 0.2);    /* 0  page bg */
  --bg--1:  oklch(50% var(--dark--ch) / 0.2);   /* 1  section bg */
  --bg--2:  oklch(60% var(--dark--ch) / 0.2);  /* 2  box bg */
  --bg--3:  oklch(70% var(--dark--ch) / 0.2);   /* 3  card bg */
  --bg--4:  oklch(80% var(--dark--ch) / 0.25);  /* 4  tooltip bg */
  --bg--5:  oklch(90% var(--dark--ch) / 0.3);   /* 5  modal bg */

  /* Text | Title | Label */
  /* ========================================== */
  --text--xbold: oklch(95% var(--light--ch) / 1);
  --text--bold:  oklch(90% var(--light--ch) / 1);
  --text--base:  oklch(85% var(--light--ch) / 1);
  --text--mild:  oklch(80% var(--light--ch) / 1);
  --text--xmild: oklch(75% var(--light--ch) / 1);

  /* Text links */
  /* ========================================== */
  --link--rest: oklch(70% var(--primary--ch) / 1);
  --link--hover: oklch(50% var(--primary--ch) / 1);
  --link--visit: oklch(30% var(--primary--ch) / 1);

  /* UI */
  /* ========================================== */
  --ui-focus: oklch(var(--primary--lch) / 0.4);

  --ui-rest-bg: var(--bg--inset2);
  --ui-rest-hover-bg: var(--bg--inset3);
  --ui-rest-knob: oklch(var(--light--lch) / 1);

  --ui-active-bg: oklch(var(--primary--lch) / 0.8);
  --ui-active-hover-bg: oklch(65% var(--primary--ch) / 0.9);
  --ui-active-knob: oklch(var(--light--lch) / 1);

  --ui-disabled-bg: var(--bg--inset1);
  --ui-disabled-checked-bg: oklch(40% 0.06 var(--primary-h) / 1);
  --ui-disabled-knob: oklch(var(--light--lch) / 0.4);
  --ui-disabled-text: var(--text--mild);
}

/* ====================================================================== */
/* High-contrast Theme */
/* ====================================================================== */
[data-theme="high-contrast"] {

  /* Background elevation levels */
  /* ========================================== */
  /* In both light & dark modes the higher the level the lighter the value */
  /* e.g. in light mode: --bg--l1: light gray; --bg--l5: white; */
  /* e.g. in dark mode:  --bg--l1: black;      --bg--l5: dark gray; */
  --bg--inset3: oklch(var(--dark--lch) / 0.35);  /* -3 deepest inset */
  --bg--inset2: oklch(var(--dark--lch) / 0.25);  /* -2 deeper inset */
  --bg--inset1: oklch(var(--dark--lch) / 0.15);  /* -1 base inset */

  --bg--0:  oklch(10% var(--dark--ch) / 0.3);    /* 0  page bg */
  --bg--1:  oklch(30% var(--dark--ch) / 0.3);   /* 1  section bg */
  --bg--2:  oklch(40% var(--dark--ch) / 0.3);  /* 2  box bg */
  --bg--3:  oklch(50% var(--dark--ch) / 0.3);   /* 3  card bg */
  --bg--4:  oklch(60% var(--dark--ch) / 0.35);  /* 4  tooltip bg */
  --bg--5:  oklch(80% var(--dark--ch) / 0.4);   /* 5  modal bg */

  /* Body text | Headings | Labels */
  /* ========================================== */
  --text--xbold: oklch(100% var(--light--ch) / 1);
  --text--bold:  oklch(95% var(--light--ch) / 1);
  --text--base:  oklch(90% var(--light--ch) / 1);
  --text--mild:  oklch(85% var(--light--ch) / 1);
  --text--xmild: oklch(80% var(--light--ch) / 1);

  /* Text links */
  /* ========================================== */
  --link--rest: oklch(70% var(--primary--ch) / 1);
  --link--hover: oklch(50% var(--primary--ch) / 1);
  --link--visit: oklch(30% var(--primary--ch) / 1);

  /* UI */
  /* ========================================== */
  --ui-focus: oklch(var(--primary--lch) / 0.4);

  --ui-rest-bg: var(--bg--inset2);
  --ui-rest-hover-bg: var(--bg--inset3);
  --ui-rest-knob: oklch(var(--light--lch) / 1);

  --ui-active-bg: oklch(var(--primary--lch) / 0.8);
  --ui-active-hover-bg: oklch(55% var(--primary--ch) / 0.9);
  --ui-active-knob: oklch(var(--light--lch) / 1);

  --ui-disabled-bg: var(--bg--inset1);
  --ui-disabled-checked-bg: oklch(40% 0.06 var(--primary-h) / 1);
  --ui-disabled-knob: oklch(var(--light--lch) / 0.4);
  --ui-disabled-text: var(--text--mild);
}