/* ================================================== */
/* Space */
@use "sass:map";
@forward "breakpoint";
@use "breakpoint" as *;
/* ================================================== */

$bp--sm: map.get($breakpoints, sm);
$bp--md: map.get($breakpoints, md);
$bp--lg: map.get($breakpoints, lg);

/* Responsive UI heights | moats | max widths */
/* ================================================== */
html {
  --ui-h--sm: 1.75rem;   /* 28px */
  --ui-h--md: 2.125rem;  /* 34px */
  --ui-h--lg: 2.5rem;    /* 40px */

  --max-w--sm: 520px;
  --max-w--md: 760px;
  --max-w--lg: 1080px;

  --moat: 16px;
  --moat--x2: calc(var(--moat) * 2);

  @include bp(sm) {
    --moat: clamp(1rem, 1.8vw + 0.5rem, 2.5rem);
    --moat--x2: calc(var(--moat) * 2);
  }
}


/* Max width classes */
/* ================================================== */
.max-w--sm {
  width: 100%;
  max-width: var(--max-w--sm);
}

.max-w--md {
  width: 100%;
  max-width: var(--max-w--md);
}

.max-w--lg {
  width: 100%;
  max-width: var(--max-w--lg);
}

/* moat classes */
/* ================================================== */
.moat--all {
  width: calc(100vw - var(--moat--x2));
  margin-left: auto;
  margin-right: auto;
}

.moat-from--sm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include bp(sm) {
    min-width: calc($bp--sm - var(--moat--x2));
    width: calc(100% - var(--moat--x2));
  }
}

.moat-from--md {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include bp(md) {
    min-width: calc($bp--sm - var(--moat--x2));
    width: calc(100% - var(--moat--x2));
  }
}

.moat-from--lg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include bp(lg) {
    min-width: calc($bp--lg - var(--moat--x2));
    max-width: calc(100% - var(--moat--x2));
  }
}


/* Max width for images */
/* ================================================== */
.img--2xs {
  width: min(100%, 180px);
}

.img--xs {
  width: min(100%, 300px);
}

.img--sm {
  width: min(100%, 400px);
}

.img--md {
  width: min(100%, 500px);
}

.img--lg {
  width: min(100%, 600px);
}

.img--lg {
  width: min(100%, 700px);
}


/* Spacing */
/* ================================================== */
.page_grid {
  --space: 4rem;

  height: fit-content;
  display: grid;
  gap: var(--space);
  margin: var(--space) 0;

  @include bp(xs) {
    --space: 6rem;
  }

  @include bp(sm) {
    --space: 8rem;
  }

  @include bp(md) {
    --space: 10rem;
  }

  @include bp(lg) {
    --space: 12rem;
  }
}

.section_gap {
  --gap: 3rem;

  display: grid;
  gap: var(--gap);

  @include bp(xs) {
    --gap: 5rem;
  }

  @include bp(sm) {
    --gap: 7rem;
  }

  @include bp(md) {
    --gap: 9rem;
  }

  @include bp(lg) {
    --gap: 11rem;
  }
}
