/* ================================== */
/* Text */
@use 'sass:map';
@forward "../0-config/shadow";
@use "../0-config/shadow" as sha;
/* ================================== */

/* font-weight: */
/* ==================================================================== */
/* Compensate for light text over a dark background looking thicker */
:root, [data-theme=default] {
  --font-weight--xs: 100;
  --font-weight--sm: 200;
  --font-weight--md: 300;
  --font-weight--lg: 400;
}

[data-theme="light"] {
  --font-weight--xs: 200;
  --font-weight--sm: 300;
  --font-weight--md: 400;
  --font-weight--lg: 500;
}

/* Fluid font sizes */

/* https://modern-fluid-typography.vercel.app/ */
/* use this tool to fine-tune your fluid typography range */
:root {
  /* xs: 14px → 16px */
  --text--xs: clamp(0.875rem, 4vw - 1rem, 1rem);

  /* sm: 17px → 20px */
  --text--sm: clamp(1.063rem, 0.2vw + 1rem, 1.25rem);

  /* md: 20px → 24px */
  --text--md: clamp(1.25rem, 0.8vw + 1rem, 1.35rem);

  /* lg: 28px → 36px */
  --text--lg: clamp(1.75rem, 1.5vw + 1rem, 2.25rem);

  /* xl: 36px → 40px */
  --text--xl: clamp(2.25rem, 2.2vw + 1rem, 2.75rem);

  /* 2xl: 40px → 48px */
  --text--2xl: clamp(2.25rem, 3.4vw + 1rem, 3rem);

  /* 3xl: 48px → 56px */
  --text--3xl: clamp(2.75rem, 4vw + 1rem, 3.5rem);
}

/* Text size MAP */
/* ==================================================================== */
$text-sizes: (
  "xs":  var(--text--xs),
  "sm":  var(--text--sm),
  "md":  var(--text--md),
  "lg":  var(--text--lg),
  "xl":  var(--text--xl),
  "2xl":  var(--text--2xl),
  "3xl":  var(--text--3xl),
);

/* Text size modifier mixin */
/* ==================================================================== */
/* Generates a classes using `$text-sizes` MAP */
@mixin text-size-modifier {
  @each $key, $value in $text-sizes {
    &--#{$key} {
      font-size: $value;
    }
  }
}

/* Text size classes */
/* ==================================================================== */
/* Generates a class for every size in `$text-sizes` MAP */
.text {
  @include text-size-modifier;
}

/* Fonts */
/* ==================================================================== */

/* Base font size */
body {
  font-size: 16px;
}

/* font-family: */
/* Google fonts added in index.HTML <head> for better performance */
$font-family-title: ('Poppins', 'Arial', sans-serif);
$font-family-body: ('Nunito Sans', 'Arial', sans-serif);
$font-family-code: ('Fragment Mono', 'Courier', monospace);

/* letter-spacing: */
$letter-spacing--sm: 0.01em;
$letter-spacing--md: 0.04em;
$letter-spacing--lg: 0.08em;

/* line-height: */
$line-height--sm: calc(0.1rem + 2ex + 0.1rem);
$line-height--md: calc(0.125rem + 2.3ex + 0.125rem);
$line-height--lg: calc(0.125rem + 2.5ex + 0.125rem);



  /* Text shadows */
  /* ================================== */
html {
  --text-sha--3xs:
    0.1px 0.1px 0.1px oklch(var(--color-shadow) / 0.3),
    0 0 0.5px oklch(var(--color-shadow) / 0.1),
    0 0 1px oklch(var(--color-shadow) / 0.05);

  --text-sha--2xs:
    0.1px 0.1px 0.1px oklch(var(--color-shadow) / 0.3),
    0.25px 0.25px 0.5px  oklch(var(--color-shadow) / 0.12),
    0 0 0.5px oklch(var(--color-shadow) / 0.1),
    0 0 1px oklch(var(--color-shadow) / 0.05);

  --text-sha--xs:
    0.2px 0.2px 0.2px oklch(var(--color-shadow) / 0.3),
    0.5px 0.5px 1px  oklch(var(--color-shadow) / 0.12),
    0 0 1px oklch(var(--color-shadow) / 0.1),
    0 0 2px oklch(var(--color-shadow) / 0.05);

  --text-sha--sm:
    0.25px 0.25px 0.25px oklch(var(--color-shadow) / 0.4),
    1px 1px 2px oklch(var(--color-shadow) / 0.12),
    0 0 2px oklch(var(--color-shadow) / 0.1),
    0 0 4px oklch(var(--color-shadow) / 0.1);

  --text-sha--md:
    0.5px 0.5px 0.5px oklch(var(--color-shadow) / 0.4),
    1px 1px 2px oklch(var(--color-shadow) / 0.15),
    0 0 4px oklch(var(--color-shadow) / 0.1),
    0 0 8px oklch(var(--color-shadow) / 0.1);

  --text-sha--lg:
    0.5px 0.5px 0.5px oklch(var(--color-shadow) / 0.4),
    1px 1px 2px oklch(var(--color-shadow) / 0.2),
    0 0 6px oklch(var(--color-shadow) / 0.15),
    0 0 12px oklch(var(--color-shadow) / 0.1);

  --text-sha--xl:
    0.8px 0.8px 0.8px oklch(var(--color-shadow) / 0.4),
    2px 2px 4px oklch(var(--color-shadow) / 0.2),
    0 0 8px oklch(var(--color-shadow) / 0.15),
    0 0 16px oklch(var(--color-shadow) / 0.1);

  --text-sha--2xl:
    1px 1px 1px oklch(var(--color-shadow) / 0.4),
    2px 2px 4px oklch(var(--color-shadow) / 0.2),
    0 0 10px oklch(var(--color-shadow) / 0.15),
    0 0 20px oklch(var(--color-shadow) / 0.1);

  --text-sha--3xl:
    1px 1px 1px oklch(var(--color-shadow) / 0.4),
    2px 2px 4px oklch(var(--color-shadow) / 0.2),
    0 0 10px oklch(var(--color-shadow) / 0.15),
    0 0 20px oklch(var(--color-shadow) / 0.1),
    0 0 25px oklch(var(--color-shadow) / 0.05);
}

//* Text shadow classes *//
.text-sha {
  @include sha.shadow-modifier('text-sha', 'text-shadow');
}