/* ========================================== */
/* Text */
@use 'sass:map';
/* ========================================== */

/* font-family: */
/* ========================================== */
/* Google fonts added in index.HTML <head> for better performance */
$font-family-title: ('Poppins', 'Arial', sans-serif);
$font-family-body: ('Nunito Sans', 'Arial', sans-serif);
$font-family-code: ('Fragment Mono', 'Courier', monospace);

/* letter-spacing: */
/* ========================================== */
$letter-spacing--sm: 0.01em;
$letter-spacing--md: 0.04em;
$letter-spacing--lg: 0.06em;

/* line-height: */
/* ========================================== */
$line-height--sm: calc(0.125rem + 2ex + 0.125rem);
$line-height--md: calc(0.125rem + 2.25ex + 0.125rem);
$line-height--lg: calc(0.125rem + 2.5ex + 0.125rem);

/* font-weight: */
/* ========================================== */
$font-weight--sm: 200;
$font-weight--md: 300;
$font-weight--lg: 400;

/* Fluid typography range */
/* ====================================================================== */
/* https://modern-fluid-typography.vercel.app/ */
:root {
  /* 2xs: 12px → 14px */
  --text--2xs: clamp(0.75rem, 4vw - 1.5rem, 0.875rem);

  /* xs: 14px → 16px */
  --text--xs: clamp(0.875rem, 4vw - 1rem, 1rem);

  /* sm: 16px → 18px */
  --text--sm: clamp(1rem, 0.13vw + 1rem, 1.125rem);

  /* md: 18px → 22px */
  --text--md: clamp(1.125rem, 0.5vw + 1rem, 1.375rem);

  /* lg: 22px → 28px */
  --text--lg: clamp(1.375rem, 1.3vw + 1rem, 1.75rem);

  /* xl: 28px → 36px */
  --text--xl: clamp(1.75rem, 1.7vw + 1rem, 2.25rem);

  /* 2xl: 36px → 48px */
  --text--2xl: clamp(2.25rem, 2.5vw + 1rem, 2.75rem);

  /* 3xl: 40px → 56px */
  --text--3xl: clamp(2.5rem, 3.8vw + 1rem, 4rem);
}

/* Text size MAP */
/* ========================================== */
$text-sizes: (
  "2xs":  var(--text--2xs),
  "xs":  var(--text--xs),
  "sm":  var(--text--sm),
  "md":  var(--text--md),
  "lg":  var(--text--lg),
  "xl":  var(--text--xl),
  "2xl":  var(--text--2xl),
  "3xl":  var(--text--3xl),
);

/* Text size modifier mixin */
/* ========================================== */
/* Generates a classes using `$text-sizes` MAP */
@mixin text-size-modifier {
  @each $key, $value in $text-sizes {
    &--#{$key} {
      font-size: $value;
    }
  }
}

/* Text size classes */
/* ========================================== */
/* Generates a class for every size in `$text-sizes` MAP */
.text {
  @include text-size-modifier;
}
