/* ================================== */
/* Text colors */
@use 'sass:map';
/* ================================== */

/* Text colors */
/* ==================================================================== */
/* bold = more contrast against theme background e.g. lighter in dark mode
/* mild = less contrast against theme background e.g. darker in dark mode

/* #Config these values */
/* if you add or remove any then update the MAP below to match. */
html {
/* Text | Title | Label */
  --color-text-2xbold: oklch(99% var(--light-ch) / 1);
  --color-text-xbold: oklch(95% var(--light-ch) / 1);
  --color-text-bold: oklch(98% var(--light-ch) / 1);
  --color-text-base: oklch(90% var(--light-ch) / 1);
  --color-text-mild: oklch(85% var(--light-ch) / 1);
  --color-text-xmild: oklch(75% var(--light-ch) / 1);
  --color-text-2xmild: oklch(65% var(--light-ch) / 1);

  --color-text-contrast-2xbold: oklch(60% var(--accent-ch) / 1);
  --color-text-contrast-xbold: oklch(55% var(--accent-ch) / 1);
  --color-text-contrast-bold: oklch(50% var(--accent-ch) / 1);
  --color-text-contrast-base: oklch(45% var(--accent-ch) / 1);
  --color-text-contrast-mild: oklch(40% var(--accent-ch) / 1);
  --color-text-contrast-xmild: oklch(45% var(--accent-ch) / 1);
  --color-text-contrast-2xmild: oklch(40% var(--accent-ch) / 1);

  --color-text-invert-2xbold: oklch(5% var(--dark-ch) / 1);
  --color-text-invert-xbold: oklch(10% var(--dark-ch) / 1);
  --color-text-invert-bold: oklch(15% var(--dark-ch) / 1);
  --color-text-invert-base: oklch(20% var(--dark-ch) / 1);
  --color-text-invert-mild: oklch(25% var(--dark-ch) / 1);
  --color-text-invert-xmild: oklch(35% var(--dark-ch) / 1);
  --color-text-invert-2xmild: oklch(45% var(--dark-ch) / 1);

/* Link */
  --color-link-rest: oklch(70% var(--primary-ch) / 1);
  --color-link-hover: oklch(50% var(--primary-ch) / 1);
  --color-link-visited: oklch(30% var(--primary-ch) / 1);

/* Code */
  --color-code-base: oklch(90% var(--accent-ch) / 1);
  --color-code-comment: oklch(65% var(--gray-ch) / 1);
  --color-code-class: oklch(100% var(--accent-ch) / 1);
  --color-code-property: oklch(80% var(--primary-ch) / 1);
  --color-code-value: oklch(100% var(--primary-ch) / 1);
  --color-code-num: oklch(80% var(--accent-ch) / 1);
}

/* Text color intensity MAP */
/* ==================================================================== */
$text-colors: (
  "2xbold":  var(--color-text-2xbold),
  "xbold":  var(--color-text-xbold),
  "bold":  var(--color-text-bold),
  "base":  var(--color-text-base),
  "mild":  var(--color-text-mild),
  "xmild":  var(--color-text-xmild),
  "2xmild":  var(--color-text-2xmild),

  "contrast-2xbold":  var(--color-text-contrast-2xbold),
  "contrast-xbold":  var(--color-text-contrast-xbold),
  "contrast-bold":  var(--color-text-contrast-bold),
  "contrast-base":  var(--color-text-contrast-base),
  "contrast-mild":  var(--color-text-contrast-mild),
  "contrast-xmild":  var(--color-text-contrast-xmild),
  "contrast-2xmild":  var(--color-text-contrast-2xmild),

  "invert-2xbold":  var(--color-text-invert-2xbold),
  "invert-xbold":  var(--color-text-invert-xbold),
  "invert-bold":  var(--color-text-invert-bold),
  "invert-base":  var(--color-text-invert-base),
  "invert-mild":  var(--color-text-invert-mild),
  "invert-xmild":  var(--color-text-invert-xmild),
  "invert-2xmild":  var(--color-text-invert-2xmild),
);

/* Text color modifier mixin */
/* ==================================================================== */
/* Generates classes using `$text-colors` MAP */
@mixin text-color-modifier {
  @each $key, $value in $text-colors {
    &-#{$key} {
      color: $value;
      @content;
    }
  }
}

/* Text color classes */
/* ==================================================================== */
/* Generates a class for every color in `$text-colors` MAP */
.text {
  @include text-color-modifier;
}

.title {
  @include text-color-modifier;
}

.label {
  @include text-color-modifier;
}