/* ========================================== */
/* Z-index */
@use 'sass:map';
/* ========================================== */
/* Thank you to Christophe Coutzoukis for this z-index code */
/* Better z-index management with Sass */
/* https://medium.com/ccoutzoukis/better-z-index-management-with-sass-a8095ba3a2bc */

$layers: (
  main: (
    base: (),
    card: (
      base,
      raised,
      tooltip
    ),
    raised: (),
    tooltip: ()
  ),
  menu: (
    base,
    tooltip
  ),
  navigation: (
    base,
    tooltip
  ),
  modal: (
    base,
    tooltip
  )
);

@function utility--z-number($keys) {
  $map: $layers;
  $found-index: null;  @each $key in $keys {
    @if (type-of($map) == "map") {
      $found-index: index(map-keys($map), $key);
      $map: map-get($map, $key);
    }
    @else {
      $found-index: index($map, $key);
    }
    @if ($found-index == null) {
      @error "`#{$key}` is not part of the elevation map: `#{$layers}`";
    }
  }  @return $found-index;
}

@mixin layout--layer($keys...) {
  $first-el: nth($keys, 1);
  $valid-positions: relative, absolute, fixed, sticky;  @if (index($valid-positions, $first-el)) {
    position: $first-el;
    z-index: utility--z-number(utility--list-remove($keys,1));
  } @else {
    position: relative;
    z-index: utility--z-number($keys);
  }
}

// example:
// .my-modal {
//    @include layout--layer(modal);
// }

// .tooltip-on-my-modal {
//    @include layout--layer(absolute, modal, tooltip);
// }


// old z-index mixin

// $z: (
//   "body",
//   "bg",
//   "box",
//   "on-box",
//   "box-text",
//   "btn",
//   "btn-text",
//   "nav",
//   "menu",
//   "on-menu",
//   "menu-text",
//   "modal",
//   "on-modal",
//   "modal-text",
// );

// @function z($name) {
//   @if index($z, $name) {
//       @return (length($z) - index($z, $name)) + 1;
//   } @else {
//       @warn 'There is no item "#{$name}" in this list; choose one of: #{$z}';
//       @return null;
//   }
// }