/* ================================== */
/* Breakpoints */
/* ================================== */
$bp-xs: 20rem !default; // 320px and bigger
$bp-sm: 28rem !default; // 448px and bigger
$bp-md: 45rem !default; // 720px and bigger
$bp-lg: 64rem !default; // 1024px and bigger
$bp-xl: 90rem !default; // 1440px and bigger

/* Mobile first breakpoint MAP */
/* ================================== */
$breakpoints: (
  "xs": $bp-xs,
  "sm": $bp-sm,
  "md": $bp-md,
  "lg": $bp-lg,
  "xl": $bp-xl
);

/* Breakpoint mixin */
/* ================================== */
@mixin bp($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media only screen and (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}
