/* ================================== */
/* Oklch Colors */
/* ================================== */
/* https://oklch.com/ */
/* l: lightness 0%   to 100% */
/* c: chroma    0    to 0.37 */
/* h: hue       0deg to 360deg */

/* Color tokens
/* ==================================================================== */
/* #Config these values */
:root {
  // * Sky * //
  --primary-l: 70%;
  --primary-c: 0.14;
  --primary-h: 235;

  // * Leaf * //
  --accent-l: 92%;
  --accent-c: 0.2;
  --accent-h: 130;

  // * Snow * //
  --light-l: 98%;
  --light-c: 0.011;
  --light-h: 235;

  // * Ash * //
  --gray-l: 50%;
  --gray-c: 0.03;
  --gray-h: 235;

  // * Ink * //
  --dark-l: 15%;
  --dark-c: 0.03;
  --dark-h: 240;

  /* Add here any value that makes your color venture into the P3 color space. */
  @media (color-gamut: p3) {
    :root {
      --primary-c: 0.17;
      --accent-c: 0.22;
      --light-c: 0.012;
      --dark-c: 0.042;
    }
  }
}


html {
  --primary-ch: var(--primary-c) var(--primary-h);
  --primary-lch: var(--primary-l) var(--primary-c) var(--primary-h);
  --color-primary: oklch(var(--primary-lch) / 1);

  --accent-ch: var(--accent-c) var(--accent-h);
  --accent-lch: var(--accent-l) var(--accent-c) var(--accent-h);
  --color-accent: oklch(var(--accent-lch) / 1);

  --light-ch: var(--light-c) var(--light-h);
  --light-lch: var(--light-l) var(--light-c) var(--light-h);
  --color-light: oklch(var(--light-lch) / 1);

  --gray-ch: var(--gray-c)var(--gray-h);
  --gray-lch: var(--gray-l) var(--gray-c)var(--gray-h);
  --color-gray: oklch(var(--gray-lch) / 1);

  --dark-ch: var(--dark-c) var(--dark-h);
  --dark-lch: var(--dark-l) var(--dark-c) var(--dark-h);
  --color-dark: oklch(var(--dark-lch) / 1);

  // * Opaque shades * //
  // --light-bold:
  // --light-reg: oklch(95% var(--light-ch) / 1);
  // --light-mild: oklch(90% var(--light-ch) / 1);
  // --light-xmild: oklch(85% var(--light-ch) / 1);
  // --light-2xmild: oklch(75% var(--light-ch) / 1);
  // --dark-2xmild: oklch(25% var(--dark-ch) / 1);
  // --dark-xmild: oklch(20% var(--dark-ch) / 1);
  // --dark-mild: oklch(15% var(--dark-ch) / 1);
  // --dark-reg: oklch(10% var(--dark-ch) / 1);
  // --dark-bold: oklch(5% var(--dark-ch) / 1);


/* ================================== */
/* Semantic color theme */
/* ================================== */

  // * Backgrounds * //
  --color-page-bg: oklch(80% var(--light-ch) / 1);

  --color-bg-bold: oklch(98% var(--light-ch) / 1);
  --color-bg-base: oklch(90% var(--light-ch) / 1);
  --color-bg-mild: oklch(85% var(--light-ch) / 1);
  --color-bg-milder: oklch(75% var(--light-ch) / 1);
  --color-bg-mildest: oklch(65% var(--light-ch) / 1);

  --color-bg-contrast: oklch(50% var(--primary-ch) / 1);

  --color-bg-invert-bold: oklch(10% var(--dark-ch) / 1);
  --color-bg-invert-base: oklch(15% var(--dark-ch) / 1);
  --color-bg-invert-mild: oklch(25% var(--dark-ch) / 1);
  --color-bg-invert-milder: oklch(35% var(--dark-ch) / 1);
  --color-bg-invert-mildest: oklch(45% var(--dark-ch) / 1);

  // * Other * //
  // These are used for box-shadows, bevels, insets, etc.
  --shadow: oklch(90% var(--dark-ch) / 1);
  --highlight: oklch(98% var(--light-ch) / 1);

  // * UI * //
  --color-focus: oklch(var(--primary-ch) / 0.4);
  --color-disabled: oklch(var(--gray-lch) / 0.4);
  --color-checked: oklch(var(--accent-lch) / 0.6);
  --color-input-control: oklch(var(--light-lch) / 0.8);
}