/* ================================== */
/* Colors */
/* ================================== */
/* The number in the color name is its HSL lightness value */

///* Snow *///
$snow95: rgb(239, 242, 245);
$snow90: rgb(223, 228, 236);
$snow80: rgb(192, 202, 216);
$snow70: rgb(160, 175, 197);
$snow65: rgb(144, 161, 187);

///* Gray */// 
// $gray60: rgb(143, 151, 163);
$gray50: rgb(115, 125, 140);
// $gray40: rgb(92, 100, 112);
// $gray30: rgb(69, 75, 84);
// $gray20: rgb(46, 50, 56);

///* Sky */// 
$sky99: rgb(250, 254, 255);
$sky98: rgb(245, 252, 255);
$sky95: rgb(230, 248, 254);
$sky90: rgb(205, 240, 254);
$sky80: rgb(156, 225, 252);
$sky70: rgb(106, 209, 251);
$sky60: rgb(56, 195, 250);
$sky50: rgb(6, 181, 249);

///* Ink */// 
$ink2:  rgb(0, 3, 10);
$ink4: rgb(0, 7, 20);
$ink6: rgb(0, 10, 30);
// $ink8: rgb(0, 14, 40);
$ink10: rgb(0, 17, 50);

///* Leaf */// H80 S80 L--
$leaf80: rgb(218, 245, 163);
$leaf70: rgb(199, 240, 117);
$leaf60: rgb(180, 235, 71);
$leaf40:  rgb(129, 184, 20);
// $leaf30: rgb(97, 138, 15);

/* Semantic color values */
/* ================================== */
$text-reg: $sky98;
$text-mild: $snow80;
$text-xmild: $snow70;
$text-2xmild: $snow65;

$text-inverse-strong: $ink6;
$text-inverse-reg: $ink10;
$text-inverse-mild: $gray50;

$code-class: $leaf70;
$code-prop: $snow70;
$code-value: $sky80;

$link-rest: $sky70;
$link-hover: $sky50;
$link-visit: $sky80;

$shadow-color: $ink4;
$highlight-color: $sky99;
$highlight-color-mild: $sky95;

$btn-1-rest: $snow70;
$btn-1-hover: $sky95;
$btn-1-active: $gray50;

$dark-glass: $ink2;
$light-glass: $ink2;

$bg-color: $sky98;

.text-reg {
  color: $text-reg;
}

.text-mild {
  color: $text-mild;
}

.text-xmild {
  color: $text-xmild;
}

.text-2xmild {
  color: $text-2xmild;
}


// Dark font color
.text-invers-strong {
  color: $text-inverse-strong;
}

.text-invers-reg {
  color: $text-inverse-reg;

}

.text-invers-mild {
  color: $text-inverse-mild;
}