/* ================================== */
/* Colors */
/* ================================== */

/* RGB color values */
/* ================================== */
// * The number in the color name is its HSL lightness value */

// * Snow
$snow95: rgb(239, 242, 245);
$snow90: rgb(223, 228, 236);
$snow80: rgb(192, 202, 216);
$snow70: rgb(160, 175, 197);
$snow65: rgb(144, 161, 187);

// * Gray
$gray60: rgb(143, 151, 163);
$gray50: rgb(115, 125, 140);
$gray40: rgb(92, 100, 112);
$gray30: rgb(69, 75, 84);
$gray20: rgb(46, 50, 56);

// * Sky
$sky99: rgb(250, 254, 255);
$sky98: rgb(245, 252, 255);
$sky95: rgb(230, 248, 254);
$sky90: rgb(205, 240, 254);
$sky80: rgb(156, 225, 252);
$sky70: rgb(106, 209, 251);
$sky60: rgb(56, 195, 250);
$sky50: rgb(6, 181, 249);

// * Ink
$ink2:  rgb(0, 3, 10);
$ink4: rgb(0, 7, 20);
$ink6: rgb(0, 10, 30);
$ink8: rgb(0, 14, 40);
$ink10: rgb(0, 17, 50);

// * Leaf H80 S80 L--
$leaf80: rgb(218, 245, 163);
$leaf70: rgb(199, 240, 117);
$leaf60: rgb(180, 235, 71);
$leaf40:  rgb(129, 184, 20);
$leaf30: rgb(97, 138, 15);


/* Semantic color values */
/* ================================== */
$bg-color: $sky98;

$shadow-color: $ink2;
$light-color: $sky99;
$light-color-mild: $sky95;

$tint-2xlight: rgba($sky99, 0.98);
$tint-xlight: rgba($sky98, 0.7);
$tint-light: rgba($sky98, 0.3);
$tint-clear: rgba($sky99, 0.01);
$tint-reg: rgba($ink2, 0.1);
$tint-dark: rgba($ink2, 0.3);
$tint-xdark: rgba($ink2, 0.7);
$tint-2xdark: rgba($ink2, 0.98);

$text-light-bold: $sky99;
$text-light-reg: $sky95;
$text-light-mild: $snow90;
$text-light-xmild: $snow80;
$text-light-2xmild: $snow65;

$text-dark-bold: $ink2;
$text-dark-reg: $ink10;
$text-dark-mild: $gray20;
$text-dark-xmild: $gray50;
$text-dark-2xmild: $gray60;

$code-class: $leaf70;
$code-prop: $snow70;
$code-value: $sky80;

$link-rest: $sky70;
$link-hover: $sky50;
$link-visit: $sky80;

$btn1-rest: rgba($sky99, 0.3);
$btn1-hover: rgba($sky99, 0.6);
$btn1-active: rgba($ink2, 0.2);

$btn2-rest: rgba($gray50, 0.5);
$btn2-hover: rgba($snow65, 0.9);
$btn2-active: rgba($ink2, 0.2);

/* Text colors */
/* ================================== */

/* Light */
.text-light-reg {
  color: $text-light-reg;
}

.text-light-mild {
  color: $text-light-mild;
}

.text-light-xmild {
  color: $text-light-xmild;
}

.text-light-2xmild {
  color: $text-light-2xmild;
}

/* Dark */
.text-dark-bold {
  color: $text-dark-bold;
}

.text-dark-reg {
  color: $text-dark-reg;
}

.text-dark-mild {
  color: $text-dark-mild;
}

.text-dark-xmild {
  color: $text-dark-xmild;
}

.text-dark-2xmild {
  color: $text-dark-2xmild;
}

/* Glass tints */
/* ================================== */
.tint-2xlight {
  background-color: $tint-2xlight;
}

.tint-xlight {
  background-color: $tint-xlight;
}

.tint-light {
  background-color: $tint-light;
}

.tint-clear {
  background-color: $tint-clear;
}

.tint-reg {
  background-color: $tint-reg;
}

.tint-dark {
  background-color: $tint-dark;
}

.tint-xdark {
  background-color: $tint-xdark;
}

.tint-2xdark {
  background-color: $tint-2xdark;
}