/* ================================== */
/* Fluid layout and sizing */
@use "../0-base/size";
@use "breakpoint" as bp;
/* ================================== */

/* Responsive Max width */
/* ================================== */
html {
  --max-w: 100%;

  // viewport width minus padding up to a max of 800px
  @include bp.breakpoint(md) {
    --max-w: min(calc(100vw - (var(--space-narrow) * 2)), 50rem);
  }
}

@mixin max-w {
  width: 100%;
  max-width: var(--max-w);
  margin: auto;
}

.max-w { 
  @include max-w;
}

/* Responsive UI height */
/* ================================== */
/* used for matching the height of buttons, inputs, icons, etc. so that they don't look weird next to each other */

:root {
  --ui-sm: #{size.$s6};   /* 24px */
  --ui-md: #{size.$s8};   /* 32px */
  --ui-lg: #{size.$s10};   /* 40px */

  --nav-h: calc(var(--ui-lg) + var(--space-narrow));

  @include bp.breakpoint(md) {
    --ui-sm: #{size.$s7};  /* 28px */
    --ui-md: #{size.$s9};  /* 36px */
    --ui-lg: #{size.$s10}; /* 40px */
  }

  @include bp.breakpoint(lg) {
    --ui-sm: #{size.$s8};  /* 32px */
    --ui-md: #{size.$s10}; /* 40px */
    --ui-lg: #{size.$s11}; /* 44px */
  }
}

/* Responsive edge */
/* ================================== */
/* gives elements consistent vertical alignment with fewer media queries */
/* also used for negative margines for inner edge-to-edge backgrounds */

:root {
  --space-narrow: #{size.$s4}; // 16px
  --space-wide: #{size.$s4}; // 16px

  @include bp.breakpoint(md) {
    --space-narrow: #{size.$s6}; //24px
    --space-wide: #{size.$s10}; // 40px 
  }

  @include bp.breakpoint(lg) {
    --space-narrow: #{size.$s7}; 
    --space-wide: #{size.$s14}; 
  }

  @include bp.breakpoint(xl) {
    --space-narrow: #{size.$s8}; 
    --space-wide: #{size.$s16}; 
  }
}

// Space small
/* ================================== */
.space-narrow {
  padding: var(--space-narrow);
}

.space-x-narrow {
  padding: 0 var(--space-narrow);
}

.space-y-narrow {
  padding: var(--space-narrow) 0;
}

.space-t-narrow {
  padding-top: var(--space-narrow);
}

.space-b-narrow {
  padding-bottom: var(--space-narrow);
}

.space-l-narrow {
  padding-left: var(--space-narrow);
}

.space-r-narrow {
  padding-right: var(--space-narrow);
}

// Space medium 
/* ================================== */
.space-wide {
  padding: var(--space-wide);
}

.space-x-wide {
  padding: 0 var(--space-wide);
}

.space-y-wide {
  padding: var(--space-wide) 0;
}

.space-t-wide {
  padding-top: var(--space-wide);
}

.space-b-wide {
  padding-bottom: var(--space-wide);
}

.space-l-wide {
  padding-left: var(--space-wide);
}

.space-r-wide {
  padding-right: var(--space-wide);
}