/* ================================== */
/* Gap */
@use "../0-base/breakpoint" as bp;
@use "../0-base/size";
/* ================================== */

/* Grid/Felx gap */
/* ================================== */
/* Same values are use for both margin and grid/flex gap,
/* so that they will match in a layout */
$gap-xs: size.$s-5xs;
$gap-sm: size.$s-3xs;
$gap-md: size.$s-xs;
$gap-lg: size.$s-xl;
$gap-xl: size.$s-5xl;

html {
  --gap-sm: #{size.$s-3xs}; 
  --gap-md: #{size.$s-xs};
  --gap-lg: #{size.$s-xl}; 


  @include bp.breakpoint(m) {
    --gap-sm: #{size.$s-xs}; 
    --gap-md: #{size.$s-md}; 
    --gap-lg: #{size.$s-3xl}; 
  }

  @include bp.breakpoint(l) {
    --gap-sm: #{size.$s-md}; 
    --gap-md: #{size.$s-2xl}; 
    --gap-lg: #{size.$s-5xl}; 
  }
}

.gap-xs {
  gap: $gap-xs;
}

.gap-sm {
  gap: size.$s-2xs;

  @include bp.breakpoint(m) {
    gap: size.$s-xs; 
  }

  @include bp.breakpoint(l) {
    gap: size.$s-sm;  
  }
}

.gap-md {
  gap: $gap-md;
}

.gap-lg {
  gap: $gap-lg;
}

.gap-xl {
  gap: $gap-xl;
}
