/* ================================== */
/* Gap */
@use "../0-base/breakpoint" as bp;
@use "../0-base/size";
/* ================================== */

/* Grid/Felx gap */
/* ================================== */
/* Same values are use for both margin and grid/flex gap,
/* so that they will match in a layout */
$gap-xs: size.$s2;  /* 8px  0.5rem */
$gap-sm: size.$s4;  /* 16px 1rem */
$gap-md: size.$s8;  /* 32px 2rem */
$gap-lg: size.$s12; /* 48px 3rem */
$gap-xl: size.$s16; /* 64px 4rem */

.gap-xs {
  gap: $gap-xs;
}

.gap-sm {
  gap: $gap-sm;
}

.gap-md {
  gap: $gap-md;
}

.gap-lg {
  gap: $gap-lg;
}

.gap-xl {
  gap: $gap-xl;
}


// html {
//   --gap-sm: #{size.$s-3xs}; 
//   --gap-md: #{size.$s-xs};
//   --gap-lg: #{size.$s-xl}; 


//   @include bp.breakpoint(md) {
//     --gap-sm: #{size.$s-xs}; 
//     --gap-md: #{size.$s-md}; 
//     --gap-lg: #{size.$s-3xl}; 
//   }

//   @include bp.breakpoint(lg) {
//     --gap-sm: #{size.$s-md}; 
//     --gap-md: #{size.$s-2xl}; 
//     --gap-lg: #{size.$s-5xl}; 
//   }
// }