/* ================================== */
/* Size */
@use "breakpoint" as bp;
/* ================================== */

$root-size: 0.25rem;

/* Size Values */
/* ================================== */
$s1: calc($root-size * 1);   /* 4px  0.25rem */
$s2: calc($root-size * 2);   /* 8px  0.5rem */
$s3: calc($root-size * 3);   /* 12px 0.75rem */
$s4: calc($root-size * 4);   /* 16px 1rem */
$s5: calc($root-size * 5);   /* 20px 1.25rem */
$s6: calc($root-size * 6);   /* 24px 1.5rem */
$s7: calc($root-size * 7);   /* 28px 1.75rem */
$s8: calc($root-size * 8);   /* 32px 2rem */
$s9: calc($root-size * 9);   /* 36px 2.25rem */
$s10: calc($root-size * 10); /* 40px 2.5rem */
$s11: calc($root-size * 11); /* 44px 2.75rem */
$s12: calc($root-size * 12); /* 48px 3rem */
$s13: calc($root-size * 13); /* 52px 3.25rem */
$s14: calc($root-size * 14); /* 56px 3.5rem */
$s15: calc($root-size * 15); /* 60px 3.75rem */
$s16: calc($root-size * 16); /* 64px 4rem */
$s17: calc($root-size * 17); /* 68px 4.25rem */
$s18: calc($root-size * 18); /* 72px 4.5rem */
$s19: calc($root-size * 19); /* 76px 4.75rem */
$s20: calc($root-size * 20); /* 80px 5rem */


// html {
//   --multiplier:  1.1rem;

//   --3xs:  calc(#{$s3} * var(--multiplier));
//   --2xs:  calc(#{$s4} * var(--multiplier));
//   --xs:   calc(#{$s5} * var(--multiplier));
//   --sm:   calc(#{$s6} * var(--multiplier));
//   --md:   calc(#{$s8} * var(--multiplier));
//   --lg:   calc(#{$s10} * var(--multiplier));
//   --xl:   calc(#{$s12} * var(--multiplier));
//   --2xl:  calc(#{$s14} * var(--multiplier));
//   --3xl:  calc(#{$s16} * var(--multiplier));

//   @include bp.breakpoint(md) {
//     --multiplier: 1.25rem;
//   }

//   @include bp.breakpoint(xl) {
//     --multiplier: 1.5rem;
//   }
// }

// :root {
//   --3xs:  #{$s1};
//   --2xs:  #{$s2};
//   --xs:   #{$s3};
//   --sm:   #{$s4};
//   --md:   #{$s5};
//   --lg:   #{$s6};
//   --xl:   #{$s9};
//   --2xl:  #{$s12};
//   --3xl:  #{$s15};

//   @include bp.breakpoint(md) {
//     --3xs:  #{$s2};
//     --2xs:  #{$s3};
//     --xs:   #{$s4};
//     --sm:   #{$s5};
//     --md:   #{$s6};
//     --lg:   #{$s7};
//     --xl:   #{$s12};
//     --2xl:  #{$s15};
//     --3xl:  #{$s18};
//   }

//   @include bp.breakpoint(xl) {
//     --3xs:  #{$s3};
//     --2xs:  #{$s4};
//     --xs:   #{$s5};
//     --sm:   #{$s6};
//     --md:   #{$s7};
//     --lg:   #{$s8};
//     --xl:   #{$s15};
//     --2xl:  #{$s18};
//     --3xl:  #{$s20};
//   }
// }

/* Size MAP */
/* ================================== */
// $sizes: (
//   3xs: $s1,
//   2xs: $s2,
//   xs:  $s3,
//   sm:  $s6,
//   md:  $s5,
//   lg:  $s6,
//   xl:  $s8,
//   2xl: $s12,
//   3xl: $s20
// );

$sizes: (
  3xs: var(--3xs),
  2xs: var(--2xs),
  xs:  var(--xs),
  sm:  var(--sm),
  md:  var(--md),
  lg:  var(--lg),
  xl:  var(--xl),
  2xl: var(--2xl),
  3xl: var(--3xl),
);

html {
  --3xs:  #{$s3};
  --2xs:  #{$s4};
  --xs:   #{$s5};
  --sm:   #{$s6};
  --md:   #{$s8};
  --lg:   #{$s10};
  --xl:   #{$s12};
  --2xl:  #{$s14};
  --3xl:  #{$s16};
}

$sizes: (
  3xs: $s1,
  2xs: $s2,
  xs:  $s3,
  sm:  $s4,
  md:  $s6,
  lg:  $s8,
  xl:  $s10,
  2xl: $s12,
  3xl: $s14
);

//   --3xs:  calc(#{$s3} * var(--multiplier));
//   --2xs:  calc(#{$s4} * var(--multiplier));
//   --xs:   calc(#{$s5} * var(--multiplier));
//   --sm:   calc(#{$s6} * var(--multiplier));
//   --md:   calc(#{$s8} * var(--multiplier));
//   --lg:   calc(#{$s10} * var(--multiplier));
//   --xl:   calc(#{$s12} * var(--multiplier));
//   --2xl:  calc(#{$s14} * var(--multiplier));
//   --3xl:  calc(#{$s16} * var(--multiplier));


/* Size modifier mixin */
/* ================================== */
/* Generates size modifier classes */
/* Used in grid/flex gap, border-radius, margin, and padding */
@mixin size-modifiers($attribute: 'a') {
  @each $key, $value in $sizes {
    &-#{$key} {
      #{$attribute}: $value;

      @include bp.breakpoint(sm) {
        #{$attribute}:calc($value * 1.25);
      }
    
      @include bp.breakpoint(lg) {
        #{$attribute}:calc($value * 1.5);
      }
    }
  }
}

