/* ================================== */
/* Text */
@use "../0-base/breakpoint" as bp;
@use "color";
@use "size";
@use "../2-visual/shadow" as sha;
/* ================================== */

/* ================================== */
/* Font setup */
/* ================================== */

/* Base font size */
body {
  font-size: 16px;
}

/* font-family: */
/* Google fonts added in index.HTML <head> for better performance */
$font-family-title: 'Poppins', Arial, sans-serif;
$font-family-body: 'Nunito Sans', Arial, sans-serif;
$font-family-code: 'Fragment Mono', Courier, monospace;

/* font-weight: */
$font-weight-xs: 200;
$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 500;

/* letter-spacing: */
$letter-spacing-sm: 0.01em;
$letter-spacing-md: 0.04em;
$letter-spacing-lg: 0.08em;

/* line-height: */
$line-height-sm: calc(0.1rem + 2ex + 0.1rem);
$line-height-md: calc(0.125rem + 2.3ex + 0.125rem);
$line-height-lg: calc(0.125rem + 2.5ex + 0.125rem);


/* Fluidly responsive font sizes */
/* ================================== */
/* https://modern-fluid-typography.vercel.app/ */
/* use this tool to fine-tune your fluid typography range */

:root {
  /* xs: 14px → 16px */
  --text-xs: clamp(0.875rem, 4vw - 1rem, 1rem);

  /* sm: 17px → 20px */
  --text-sm: clamp(1.063rem, 0.2vw + 1rem, 1.25rem);

  /* md: 20px → 24px */
  --text-md: clamp(1.25rem, 0.8vw + 1rem, 1.35rem);

  /* lg: 24px → 32px */
  --text-lg: clamp(1.5rem, 1.5vw + 1rem, 2rem);

  /* xl: 32px → 40px */
  --text-xl: clamp(1.75rem, 2.2vw + 1rem, 2.75rem);

  /* 2xl: 40px → 48px */
  --text-2xl: clamp(2.25rem, 3.4vw + 1rem, 3rem);

  /* 3xl: 48px → 56px */
  --text-3xl: clamp(2.75rem, 4vw + 1rem, 3.5rem);
}


/* Text size MAP */
/* ================================== */
$text-sizes: (
  "xs":  var(--text-xs),
  "sm":  var(--text-sm),
  "md":  var(--text-md),
  "lg":  var(--text-lg),
  "xl":  var(--text-xl),
  "2xl":  var(--text-2xl),
  "3xl":  var(--text-3xl)
);

/* Text size modifier mixin */
/* ================================== */
// * Generates a .class for every key in `$text-sizes` map
@mixin text-size-modifier {
  @each $key, $value in $text-sizes {
    &-#{$key} {
      font-size: $value;
    }
  }
}

.text {
  @include text-size-modifier;
}


/* Body text */
/* ================================== */
@mixin body-text {
  font-family: $font-family-body;
  font-weight: $font-weight-sm;
  letter-spacing: $letter-spacing-sm;
  line-height: $line-height-md;
  color: var(--color-text);
}

.body-text,
body,
input,
textarea {
  @include body-text;
}


/* Bold titles */
/* ================================== */
@mixin title-bold {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  line-height: $line-height-sm;
  letter-spacing: $letter-spacing-md;
}

.title-bold {
  @include title-bold;
}


/* Thin titles */
/* ================================== */
@mixin title-thin {
  font-family: $font-family-title;
  font-weight: $font-weight-xs;
  letter-spacing: $letter-spacing-sm;
  line-height: $line-height-md;
}

.title-thin {
  @include title-thin;
}

/* Text links */
/* ================================== */
.link {
  color: var(--color-link-rest);

  :hover {
    color: var(--color-link-hover);
  }

  :visited {
    color: var(--color-link-visited);
  }
}


/* Eyebrow text */
/* ================================== */
@mixin eyebrow {
  text-transform: uppercase;
  font-size: var(--text-xs);
  font-family: $font-family-title;
  font-weight: $font-weight-sm;
  letter-spacing: $letter-spacing-md;
  line-height: $line-height-sm;

  color: var(--color-eyebrow);
  text-shadow: var(--text-sha-md);
}

.eyebrow {
  @include eyebrow;
}

/* Labels */
/* ================================== */
@mixin label-text {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-sm;
  line-height: 1;
}

.label-text {
  @include label-text;
}


/* Code */
/* ================================== */
pre code {
  display: block;
  white-space: pre;
  max-width: 100%;
}

@mixin code {
  font-family: $font-family-code;
  font-size: var(--text-sm);
  line-height: $line-height-lg;
color:  oklch(80% var(--accent-ch) / 1);
}

.code {
  @include code;
}

.c-comment {
  color: oklch(65% var(--gray-ch) / 1);
}

.c-class {
  color:  oklch(100% var(--accent-ch) / 1);
}

.c-prop {
  color: oklch(80% var(--primary-ch) / 1);
}

.c-value {
  color: oklch(100% var(--primary-ch) / 1);
}

.c-num {
  color: oklch(80% var(--accent-ch) / 1);
}

/* Bullet point decorations */
/* ================================== */
.dot {
  &::before {
    padding-right: 0.25em;
    content: "•"
  }
}

.check {
  &::before {
    padding-right: 0.25em;
    content: "☐"
  }
}

.arrow {
  &::before {
    padding-right: 0.25em;
    content: "➟"
  }
}


/* Other text utility classes */
/* ================================== */
.first-line-bold {
  &:first-line {
    font-weight: $font-weight-lg;
  }
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-c {
  text-align: center;
}

.text-l {
  text-align: start;
}

.text-r {
  text-align: end;
}

.bold {
  font-weight: $font-weight-lg;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.lh-1 {
  line-height: 1;
}