/* ================================== */
/* Text */
@use "color";
@use "../2-visual/shadow" as sha;
/* ================================== */

/* Fluidly Responsive font sizes */ 
/* ================================== */
/* credit to Adrian Bece for interactive fluid typography editor */
/* https://modern-fluid-typography.vercel.app/ */
/* use this tool to fine-tune your fluid typography range */
:root {
  /* xs: 14px → 16px */
  --text-xs: clamp(0.875rem, 4vw - 1rem, 1rem);

  /* sm: 16px → 20px */
  --text-sm: clamp(1rem, 0.35vw + 1rem, 1.25rem);

  /* md: 20px → 28px */
  --text-md: clamp(1.25rem, 1.2vw + 1rem, 1.75rem);

  /* lg: 28px → 40px */
  --text-lg: clamp(1.75rem, 3vw + 1rem, 2.5rem);

  /* xl: 36px → 52px */
  --text-xl: clamp(2.25rem, 3.25vw + 1rem, 3.25rem);
}


/* Font size MAP */
/* ================================== */
$font-sizes: (
  "xs":  var(--text-xs),
  "sm":  var(--text-sm),
  "md":  var(--text-md),
  "lg":  var(--text-lg),
  "xl":  var(--text-xl)
);

/* font-family: */
/* Google fonts added in index.HTML <head> for better performance */
$font-family-title: 'Poppins', Arial, sans-serif;
$font-family-body: 'Nunito Sans', Arial, sans-serif;
$font-family-code: 'Fragment Mono', Courier, monospace;

/* font-weight: */
$font-weight-xs: 200;
$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 500;

/* letter-spacing: */
$letter-spacing-sm: 0.01em;
$letter-spacing-md: 0.08em;
$letter-spacing-lg: 0.125em;

/* line-height: */
$line-height-sm: calc(0.125rem + 2ex + 0.125rem);
$line-height-md: calc(0.125rem + 2.3ex + 0.125rem);
$line-height-lg: calc(0.125rem + 2.5ex + 0.125rem);

/* Text size classes */
/* ================================== */
// * Generates a class for every font size
// TODO write 1 mega modifier mixin!
@mixin text-size-modifier {
  @each $key, $value in $font-sizes {
    &-#{$key} {
      font-size: $value;
      @content;
    }
  }
}

/* Body text */
/* ================================== */
@mixin body-text {
  font-family: $font-family-body;
  font-weight: $font-weight-xs;
  letter-spacing: $letter-spacing-sm;
  line-height: $line-height-md;
  text-shadow: sha.$text-sha-xs;
}

%body-text {
  @include body-text;
}

.text {
  @include text-size-modifier {
    @extend %body-text;
  }
}

/* Title */
/* ================================== */
@mixin title-text {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  line-height: $line-height-sm;
  text-shadow: sha.$text-sha-lg;
}

%title-text {
  @include title-text;
}

.title {
  @include text-size-modifier {
    @extend %title-text;
  }
}

/* Thin Title */
/* ================================== */
@mixin thin-title-text {
  font-family: $font-family-title;
  font-weight: $font-weight-xs;
  letter-spacing: $letter-spacing-sm;
  line-height: $line-height-sm;
  text-shadow: sha.$text-sha-sm;
}

%thin-title-text {
  @include thin-title-text;
}

.thin-title {
  @include text-size-modifier {
    @extend %thin-title-text;
  }
}


/* Basic text styles */ 
/* ================================== */
body {
  @include body-text;
  font-size: var(--text-sm);
  color: color.$text-light-reg;
}

li {
  @include body-text;
  font-weight: $font-weight-sm;
}

.dot {
  &::before {
    padding-right: 0.25em;
    content: "•"
  }
}

.check {
  &::before {
    padding-right: 0.25em;
    content: "☐"
  }
}

.arrow {
  &::before {
    padding-right: 0.25em;
    content: "➟"
  }
}

.label-text {
  font-weight: $font-weight-md;
  font-size: var(--text-xs);
  letter-spacing: $letter-spacing-lg;
  line-height: 1;
}

.link {
  color: color.$link-rest;

  :hover {
    color: color.$link-hover;
  }

  :visited {
    color: color.$link-visit;
  }
}

.bold {
  font-weight: $font-weight-lg;
}

.lh-1 {
  line-height: 1;
}

@mixin btn-text {
  font-family: $font-family-title;
  font-weight: $font-weight-sm;
  letter-spacing: $letter-spacing-md;
  text-align: center;
  text-shadow: sha.$text-sha-md;
  color: color.$text-light-reg;
}


/* Code */ 
/* ================================== */
code {
  font-family: $font-family-code;
  font-size: var(--text-sm);
  color: color.$code-class;
  line-height: $line-height-lg;
  letter-spacing: $letter-spacing-sm;
}

pre code {
  display: block;
  white-space: pre;
  max-width: 100%;
}

.c-comment {
  color: color.$text-light-mild;
}

.c-class {
  color: color.$code-class;
}

.c-prop {
  color: color.$code-prop;
}

.c-value {
  color: color.$code-value;
}


/* Text helpers */
/* ================================== */
.first-line-bold {
  &:first-line {
    font-weight: $font-weight-lg;
  }
}

.upper {
  @include text-size-modifier {
    text-transform: uppercase;

    font-family: $font-family-title;
    font-weight: $font-weight-sm;
    letter-spacing: $letter-spacing-md;
    line-height: $line-height-sm;
    text-shadow: sha.$text-sha-sm;
  }
}

.lower {
  @include text-size-modifier {
    text-transform: lowercase;

    font-family: $font-family-title;
    font-weight: $font-weight-sm;
    letter-spacing: $letter-spacing-md;
    line-height: $line-height-sm;
    text-shadow: sha.$text-sha-sm;
  }
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.f-center {
  text-align: center;
}