/* ================================== */
/* Text */
@use "color";
@use "../2-visual/shadow" as sha;
/* ================================== */

/* Fluidly Responsive font sizes */ 
/* ================================== */
// credit to Adrian Bece for interactive fluid typography editor 
// https://modern-fluid-typography.vercel.app/
// use this tool to fine-tune your fluid typography range
html {
  --text-xs: clamp(0.938rem, 5vw - 1rem, 1rem);
  --text-sm: clamp(1rem, 0.3vw + 1rem, 1.188rem);;
  --text-md: clamp(1.188rem, 0.7vw + 1rem, 1.5rem);
  --text-lg: clamp(1.5rem, 0.9vw + 1rem, 1.75rem);
  --text-xl: clamp(1.75rem, 1.7vw + 1rem, 2rem);
  --text-2xl: clamp(2rem, 2.2vw + 1rem, 2.5rem);
}

/* Font size MAP */
/* ================================== */
$font-sizes: (
  xs:  var(--text-xs),
  sm:  var(--text-sm),
  md:  var(--text-md),
  lg:  var(--text-lg),
  xl:  var(--text-xl),
  2xl: var(--text-2xl)
);

/* font-family: */
$font-family-title: 'Poppins', Arial, sans-serif;
$font-family-body: 'Nunito Sans', Arial, sans-serif;
$font-family-code: 'Fragment Mono', Courier, monospace;

/* font-weight: */
$font-weight-xs: 200;
$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 600;

/* letter-spacing: */
$letter-spacing-sm: 0.02em;
$letter-spacing-md: 0.08em;
$letter-spacing-lg: 0.125em;

/* line-height: */
$line-height-sm: 1.2;
$line-height-md: calc(0.125em + 2ex + 0.125em);
$line-height-lg: 1.6;

/* Text */
/* ================================== */

@mixin body-text {
  font-family: $font-family-body;
  font-weight: $font-weight-xs;
  letter-spacing: $letter-spacing-sm;
  line-height: calc(2px + 2.3ex + 2px);
  color: color.$text-reg;
  text-shadow: sha.$text-shadow-xs;
}

@mixin text-size-modifiers {
  @each $key, $value in $font-sizes {
    &-#{$key} {
      font-size: $value;
      @include body-text;
    }
  }
}

.text {
  @include text-size-modifiers;
}

/* Basic text styles */ 
/* ================================== */
body {
  @include body-text;
  font-size: var(--text-sm);
}

.list-i {
  @include body-text;
  font-weight: $font-weight-sm;
}

.dot {
  &::before {
    padding-right: 0.25em;
    content: "•"
  }
}

.check {
  &::before {
    padding-right: 0.25em;
    content: "☐"
  }
}

.arrow {
  &::before {
    padding-right: 0.25em;
    content: "➟"
  }
}

.label-text {
  font-weight: $font-weight-md;
  font-size: var(--text-xs);
  letter-spacing: $letter-spacing-lg;
  line-height: 1;
}

.link {
  color: color.$link-rest;

  :hover {
    color: color.$link-hover;
  }

  :visited {
    color: color.$link-visit;
  }
}

.bold {
  font-weight: $font-weight-lg;
}

@mixin btn-text {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-lg;
  text-align: center;
  text-shadow: sha.$text-shadow-sm;
  color: color.$text-strong;
}

/* Title */
/* ================================== */
@mixin title {
  font-family: $font-family-title;
  font-weight: $font-weight-md;
  letter-spacing: $letter-spacing-md;
  line-height: calc(2px + 2.15ex + 2px);
  // color: color.$text-reg;
  text-shadow: sha.$text-shadow-lg;
}

@mixin title-size-modifiers {
  @each $key, $value in $font-sizes {
    &-#{$key} {
      font-size: $value;
      @include title;
    }
  }
}

.title {
  @include title-size-modifiers;
}

/* Thin Title */
/* ================================== */
@mixin title-thin {
  font-family: $font-family-title;
  font-weight: $font-weight-xs;
  letter-spacing: $letter-spacing-sm;
  line-height: calc(2px + 2.1ex + 2px);
  // color: color.$text-reg;
  text-shadow: sha.$text-shadow-md;
}

@mixin title-thin-size-modifiers {
  @each $key, $value in $font-sizes {
    &-#{$key} {
      font-size: $value;
      @include title-thin;
    }
  }
}

.title-thin {
  @include title-thin-size-modifiers;
}

/* Code */ 
/* ================================== */
code {
  font-family: $font-family-code;
  font-size: var(--text-sm);
  color: color.$code-class;
  line-height: 1.4;
  letter-spacing: $letter-spacing-sm;
}

pre code {
  display: block;
  white-space: pre;
  max-width: 100%;
}

.c-comment {
  color: color.$text-mild;
}

.c-class {
  color: color.$code-class;
}

.c-prop {
  color: color.$code-prop;
}

.c-value {
  color: color.$code-value;
}





/* Text helpers */
/* ================================== */
.first-line-bold {
  &:first-line {
    font-weight: $font-weight-lg;
  }
}
.upper {
  text-transform: uppercase;
  letter-spacing: $letter-spacing-lg;
}

.upper-s {
  text-transform: uppercase;
  font-size: var(--text-xs);
  letter-spacing: $letter-spacing-lg;
  text-shadow: sha.$text-shadow-sm;
}

.lower-s {
  text-transform: lowercase;
  font-size: var(--text-xs);
  letter-spacing: $letter-spacing-lg;
  text-shadow: sha.$text-shadow-sm;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.f-center {
  text-align: center;
}