/* ================================== */
/* Accordion */
@use "../0-base" as *;
@use "../0-base/breakpoint" as bp;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../3-material" as *;
/* ================================== */

.accordion {
  width: 100%;
  padding: 0;
  border-radius: 0;

  @include bp.bp(md) {
    border-radius: var(--md);
  }

  @include bp.bp(lg) {
    padding: 0;
  }

  &.is-open {
    padding: 0;

    .card {
      border-radius: var(--md) var(--md) 0 0;
    }
  }
}

.accordion-toggle {
  pointer-events: auto;
  cursor: pointer;
  width: 100%;
  z-index: 10;

  // &:hover {
  //   background-color:darken(#38cc70, 10%);
  // }

  > * {
    pointer-events: none;
  }
}

.accordion-toggle.is-closed {

  .see-more-btn {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  .see-less-btn {
    display: none;
  }
}

.accordion-toggle.is-open {

  .see-more-btn {
    display: none;
  }

  .see-less-btn {
    width: 100%;
    display: flex;
    gap: 1rem;
  }
}

.accordion-content.is-open {
  width: 100%;
  max-height: fit-content;
  transition: max-height 1000ms ease;
  gap: 1rem;
  border-radius: 0 0 var(--md) var(--md);

  padding: var(--space-thin);
  @include glass-fill-xdark;
}

.accordion-content.is-closed {
  max-height: 0;
  display: none;
}