/* ================================== */
/* Backgrounds */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color" as *;
@use "../0-base/fluid";
@use "../1-layout/help" as *;
@use "../1-layout/z-index" as z;
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../2-visual/fill";
@use "../3-material/inset" as in;
@use "../3-material/glass";
/* ================================== */

/* Tinted glass */
/* ================================== */

// Used to add contrast to buttons and text
@mixin tint-mild {
  background-color: rgba($shadow-color, 0.1);
  -webkit-backdrop-filter: brightness(0.9);
  backdrop-filter: brightness(0.9);
}

.tint-mild {
  @include tint-mild;
}

@mixin tint-reg {
  background-color: rgba($shadow-color, 0.05);
  -webkit-backdrop-filter: brightness(0.9);
  backdrop-filter: brightness(0.9);
}

.tint-reg {
  @include tint-reg;
}

@mixin blur-tint-reg {
  background-color: rgba($shadow-color, 0.05);
  -webkit-backdrop-filter: blur(32px) brightness(0.9);
  backdrop-filter: blur(32px) brightness(0.9);
}

.blur-tint-reg {
  @include blur-tint-reg;
}

@mixin tint-strong {
  background-color: rgba($shadow-color, 0.1);
  -webkit-backdrop-filter: brightness(0.6);
  backdrop-filter: brightness(0.6);
}

.tint-strong {
  @include tint-strong;
}



.tint-fullwidth-s-reg {
  @include blur-tint-reg;

  padding: var(--space-narrow) var(--space-wide);
  margin-left: calc((-1 * var(--space-wide)) + 0.5px);
  margin-right: calc(-1 * var(--space-wide));
  box-shadow: in.$straight-inset-m;
}



.dark-fullwidth {
  background-color: rgba($shadow-color, 0.8);
  padding: var(--space-narrow) var(--space-wide);
  margin-left: calc((-1 * var(--space-wide)) + 0.5px);
  margin-right: calc(-1 * var(--space-wide));
}

.code-bg {
  // width: 100%;
  @include tint-strong;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  scrollbar-width: none;
  
  padding: var(--space-narrow) var(--space-wide);
  margin-left: calc(-1 * var(--space-wide));
  margin-right: calc(-1 * var(--space-wide));

  &:hover {
    overflow-x: scroll;
  }

  @include bp.breakpoint(md) {
    padding: var(--space-narrow);
    @include br.br(md);
    margin: 0;
  }
}

.dark-round-rect {
  width: 100%;
  @include fill.dark-mild;
  padding: var(--space-narrow);
  @include br.br(md);
}

.diff {
  color: white;
  mix-blend-mode: difference;
  // filter: grayscale(100%);
}

.gray {
  filter: grayscale(100%);
}


.full-w-strong {
  @include fill.blur-dark-strong;

  padding: var(--space-wide) var(--space-narrow);
  // margin-left: calc((-1 * var(--space-narrow)) + 0.5px);
  // margin-right: calc(-1 * var(--space-narrow));
  box-shadow: in.$straight-inset-m;
}


// NEW sep 12 2023
.page-section {
  @include fluid.max-w;
  border-radius: 0;
  display: grid;

  @include bp.breakpoint(md) {
    @include br.br(lg);
  }
}