/* ================================== */
/* Buttons & chips */
@use "../0-base" as *;
@use "../0-base/breakpoint" as bp;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../2-visual/shadow" as sha;
@use "../3-material" as *;
/* ================================== */

/* ================================== */
/* Buttons */
/* ================================== */

@mixin btn-base {
  width: max-content; // to stop stretching in flex layouts 
  @include flex-c;
  @include btn-text;
  border-radius: br.$round;
}

// .btn-glass {
//   position: relative;
//   box-shadow: $bevel-md;
//   background-color: rgba($light-color, 0.2);

//   &::after {
//     @include pseudo;
//     z-index: -2;
    
//     -webkit-backdrop-filter: brightness(0.9) blur(8vw);
//     backdrop-filter: brightness(0.9) blur(8vw);
//     box-shadow: $ele-xl;
//   }

//   &:hover {
//     background-color: rgba($light-color, 0.4);
//   }
// }

/* Button size and text */
/* ================================== */
.btn-s {
  $inner-h: 0.75em; 
  height: var(--ui-sm); 
  @include btn-base;
  gap: 0.3rem;
  font-size: $inner-h;
  line-height: $inner-h;
  padding: 2.5px 0.7rem 0 0.7rem;

  & img {
    width: auto;
    height: $inner-h;
    align-self: center;
    margin-top: -1.25px;
    filter: drop-shadow(0 0 0.5px rgba($ink6, 0.4));
  }
}

.btn-s.icon-right {
  padding: 2.5px 0.55rem 0 0.7rem;
}

.btn-s.icon-left {
  padding: 2.5px 0.7rem 0 0.55rem;
}

.btn-m {
  $inner-h: 0.95em;
  height: var(--ui-md); 
  @include btn-base;
  gap: 0.35rem;
  font-size: $inner-h;
  line-height: $inner-h;
  padding: 2px 0.85rem 0 0.85rem;

  & img {
    width: auto;
    height: $inner-h;
    align-self: center;
    margin-top: -1px;
    filter: drop-shadow(0 0 0.75px rgba($ink6, 0.4));
  }
}

.btn-m.icon-right {
  padding: 2px 0.75rem 0 0.85rem;
}

.btn-m.icon-left {
  padding: 2px 0.85rem 0 0.75rem;
}

.btn-lg {
  $inner-h: 1.1em; 

  height: var(--ui-lg); 
  @include btn-base;
  gap: 0.4rem;
  font-size: $inner-h;
  line-height: $inner-h;
  padding: 1px 1.2rem 0 1.2rem;
  z-index: 10;

  & img {
    width: auto;
    height: $inner-h;
    // height: calc(var(--ui-lg) * 0.6); 
    align-self: center;
    @include sha.svg-sha-sm;
  }

  & .icon-right {
    padding: 3px 1rem 0 1.2rem;
  }
  
  & .icon-left {
    padding: 3px 1.2rem 0 1rem;
  }
}




/* ================================== */
/* Round buttons */
/* ================================== */
@mixin round-btn-base {
  @include flex-c;
  border-radius: br.$round;
  pointer-events: auto;
  cursor: pointer;
  overflow: hidden;
}

.round-btn-sm {
  width: var(--ui-sm); 
  height: var(--ui-sm); 
  @include round-btn-base;

  & img {
    width: auto;
    height: calc(var(--ui-sm) * 0.7); 
    @include sha.svg-sha-sm;
  }
}

.round-btn-md {
  width: var(--ui-md); 
  height: var(--ui-md); 
  @include round-btn-base;

  & img {
    width: auto;
    height: calc(var(--ui-md) * 0.6); 
    @include sha.svg-sha-md;
  }
}

.round-btn-lg {
  width: var(--ui-lg); 
  height: var(--ui-lg); 
  @include round-btn-base;

  & img {
    width: auto;
    height: calc(var(--ui-lg) * 0.6); 
    @include sha.svg-sha-lg;
  }
}


/* Button color & state styling */
/* ================================== */

.btn-clear {
  pointer-events: auto;
  cursor: pointer;
  border-radius: br.$round;
  background-color: transparent;
  transition: background-color 800ms ease-out;

  &:hover {
    background-color: $btn-1-hover;
    // overflow: hidden;
  }

  &:active {
    background-color: $btn-1-active;
    // overflow: hidden;
  }
}



/* ================================== */
/* Chips */
/* ================================== */

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.chip {
  $inner-h: 0.75rem; // sets font, line, and icon size

  width: max-content; // to stop stretching in flex layouts 
  height: var(--ui-sm); 
  @include flex-c;
  gap: 0.3rem;

  @include btn-text;
  font-size: $inner-h;
  line-height: $inner-h;

  padding: 2.5px 0.7rem 0 0.7rem;
  border-radius: $round;

  & img {
    width: auto;
    height: $inner-h;
    align-self: center;
    margin-top: -1.25px;
    filter: drop-shadow(0 0 0.5px rgba($ink6, 0.4));
  }
}

.chip.icon-right {
  padding: 2.5px 0.55rem 0 0.7rem;
}

.chip.icon-left {
  padding: 2.5px 0.7rem 0 0.55rem;
}


// /* Button Size MAP */
// /* ================================== */
// $btn-sizes: (
//   sm:  var(--ui-sm),
//   md:  var(--ui-md),
//   lg:  var(--ui-lg)
// );


// /* Button size modifier mixin */
// /* ================================== */
// @mixin btn-modifiers($attribute: 'a') {
//   @each $key, $value in $btn-sizes {
//     &-#{$key} {
//       #{$attribute}: calc($value * var(--multiplier));
//     }
//   }
// }
