/* ================================== */
/* Tab menu */
@use "../0-base" as *;
@use "../0-base/breakpoint" as bp;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../3-material" as *;
@use "button" as btn;
/* ================================== */

.tab-menu {
  width: fit-content;
  height: var(--ui-lg); 
  @include flex-center;
  padding: 2px 2.5px 3px 1.5px;
  @include outer-br (var(--3xs), 5px);
  margin: auto;

  @include bp.breakpoint(lg) {
    padding: 3.2px 3px 3.8px 2px;
    @include outer-br (var(--3xs), 7px);
  }
}

.tab {
  --inner-h: 0.95rem; // font size & line height to vertically center
  // --inner-h: var(--text-md);
  width: max-content; 
  height: calc(var(--ui-lg) - 4px);
  @include flex-center;
  padding: 1px 0.7rem 0 0.7rem;

  pointer-events: auto;
  cursor: pointer;

  font-size: var(--inner-h);
  line-height: var(--inner-h);
  @include btn-text;

  @include br.br(3xs);

  &.tab-active {
    background-color: rgba($highlight-color, 0.05);
    -webkit-backdrop-filter: brightness(1.1);
    backdrop-filter: brightness(1.1);
    box-shadow: $sha-2xs;
  }

  @include breakpoint(sm) {
    padding: 2px 1rem 0 1rem;
  }

  @include breakpoint(md) {
    --inner-h: 1.1rem;
    padding: 2px 1.25rem 0 1.25rem;
  }

  @include breakpoint(lg) {
    --inner-h: 1.25rem;
    padding: 2px 1.8rem 0 1.8rem;
    @include br.br(xs);
  }
}

