/* ================================================== */
/* Demo only styles */
@use "../forward-styles/design" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/glass";
/* ================================================== */

.svg-xCircleOutline {
  mask: url(/assets/icons/XCircleOutline.svg);
  @include svg-icon;
}



/* Big titles */
.big-title-bg {
  width: fit-content;
  min-width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: var(--sm);
  // margin-top: var(--nav-h);
  margin-bottom: var(--3xl);
  z-index: z(nav);

  @include glass.glass-flat-md;
  background-color: var(--tint-clear);
  box-shadow: var(--sha-sm);
  border-radius: 0 var(--sm) var(--sm) 0;

  @include bp(xs) {
    min-width: 40%;
  }

  @include bp(sm) {
    min-width: 33%;
  }

  @include bp(lg) {
    min-width: 25%;
  }
}

.big-title {
  font-family: $font-family-title;
  font-weight: $font-weight-sm;
  font-size: var(--text-lg);
  text-shadow: var(--text-sha-3xl);
  line-height: 1;
  color: var(--text-strong);
  text-align: right;

  @include bp(lg) {
    font-size: var(--text-xl);
  }
}


/* Bevel Demo */
.bevel-demo {
  position: relative;
  // z-index: 2;
  width: 100%;
  height: max-content;
  border-radius: var(--md);
  padding: var(--xl);
  color: white;
  display: grid;
}

/* inset Demo */
.inset-demo-bin {
  width: 100%;
  height: fit-content;

  border-radius: var(--xs);
  overflow: hidden;

  // @include bp(md) {
  //   border-radius: var(--sm);
  // }
}

.inset-demo {
  width: 100%;
  height: fit-content;
  border-radius: inherit;
  background-color: var(--inset-bg-deep);
  padding: var(--xs);

  // @include bp(md) {
  //   padding: var(--sm);
  // }
}

/* Button Demo */
.btn-grid-bin {
  width: 100%;
  max-width: 300px;

  @include bp(sm) {
    max-width: $bp-sm;
  }

  @include bp(lg) {
    max-width: $bp-lg;
  }
}

.btn-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
  row-gap: var(--4xl);
  column-gap: var(--3xl);

  @include bp(md) {
    column-gap: var(--lg);
  }

  @include bp(lg) {
    column-gap: 0;
  }
}

.btn-col {
  display: grid;
  gap: var(--sm);
  width: min(115px, 200px);
}

.btn-cell {
  display: grid;
  width: 100%;
  height: var(--ui-h-md);
  flex: 2;
  place-items: center start;
}

.btn-cell-label {
  font-family: $font-family-body;
  font-weight: $font-weight-md;
  font-size: var(--text-2xs);
  letter-spacing: $letter-spacing-lg;
  line-height: $line-height-sm;

  color: var(--text-mild);
  text-transform: uppercase;
  text-shadow: var(--text-sha-2xs);

  @include bp(lg) {
    font-size: var(--text-xs);
  }
}

/* Color Demo */
.color-stack {
  display: grid;
  border-radius: var(--sm);
  overflow: hidden;

  > * {
    width: min(100%, 400px);
    height: fit-content;
    display: flex;
    align-items: center;
    padding: var(--xs);
  }
}


/* Contact section */
.contact-inset-bin {
  width: 100%;
  border-radius: var(--sm);
  overflow: hidden;

}

.contact-inset {
  display: grid;
  place-items: center;
  gap: var(--2xs);
  width: 100%;
  height: fit-content;
  padding: var(--lg);
  box-shadow: var(--inset-lg);
  border-radius: inherit;
  background-color: var(--inset-bg-deep);
}

.stamp {
  width: 100px;
  aspect-ratio : 1 / 1;
  overflow: hidden;
  border-radius: var(--xs);
  opacity: 0.85;
  box-shadow: var(--sha-md);

  @include bp(xs) {
    width: 150px;
    border-radius: var(--sm);
  }

  @include bp(sm) {
    width: 180px;
  }

  & > img {
    width: 100%;
  }
}


/* UI height */
.ui-h-xs { height: var(--ui-h-xs);}
.ui-h-sm { height: var(--ui-h-sm);}
.ui-h-md { height: var(--ui-h-md);}
.ui-h-lg { height: var(--ui-h-lg);}
.ui-h-xl { height: var(--ui-h-xl);}



.a-svg {
  width: min(100%, 500px);
  height: min(100%, 500px);
  aspect-ratio: 1;
}


/* btn demo */
.btn-hover {
  pointer-events: none;

  & > .btn-text {
    color: var(--btn-state-text);
  }

  & > svg {
    background-color: var(--btn-state-icon);
  }

  &::before {
    opacity: var(--btn-hover);
  }
}

.btn-focus {
  pointer-events: none;

  & > .btn-text {
    color: var(--btn-state-text);
  }

  & > svg {
    background-color: var(--btn-state-icon);
  }

  &::before {
    opacity: var(--btn-focus);
  }

  &::after {
    box-shadow: 0 0 1px 1px hsl(var(--primary-5) / 0.3),
                0 0 0 2px hsl(var(--primary-15) / 0.2),
              inset 0 0 0 1.5px hsl(var(--primary-95) / 0.3) !important;
    outline: 1.5px solid hsl(var(--primary-95) / 0.6) !important;
    outline-offset: 2px !important;
  }
}

.btn-active {
  pointer-events: none;

  & > .btn-text {
    color: var(--btn-state-text);
  }

  & > svg {
    background-color: var(--btn-state-icon);
  }

  &::before {
    opacity: var(--btn-active);
  }
}