/* ================================================== */
/* Used on all pages */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
/* ================================================== */


.body-grid {
  // isolation: isolate;
  position: relative;
  // z-index: z(page);
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  // pointer-events: none;

}

/* prevent reflowing whenever a vertical classic scrollbar is shown/hidden */
html {
  width: 100%;
  height: fit-content;
  // overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scroll-padding-top: var(--nav-h);
}

.content-area {
  position: relative;
  z-index: z(page);
  width: 100%;
  height: fit-content;
  display: grid;
  padding: 0 0 var(--5xl) 0;



  // pointer-events: none;

  // background-color: #fff;
  // background-color: hsl(var(--neutral-60) / 1);
  // background-color: #000;
}

/* Fixed background img controled by nav tab menu */
.page-bg-bin {
  z-index: -10;
  position: fixed;
  inset: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  height: 100lvh;
  background-color: var(--color-black);
  clip-path: inset(0);
  pointer-events: auto;
  // pointer-events: none;
}

.page-bg-img {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  height: 100lvh;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.page-bg-noise {
  pointer-events: none;
  &::after {
    @include pseudo;
    background-image: $noise-img;
    background-size: $noise-md;
    background-repeat: repeat;
  }
}

.page-bg-blur {
  pointer-events: none;
  &::after {
    @include pseudo;
    @include glass-filter($blur-xs, $bright-base, $satu-base);
  }
}