/* ================================================== */
/* Home page */
@use "../forward-styles/design" as *;
@use "../forward-styles/glass" as *;
@use "../forward-styles/util" as *;
@use "../forward-styles/components" as *;
@use "../forward-styles/prefabs" as *;
/* ================================================== */

/* Above-the-fold hero header */
/* ================================================== */
.hero {
  width: 100%;
  min-height: calc(100vh - var(--nav-h));
  height: fit-content;
  display: grid;
  padding-bottom: var(--nav-h);
}