/* ================================== */
/* Accordion */
@use "../0-base/color";
@use "../0-base/text";
@use "../0-base/space";
@use "../0-base/size";
@use "../0-base/breakpoint" as bp;
@use "../1-layout/z-index" as z;
@use "../1-layout/flex";
@use "../2-visual/animation" as ani;
@use "../2-visual/fill";
@use "../2-visual/glass";
@use "../2-visual/shadow" as sha;
@use "../2-visual/inset" as in;
/* ================================== */

.accordion__warp {
  /* layout */
  width: 100%;
  max-width: var(--max-w);
  display: grid;
  margin: 0 auto;
  z-index: z.z(part);
}

.accordion__header {
  /* layout */
  display: grid;
  // gap: size.$s2;
  // padding: var(--space-thin);
  z-index: z.z(card);

  /* visual */
  border-radius: var(--md);
  @include glass.glass-base;
  @include fill.fill(dark);
  // box-shadow: none;
  box-shadow: var(--sha-xl);
  overflow: hidden;

  &.is-closed {
    box-shadow: var(--sha-xl);

    @include bp.bp(sm) {
      box-shadow: var(--sha-2xl);
    }
  }

  @include bp.bp(sm) {
    border-radius: var(--lg);
  }
}

.accordion__top {
  display: grid;
  padding: var(--space-thin);
}

.accordion__bottom {
  display: grid;
  gap: var(--space-thin);

  &.full-w-fill {
    /* layout */
    padding: var(--space-thin);
    // margin-left: calc((-1 * var(--space-thin)) + 0.5px);
    // margin-right: calc(-1 * var(--space-thin));
    // margin-bottom: calc(-1 * var(--space-thin));

    /* visual */
    background-color: var(--tint-xdark);
    box-shadow: sha.$flat-sha-md;
  }
}

.accordion__toggle {
  @include flex.flex-c;
  pointer-events: auto;
  cursor: pointer;
  border-radius: size.$s2;
  padding: 0.25rem 2rem;

  background-color: transparent;
  transition: background-color ani.$speed-slow ease;

  &:hover {
    background-color: var(--tint-light);
  }

  width: 100%;

  // @include bp.bp(md) {
  //   width: fit-content;
  // }

  >.see-more-btn {
    display: none;
  }

  >.see-less-btn {
    width: fit-content;
    @include flex.flex-r;
    @include flex.flex-c-y;
    gap: var(--2xs);
  }

  &.is-closed {

    >.see-more-btn {
      width: fit-content;
      @include flex.flex-r;
      @include flex.flex-c-y;
      gap: var(--2xs);
    }

    >.see-less-btn {
      display: none;
    }
  }
}

.see-more-btn {
  pointer-events: none;
}

.see-less-btn {
  pointer-events: none;
}

.accordion__content {
  /* layout */
  width: 99%;
  height: fit-content;
  padding-top: var(--2xl);
  padding-bottom: var(--2xl);
  margin-top: calc(-1 * var(--lg));
  margin-left: auto;
  margin-right: auto;
  transition: height 1000ms ease;

  /* visual */
  border-radius: 0 0 var(--md) var(--md);
  box-shadow: var(--sha-xl);

  @include bp.bp(sm) {
    border-radius: 0 0 var(--lg) var(--lg);
    box-shadow: var(--sha-2xl);
  };

  &.is-closed {
    height: 0;
    display: none;
  }
}

.accordion__title {
  @include text.title-text;
  font-size: var(--lg);
  text-shadow: var(--text-sha-md);
}

.accordion__text {
  max-width: 100%;
  font-size: var(--text-md);
}