/* ================================== */
/* Accordion */
@use "../0-base/color";
@use "../0-base/text";
@use "../0-base/space";
@use "../0-base/size";
@use "../0-base/breakpoint" as bp;
@use "../1-layout/z-index" as z;
@use "../1-layout/flex";
@use "../2-visual/animation" as ani;
@use "../2-visual/fill";
@use "../2-visual/glass";
@use "../2-visual/shadow" as sha;
@use "../2-visual/inset" as in;
@use "../3-item/button" as btn;
/* ================================== */

.accordion__warp {
  --space: var(--md);

  @include bp.bp(md) {
    --space: var(--lg);
  }
}

.accordion__body {
  /* layout */
  position: relative;
  z-index: 5;
  display: grid;

  /* visual */
  @include glass.glass-base;
  @include fill.fill(dark);
  box-shadow: var(--sha-xl);
  border-radius: var(--space);
  overflow: hidden;
}

.accordion__header {
  display: grid;
  padding: var(--space);
}

.accordion__summary {
  display: grid;
  gap: var(--space);

  &.full-w-fill {
    /* layout */
    padding: var(--space);

    /* visual */
    background-color: var(--tint-xdark);
    box-shadow: sha.$flat-sha-md;
  }
}

.see-more-btn, .see-less-btn {
  pointer-events: none;
  text-shadow: var(--text-sha-sm);
}

.accordion__toggle {
  /* layout */
  width: 100%;
  @include flex.flex-r;
  padding: var(--space);

  /* visual */
  pointer-events: auto;
  cursor: pointer;
  background-color: transparent;
  @include btn.ui-transitions;

  &:hover {
    background-color: var(--tint-xlight);
  }

  >.see-more-btn {
    display: none;
  }

  >.see-less-btn {
    width: fit-content;
    @include flex.flex-r;
    @include flex.flex-c-y;
    gap: var(--3xs);
  }

  &.is-closed {

    >.see-more-btn {
      width: fit-content;
      @include flex.flex-r;
      @include flex.flex-c-y;
      gap: var(--3xs);
    }

    >.see-less-btn {
      display: none;
    }
  }
}


@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0.25;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.accordion__content {
  /* layout */
  width: 100%;
  height: fit-content;
  display: grid;
  gap: var(--space);
  padding-top: var(--2xl);
  padding-bottom: var(--space);
  padding-left: var(--space);
  padding-right: var(--space);
  margin-top: calc(-1 * var(--xl));

  /* visual */
  border-radius: 0 0 var(--space) var(--space);
  box-shadow: var(--sha-xl);
  @include fill.fill("3xdark");

  animation: slide-down 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  &.is-closed {
    display: none;
    height: 0;
  }
}

.accordion__title {
  @include text.title-bold;
  font-size: var(--lg);
  text-shadow: var(--text-sha-md);
}

.accordion__text {
  max-width: 100%;
  font-size: var(--text-sm);
}