/* ================================== */
/* Above the fold */
@use "../0-base/breakpoint" as bp;
/* ================================== */

.atf {
  /* layout */
  min-height: calc(100vh - var(--nav-h));
  min-height: calc(100svh - var(--nav-h));
  display: grid;
  padding-bottom: var(--space-wide);
}

.atf__card {
  /* layout */
  width: min(100%, 450px);
  place-self: end center;

  @include bp.bp(md) {
    place-self: end end;
  }

  @include bp.bp(lg) {
    width: 580px;
  }
}