/* ================================== */
/* Above the fold */
@use "../0-base/breakpoint" as bp;
/* ================================== */

.atf {
  /* layout */
  min-height: calc(100vh - var(--nav-h));
  min-height: calc(100svh - var(--nav-h));
  display: grid;
  padding-bottom: var(--space-wide);

  @media (height < 500px) {
    grid-template-rows: var(--nav-h) auto auto 1rem;
  }
  
  > .atf__card {
    /* layout */
    width: min(100%, 450px);
    place-self: end center;
  
    @include bp.bp(md) {
      place-self: end end;
    }
  
    @include bp.bp(lg) {
      width: 580px;
    }
  }
}

.atf-md {
  /* layout */
  min-height: calc(50vh - var(--nav-h));
  min-height: calc(50svh - var(--nav-h));
  display: grid;

  > .atf__card {
    /* layout */
    width: fit-content;
    // width: min(100%, 450px);
    place-self: center;
  }
}

