/* ================================== */
/* Cards */
@use "../0-base/color";
@use "../2-visual/inset" as in;
@use "../2-visual/glass";
/* ================================== */

.card {
  --space: var(--lg); // < control padding from here

  /* layout */
  padding: var(--space);
  display: grid;
  gap: var(--space);

  /* visual */
  border-radius: var(--lg);

  >.full-w-fill { 
    /* layout */
    padding: var(--space);
    margin-left: calc((-1 * var(--space)) + 0.5px);
    margin-right: calc(-1 * var(--space));

    /* visual */
    background-color: color.$tint-xdark;
    box-shadow: in.$flat-inset-md;
  }
}
