/* ================================== */
/* Cards */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../1-layout/z-index" as z;
@use "../2-visual/animation" as ani;
@use "../2-visual/inset" as in;
@use "../2-visual/glass";
@use "../2-visual/border";
@use "../2-visual/shadow" as sha;
/* ================================== */

.card {
  --space: var(--space-thin); // < control padding from here

  /* layout */
  display: grid;
  gap: var(--space);
  z-index: z.z(card);
  padding: var(--space);

  /* visual */
  @extend .vw-radius-lg;
  box-shadow: var(--sha-2xl);

  >.full-w-fill {
    /* layout */
    padding: var(--space);
    margin-left: calc((-1 * var(--space)) + 0.5px);
    margin-right: calc(-1 * var(--space));
    z-index: z.z(on-card);
    /* visual */
    background-color: var(--tint-xdark);
    box-shadow: in.$flat-inset-md;
  }

  >.full-w-img {
    /* layout */
    display: grid;
    place-self: center;
    margin-left: calc(-1 * var(--space));
    margin-right: calc(-1 * var(--space));
    z-index: z.z(on-card);
  }

  >.full-w-img-noBottomMargin {
    /* layout */
    display: grid;
    place-self: center;
    margin-left: calc(-1 * var(--space));
    margin-right: calc(-1 * var(--space));
    margin-bottom: calc(-1 * var(--space));
    z-index: z.z(on-card);
  }

  >.full-w-img-noMargin {
    /* layout */
    display: grid;
    place-self: center;
    margin: calc(-1 * var(--space));
    z-index: z.z(on-card);
  }
}

.card-3d-bin {
  position: relative;
  perspective: 1500px;
  width: 100%;
  height: fit-content;

    // backface-visibility: hidden;
  // border:3px solid #ccc;

  @include bp.bp(sm) {
    perspective: 5500px;
  }
}

.card-3d {
  width: fit-content;
  height: fit-content;
  will-change: transform;

  transition: transform ani.$speed-2xslow ease-in-out;

  transform: perspective(1000px) rotateY(15deg) rotateX(15deg) rotateZ(-15deg) translateX(-5px) translateY(-10%);

  &:hover {
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateX(0) translateY(0);
  }

  @include bp.bp(sm) {
    transform: perspective(5000px) rotateY(20deg) rotateX(20deg) rotateZ(-10deg) translateX(15px) translateY(-20%);
  }
}


.title-card {
  /* layout */
  width: fit-content;
  height: fit-content;
  display: grid;
  place-items: center;
  padding: var(--lg);

  /* visual */
  border-radius: var(--md);
  // box-shadow: sha.$sha-lg;

  @include bp.bp(md) {
    border-radius: var(--lg);
    padding: var(--xl);
  }
}