/* ================================== */
/* Cards */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../2-visual/inset" as in;
@use "../2-visual/glass";
@use "../2-visual/shadow" as sha;
/* ================================== */

.card {
  --space: var(--lg); // < control padding from here

  /* layout */
  padding: var(--space);
  display: grid;
  gap: var(--space);

  /* visual */
  border-radius: var(--lg);
  box-shadow: sha.$sha-xl;


  >.full-w-fill { 
    /* layout */
    padding: var(--space);
    margin-left: calc((-1 * var(--space)) + 0.5px);
    margin-right: calc(-1 * var(--space));

    /* visual */
    background-color: color.$tint-xdark;
    box-shadow: in.$flat-inset-lg;
  }
}


.title-card {
  /* layout */
  width: fit-content;
  height: fit-content;
  display: grid;
  place-items: center;
  padding: var(--lg);

  /* visual */
  border-radius: var(--md);
  box-shadow: sha.$sha-lg;

  @include bp.bp(md) {
    border-radius: var(--lg);
    padding: var(--xl);
  }
}