/* ================================== */
/* Nav */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/text";
@use "../1-layout/flex";
@use "../1-layout/z-index" as z;
@use "../2-visual/animation" as ani;
@use "../2-visual/shadow" as sha;
@use "../3-item/button" as btn;
/* ================================== */

/* Main nav */
/* ================================== */
:root {
  --nav-h: calc(var(--ui-md) + (var(--space-thin) * 2));

  // @include bp.bp(md) {
  //   --nav-h: calc(var(--ui-lg) + (var(--space-thin) * 2));
  // }
}

nav {
  position: relative;
  height: var(--nav-h);
    // z-index: 100;
  z-index: z.z(nav);
}

.main-nav__wrap {
  position: fixed;
  inset: 0;
}

.main-nav {
  padding-top: var(--sm);
  @include flex.flex-sb;
  @include flex.flex-c-y;
  pointer-events: none;
}

// .main-nav__ul {
//   display: flex;
//   gap: var(--sm);

//   @include bp.bp(md) {
//     gap: var(--xl);
//   }
// }

// .nav__link {
//   @include text.btn-text;
//   font-size: var(--text-xs);
//   transition: ani.$speed-slow;

//   @include bp.bp(md) {
//     font-size: var(--text-sm);
//   }

//   &.js-navLinkBg {
//     @include glass.btn2-glass;
//   } 
// }

// .main-nav {
//   position: relative;
//   margin: 0 auto;
//   @include flex.flex-sb;
//   pointer-events: none;
// }

.main-nav__ham {
  display: none;

  &.isClosed {
    display: inline-block;
  }
}

.main-nav__x {
  display: inline-block;

  &.isClosed {
    display: none;
  }
}

/* Dropdown */
/* ================================== */
.main-nav__dropdown {
  position: relative;
  display: inline-block;
  z-index: z.z(menu);
  // pointer-events: none;
  cursor: pointer;
  
  &.isClosed {
    display: none;
  }
}

.dropdown__bg {
  position: absolute;
  top: calc(var(--ui-md) + var(--space-thin)); 
  right: 0;
  padding: var(--sm);
  // pointer-events: none;
  cursor: pointer;

  border-radius: var(--md);
  box-shadow: sha.$sha-xl;
}

.dropdown__bin {
  width: fit-content;
  display: grid;
  gap: calc(var(--xs) * 0.5);
  margin: calc(var(--3xs) * -1);
  cursor: pointer;
}

.dropdown__item {
  min-width: max-content;
  width: 100%;
  color: rgba(color.$text-light, 0.7);
  letter-spacing: text.$letter-spacing-lg;
  font-weight: text.$font-weight-lg;
}