/* ================================== */
/* Nav */
@use "../0-base/color";
@use "../0-base/text";
@use "../1-layout/flex";
@use "../1-layout/z-index" as z;
@use "../2-visual/animation" as ani;
@use "../2-visual/shadow" as sha;
@use "../3-item/button" as btn;
/* ================================== */

/* Main nav */
/* ================================== */
:root {
  --nav-h: calc(var(--ui-lg) + (var(--space-thin) * 2));
}

.main-nav {
  position: relative;
  margin: 0 auto;
  @include flex.flex-sb;
  pointer-events: none;
}

.main-nav__ham {
  display: none;

  &.isClosed {
    display: inline-block;
  }
}

.main-nav__x {
  display: inline-block;

  &.isClosed {
    display: none;
  }
}

/* Dropdown */
/* ================================== */
.dropdown {
  position: relative;
  display: inline-block;
  pointer-events: none;
  z-index: z.z(menu);
  cursor: pointer;
  
  &.isClosed {
    display: none;
  }
}

.dropdown-bg {
  position: absolute;
  top: var(--ui-lg); 
  right: 0;
  padding: var(--2xs);
  border-radius: var(--xs);
  box-shadow: sha.$sha-lg;
  cursor: pointer;
}

.dropdown-grid {
  width: fit-content;
  display: grid;
  gap: calc(var(--3xs) * 0.5);
  margin: calc(var(--3xs) * -1);
  cursor: pointer;
}

.js-dd-item {
  min-width: max-content;
  width: 100%;
  color: rgba(color.$text-light-reg, 0.8);
}