/* ================================== */
/* Nav */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/text";
@use "../1-layout/flex";
@use "../1-layout/z-index" as z;
@use "../2-visual/animation" as ani;
@use "../2-visual/shadow" as sha;
@use "../3-item/button" as btn;
/* ================================== */

/* Main nav */
/* ================================== */
:root {
  --nav-h: calc(var(--ui-md) + (var(--space-thin) * 2));

  @include bp.bp(md) {
    --nav-h: calc(var(--ui-lg) + (var(--space-thin) * 2));
  }
}

nav {
  position: relative;
  height: var(--nav-h);
  z-index: 200;
}

.main-nav__wrap {
  position: fixed;

  inset: 0;
  display: flex;
  justify-content: center;
}

.main-nav {
  width: 100%;
  padding: var(--space-thin);
  display: flex;
  align-items: center;
  justify-content: space-between;

  pointer-events: none;
  gap: var(--2xs);
}



/* Dropdown */
/* ================================== */
.dropdown__wrap {
  position: relative;
  pointer-events: none;
}

.dropdown__btn {
  @include btn.round-btn-md;
  @include btn.btn-glass-dark;


  @include bp.bp(md) {
    @include btn.round-btn-lg;
  }
}

.dropdown__bin {
  width: fit-content;
  height: fit-content;
  pointer-events: none;
}

.dropdown__bg {
  position: absolute;
  top: calc(var(--ui-lg) * 1.2);
  right: 0;
  padding: var(--sm);

  pointer-events: auto;
  overflow: hidden;
  border-radius: var(--sm);
  box-shadow: var(--sha-xl);
}

.dropdown-item__bin {
  width: fit-content;
  display: grid;
  gap: calc(var(--xs) * 0.5);
  margin: calc(var(--3xs) * -1);
  pointer-events: none;
  overflow: hidden;
}

.dropdown__item {
  cursor: pointer;
  min-width: max-content;
  width: 100%;
  letter-spacing: text.$letter-spacing-lg;
  font-weight: text.$font-weight-md;
}
