/* ================================== */
/* Sections */
@use "../0-base/breakpoint" as bp;
@use "../0-base/color";
@use "../0-base/size";
@use "../0-base/text";
@use "../1-layout/z-index" as z;
@use "../2-visual/fill";
@use "../2-visual/glass";
@use "../2-visual/inset" as in;
@use "../2-visual/shadow" as sha;
/* ================================== */

.section__wrap {
/* layout */
  width: 100%;
  display: grid;
  margin: 0 auto;
  z-index: z.z(part);

/* visual */
  border-radius: 0;
  box-shadow: none;
  
  @include bp.bp(sm) {
    overflow: hidden;
    border-radius: var(--lg);
    box-shadow: sha.$sha-xl;
  }
}

.section__header {
  --space: var(--space-thin); // < control padding from here

  /* layout */
  display: grid;
  gap: size.$s2;
  padding: var(--space);

  /* visual */
  border-radius: 0;
  @include glass.glass--no-bevel-mobile;
  @include fill.fill(xdark);
  
  @include bp.bp(sm) {
    overflow: hidden;
    border-radius: var(--lg) var(--lg) 0 0;
  }

  >.full-w-fill {
    /* layout */
    padding: var(--space);
    margin-left: calc((-1 * var(--space)) + 0.5px);
    margin-right: calc(-1 * var(--space));

    /* visual */
    background-color: var(--tint-xdark);
    box-shadow: in.$flat-inset-md;
  }
}


.section__title {
  @include text.title-text;
  font-size: var(--lg);
  text-shadow: sha.$text-sha-md;
}

.section__body {
  /* layout */
  width: 100%;
  height: fit-content;
  display: grid;
  padding-bottom: var(--3xl);
}