/* ================================== */
/* Sections */
@use "../0-base/breakpoint" as bp;
@use "../1-layout/z-index" as z;
@use "../2-visual/glass";
@use "../2-visual/shadow" as sha;
/* ================================== */

.section__wrap {
  /* layout */
  z-index: z.z(part);
  display: grid;
  
  /* visual */
  overflow: hidden;
  border-radius: 0;
  box-shadow: sha.$sha-2xl;
  @include glass.card-glass--responsive;
  
  @include bp.bp(md) {
    border-radius: var(--lg);
  }
}
