/* ================================== */
/* Tab menu */
@use "../0-base" as *;
@use "../0-base/breakpoint" as bp;
@use "../1-layout" as *;
@use "../2-visual" as *;
@use "../2-visual/border" as br;
@use "../3-item" as *;
@use "../3-item/button" as btn;
/* ================================== */

.tab-menu {
  padding: 3px;
  width: fit-content;
  height: var(--ui-lg);
  margin: auto;
  @include flex-c;
  border-radius: 9px;

  // --padding: 3px;
  // --tab-br: 0.4em;
  // padding: var(--padding);
  // @include outer-br (var(--tab-br), var(--padding));
}

.tab {
  --inner-h: 0.95rem; 

  width: max-content; 
  height: 100%;
  @include flex-c;
  padding: 0 0.7rem;

  pointer-events: auto;
  cursor: pointer;

  font-size: var(--inner-h);
  line-height: var(--inner-h);
  @include btn-text;

  border-radius: 8px;
  // border-radius: var(--tab-br);

  @include bp.bp(sm) {
    padding: 0 1rem;
  }

  @include bp.bp(md) {
    --inner-h: 1.1rem;
  }

  @include bp.bp(lg) {
    --inner-h: 1.25rem;
  }

  &.tab-active {
    background-color: rgba($light-color, 0.05);
    -webkit-backdrop-filter: brightness(1.2);
    backdrop-filter: brightness(1.2);
    box-shadow: $sha-2xs;
  }
}

